.popUpsComponent {
  :global {
    .pop-ups-modal {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 1000;

      .pop-ups-box {
        width: 360px;
        padding:  20px 20px 20px;
        background-color: #fff;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .popups-title {
          font-size: 16px;
          color: #333333;
          height: 22px;
          line-height: 22px;
          position: relative;
          background-color: unset;
          text-align: left;
          margin: 0;
          padding: 0;

          .closeIcon {
            font-size: 14px;
            color: #666666;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
          }
        }

        .popups-content {
          font-size: 14px;
          line-height: 20px;
          word-break: keep-all;
          color: #666666 !important;
          padding: 0 !important;
          margin-top: 10px;
          text-align: left;
        }

        .bottom-btn-box {
          width: 100%;
          text-align: right;
          margin-top: 20px;

          button {
            width: 80px !important;
            height: 30px !important;
            line-height: 30px !important;
            border-radius: 4px !important;
            font-size: 14px !important;
          }

          .close-btn {
            color: #666666 !important;
            border: 1px solid #E4E4E4 !important;
            background: #F9F9F9 !important;
            margin-right: 15px;
          }

          .confirm-btn {
            color: #fff;
            background: var(--color-theme-1);

            &:hover {
              background: var(--color-theme-1-1);
            }
          }

          .confirm-btn.vip {
            color: var(--color-font-1);
            background: var(--color-theme-2-vip);

            &:hover {
              background: var(--color-theme-2-1-vip);
            }
          }

        }
      }
    }
    .second-modal {
      background-color: rgba(0,0,0,0.3) !important;
    }
  }
}