@import '../../colors.less';
.search-form {
  :global(.ant-form-item-label) {
    label {
      color: @grey;
    }
  }

  :global(.ant-picker) {
    width: 100%;
  }

  .search-btns {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}
.update-modal {
  :global(.ant-form-item-label) {
    label {
      color: @grey;
    }
  }
  .title {
    padding-bottom: 15px;
  }
}

.add-modal {
  :global(.ant-form-item-label) {
    label {
      color: @grey;
    }
  }

  .upload {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

.badge {
  :global(.ant-badge-status-dot) {
    width: 10px;
    height: 10px;
  }
}
