.await-payment-child {
  .back-mu-ord {
    width: 64px;
    height: 26px;
    font-size: 14px;
    /* color: #f88f29;
    border: 1px solid #f88f29; */
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    margin-right: 30px;
  }

  .suborder-title {
    padding: 9px 0;

    .sub-ordernum {
      display: inline-block;
      font-size: 12px;
      line-height: 12px;
      color: #2d2d2d;
      margin:0 5px;
    }    
  }

  .use-coupons{
    font-size: 16px !important;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;

    .showPrompt{
      color: #fff;
      left: -360px;
      top: -50px;
      position: absolute;
      width: 378px;
      height: 44px;
      background: rgba(0, 0, 0, 0.75);
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
      text-align: left;
      padding: 5px 6px;
      border-radius: 3px;
      font-size: 12px;
    }
    .triangle{
      top: -6px;
      left: 0px;
      position: absolute;
      width: 0px;
      height: 0px;
      border-top: 5px solid rgba(0, 0, 0, 0.75);
      border-left: 5px solid transparent;    /*transparent 表示透明*/
      border-right: 5px solid transparent;
    }
  }

  .averageCustomer{
    color: #f70;
    &:hover{
      color:#e56a00;
    }
  }
  .vipCustomer{
    color: #DDA863;
    &:hover{
      color:#c69658;
    }
  }
}