.drop-await-payment {
  tbody .order-detail .order-time .product-checked {
    left: 12px;
  }
}

.order-pay-alert {
  position: absolute;
  padding: 25px;
  margin: auto;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-pay-alert-main {
  background-color: #fff;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  padding: 20px;
  max-width: 90%;
}

.order-pay-alert-main .title {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 500;
}

.order-pay-alert-main .table-box {
  border: 1px solid rgba(243, 243, 243, 1);
  border-radius: 4px 4px 0px 0px;
  display: table;
  text-align: center;
  margin: 0 auto;
}

.order-pay-alert-main .table-th {
  background: rgba(240, 237, 231, 1);
}

.order-pay-alert-main .table-th,
.order-pay-alert-main .table-tr {
  display: table-row;
}

.order-pay-alert-main .table-th span,
.order-pay-alert-main .table-tr span {
  display: table-cell;
  padding: 12px 10px;
}

.order-pay-alert-main .table-tr .f-org {
  color: #DDA863;
}

.order-pay-alert-main .table-tr .f-org:hover {
  cursor: pointer;
}

.order-pay-alert-main .btn-group {
  text-align: right;
  margin-top: 30px;
  width: 100%;
}

.order-pay-alert-main .notice-content {
  color: rgba(102, 102, 102, 1);
  line-height: 20px;
  margin-top: 10px;
  color: #666;
}

.alert-shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10002;
}

.import-cart-modal {
  .confirm-main {
    width: 600px !important;
  }

  .resmestitle {
    text-align: left;
    padding-left: 20px;
  }

  .resmescon {
    max-height: 460px;
    padding-bottom: 20px;
    text-align: left;
  }
}

.inventory-tips {
  width: 854px;
  max-width: initial;

  .confirm-content {
    text-align: left;

    .tips {
      color: #FF4949;
    }

    .tabs {
      margin: 20px 0;

      span {
        cursor: pointer;
        margin-right: 30px;
        color: #333;
        font-size: 14px;
        padding-bottom: 5px;
      }

      .active {
        color: #f70;
        border-bottom: 2px solid #f70;
      }
    }

    .table {
      width: 100%;
      margin-top: 10px;
      overflow: hidden;
      border-radius: 4px 4px 0 0;

      thead {
        background: initial;

        th {
          color: #333;
          background-color: #F2F3F5;
          border-right: 1px solid #F0EDE7;
          font-weight: normal;
          width: 200px;
        }
      }

      .invent-tbody {
        display: block;
        max-height: 200px;
        overflow-y: auto;
      }

      .block-width {
        width: 300px;
        padding: 10px 0;;
      }

      td {
        padding: 5px 0;
        font-size: 12px;
        text-align: center;
        border-left: 1px solid #F3F3F3;
        border-right: 1px solid #F3F3F3;
        border-bottom: 1px solid #F3F3F3;

        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  .confirm-content {
    padding: 20px 20px 90px;
  }

  .confirm-btn-box {
    box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.05);
    z-index: 9999;

    .opt {
      padding: 7px 12px;
      font-size: 14px;
      border-radius: 4px;
    }
  }
}

.vip {
  .tabs .active {
    color: #DDA863 !important;
    border-bottom: 2px solid #DDA863 !important;
  }

  .table th {
    background-color: #F0EDE7 !important;
  }
}

.isdel-wraps {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000000000;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  .err-list {
    height: auto;
    width: 600px;
    min-width: 450px;
    max-width: 1000px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;

    .err-head {
      margin: 10px 0;
      font-size: 16px;
    }

    .err-table {
      width: 100%;

      thead {
        tr {
          th {
            background: #fff;
            color: #333;
            border: 1px solid #ccc;
          }
        }
      }

      tbody {
        tr {
          height: 35px;

          td {
            height: 35px;
            border: 1px solid #ccc;
          }
        }
      }
    }

    .footer-button {
      button {
        margin-top: 15px;
        padding: 8px 20px;
        background: #409fff;
        border-radius: 4px;
        color: #fff;
      }
    }
  }
}

.out-of-stock-reminder-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 100;

  .out-of-stock-reminder-box {
    width: 40%;
    min-height: 200px;
    background-color: #fff;
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.btn-theme3-disabled{
  &:hover{
    box-shadow: 0 0 0 1px #A6A6A6 !important;
    background: gray !important;
    cursor: not-allowed;
  }
}

