.ordetail-wrap {
  width: 1200px;
  margin: 36px auto;

  .ui-back {
    display: inline-block;
    font-size: 16px;
    color: #f70;
    line-height: 22px;
    cursor: pointer;
  }

  .ordetail-title {
    margin: 16px 0;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
  }

  .jumpToNew{
    width: 100%;
    height: 38px;
    background: #FFFBE6;
    border-radius: 4px;
    border: 1px solid #FFE58F;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    .prompt_tixing{
      margin-left: 16px;
      font-size: 16px;
      color: #faad14;
    }
    .jumpTxt{
      margin-left: 10px;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.65);
      .freshCJ{
        font-weight: 700;
        &:hover{
          text-decoration: underline;
        }
      }

      .freshCjVip{
        &:hover{
          color: #dda863;
        }
      }

      .freshCJCommon{
        &:hover{
          color: #f70;
        }
      }
    }
  }

  .ordetail-cont {
    border: 1px solid rgba(235, 235, 235, 0.98);
  }

  .ordetail-info {
    background: rgba(248, 248, 248, 1);
    line-height: 40px;
    font-size: 14px;
    padding: 0 20px;
    .top {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }
    .bottom {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 10px;
    }
    .detail {
      margin-right: 25px;
    }
    .f-c-black {
      color: #000;
    }
    .f-c-org {
      color: #f70;
    }
    .f-c-gray {
      color: #666;
    }
  }

  .ordetail-ship {
    width: 621px;
    line-height: 30px;
    background: rgba(255, 119, 0, 0.1);
    padding-left: 5px;
    font-size: 12px;
    color: #666;
  }

  .ordetail-ship-num {
    margin-left: 15px;
  }

  .ordetail-ship-btn {
    color: #f70;
    padding: 5px 20px;
    float: right;
    line-height: 20px;
    cursor: pointer;
  }

  .ordetail-detail {
    width: 100%;
  }

  .ordetail-detail-title {
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
    ;
  }

  .ordetail-detail-title th {
    color: #666;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
  }

  .ordetail-detail-title th:first-child {
    width: 420px;
    text-align: left;
  }

  .ordetail-detail-total,
  .ordetail-detail-address {
    width: 246px;
    padding: 10px 21px;
    vertical-align: middle;
  }

  .ordetail-detail-total {
    text-align: center;
  }
  .ordetail-detail-list{
    border-bottom:1px solid rgba(151, 151, 151, 0.3);
    &:last-child{
      border-bottom:0 none;
      .detail-list{
        border-bottom: 0 none;
      }
      td{
        padding-bottom: 0;
      }
    }
  }
  .ordetail-detail-list td {
    text-align: center;
    vertical-align: middle;
  }

  .img-info-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin: 20px 0;
  }

  .img-info-box .img {
    position: relative;
    object-fit: contain;
    margin-right: 10px;
  }
  .img-info-box .img img{
    width: 68px;
    height: 68px;
  }
  .img-info-box .img .bigimg {
    display: none;
    width: 300px;
    height: 300px;
  }

  .img-info-box .img:hover .bigimg {
    display: block;
    position: absolute;
    left: 68px;
    top: -60px;
    border: 1px solid rgba(216, 216, 216, 0.5);
    z-index: 9;
  }
  .info-detail-title{
    margin-bottom: 5px;
    word-break: break-word;
  }
  .info-detail-sku{
    font-size: 14px;
    color: #666;
  }
  .ordetail-detail-item {
    font-size: 14px;
  }

  .ordetail-detail-item .info-detail-title {
    color: #333;
    font-size: 14px;
  }

  .ordetail-detail-item .info-detail-sku {
    color: #666;
    margin-top: 10px;
    font-size: 14px;
  }

  .ordetail-detail-item {
    padding: 12px 0;
    border-right: 0 none;
    border-bottom: 1px dashed #D8D8D8;
  }

  .ordetail-detail-list:last-child .ordetail-detail-item {
    border-bottom: 0 none;
  }

  .ordetail-detail-list .ordetail-detail-total,
  .ordetail-detail-list .ordetail-detail-address {
    border-left: 1px solid rgba(216, 216, 216, 1);
    border-bottom: 0 none;
    vertical-align: middle;
    font-size: 14px;
  }

  .ordetail-detail-list .ordetail-detail-address p {
    font-size: inherit;
    line-height: 20px;
    margin-top: 5px;
  }

  .ordetail-detail-total .f-big {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  .ordetail-detail-total .f-org {
    color: #f70;
    font-size: 20px;
  }

  .ordetail-detail-total .detail {
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
  }

  .ordetail-confirm-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(51, 51, 51, 0.8)
  }

  .confirm-cont {
    max-width: 1200px;
    min-width: 600px;
    background: #fff;
  }

  .ship-title {
    background: rgba(249, 248, 248, 1);
    line-height: 50px;
    font-size: 18px;
    position: relative;
    text-align: center;
    color: #333;
    padding-left: 50px;
  }

  .ship-title .close-btn {
    float: right;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .ship-title .close-btn::after {
    content: '\e617';
    font-family: 'iconfont';
    font-size: 14px;
    color: #666;
  }

  .ship-cont-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px 0;
    margin: 0 30px;
    border-bottom: 1px solid #d8d8d8;
    font-size: 14px;
    color: #333;
  }

  .ship-cont-top .shiplogo {
    width: 56px;
    margin-right: 14px;
  }

  .ship-cont-info {
    line-height: 25px;
  }

  .ship-cont-info .gray {
    opacity: 1;
    color: #666;
  }

  .ship-cont-info .blue {
    color: #0CADEB;
  }

  .ship-cont-list {
    padding: 30px;
    box-shadow: 0px 4px 2px -2px rgba(105, 104, 104, 0.1);
    max-height: 380px;
    overflow-y: auto;
  }

  .ship-cont-item {
    display: flex;
    justify-content: center;
    font-size: 14px;
  }

  .ship-cont-item-time {
    width: 130px;
    padding: 0px 21px 12px 34px;
    border-right: 2px solid #D8D8D8;
    position: relative;
    text-align: right;
    color: #999;
  }

  .ship-cont-item-time::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #D1D1D1;
    position: absolute;
    right: -7px;
    top: 0;
    content: '';
  }

  .ship-cont-item-detail {
    padding: 0 0 10px 21px;
    max-width: 350px;
    margin-top: -2px;
    color: #999;
    width: calc(100% - 130px);
  }

  .ship-cont-item-detail p {
    font-size: inherit;
    margin-bottom: 5px;
  }

  .ship-cont-item.curr .ship-cont-item-time,
  .ship-cont-item.curr .ship-cont-item-detail {
    color: #E7C28A;
  }

  .ship-cont-item.curr .ship-cont-item-time::after {
    background: #E8C48C;
    border: 2px solid rgba(255, 230, 184, 1);
    width: 16px;
    height: 16px;
    right: -11px;
  }

  .ordetail-btn-box {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 20px 0;
  }

  .ordetail-btn-box .ui-btn {
    margin: 0 7px;
    width: 80px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }

  .ordetail-btn-box .cancel {
    background: #F9F9F9;
    border: 1px solid rgba(228, 228, 228, 1);
  }

  .ordetail-btn-box .confirm {
    background: linear-gradient(90deg, rgba(239, 209, 153, 1) 0%, rgba(223, 173, 102, 1) 100%);
    color: #fff;
    line-height: 32px;
  }

  .ordetail-detail-name {
    border-left: 1px solid rgba(228, 228, 228, 1);
  }
  .stockout-box{
    color: #f95717;
  }
  .detail-list-box{
    width: 700px;
  }
  .detail-info{
    width: 420px;
    padding-left: 10px;
  }
  .detail-price{
    width: 94px;
    text-align: center;
  }
  .detail-quantity{
    width: 93px;
    text-align: center;
  }
  .detail-total{
    width: 93px;
    text-align: center;
  }
  .ordetail-detail-list{
    .detail-price,.detail-quantity,.detail-total{
      margin-top: 20px;
    }
  }
  .detail-list{
    display: flex;
    align-items: center;
  }
  .ordetail-detail-list .detail-list{
    // border-bottom: 1px solid rgba(151, 151, 151, 0.3);
    align-items: start;
  }
  .more-list{
    overflow-y: auto;
    max-height: 348px;
    .more-item:last-child{
      border-bottom: none;
    }
  }
  .more-list-title{
    background: #F6F6F6;
    line-height: 30px;
    color: #666;
    font-size: 12px;
    cursor: pointer;
    &:hover{
      color: #fa6400;
      .iconfont{
        color: inherit;
      }
    }
  }
  .more-list-title .iconfont{
    margin-left: 5px;
    color: #aaa;
    line-height: 1;
    position: relative;
    top: 2px;
  }
  .more-item{
    display: flex;
    justify-content: start;
    padding: 14px 0;
    margin: 0 10px;
    border-bottom: 1px dashed #EBEBEB;
  }
  .more-item-img {
    width: 58px;
    height: 58px;
    border: 1px solid #C1C1C1;
    object-fit: contain;
    margin-right: 10px;
  }
  .more-item-info{
    margin-top: -3px;
    display: flex;
    align-content: space-evenly;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
  .more-item-info .title{
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
  }
  .more-item-info .sku{
    font-size: 12px;
    color: #999;
    text-align: left;
    line-height: 1;
  }
  .bagsku-box{
    margin-left: 0;
  }

  .vatIossWrapper{
    display: flex;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    .iossTitle{
      font-size: 14px;
      line-height: 20px;
      margin: 5px 8px 0 0;
    }
    i{
      width: 15px;
      height: 15px;
      cursor: pointer;
      position: relative;
    }
    .vipIossIcon{
      color: #dda863;
    }
    .commonIossIcon{
      color: #f70;
    }
    .popoverWrapper{
      position: absolute;
      width: 220px;
      height: 55px;
      background: rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
      bottom: 20px;
      right: -4px;
      border-radius: 3px;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px;
      span{
        height: 40px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 20px;
        text-align: left;
      }
      .popoverBottom{
        position: absolute;
        width: 0px;                 /*  宽高设置为0，很重要，否则达不到效果 */
        height: 0px;
        border: 4px solid rgba(0, 0, 0, 0.75);;
        border-bottom-color: transparent;    /* 设置透明背景色 */
        border-left-color: transparent;
        border-right-color: transparent;
        bottom: -8px;
        right: 7px;
      }
    }
  }
}