.order-log{
    .back-link{
        font-size: 14px;
    }
    .log-del-wrap{
        background-color: #fff;
        padding: 16px 25px;
        margin-top: 1rem;
    }
    .log-del-cont{
        width: 100%;
    }
    .pro-tip-wrap{
        color: #666666;
        margin-bottom: 1rem;
    }
    .ord-num{
        font-weight:600;
        color: #333333;
    }
    
    .log-tit-common{
        height: 40px;
        li{
            text-align: center;
            font-size: 14px;
        }
    }
    .scroll-box{
        max-height: 400px;
        overflow-y: auto;
    }
    .log-body{
        border: 1px solid #F3F3F3;
        height: 80px;
        li{
            padding: 12px;
            font-size: 12px;
            border-right: 1px solid #F3F3F3;
        }
        li:last-child{
            border: 0;
        }
    }
    .height-auto{
        height: auto;
    }
    .min-height80{
        min-height: 80px;
    }
    .padding-r18px{
        padding-right: 6px;
    }
    .over-ellipsis{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .per28{
        width: 28%;
    }
    .per12{
        width: 12%;
    }
    .per64{
        width: 64%;
    }
    .per36{
        width: 36%;
    }
    ::-webkit-scrollbar{
        width: 4px;
        height: 4px;
      }
    ::-webkit-scrollbar-thumb{
        border-radius: 1em;
        background-color: rgba(50,50,50,.3);
    }
    ::-webkit-scrollbar-track{
        border-radius: 1em;
        background-color: rgba(50,50,50,.1);
    }
    .log-content a{
        color: #ff7700;
    }
    .log-content a:hover{
        color: #f90;
    }
}

.log-header li {
    color: #fff;
}
.log-header {
    background: #5E5F64;
    border-radius: 4px 4px 0 0;
}
.log-footer{
    background-color: #F3F3F3;
    li{
        font-weight: 600;
    }
}
.back-link:hover{
    color:#F78E29;
}