<div class="menu" id="vue-menu">
  <ul>
    {% for item in menuList %}
      {% set openIdx = loop.index0 %}
      <li class="{{'sub-menu-height-auto' if (menuOpenIdx != '' and openIdx == menuOpenIdx) else '' }}">
        <span class="sub-menu-title" @click="toggleShow($event)" i='{{openIdx}}'>
          {{item.categoryName}}
          <i class="iconfont iconbianzu101"></i>
        </span>
        <div class="sub-menu">
          {% if item.list.length > 0 %}
            {% for items in item.list %}
              <a href="{{menuUrl}}&categoryId={{items.id}}&menuOpenIdx={{openIdx}}&menuActiveIdx={{loop.index0}}" class="{{'active' if (menuOpenIdx != '' and openIdx == menuOpenIdx and loop.index0 == menuActiveIdx) else '' }}">
                <em>{{items.categoryName}}</em>
              </a>
            {% endfor %}
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>