.service-return-detail {
  .rede-top {
    height: 54px;
    background-color: #f2f3f5;
    padding-left: 20px;
  }
  .rede-top .backhref-div {
    display: inline-block;
    height: 54px;
    line-height: 54px;
    cursor: pointer;
  }
  .rede-top .backhref-div span {
    color: #333;
    margin-left: 5px;
  }
  .rede-ordetail {
    height: 270px;
    background-color: #fff;
  }
  .rede-ordetail ul li {
    height: 27px;
  }
  .rede-ordetail ul li span {
    font-size: 14px;
    color: #333;
  }
  .rede-ordnum-line span {
    font-size: 20px;
    color: #333;
  }
  .rede-ordnum-line .rede-approve-btn {
    width: 90px;
    height: 30px;
    color: #fff;
    background-color: #F99429;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 10px;
  }
  .rede-ordnum-line .rede-approve-btn:hover {
    background-color: #FDAD58;
  }
  .rede-ordnum-line .rede-canrequest {
    width: 200px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    color: #595959;
    background-color: #fff;
  }
  .rede-ordnum-line .rede-canrequest:hover {
    color: #FA9428;
    border: 1px solid #FA9428;
  }
  .rede-retun-stu {
    height: 234px;
    background-color: #fff;
  }
  .rede-retun-stu .rede-stu-tit {
    height: 45px;
    padding-left: 20px;
    line-height: 45px;
    border-bottom: 1px solid #E8E8E8;
  }
  .rede-retun-stu .rede-stu-con {
    text-align: center;
    margin-top: 52px;
  }
  .rede-retun-stu .rede-stu-con .gray-stu-circle {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
  }
  .rede-retun-stu .rede-stu-con .yellow-stu-circle {
    display: inline-block;
    width: 32px;
    height: 32px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background-color: #F99429;
  }
  .rede-retun-stu .rede-stu-con .stu-line {
    width: 10%;
    height: 1px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.15);
    vertical-align: middle;
    margin: 0 12px;
  }
  .rede-retun-stu .rede-stu-con .stu-active-line {
    width: 10%;
    height: 1px;
    display: inline-block;
    background: #F99429;
    vertical-align: middle;
    margin: 0 12px;
  }
  .rede-return-imgs {
    height: 200px;
    display: flex;
  }
  .rede-return-imgs .rede-imgs-tit {
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #E8E8E8;
  }
  .rede-return-imgs .rede-imgs-left {
    flex: 1;
    box-shadow: 0px 2px 4px 0px rgba(227, 226, 226, 0.5);
    border-radius: 2px;
    background-color: #fff;
  }
  .rede-return-imgs .rede-imgs-right {
    flex: 1;
    outline-offset: 20px;
    box-shadow: 0px 2px 4px 0px rgba(227, 226, 226, 0.5);
    border-radius: 2px;
    background-color: #fff;
    margin-left: 1.7%;
  }
  .rede-return-imgs .rede-imgs-div {
    padding-left: 20px;
    padding-top: 30px;
    height: 155px;
  }
  .rede-return-imgs .rede-imgs-div img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
  }
}