.service-await-response {
    .order-status .return{
        position: absolute;
        top: -38px;
        right: 0;
    }
}
.mediate-box {
    font-size: 14px;
    .title {
        margin-bottom: 16px;
        font-size: 16px;
    }
    .head {
        display: flex;
        align-items: center;
        div {
            width: 50%;
        }
    }
    .list {
        display: flex;
        align-items: center;
        div {
            width: 50%;
        }
    }
    .tan-btns {
        margin-top: 20px;
        text-align: center;
    }
    a {
        display: inline-block;
    }
}
.pagecomp-box{
    padding-bottom: 12px;
    padding-left: 12px;
}