@import '../../colors.less';
.operate-layout {
  padding: 10px 15px;
  .header {
    background: @backColor;
    margin-bottom: 10px;
    position: relative;
    h2 {
      text-align: center;
      padding-top: 15px;
    }
    input {
      width: 250px;
    }
    .search {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      padding: 0 26px;
      flex-direction: row-reverse;
      &-item {
        min-width: 200px;
        margin-left: 10px;
      }
    }

    .descript {
      position: absolute;
      right: 20px;
      top: 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
