@import '../../colors.less';
.paddingContent {
  padding: 20px;
  color: #000000 !important;

  .desLayout {
    height: 50px;
    font-weight: normal;
    position: relative;
    display: flex;
    align-items: center;

    > button {
      margin-left: 86px;
      position: absolute;
      top: 8px;
    }
  }
}
