/**
 * 这是个 less 变量、函数文件，不会被编译成 common.css
 */

.hover-color-primary {
  &:hover {
    color: var(--color-primary);
    text-decoration: none;
  }
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 指向静态资源跟路基
@public: "/egg";
