
.contact-details-box{
  display: none !important;
}
.pod {
  .title {
    // font-family: brelaregular;
    text-align: center;
    padding: 40px 0 30px;
    font-size: 32px;
    color: #333333;
    font-weight: 500;
    span {
      display: inline-block;
      &::after {
        content: '';
        display: block;
        width: 50%;
        height: 2px;
        margin: auto;
        background: #FF7700;
        margin-top: 10px;
      }
    }
  }
  .btn-view-more {
    display: block;
    width: 160px;
    height: 40px;
    border: 1px solid var(--color-primary);
    font-size: 18px;
    color: var(--color-primary);
    line-height: 40px;
    text-align: center;
    margin: auto;
    position: relative;

    span {
      background: #fff;
      position: relative;
      z-index: 1;
    }
    i {
      position: absolute;
      right: 50px;
      transition: right .5s;
    }

    &:hover {
      color: white;
      background-color: var(--color-secondary);
      border-color: transparent;

      span {
        background-color: var(--color-secondary);
      }

      i {
        right: 10px;
        color: white;
      }
    }
  }
  .pod-banner {
    position: relative;
    img {
      width: 100%;
    }
    .text {
      position: absolute;
      display: flex;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      text-align: center;
      .mark-title {
        span {
          &::before, &::after {
            width: 24px;
            height: 44px;
          }
          &::before {
            left: -40px;
            top: -18px;
          }
          &::after {
            right: -40px;
            bottom: -18px;
          }
        }
      }
      h1 {
        font-size: 70px;
        font-weight: bold;
        color: #FFFFFF;
      }
      h2 {
        font-size: 40px;
        font-weight: 500;
        color: #FFFFFF;
        margin: 80px 0 24px;
      }
      p {
        font-size: 35px;
        font-weight: 400;
        color: #FFFFFF;
      }
    }
  }
  .card-wrap .inner-box > .detail-anchor {
    border: 1px solid #f4f4f4;
    img {
      border: none;
    }
  }
  .pod-home {
    background: #fff;
    overflow: hidden;
    .swiper-button-prev:focus, .swiper-button-next:focus {
      outline: none;
    }
    .card-wrap {
      img {
        width: 100%;
        height: auto;
      }
      .inner-box {
        padding: 0;
      }
      .move-box {
        padding: 8px 3px 3px;
      }
      .add-queue {
        padding: 10px 3px 0;
        bottom: 4px;
      }
      .btns {
        padding: 0;
      }
    }
    .pod-swiper-hot{
      background: #FCF6F0;
      padding: 40px 0;
      .box {
        width: 1078px;
        position: relative;
        margin: 0 auto;
        background: #FAFAFA;
        display: flex;
        align-items: center;
        .swiper-button-prev {
          left: -120px;
        }
        .swiper-button-next {
          right: -120px;
          transform: rotate(180deg);
        }
        .swiper-button-prev:after, .swiper-button-next:after {
          display: none;
        }
        .swiper-button-prev, .swiper-button-next {
          z-index: 2;
          width: 80px;
          height: 80px;
          background: url(/egg/image/printonDemand/swiper.svg) no-repeat;
          background-size: 100% 100%;
          &:hover {
            background: url(/egg/image/printonDemand/swiperH.png);
          }
        }
        .slide-main {
          display: flex;
          color: #333333;
          height: 100%;
          div {
            width: 100%;
          }
          span {
            display: block;
          }
        }
        .swiper-container-hot-img {
          width: 512px;
          height: 512px;
          overflow: hidden;
          .imgBox {
            height: 100%;
            img {
              height: 100%;
              width: 100%;
            }
          }
        }
        .swiper-container-hot-text {
          width: 566px;
          .text {
            display: flex;
            text-align: center;
            align-items: center;
            overflow: hidden;
            width: 100%;
            > div {
              width: 100%;
              word-wrap: break-word;
              a {
                color: #333;
              }
            }
            h5 {
              font-size: 20px;
              margin-bottom: 35px;
            }
            h3 {
              font-size: 32px;
              font-weight: 500;
              overflow:hidden; 
              text-overflow:ellipsis;
              display:-webkit-box; 
              -webkit-box-orient:vertical;
              -webkit-line-clamp:2;
              width: 528px;
              height: 90px;
              margin: 0 auto 4px;
              line-height: 45px;
            }
            p {
              font-size: 20px;
              line-height: 30px;
              margin-bottom: 8px;
              padding: 0 90px;
              overflow:hidden; 
              text-overflow:ellipsis;
              display:-webkit-box; 
              -webkit-box-orient:vertical;
              -webkit-line-clamp:4; 
              height: 120px;
              color: #999;
            }
            .list {
              font-size: 24px;
            }
            .price {
              font-size: 30px;
              margin: 10px 0 20px;
              color: #FF7700;
            }
          }
        }
        .default {
          width: 1200px;
          display: flex;
          img {
            width: 570px;
          }
          > div {
            div {
              width: 100%;
            }
            width: 630px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #333333;
            h3 {
              font-size: 50px;
              font-weight: 500;
              margin-bottom: 58px;
            }
            p {
              font-size: 25px;
              font-weight: 400;
            }
          }
        }
      }
    }
    .hotSelling {
      overflow: hidden;
      margin-top: 30px;
      .selling-list {
        width: 1200px;
        background: #FFFBF7;
        margin: auto;
        padding: 0 40px 10px;
        .product-box{
          display: flex;
          flex-wrap: wrap;
          p {
            width: 100%;
            text-align: center;
            font-size: 20px;
          }
          .card-wrap {
            margin-bottom: 20px;
            width: 262px;
            margin-right: 2%;
            padding:0;
            &:nth-child(4n) {
              margin-right: 0;
            }
            .move-box {
              background: #FFFBF7;
            }
            .inner-box {
              >.detail-anchor {
                height: 260px;
              }
            }
            .btn-item {
              width: 46%;
              line-height: 32px;
            }
            .add-queue {
              bottom: 10px;
              .btn-add {
                line-height: 35px;
              }
            }
          }
        }
      }
    }
    .pod-trending-products {
      position: relative;
      width: 1200px;
      margin: auto;
      .swiper-container {
        width: 100%;
        overflow: hidden;
        .swiper-wrapper {
          transition: all 300ms ease 0s;
          display: flex;
          flex-wrap: wrap;
          .swiper-slide{
            flex-shrink: 0;
          }
        }
      }
      .card-wrap {
        width: 100%;
        .inner-box {
          >.detail-anchor {
            height: 190px;
          }
        }
      }
      .navigation {
        color: #333333;
        font-size: 20px;
        text-align: right;
        margin-bottom: 25px;
        user-select:none;
        em {
          color: #999990;
        }
        .swiper-button-prev, .swiper-button-next {
          position: initial;
          display: inline-block;
          width: auto;
          height: auto;
          margin: 0 13px;
          vertical-align: 1px;
        }
        .swiper-button-prev, .swiper-button-next {
          &::after {
            font-size: 15px;
            color: #000;
          }
        }
      }
      .more {
        display: block;
        width: 160px;
        border: 1px solid var(--color-primary);
        margin: 40px auto;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        letter-spacing: 1px;
        overflow: hidden;
        position: relative;
        color: var(--color-primary);

        span {
          background: #fff;
          position: relative;
          z-index: 1;
        }
        i {
          position: absolute;
          right: 50px;
          transition: right .5s;
        }
        &:hover {
          color: white;
          background-color: var(--color-secondary);
          border-color: transparent;

          span {
            background-color: var(--color-secondary);
          }

          i {
            right: 7px;
            color: white;
          }
        }
      }
    }
    .video-block {
      width: 1200px;
      margin: auto;
      padding-bottom: 96px;
      margin-bottom: 30px;
      background: url(/egg/image/printonDemand/point.png) #FFFBF7 no-repeat left bottom;
      .box {
        display: flex;
        justify-content: center;
        .iframe {
          width: 570px;
          height: 311px;
        }
        .main {
          margin-left: 60px;
          width: 358px;
          padding-top: 45px;
          h3 {
            font-size: 40px;
            font-weight: bold;
            color: #333333;
            line-height: 40px;
            margin-bottom: 20px;
          }
          p {
            font-size: 20px;
            font-weight: 400;
            color: #666666;
            line-height: 28px;
            margin-bottom: 80px;
          }
          .btn-view-more {
            margin-left: 0;
          }
        }
      }
    }
    .works-block {
      .box {
        width: 1200px;
        margin: auto;
        background: #FFFBF7;
        padding: 0 50px 30px;
      }
      ul {
        overflow: hidden;
        li {
          width: 340px;
          float: left;
          h3 {
            height: 75px;
            font-size: 18px;
            font-weight: 600;
            color: #333333;
            line-height: 25px;
            margin-bottom: 10px;
          }
          p {
            height: 96px;
            font-size: 14px;
            color: #333333;
            line-height: 24px;
            margin-bottom: 15px;
          }
          &:not(:nth-child(3n)) {
            margin-right: 40px;
          }
          a {
            font-size: 16px;
            color: #FF7700;
            line-height: 22px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .btn-view-more {
        margin: 30px auto;
      }
    }
  }
  .pod-help {
    section {
      width: 1200px;
      margin: auto;
      ul {
        background: #fff;
        list-style: disc;
        padding: 40px 60px 20px 70px;
        overflow: hidden;
        li {
          width: 280px;
          float: left;
          margin-bottom: 30px;
          font-size: 18px;
          &:not(:nth-child(3n)) {
            margin-right: 110px;
          }
          a {
            color: #333;
            &:hover {
              color: var(--color-primary);
            }
          }
        }
      }
      .video-box {
        background: #fff;
        padding: 60px 60px 40px;
        overflow: hidden;
        margin-bottom: 70px;
        .video-item {
          &:not(:last-child) {
            margin-bottom: 80px;
          }
          .iframe {
            width: 100%;
            height: 590px;
            margin-bottom: 20px;
          }
          p {
            font-size: 30px;
            color: #333333;
          }
        }
      }
    }
  }
}
