.privacyPolicy {
  width: 100%;
  background: #fff;
  position: relative;

  .language {
    position: fixed;
    top: 100px;
    // left: calc((100% - 1200px)/2 + 1200px + 30px);
    right: 50px;

    .language-icon {
      font-size: 32px;
      cursor: pointer;
      color: #ff7700;
  
      &:hover {
        color: #ff9900;
      }
    }
  }

  

  p {
    margin: 0;
    line-height: 32px;
  }

  .main {
    width: 1200px;
    margin: 0 auto;
    padding: 16px 0 60px 0;

    .title {
      width: 100%;
      font-size: 32px;
      font-weight: 500;
      color: #333333;
      line-height: 45px;
      text-align: center;
      position: relative;
    }

    .content {
      font-size: 16px;
      // text-align: justify;

      .normal-desc {
        color: #666666;
        word-break: break-word;
        margin: 16px 0 0;
      }
      .emphasis-desc {
        color: #333333;
        font-weight: 700;
        // margin: 0;
      }
      .flex-box {
        display: flex;
      }

      .list-box {
        margin-top: 30px;

        .item-box {
          border-bottom: 1px solid #E4E4E4;
          padding: 0 34px 0 0;
        }
        .top-border {
          border-top: 1px solid #E4E4E4;
        }
        .item-title {
          font-size: 16px;
          font-weight: bold;
          color: #333333;
          line-height: 19px;
          position: relative;
          cursor: pointer;
          padding: 17px 0;

          .trems-arrow {
            width: 16px;
            height: 16px;
            position: absolute;
            right: 0;
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transition: transform 0.2s linear 0s;
          }
          .trems-arrow.arrow-down {
            transform:rotate(-180deg);
            -webkit-transform:rotate(-180deg);
            -ms-transform:rotate(-180deg);
            transition: transform 0.2s linear 0s;
          }
        }
        .item-content {
          height: 0;
          overflow: hidden;
          padding: 0 0 0 16px;
          opacity: 0 !important;
          transition: 0.5s !important;
        }
        .item-content-open {
          opacity: 1 !important;
          transition: 0.5s !important;
        }
        .pl {
          padding-left: 20px;
        }
      }
    }
  }

  .useragreement-link {
    color: #FF7700;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}