.product-warp {
  background: #fff;
  margin-top: 12px;
  .product-box {
    padding: 8px 8px 30px 8px;
    display: flex;
    flex-wrap: wrap;
    .card-wrap {
      &:nth-child(n+7) {
        margin-top: 14px;
      }
    }
  }
}

.sourcing-noData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  padding-top: 180px;
  padding-bottom: 50px;
  .tips {
    color: #999999;
    margin: 20px 0 10px 0;
  }
  .go-sourcing-btn {
    color: #fff;
    width: 140px;
    height: 40px;
    background: #FF7700;
    border-radius: 4px;
    margin-bottom: 30px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
  }
  a.how-to-sourcing {
    color: #FF7700;
    text-decoration: underline;
  }
}

.cj-load-percent {
  background: #fff;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    color: #f69829;
    font-size: 14px;
    line-height: 50px;
  }
}