.recommendations-warp {
  width: 1200px;
  margin: 0 auto 30px;
  *:focus {
    outline: none;
  }
  .a-img {
    overflow: hidden;
    img {
      transition: all 0.5s;
      width: 100%;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  .default {
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    img {
      width: 150px;
      margin-bottom: 20px;
    }
  }
  h1 {
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    line-height: 33px;
    margin: 16px 0;
    text-align: center;
  }
  .item-box {
    background: #fff;
    margin-bottom: 16px;
    .title {
      font-size: 24px;
      font-weight: 500;
      color: #333333;
      line-height: 33px;
      padding: 20px 0 20px 16px;
      border-bottom: 1px solid #F2F2F2;
    }
    .main {
      padding: 20px 16px;
      position: relative;
    }
  }
  .swiper-container-recommendations {
    a {
      display: block;
      img {
        width: 100%;
      }
    }
    .placeholder-bg {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      background: #FBFBFB;
      font-size: 16px;
      font-weight: 500;
      color: #C5C5C5;
      line-height: 22px;
    }
  }
  .swiper-pagination {
    padding: 16px 0 0;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
    .swiper-pagination-bullet {
      margin: 0 5px;
    }
    .swiper-pagination-bullet-active{
      background: #FF7700;
    }
  }
  .swiper-navigation {
    position: absolute;
    top: -50px;
    right: 16px;
    display: flex;
    .navigation {
      color: #999999;
      cursor: pointer;
      margin-left: 30px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(.swiper-button-disabled):hover {
        background: #F2F2F2;
      }
      &.swiper-button-disabled {
        color: #EFEFEF;
      }
    }
  }

  .past-list {
    text-align: center;
    > div {
      overflow: hidden;
    }
    a {
      float: left;
      width: calc(25% - 12px);
      margin-bottom: 16px;
      &:not(:nth-child(4n)) {
        margin-right: 16px;
      }
    }
    p {
      margin-bottom: 0;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      color: #999999;
      line-height: 22px;
    }
  }
}