.descriptions {
  :global {
    .ant-descriptions-item {
      vertical-align: middle;
    }
  }
}
.backfill {
  display: flex;

  .ant-input-number {
    flex: 3;
  }
  button {
    margin-left: 10px;
  }
}
