body,
html {
  width: 100%;
}
body select {
  font-size: 12px;
}
* {
  box-sizing: border-box;
}
.forgot-wrap {
  /*max-width: 375px;*/
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(bottom, rgba(198, 234, 255, 0.94) 0%, rgba(227, 245, 255, 0.94) 11%, rgba(255, 255, 255, 0.94) 100%);
} 
.border {
  border: 1px solid red;
}
.main {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.main img {
  height: 50px;
}
/*上面部分*/
.login-header {
  width: 100%;
  height: 80px;
  background: #ffab49;
}
.login-header .main {
	width: 100%;
  display: table;
  text-align: left;
  margin: 0 auto;
}
.login-header .main .main-child {
	width: 100%;
	height: 80px;
  display: table-cell;
  vertical-align: middle;
}
.login-header .main .main-child a {
	width: 70%;
  text-align: left;
  display:block;
  margin: auto;
}
.login-header .main .main-child a img {
	width:90%;
  display: inline-block;
}
/*上面部分結束*/

.inp-style {
  border-radius: 4px;
  height: 40px;
  background: none;
  border: 1px solid #e0e0e0;
}
.lable-style {
  font-size: 14px;
  color: #9fa6b3;
  line-height: 32px;
}
.radorche img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-top: -6px;
  margin-right: -8px;
}
.radorche input {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  opacity: 0;
}
.radorche span {
  margin-left: 12px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  margin-top: -2px;
}
.register-con {
	width: 100%;
  padding: 20px 0;
  max-width: 390px;
  margin: 0 auto;
}
.register-con .register-center {
  width: 100%;
  margin: 0 auto;
}
.register-con .register-center .asj-regi-title {
  width: 100%;
  font-family: ﻿Constantia;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 46px;
  letter-spacing: 0px;
  color: #08aceb;
  text-align: center;
}
#registerForm ul{
	width: 80%;
	margin: auto;
}
#registerForm ul li{
	width: 100%;
}
#telephone{
	width: 265px;
}
.register-con .register-center form li div {
  font-size: 14px;
  color: #3e3e3e;
}
.register-con .register-center form li span {
  font-size: 12px;
  color: #3e3e3e;
}
.register-con .register-center form li p {
  margin: 0;
}
.register-con .register-center form li .asj-must-inp {
  display: inline-block;
  color: #a94442;
  line-height: 32px;
  font-size: 12px;
}
.register-con .register-center form li input {
  font-size: 12px;
  /*vertical-align: middle;*/
}
.register-con .register-center form li .fullname-inp {
  position: relative;
}
.register-con .register-center form li .pass-item small {
	max-width: 90%;
  display: block;
}
.register-con .register-center form li small {
  color: #a94442;
  font-size: 12px;
}
.register-con .register-center form li .my-check-icon {
  color: #3c763d;
}
.register-con .register-center form li .my-remove-icon {
  color: #a94442;
  top: 25px;
}
.register-con .register-center form li .md-inp {
  width: 100%;
  padding-left: 10px;
  border-radius: 4px;
  height: 40px;
  background: none;
  border: 1px solid #b4b4b4;
}
.register-con .register-center form li .md-inp1{
	width: 70%;
} 
.register-con .register-center form li .lg-inp {
  width: 100%;
  padding-left: 10px;
  border-radius: 4px;
  height: 30px;
  background: none;
  border: 1px solid #e0e0e0;
  float: left;
  margin-right: 6px;
}
#registerForm ul li:nth-of-type(11) input{
	width: 90%;
}
#registerForm ul li:nth-of-type(1) i:nth-of-type(1){
	right: 30%;
}
/*#storeLink0{
	width: 90%;
}*/
.register-con .register-center form li .add-store,
.register-con .register-center form li .remove-store {
  float: left;
  width: 22px;
  height: 20px;
  padding: 5px 0;
  
}
.register-con .register-center form li .remove-store {
  height: 2px;
  padding: 19px 0;
}
.register-con .register-center form li .color-span {
  color: red;
}
.register-con .register-center form li .reg-lable {
  /*height: 32px;*/
  width: 100%;
}
.register-con .register-center form li .reg-lable ul {
  width: 498px;
  height: 32px;
}
.register-con .register-center form li .reg-lable ul li {
  width: 154px;
  float: left;
  box-sizing: border-box;
  font-size: 14px;
  color: #9fa6b3;
  line-height: 32px;
}
.register-con .register-center form li .reg-lable ul .province {
  margin: 0 18px;
}
.register-con .register-center form li .reg-lable p {
  font-size: 14px;
  color: #3b3b3b;
  line-height: 32px;
}
.register-con .register-center form li .reg-lable .full-name {
  display: inline-block;
}
.user-length {
  font-size: 10px;
  float: right;
  display: inline-block;
  height: 30px;
  color: #9fa6b3;
  padding: 0;
  line-height: 30px;
}
.register-con .register-center form li .user-lable {
  width: 258px;
}
.register-con .register-center form li .app-select {
  position: relative;
}
.register-con .register-center form li .app-select select {
  border-radius: 4px;
  height: 40px;
  background: none;
  border: 1px solid #b4b4b4;
  width: 85px;
  position: absolute;
  left: 0;
  top: 0;
}
.register-con .register-center form .saleman-li .app-select select {
  position: relative;
  width: 100%;
}
.whatapp-inp-wrap {
  width: 100%;
  height: 40px;
  padding-left: 100px;
}
.register-con .register-center form li .app-select input {
	width: 100%;
}
.register-con .register-center form li .app-select small {
  display: block;
}
.register-con .register-center form li .adress-controls select {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  background: none;
  border: 1px solid #b4b4b4;
}
.register-con .register-center form li .daily-orders .orders-num {
  margin-top: 10px;
  height: 20px;
  overflow: hidden;
}
.register-con .register-center form li .daily-orders .orders-num img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-top: -6px;
  margin-right: -8px;
}
.register-con .register-center form li .daily-orders .orders-num input {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  opacity: 0;
}
.register-con .register-center form li .daily-orders .orders-num span {
  margin-left: 12px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  margin-top: -2px;
}
.register-con .register-center form li .reg-submit {
  margin-top: 15px;
}
.register-con .register-center form li .reg-submit a {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  background-color: rgba(8,172,235,1);
  color: #fff;
  border: 1px solid #fff;
  font-size: 14px;
  border-radius: 5px;
  margin: auto;
}
.register-con .register-center form li .reg-submit a:hover {
  background-color: rgba(8,172,235,0.8);
}
.register-con .register-center form li .mobile-item .area-code {
  width: 100%;
}
.register-con .register-center form li .mobile-item .area-code .md-inp {
  width: 360px;
  padding-left: 52px;
}
.register-con .register-center form li .mobile-item .connect {
  float: left;
  width: 20px;
  text-align: center;
  line-height: 40px;
}
.register-con .register-center form li .mobile-item .telephone-number {
  float: left;
}
.register-con .register-center form li .reg-store-lable {
  position: relative;
}
.register-con .register-center form li .user-inp {
  position: relative;
}
.register-con .register-center form .order-li {
  margin-top: 15px;
  margin-bottom: 10px;
}
.register-con .register-center form .platform-li {
  margin-top: 15px;
  margin-bottom: 10px;
}
.register-con .register-center form .platform-li .platform {
  margin-top: 10px;
  position: relative;
}
.register-con .register-center form .platform-li .platform img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-top: -6px;
  margin-right: -8px;
}
.register-con .register-center form .platform-li .platform input {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  opacity: 0;
}
.register-con .register-center form .platform-li .platform span {
  margin-left: 12px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  margin-top: -2px;
}
.register-con .register-center form .marketing-li {
  margin-top: 15px;
  margin-bottom: 10px;
}
.register-con .register-center form .marketing-li .marketing {
  margin-top: 10px;
  position: relative;
}
.register-con .register-center form .marketing-li .marketing img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-top: -6px;
  margin-right: -8px;
}
.register-con .register-center form .marketing-li .marketing input {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  opacity: 0;
}
.register-con .register-center form .marketing-li .marketing span {
  margin-left: 12px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  margin-top: -2px;
}
.register-con .register-center .consumer-li .chose-group-box select {
  /*width: 190px;*/
  padding: 0;
  border-radius: 5px;
  height: 30px;
  background: none;
  border: 1px solid #e0e0e0;
  margin-bottom: 5px;
}
.register-con .register-center .consumer-li .show-group-box {
  margin-top: 10px;
}
.register-con .register-center .consumer-li .select-consumer-item {
  display: inline-block;
  position: relative;
  margin-right: 25px;
}
.register-con .register-center .consumer-li .select-consumer-item span {
  position: absolute;
  top: -5px;
  right: -6px;
  width: 16px;
  height: 16px;
  line-height: 14px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
}
.register-con .register-center .bottom-tips {
  margin-top: 15px;
}
.register-con .register-center .bottom-tips .asj-reg-agreement {
  font-size: 12px;
}
.register-con .register-center .bottom-tips a {
  color: #08aceb;
}
.register-con .register-center .bottom-tips .asj-reg-login {
  line-height: 20px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
.register-con .register-center .bottom-tips .reg-sign-btn {
  position: relative;
}
.register-con .register-center .bottom-tips .reg-sign-btn::after {
  display: block;
  content: '';
  position: absolute;
  right: -6px;
  top: 8px;
  width: 0px;
  height: 0px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #08aceb;
}
.border1 {
  border: 1px solid black;
}
.forgot-footer {
  height: 60px;
  width: 100%;
  background-color: #f8f8f8;
  display: table;
}
.forgot-footer .forfoo-con {
  min-width: 1200px;
  width: 1200px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.forgot-footer .forfoo-con span {
  padding: 0 16px;
  font-size: 14px;
  color: #c1c1c1;
}
.forgot-footer .forfoo-con span .copyright-logo {
  padding: 0 5px 0 0;
  font-size: 22px;
  vertical-align: middle;
}
.forgot-footer .forfoo-con a {
  padding: 0 16px;
  font-size: 14px;
  color: #c1c1c1;
  border-right: 1px solid #c1c1c1;
}
[data-bv-validator="emailAddress"] {
  display: none;
}
.form-control-feedback {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.intl-tel-input .country-list {
  top: 40px;
  left: 0;
  height: 300px;
}
.submit-success {
  margin: 50px 0;
  text-align: center;
}
.success-tip {
  margin-top: 20px;
}
.back-div {
  margin-top: 15px;
}
