@cjColor: #ff7700;
@cjColorHover: #E56A00;
@cjVipColor: #F1D69E;
@cjVipColorHover: #D9C08E;
.closeModalComponent{
  :global{
    .close-modal-wrap{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      .close-modal-box{
        background: #fff;
        width: 605px;
        border-radius: 4px;
        overflow: hidden;
        .close-modal-header{
          background: #F8F8F8;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px 0;
          img{
            height: 38px;
          }
        }
        .close-modal-content{
          padding: 20px 40px;
          .close-modal-title{
            margin: 20px 0;
            color: #333;
            font-size: 16px;
            font-weight: 550;
            text-align: center;
          }
          .close-modal-text{
            color: #666;
            font-size: 14px;
            a {
              font-size: 14px;
              color: @cjColor;
              cursor: pointer;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
        .close-modal-footer{
          padding: 20px 0 40px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          .see-to-upd-cj-btn{
            cursor: pointer;
            border-radius: 4px;
            padding: 6px 20px;
            font-size: 14px;
            background: @cjColor;
            color: #fff;
            &:hover{
              background: @cjColorHover;
            }
          }
        }
      }
      &.isVip{
        .close-modal-box{
          .close-modal-footer{
            .see-to-upd-cj-btn{
              color: #333;
              background: @cjVipColor;
              &:hover{
                background: @cjVipColorHover;
              }
            }
          }
        }
      }
    }
  }
}