.hotKindV {
  width: 118px;
  //height: 100%;
  //padding: 24px 0;

  :global {
    .hot-kind-icon {
      width: 88px;
      height: 88px;
      margin-left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f7f7f7;
      border-radius: 38px;
      cursor: pointer;
      transition: all 0.4s;

      .kind-icon {
        font-size: 35px;
      }

      &:hover {
        background: #fff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
        //transform: scale(1.1);
        transition: all 0.4s;
      }
    }

    .hot-kind-detail {
      width: 100%;
      font-size: 16px;
      font-weight: 550;
      color: #333;
      line-height: 22px;
      margin-top: 24px;
      text-align: center;
      overflow: hidden;
      height: 44px;
    }
  }
}
.hotKind {
  width: 218px;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  :global {
    .hot-kind-icon {
      width: 88px;
      height: 88px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f7f7f7;
      border-radius: 38px;
      cursor: pointer;
      transition: all 0.4s;

      .kind-icon {
        font-size: 35px;
      }

      &:hover {
        background: #fff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
        //transform: scale(1.1);
        transition: all 0.4s;
      }
    }

    .hot-kind-detail {
      width: 118px;
      font-size: 16px;
      font-weight: 550;
      color: #333;
      line-height: 22px;
      text-align: center;
    }
  }
}
