.shipCostComponent {
  :global {
    .ship-cost-modal {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 1000;

      .ship-cost-box {
        width: 600px;
        background-color: #fff;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;

        .ship-cost-title {
          width: 100%;
          height: 50px;
          line-height: 50px;
          position: relative;
          background: #F9F8F8;
          border-radius: 4px 4px 0px 0px;

          .closeIcon {
            font-size: 14px;
            color: #666666;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }

        .ship-cost {
          width: 100%;
          padding: 20px 45px 0 45px;
          .ship-cost-item {
            display: flex;
            height: 38px;
            margin-bottom: 20px;
          }
          .label {
            width: 190px;
            font-size: 14px;
            color: #333333;
            font-weight: 600;
            line-height: 38px;
            margin-right: 20px;
            text-align: right;
          }

          .content {
            font-size: 14px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 400;
            color: #666666;
            line-height: 38px;
          }

          .select-box {
            width: 300px;
            height: 38px;
            line-height: 38px;
            background: #FFFFFF;
            border-radius: 4px;
            border: 1px solid #D9D9D9;
            font-size: 14px;
            color: #999999;
            position: relative;
            margin-bottom: 20px;
            cursor: pointer;

            .select-text {
              width: 100%;
              height: 100%;
              padding-left: 20px;
              position: relative;

              .icon {
                width: 0;
                height: 0;
                border-top: 5px solid #999999;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
              }
            }

            .list-box {
              position: absolute;
              top: 39px;
              left: -1px;
              right: -1px;
              border: 1px solid #ccc;
              border-radius: 2px;
              background-color: #fff;
              z-index: 1;

              .list {
                max-height: 340px;
                padding: 4px 0;
                overflow: auto;
                background: #fff;
                border-radius: 2px;

                .country-item {
                  padding-left: 22px;
                  position: relative;

                  .yes-img {
                    width: 15px;
                    height: 10px;
                    position: absolute;
                    left: 2px;
                    top: 50%;
                    transform: translateY(-50%);
                  }

                  &:hover {
                    background: rgba(239, 239, 239, 0.7);
                  }
                }
              }
            }
          }

          .item {
            display: flex;
            margin-bottom: 7px;
          }
        }


        .bottom-btn-box {
          width: 100%;
          text-align: center;
          padding: 20px 0;
          box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.05);
          border-radius: 0px 0px 4px 4px;

          button {
            width: 80px !important;
            height: 30px !important;
            line-height: 30px !important;
            border-radius: 4px;
            font-size: 14px;
          }

          .close-btn {
            color: var(--color-font-1) !important;
            border: 1px solid var(--color-line-1) !important;
            background: var(--color-bg-14) !important;
            //border: 1px solid var(--color-line-1) !important;
            //background: var(--color-bg-14) !important;
            //color: var(--color-font-1) !important;
            margin-right: 15px;

            &:hover {
              background: var(--color-bg-14-1) !important;
            }
          }

          .confirm-btn {
            // color: #fff;
            // background: linear-gradient(90deg, #FFCC75 0%, #F78E29 100%);
            background: var(--color-theme-1)!important;
            color: var(--color-font-4)!important;
            border: none;

            &:hover {
              background: var(--color-theme-1-1)!important;
            }
          }

          .confirm-btn.vip {
            // color: #fff;
            // background: linear-gradient(135deg, #F2D7A1 0%, #DFAD65 100%);
            background: var(--color-theme-1-vip)!important;
            color: var(--color-font-4) !important;
            border: none;

            &:hover {
              background: var(--color-theme-1-1-vip)!important;
            }
          }
        }
      }
    }

    .second-modal {
      background-color: rgba(0, 0, 0, 0.3) !important;
    }

    .ship-cost-modal.isVip {
      .ship-cost-box {
        .bottom-btn-box {
          .confirm-btn {
            background: linear-gradient(135deg, #F2D7A1, #DFAD65);

            &:hover {
              background: #DDA863;
              border: none;
            }
          }
        }
      }

    }
  }
}