.addAddressComponent{
  :global {
	.address-warp{
	  .confirm-main{
		width: 500px;

		.confirm-close-hover:hover {
			color: var(--color-theme-1);
		}
		.form-box {
		  label {
				margin-bottom: 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				> span:first-child {
					text-align: right;
					width: 105px;
					margin-right: 5px;
				}
				.default-txt{
					width: auto;
					text-align: left;
				}
				input, select {
					width: 300px;
					height: 38px;
					padding: 0 8px;
					border-radius: 4px;
					border: 1px solid rgba(228, 228, 228, 1);
				}
				.is-default {
					margin: 0 8px 0 -20px;
					cursor: pointer;
				}
				.select2-container .select2-selection--single {
					text-align: left;
					height: 38px;
					border: 1px solid #e4e4e4;
				}
				.select2-container--default .select2-selection--single .select2-selection__rendered {
					line-height: 38px;
				}
				.select2-container--default .select2-selection--single .select2-selection__arrow {
					height: 38px;
				}
		  }
		}
		.confirm-btn-box{
		  box-shadow: 0 -2px 3px 0 rgba(0,0,0,0.05);

			.yes-btn {
				background: var(--color-theme-1);
				&:hover {
					background: var(--color-theme-1-1);
				}
			}
		}
	  }
	}
	.address-warp.isVip {
		.confirm-close-hover:hover {
			color: var(--color-theme-1-vip);
		}
		.yes-btn {
			background: var(--color-theme-1-vip);
			&:hover {
				background: var(--color-theme-1-1-vip);
			}
		}
	}
  }
	
}
:global {
	.select2-results__option[aria-selected]{
		font-size: 12px;
	}
}