// 公共样式 控制主体文字 div 颜色
@grey: #666;
@black: #333;
@theme: #ffb900;
@backColor: rgba(242, 247, 250, 1);
@backThemeColor: #fcf4d9;
@borderColor: #e1e1e1;
@describeColor: #b0aaad;
@green: #52c41a;
@orange: #fa8c15;
@blue: #1891ff;
