/* 此文件用于覆盖样式 谨慎使用 */
/*重置样式*/
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

body #root-master {
  width: 100%;
  height: 100%;
}
main {
  overflow-y: auto;
}

/* 分页全局样式 start */
.ant-pagination-item-active {
  background-color: #ffb900 !important;
  border-color: #fff !important;
}

.ant-pagination-item {
  border-radius: 6px !important;
}

.ant-pagination-item-active a {
  color: #fff !important;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border-radius: 6px !important;
}
.ant-table-pagination.ant-pagination {
  margin-bottom: 0 !important;
}
.ant-pagination-options-quick-jumper input {
  margin-right: 0 !important;
}
/* 分页全局样式 end */

/* 所有表格表头 统一 start */
.ant-table-container table > thead > tr:first-child th {
  background: #fcf4d9 !important;
  color: #8b572a !important;
}
/* 所有表格表头 统一 end */

.ant-form {
  &-item {
    &-control {
      .ant-checkbox-group {
        width: 100%;
      }
    }
  }
}

.ant-descriptions-item-content {
  color: grey;
}

// 在Table中的expandRow中的descriptions的table调整
tr.ant-table-expanded-row .ant-descriptions .ant-descriptions-view {
  padding-left: 50px;

  table {
    width: 100%;
  }
}

// 上传禁用按钮样式
.ant-upload.ant-upload-disabled {
  color: #bfbebe;
}

/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
  height: 50px;
  outline-offset: -2px;
  outline: 2px solid #fff;
  -webkit-border-radius: 4px;
  border: 2px solid #fff;
}

/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  -webkit-border-radius: 4px;
}

/*---滚动条大小--*/
::-webkit-scrollbar {
  width: 15px;
  height: 12px;
}

/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
}

::-webkit-scrollbar-track {
  background-color: #eee;
} /* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
  background-color: #ffb900;
} /* 滑块颜色 */
::-webkit-scrollbar-button {
  background-color: #fcf4d9;
} /* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
  background-color: black;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
