.search-form {
  .other {
    max-width: 950px;
  }
  .search-btns {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}

.l-table-row-active {
  > td {
    background: #ffb900 !important;
    color: white !important;
  }
}
