<div class="footer">
    <div class="forfoo-con">
        <a ng-if="isuseLink" ng-href="{{useLink}}">Terms Of Use</a>
        <a ng-if="ispolicyLink" ng-href="{{policyLink}}">Privacy Policy</a>
        <a ng-if="iscj == '1'" href="https://cjdropshipping.com/faq/">Help</a>
        <a ng-if="iscj == '1'" href="https://developers.cjdropshipping.com" target="_blank">API</a>
        <span><span class="copyright-logo">©</span>2014 - {{year}} CJdropshipping.com All Rights Reserved.</span>
    </div>
</div>
<style>
  .footer {
    position:absolute; 
    width: 100%; bottom: 0; 
    line-height: 24px; 
    margin-bottom: 16px; 
    color: #c1c1c1; 
    text-align:center;
    font-size: 14px;
  }
  .forfoo-con a {
    color: #c1c1c1;
    padding: 0 15px;
    border-right: 1px solid #c1c1c1;
  }
  .forfoo-con span {
    padding: 0 15px;
  }
  .footer .forfoo-con .copyright-logo {
    padding: 0 5px 0 0;
  }
</style>