<div class="source-top">
  <a href="home.html">
    <img class="app-logo" ng-src="{{logo}}">
  </a>
  <a class="pc-register pc-top-a" target="_blank" ng-href="{{saleman?'register.html' + '?ma='+saleman : 'register.html'}}">Register</a>
  <a class="pc-signin pc-top-a" target="_blank"  ng-href="{{saleman?'login.html' + '?ma='+saleman : 'login.html'}}">Sign In</a>
  <a class="phuser-info">
    <img ng-click="showListFun()" src="static/image/public-img/more.png">
    <ul class="phuser-list" ng-show="phUserInfoFlag" ng-cloak>
      <li>
        <a ng-href="{{saleman?'login.html' + '?ma='+saleman : 'login.html'}}">Sign In</a>
      </li>
      <li>
        <a ng-href="{{saleman?'register.html' + '?ma='+saleman : 'register.html'}}">Register</a>
      </li>
    </ul>
  </a>
</div>