.d-flex-items-center {
    display: flex;
    align-items: center;
}

.common-header .header-search-fixed {
    position: fixed;
    top: 0;
    z-index: 10000;
    /* box-shadow: 0 1px 6px rgba(0, 0, 0, .15); */
    box-shadow: 0 0 7px -3px rgba(0, 0, 0, 0.33);
}

.common-header {
    width: 100%;
}

.quick-navigation a.active {
    color: #FF7700 !important;
}

/*------新版首页-------*/

/*币种----------------*/
.header-nav .currency {
    /* width: 210px; */
    width: 170px;
}

.header-nav .currency .split {
    padding: 0 4px 0px 4px;
    position: relative;
    top: -1px;
}

.national-flag {
    position: relative;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.national-flag img {
    width: 24px;
    height: 18px;
    /* margin-top: 10px; */
    box-shadow: 0 0 1px #ccc;
}

.ship-to-span .icon-flag {
    margin-left: 4px;
}
.ship-to-span {
    display: flex;
    align-items: center;
}
.ship-to-span .currency,
.ship-to-span .select-title {
    width: initial;
    max-width: 80px;
    /* display: inline-block; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.national-flag:hover {
    color: #FF7700;
}

.national-flag:hover:after {
    border-color: #FF7700 transparent transparent transparent;
}

.national-flag .select-wrap {
    position: absolute;
    top: 44px;
    left: 0px;
    width: 240px;
    /* padding: 14px; */
    box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.33);
    background: #fff;
    border-radius: 4px;
    z-index: 999;
    color: #40424C;
    text-align: left;
    line-height: normal;
}
.select-wrap .box {
    padding: 14px;
    color: #333;
    transition: 0.5s;
}
.select-wrap .box .select-title{
    line-height: 21px;
}
.select-wrap .box .info-show {
    position: relative;
    margin: 10px 0;
    border-radius: 2px;
    border: 1px solid #ccc;
    line-height: 34px;
    padding: 0 9px;
}
.select-wrap .box .info-show img {
    margin-right: 0.8rem;
}
.select-wrap .box .info-show .icon {
    width: 0;
    height: 0;
    border-top: 5px solid #999999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.select-wrap .box .select-box {
    position: absolute;
    top: 34px;
    left: -1px;
    right: -1px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    z-index: 1;
}
.select-wrap .box .select-box .select-list {
    max-height: 340px;
    padding: 4px 0;
    overflow: auto;
    background: #fff;
    border-radius: 2px;
}
.select-wrap .box .select-box .select-list .select-item {
    padding-left: 22px;
    position: relative;
}
.select-wrap .box .select-box .select-list .select-item:hover {
    background: rgba(239, 239, 239, 0.7);
}
.yes-img {
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
}
.select-list .select-item .item-flg-img {
    width: 24px;
    margin-right: 4px;
    vertical-align: middle;
    border-style: none;
}

.national-flag .current-select{
    appearance: none;
    -webkit-appearance: none;
    border: 0 none;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 25%;
    width: 100%;
    z-index: 9;
    background: none;
    height: 100%;
}
.national-flag .flag-save {
    text-align: center;
    /* padding: 2px 0; */
    border-radius: 4px;
    background: #FF7700;
    color: #fff;
    cursor: pointer;
    line-height: 34px;
}

.national-flag .current-wrap {
    cursor: pointer;
    width: 212px;
    height: 36px;
    margin: 10px 0;
}

.national-flag .current {
    position: relative;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0 9px;
    width: 212px;
    height: 36px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.national-flag .current .text {
    margin-right: 1rem !important;
}

.national-flag .current.show-list {
    border-radius: 4px 4px 0 0;
}

.national-flag .current-top {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.national-flag .current:after {
    content: '';
    position: absolute;
    top: 44%;
    right: 10px;
    border-color: #40424C #fff #fff #fff;
    border-style: solid;
    border-width: 5px 5px 0 5px;
}

.national-flag .current img {
    /* margin-right: 4px; */
}

.national-flag .select-flag-wrap {
    position: absolute;
    left: -1px;
    right: -1px;
    z-index: 1;
    top: 34px;
}
.national-flag .select-flag-search input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0 9px;
    height: 42px;
    line-height: 25px;
}

.national-flag .select-flag-group {
    width: 100%;
    max-height: 160px;
    padding: 4px 9px;
    overflow: auto;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.national-flag .select-flag-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*----------------------*/
.common-header .content {
    width: 1200px;
    margin: 0 auto;
}

.common-header .header-nav {
    background-color: #40424C;
    line-height: 38px;
}

.header-nav-content {
    font-size: 14px;
    /*font-family: PingFangSC-Medium;*/
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.common-header .triangle-after:after {
    content: '';
    display: none;
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    height: 0;
    width: 0;
    /* margin-left: 10px; */
    margin-left: 6px;
}
.quick-navigation{
    display: flex;
}
.quick-navigation-item{
    flex: 1;
    position: relative;
    /* padding: 0 18px; */
}
.quick-navigation-item:after {
    content: "";
    position: absolute;
    height: 40%;
    width: 1px;
    background-color: #fff;
    top: 30%;
    right: -0.15px;
}
.quick-navigation-item:last-child:after {
    content: "";
    display: none;
    position: absolute;
    height: 40%;
    width: 1px;
    background-color: #fff;
    top: 30%;
    right: 0;
}
.quick-navigation-item:hover{
    cursor: pointer;
}
.quick-navigation-item.width a{
    /* width: 140px;
    text-align: center;
    padding:0; */
}
.quick-navigation-item>a {
    font-size: 14px;
    /* line-height: 16px; */
    font-weight: 500;
    color: rgba(255, 255, 255, 1) !important;
    padding: 0 18px;
    /* border-right: 1px solid #fff; */
    display: inline-block;
    white-space: nowrap;
    text-decoration: none !important;
}
.quick-navigation-item:hover>a {
    color: #FF7700 !important;
}

.quick-navigation-item:first-child>a{
    /* padding-left: 0; */
}

.quick-navigation-item:last-child>a{
    border-right: none;
    /* padding-right: 0; */
}
.quick-navigation-item.list>a{
    /* width: 130px; */
    /* padding: 0; */
    /* text-align: center; */
}
.quick-navigation-item.list>a:after{
    content: '';
    display: none;
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    height: 0;
    width: 0;
    margin-left: 5px;
    position: relative;
    top: 11px;
}
.quick-navigation-item.list .child-list a {
    display: block;
    color: #666;
    text-decoration: none;
    text-align: left;
    padding: 0 13px;
}
.quick-navigation-item.list .child-list a:hover{
    color: #FF7700;
}

.quick-navigation-item.list:hover>a:after{
    content: '';
    display: none;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: transparent transparent #FF7700;
    top: -11px;
}
.quick-navigation-item.list:hover .child-list{
    opacity: 1;
    transition: 0.5s;
    z-index: 4;
}
.quick-navigation-item.list:hover .child-list.Authorization-box{
    height: 304px !important;
}
.quick-navigation-item.list:hover .child-list.Warehouses-box{
    height: 440px !important;
    overflow-y: auto;
    padding-bottom: 30px;
}
.quick-navigation-item .myCJOutLine {
    display: inline-block; 
    width: 100px; 
    height: 38px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 12px;
    cursor: pointer;
    padding: 0;
    color: #fff;
}
.my-cj-box {
    position: relative;
    padding-left: 19px;
    width: 100px;
    text-align: center;
}
.my-cj-box svg *{ 
    stroke: #fff;
}
.my-cj-box:hover svg *{ 
    stroke: #ff7700;
}
.quick-navigation-item:hover #my-cj{ 
    color: #ff7700;
}
@keyframes fadeInDown {
    0% {
        transform: translate3d(0, -10%, 0);
    }

    50% {
        transform: translate3d(0, 10%, 0);
    }

    100% {
        transform: translate3d(0, -10%, 0);
    }
}
.arrow-container .arrow {
    transition: 0.5s height;
    background-color: #fff;
    overflow: hidden;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 187px;
    color: #999;
    height: 0;
    text-align: center;
    /* box-shadow: 0 -1px 5px rgba(0,0,0,0.08); */
    border-radius: 0 0 4px 4px;
}
.quick-navigation-item.list:hover .arrow {
    height: 30px;
}
.arrow-container .arrow i {
    font-size: 12px;
    display: inline-block;
    animation: fadeInDown 1000ms infinite;
}
.arrow-container .arrow i::before {
    display: inline-block;
    /* transform: rotate(90deg); */
}
.arrow-container .arrow.deg {
    box-shadow: none;
}
.arrow-container .arrow.deg i::before {
    transform: rotate(-180deg);
}
.quick-navigation .child-list-box{
    z-index: 1000;
    left: 0;
    position: absolute;
    top: 40px;
}
.quick-navigation .child-list{
    /* min-width: 180px; */
    min-width: 100%;
    margin-top: 6px;
    text-align: center;
    color: #666;
    box-shadow: 0px 0px 4px 1px rgba(213, 212, 212, 0.48);
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: 0.5s;
}
.quick-navigation .child-item{
    line-height: 38px;
    background: rgba(255, 255, 255, 1);
    height: 38px;
    padding: 0 5px;
    font-size: 14px;
    white-space: nowrap;
}
.quick-navigation .child-item:hover{
    background: rgba(255, 119, 0, .2);
    color: #f70;
}

.common-header .login-register {
    /* width: 300px; */
    width: 370px;
}

.common-header .not-logged {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.common-header .not-logged .sign {
    margin-right: 28px;
}

.common-header .not-logged a {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.common-header .not-logged a:hover {
    color: #FF7700;

}

.common-header .register-box {
    width: 96px;
    height: 28px;
    /* line-height: 28px; */
    border-radius: 2px;
    border: 1px solid #FF7700;
    color: #FF7700;
    background-color: unset;
    /* margin-left: 1.5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.common-header .register-box:hover {
    border: 1px solid  #FB9600;
}

.common-header .register-box .ml-4 {
    margin: 0;
    color: #FF7700;
    margin-left: 0 !important;
}

.common-header .register-box .ml-4:hover {
    color: #FB9600;
}

.common-header .sjb-icon {
    left: -100000px;
}

.common-header .not-logged .sign i {
    margin-right: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../image/CJ-home/icon_profile@2x.svg");
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.common-header .sign:hover i {
    background-image: url("../../image/CJ-home/icon_profile copy@2x.png");
}
.common-header .has-logged {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.common-header .support {
    position: relative;

}

.common-header .user-operating {
    position: relative;
    margin-right: 17px;
    justify-content: center;
    /* height: 40px; */
    height: 38px;
}

.common-header .avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 6px;
}

.common-header .name-box{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.message{
    /* width: auto; */
    /* margin-right: 20px; */
    /* cursor: pointer; */
}
.mes-img-logo1{
    display: none;
}
.message:hover .mes-img-logo1{
    display: inline-block;
}
.iconMessage{
    color: #fff;
}

.common-header .user-operating .user-ul {
    width: auto !important;
    background: rgba(255, 255, 255, 1);
    /* box-shadow: 0px 0px 4px 1px rgba(213, 212, 212, 0.48); */
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.14);
    border-radius: 4px;
    position: absolute;
    top: 46px;
    left: -20px;
    z-index: 10000;
    opacity: 0;
    transition: .5s;
    height: 0;
    overflow: hidden;
}

.common-header .user-operating .user-ul li {
    padding: 0 18px;
}

.common-header .support:hover .support-ul {
    opacity: 1;
    transition: .5s;
    height: 152px;
}

.common-header .support .support-ul {
    width: auto !important;
    min-width: 145px;
    /* left: -20px; */
    right: 0;
}

.common-header .user-operating:hover .user-ul {
    opacity: 1;
    transition: .5s;
    height: 228px;
}

.common-header .user-ul:hover {
    overflow: initial;
}

.common-header .tool:hover .tool-ul {
    display: block;
    opacity: 1;
    height: initial;
    top: 0;
    left: initial;
    right: calc(100% - 1px);
}

.common-header .support:hover, .common-header .user-operating:hover {
    color: #FF7700;
}

.common-header .user-operating:hover .name-box{
    color: #fff;
}

.common-header .hover-arrow:hover:after {
    content: '';
    display: none;
    vertical-align: middle;
    /* margin-left: 10px; */
    width: 0;
    height: 0;
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent #FF7700;
}

.common-header .login-register ul {
    width: 172px !important;
    background: rgba(255, 255, 255, 1);
    /* box-shadow: 0px 0px 4px 1px rgba(213, 212, 212, 0.48); */
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.14);
    border-radius: 4px;
    position: absolute;
    top: 46px;
    /* left: 0; */
    z-index: 10000;
    opacity: 0;
    transition: .5s;
    height: 0;
    overflow: hidden;
}

.common-header .login-register li {
    display: flex;
    align-items: center;
    height: 38px;
    background-color: #fff;
    /* background: rgba(255,119,0,1); */
    line-height: 38px;
    font-size: 14px;
    /*font-family: PingFangSC-Regular;*/
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    padding-left: 18px;
    z-index: 100;
}

.common-header .login-register li:nth-child(1) {
    border-radius: 4px 4px 0px 0px;
}

.common-header .login-register li:last-child {
    border-radius: 0px 0px 4px 4px;
}

.common-header .login-register li a {
    font-size: 14px;
    /*font-family: PingFangSC-Medium;*/
    font-weight: 400;
    color: #333333;
    text-align: left;
    width: calc(100% - 46px);
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

.common-header .tool-ul li a{
    width: 100%;
}

.common-header .login-register li:hover {
    background: rgba(255, 119, 0, .2);
}

.common-header .login-register li:hover a {
    color: #FF7700;
}
.common-header .login-register li:hover span {
    color: #FF7700 !important;
}
.common-header .login-register li:hover p {
    color: #FF7700 !important;
}

.common-header .support-ul li i.ticket {
    background-image: url("../../image/CJ-home/icon_ticket@2x.png");
}

.common-header .support-ul li i.tutorial {
    background-image: url("../../image/CJ-home/icon_Tutorial@2x.png");
}

.common-header .support-ul li i.faq {
    background-image: url("../../image/CJ-home/icon_FAQ@2x.png");
}

.common-header .support-ul li i.facebook {
    background-image: url("../../image/CJ-home/icon_facebookcopy@2x.png");
}

.common-header .support-ul li i {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.common-header .support-ul li:hover i {
    color: #FF7700;
}
.common-header .support-ul li i.newuser {
    background-image: url("../../image/CJ-home/icon_guide copy@2x.png");
}

.common-header .support-ul li:hover i.ticket {
    background-image: url("../../image/CJ-home/icon_ticket copy@2x.png");
}

.common-header .support-ul li:hover i.tutorial {
    background-image: url("../../image/CJ-home/icon_Tutorial Copy@2x.png");
}

.common-header .support-ul li:hover i.faq {
    background-image: url("../../image/CJ-home/icon_FAQ Copy@2x.png");
}

.common-header .support-ul li:hover i.facebook {
    background-image: url("../../image/CJ-home/icon_facebook@2x.png");
}

.common-header .support-ul li:hover i.newuser {
    background-image: url("../../image/CJ-home/icon_guide@2x.png");
}

.user-operating .user-ul {
    width: 120px !important;
}

.user-operating .user-name {
    max-width: 70px;
    overflow: hidden;
    line-height: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    font-weight: 500;
    /* margin-left: 5px; */
}

.common-header .user-ul li:hover .tool-ul a {
    color: rgba(51, 51, 51, 1);
}


.common-header .tool-ul {
    position: absolute;
    left: 120px;
    top: 0px;
    display: none;
    height: initial;
    opacity: 1;
}

.common-header .tool-ul li:hover a {
    color: #FF7700 !important;
}

.header-search {
    width: 100%;
    height: 78px;
    background: rgba(255, 255, 255, 1);
}

.header-search .logo {
    width: 200px;
    height: 40px;
}

.header-search-content {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.header-search-content .search {
    display: flex;
    align-items: center;
    position: relative;
    /* width: 660px; */
    width: 100%;
    margin: 0 10px;
    border-top-left-radius: 2px!important;
    border-bottom-left-radius: 2px!important;
}

.header-search-content .search-box {
    width: calc(100% - 64px);
    /* width: 100%; */
    display: flex;
    border: 1px solid #cccccc;
    height: 38px;
    border-top-left-radius: 2px!important;
    border-bottom-left-radius: 2px!important;
}


.header-search-content .img-upload {
    width: 20px;
    height: 20px;
    margin-right: 1px;
    margin-bottom: 1px;
}

.header-search-content .img-upload:hover {
    cursor: pointer;
}

.header-search-content label {
    /* line-height: 33px;
    position: relative;
    width: 32px; */
    line-height: 36px;
    position: relative;
    width: 32px;
    height: 36px;
    text-align: center;
    margin: 0 !important;
}

.header-search-content .layer {
    width: 220px;
    height: 30px;
    background:rgba(0,0,0,0.5);
    font-size: 12px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 999;
}

.header-search-content input {
    width: 100%;
    /* height: 38px; */
    border-radius: 2px 0px 0px 2px;
    /* border: 1px solid rgba(189, 189, 189, 1); */
    border-right: none;
    padding: 0 10px 0 8px;
    font-size: 14px;
    /*font-family: PingFangSC-Medium;*/
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
}

.header-search-content input::placeholder {
    color: #999;
    font-size: 12px;
}

.header-search-content .category {
    padding: 0 15px 0 0;
    color: #333333;
    font-size: 12px;
    /*font-family: PingFangSC-Medium;*/
    font-weight: 500;
    /*position: absolute;*/
    /*right: 80px;*/
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    line-height: 36px;
    /* border-top: 1px solid rgba(189, 189, 189, 1);
    border-bottom: 1px solid rgba(189, 189, 189, 1); */
}

.header-search-content .category:before {
    content: '';
    width: 1px;
    background-color: #DDDDDD;
    height: 20px;
    margin: 0 15px;
}

.header-search-content .category:after {
    content: '';
    border-color: #BDBDBD transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    height: 0;
    width: 0;
    margin-left: 15px;
}

.category-ul {
    width: 243px;
    background-color: #fff;
    box-shadow: 0px 1px 4px 1px rgba(213, 212, 212, 0.48);
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 100;
    border-radius: 2px;
    overflow: hidden;
    text-align: left;
}

.category-ul li {
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    color: #666666;
    font-size: 14px;
    /*font-family: PingFangSC-Regular;*/
    font-weight: 400;
    cursor: pointer;
}

.category-ul li:hover {
    background: rgba(255, 119, 0, .2);
    color: #FF7700;
}

.header-search-content .search-btn {
    width: 64px;
    height: 38px;
    background: #f70;
    border-radius: 0px 2px 2px 0px;
    line-height: 34px;
    text-align: center;
    padding-top: 1px;
    cursor: pointer;
}

.header-search-content .search-btn:hover{
    background-color: #F90;
}

.header-search-content .search-btn i {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../image/CJ-home/icon_search@2x.png);
    width: 24px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
}

.header-search-content .img-box {
    display: flex;
    border-radius:2px;
    margin: 3px 0 3px 8px;
}

.header-search-content .img-box img {
    width: 30px;
    padding: 1px 0 1px 1px;
}

.header-search-content .img-clear {
    align-self: center;
    padding: 0 7px;
    cursor: pointer;
}

.header-search-content .see-more {
    background-color: #FF7700;
    border-radius: 2px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    /* width: 170px; */
    font-size: 14px;
    position: relative;
    cursor: pointer;
    padding: 0 28px;
}
.header-search-content .see-more span{
    display: block;
    width: max-content;
}

.header-search-content .see-more:hover {
    background-color: #F90;
    color: #fff;
}

.header-search-content .see-more:hover .third-party {
    height: 160px;
    opacity: 1;
    transition: .5s;
}

.header-search-content .third-party {
    position: absolute;
    top: 45px;
    left: 0;
    width: max-content;
    min-width: 100%;
    font-size: 14px;
    /*font-family: PingFangSC-Regular;*/
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 1px 4px 1px rgba(213, 212, 212, 0.48);
    overflow: hidden;
    border-radius: 2px;
    z-index: 100;
    height: 0;
    opacity: 0;
    transition: .5s;
}
.header-search-content .third-party li {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 8px;
}

.header-search-content .third-party li:hover {
    /*background-color: #FF7700;*/
    background: rgba(255, 119, 0, .2);
    color: #FF7700;
    cursor: pointer;
}

.header-search-content .third-party li:last-child {
    border: none;
}

.header-search-content .addToQueue {
    /* width:116px; */
    height:39px;
    display: flex;
    background:#f70;
    border-radius:2px;
    margin-left: 10px;
    padding: 0 0.8rem;
    align-items: center;
    justify-content: center;
    font-size:14px;
}
.header-search-content .addToQueue:hover{
    cursor: pointer;
    background:#f90;
}
.addToQueue .iconfont {
    color: #fff;
    /* font-size:20px; */
}
.addToQueue .tit {
    color:#fff;
    margin: 0 2px;
    width: max-content;
}

.addToQueue .todo {
    background:#fff;
    border-radius:9px;
    color:rgba(255, 119, 0, 1);
    padding: 2px 4px;
    line-height: 1;
    margin-left: 1px;
}

.freight-calculation{
    width:38px;
    height:38px;
    background-color:#f70;
    margin-left:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.freight-calculation a {
    text-decoration: none !important;
}

.freight-calculation:hover{
    background: #f90;
}

.freight-calculation i.iconfont{
    color:#fff;
    font-size:25px;
}

/* ------------------------------------------------------------------ */
.common-header .Category {
    height: 41px;
    line-height: 40px;
    background: rgba(255, 119, 0, 1);
    width: 263px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    /*font-family: PingFangSC-Medium;*/
    font-weight: 500;
    position: relative;
    float: left;
}

.common-header .first {
    width: 263px !important;
    font-size: 14px;
    /*font-family: PingFangSC-Regular;*/
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    z-index: 99999;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 41px;
    display: none;
    box-shadow: 0px 2px 10px 0px rgba(200, 200, 200, 0.5);
}

.common-header .firstLi {
    height: 38px;
    line-height: 38px;
    width: 100%;
    padding: 0 18px;
    cursor: pointer;
    text-align: left;
    position: relative;
    z-index: 100;
    font-size: 14px;
}

.common-header .firstAct {
    background: rgba(255, 119, 0, 1);
    color: #fff;
}

.common-header .firstAct:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: 7px 0 7px 7px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(255, 119, 0, 1);
    position: absolute;
    top: 12px;
    right: -7px;
}

.common-header .second {
    width: 716px;
    min-height: 494px;
    position: absolute;
    top: 0;
    left: 263px;
    background: #fff;
    padding: 0 15px;
    box-shadow: 6px 2px 10px 0px rgba(200, 200, 200, 0.5);
}

.common-header .second li {
    width: 100%;
    border-bottom: 1px dashed #E4E4E4;
    /*height: 43px;*/
    line-height: 43px;
    text-align: left;
}

.common-header .second li:last-child {
    border-bottom: none;
}

.common-header .Secondl {
    width: 214px;
    display: inline-block;
}

.common-header .SecondName {
    font-size: 12px;
    /*font-family: PingFangSC-Medium;*/
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    float: left;
    cursor: pointer;
}

.common-header .r-cor {
    font-size: 20px;
    /*font-family: PingFangSC-Medium;*/
    font-weight: 500;
    color: rgba(255, 119, 0, 1);
    float: right;
    vertical-align: middle;

}

.common-header .thid {
    display: inline-block;
    margin-left: 10px;
    width: 460px;
}

.common-header .thid li {
    font-size: 12px;
    /*font-family: PingFangSC-Regular;*/
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    float: left;
    width: initial !important;
    border-bottom: none !important;
}

.common-header .thid li:nth-child(1) a {
    border-left: 1px solid #D8D8D8;
}

.common-header .thid li a {
    line-height: 17px;
    color: rgba(102, 102, 102, 1);
    padding: 0 7px;
    border-right: 1px solid #D8D8D8;
}

.common-header .thid li a:hover, .common-header .SecondName:hover {
    color: #FF7700;
    text-decoration: underline;
}

.common-header .Category i {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../image/CJ-home/category@2x.png");
    width: 16px;
    height: 16px;
    margin-left: 16px;
    vertical-align: middle;
    display: inline-block;
}

.NoPrintData {
    color: #e6e5e6 !important;
    pointer-events: none;
}

/* bootstrap4 */
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header-search-box{
    width: 100%;
    height: 80px;
}
/* 供应商店铺 */
.header-search-box .shop-name{
    width: 279px;
    border-left: #D8D8D8 1px solid;
}
.header-search-box .shop-name{
    position: relative;
    display: flex;
    overflow: hidden;
    margin-left: 10px;
    justify-content: start;
    align-items: center;
    margin-right: 40px;
}
.header-search-box .shop-icon{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    vertical-align: middle;
    margin-left: 10px;
    border-radius: 10px;
    /* overflow: hidden; */
    border: 1px solid #e9e9e9;
}
.shop-name-wrap .shopname{
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.shop-name-wrap .shop-rank{
    display: inline-block;
    padding: 2px;
    line-height:20px;
    background:rgba(74,144,226,1);
    border-radius:4px;
    font-size: 12px;
    color: #fff;
}
.shop-name-wrap .shop-rank:hover{
    cursor: pointer;
    background: #0E5FBD;
}
.header-search-box .search-panel{
    display: flex;
}
.header-search-box .search-combobox{
    width:560px;
    height:39px;
    border-radius:2px 0px 0px 2px;
    border:1px solid rgba(189,189,189,1);
    border-right: 0 none;
}
.header-search-box .search-combobox-input{
    color: #333333;
    margin:8px 5px;
    line-height: 20px;
    font-size: 12px;
}
.header-search-box .search-panel .local{
    width:120px;
    line-height:37px;
    color: #fff;
    background:#f70;
    border-radius:0px 2px 2px 0px;
    text-align: center;
    display: inline-block;
    border-radius: 0 4px 4px 0;
}
.header-search-box .search-panel .global{
    display: inline-block;
    width:120px;
    line-height:37px;
    background:rgba(255,119,0,0.2);
    border-radius:2px;
    border:1px solid rgba(255,119,0,1);
    text-align: center;
    color: #FF7700;
    margin-left: 10px;
    border-radius: 4px;
}
.header-search-box .search-panel .local:hover,
.header-search-box .search-panel .global:hover{
    cursor: pointer;
}
.header-search-box .search-panel .local:hover{
    background-color: #F78E29;
}
.header-search-box .search-panel .global:hover{
    background:rgba(255,119,0,0.3);
}
.hover {
    color: #ff7700;
}

.no-hover {
    color: #999;
}

.hover-boder {
    border: 1px solid #ff7700;
}

.no-hover-boder {
    border: 1px solid rgba(242, 242, 242, 1);
}

@-webkit-keyframes heartBeat {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    14% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  
    28% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    42% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  
    70% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes heartBeat {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    14% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  
    28% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    42% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  
    70% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

.addToQueue .todo.heartbeat{
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count:2;
}
.header-user-ul-item .iconfont{
    position: relative;
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}
.header-user-ul-item:hover .iconfont{
    color: #f70;
}
.header-user-ul-item .iconfont::after{
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
}
.header-user-ul-item .profile-icon::after{
    content: '\e685';
}
.header-user-ul-item .wallet-icon::after{
    content: '\e67d';
}
.header-user-ul-item .coupons-icon::after{
    content: '\e66d';
}
.header-user-ul-item .toolicon::after{
    content: '\e680';
}
.header-user-ul-item .loginout-icon::after{
    content: '\e67e';
}
.header-user-ul-item .account-icon::after{
    content: '\e685';
}
  /* 圣诞节活动end */

/* 2019-12-17 搜索优化 */
.category-wrap{
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    position: relative;
}
.category-wrap .category-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background: #FF7700;
    border-radius: 2px;
}
.category-wrap .category-icon.isHover{
    background: #F78E29;
}
.category-wrap .category-icon>img{
    width: 38px;
}
.category-content{
    position: absolute;
    z-index: 9;
    top: 38px;
    left: 0;
}
.category-content .first-category-list{
    background: #fff;
    box-shadow: 0px 1px 4px 1px rgba(213, 212, 212, 0.48);
    padding: 10px 0;
}
.category-content .first-category-list .first-category-item{
    width: 240px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    cursor: pointer;
}
.category-content .first-category-list .first-category-item a {
   color: #666;
}
.category-content .first-category-list .first-category-item.active a {
    color: #FF7700;
}
.category-content .first-category-list .first-category-item.active{
    padding: 0 10px 0 20px;
}
.first-category-icon{
    width: 14px;
}
.second-category-list{
    width: 960px;
    min-height: 580px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 240px;
    z-index: 9;
    box-shadow: 0px 1px 4px 1px rgba(213, 212, 212, 0.48);
    padding: 0 0 32px 48px;
    box-sizing: border-box;
}
.second-category-content{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.second-category-item{
    width: 33%;
    padding: 48px 84px 0 0;
}
.second-category-item .second-category-title{
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #FF7700;
    padding-bottom: 10px;
    color: #333;
    margin-bottom: 6px;
    cursor: pointer;
}
.second-category-item .second-category-title a {
    color: #333;
}
.second-category-item .second-category-title:hover a{
    color: #FF7700;
}
.second-category-item ul>li{
    font-size: 12px;
    font-weight: 400;
    color: #666;
    padding: 5px 0;
    cursor: pointer;
}
.second-category-item ul>li a {
    color: #666;
}
.second-category-item ul>li:hover a{
    color: #FF7700;
}
  /* 圣诞节活动end */


  /* 首页消息提示 */
  .message{
      position: relative;
      color: #333;
      box-shadow:0px 4px 12px 0px rgba(0,0,0,0.15);
      border-radius:4px;
      transition:0.5s;
  }
  .index-message-box{
    position: absolute;
    z-index: 3;
    background-color: #fff;
    top: 46px;
    left: -190px;
    width: 413px;
    box-shadow: 0px 1px 9px 0px rgba(188, 188, 188, 0.35);
    border: 1px solid #f0f0f0;
    height:435px;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
    /* display: none; */
    /* visibility:hidden; */
    transition:0.5s;
    /* z-index: -1; */
  }
  .message.isTopHover .index-message-box{
      height: 435px;
      opacity: 1;
      /* width: 413px; */
      transition-property:height;
      /* transition-timing-function: linear;
      -webkit-transition-timing-function: linear; */
      transition:0.5s;
      /* visibility: visible; */
      z-index: 10;
  }
  .amount-total{
      position: relative;
      margin-right: 30px;
      cursor: pointer;
  }
  .all-count{
    position: absolute;
    top: 7px;
    left: 10px;
    height: 14px;
    min-width: 14px;
    width: max-content;
    border-radius: 50%;
    /* background-color: #C40B22; */
    background-color: #ff7700;
    font-size: 8px;
    line-height: 14px;
    text-align: center;
    color: #fff;
  }
  .all-count-lenth{
    position: absolute;
    top: 4px;
    left: 10px;
    height: 14px;
    width: 28px;
    border-radius: 14px;
    text-align: center;
    line-height: 14px;
    background: #C40B22;
    padding: 0 3px;
    color: #fff;
    font-size: 12px;
  }
  .sanjiao{
    position: absolute;
    top: -21px;
    left: calc(50% - 9px);
  }
  .message-box-title{
      /* text-align: center; */
      font-size: 14px;
      height: 24px;
      line-height: 24px;
      background: #999;
      box-shadow:0px 2px 4px 0px rgba(185,185,185,0.1);
  }
  .message-list-all{
     display: flex;
     font-size: 14px;
     justify-content: center;
     align-items: center;
     padding: 20px 0;
     /* height: 24px; */
     /* line-height: 24px; */
     /* border: 1px #ccc solid; */
}
.list-count{
    display: block;
    /* background: #C40B22; */
    background: #ff7700;
    float: right;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    color: #fff;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
}
.list-count-lenth{
    width: 28px;
    /* height: 14px; */
    border-radius: 14px;
    font-size: 12px;
    line-height: 10px;
    padding: 2px 3px;
}
.list-content-long{
    padding: 0 4px;
    box-sizing: content-box;
    border-radius: 10px;

}
.message-list-allTitle{
    width: 108px;
    border-right: 1px #999 solid;
}
.message-list-allTitle:nth-last-child(1){
    border-right: none;
    width: 184px;
  }
  .message-list-allTitle:nth-child(1){
    width: 118px;
  }
  .message-list-CJ{
      /* padding: 0 11px; */
      text-align: center;
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      border-right: 1px #999 solid;
      font-size:14px;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .message-list-CJ:nth-child(1){
    /* width: 108px; */
    text-align: center;
    /* padding: 0 13px; */
  }
  .message-list-CJ:nth-last-child(1){
    border-right: none;
    /* width: 184px; */
  }
  .message-list-CJ:nth-last-child(2){
      /* width: 118px; */
  }

  .list-font{
      float: left;
      margin-right: 5px;
  }
  .index-message-box{
    /* display: none; */
    cursor: pointer;
  }

  
  .login-register .message .index-message-box .message-list{
    width: 100% !important;
    text-align: center;
    opacity: 1;
    height: 334px;
    position: initial;
    box-shadow: none;
    border-top: 1px solid #E6E6E6;
    border-radius: 0;
    overflow-y: auto;
    height: 0;
    opacity: 0;
}
.login-register .message .not-found-data {
    text-align: center;
    background: none;
    padding-top: 100px;
}
.login-register .message .NodataList {
    color: #999;
    font-size: 14px;
    font-weight: 500;
    margin-top: 16px;
}
.message.isTopHover .message-list{
    opacity: 1 !important;
    height: 334px !important;
    transition: 0.5s;
}
.message .message-list .message-item{
    padding: 10px;
    height: auto;
    font-size: 16px;
    line-height: 30px;
    padding: 0 20px 0 26px;
}
.message .message-list .message-item:hover{
    background: rgba(239,239,239,0.7);
}
.message .message-list .message-item:hover p{
    color: #333 !important;
}
.message .message-list .message-item:hover span{
    color: #999 !important;
}
.message .message-list .message-item.has-red-yes a p{
    color: #999 !important;
}
.message .message-list .message-item.has-red-yes a span{
    color: #999 !important;
}
.message .message-list .message-item.has-read-yes p{
    color: #999 !important;
}
.message .message-list .message-item.has-read-yes span{
    color: #999 !important;
}
.message .message-list .message-item.isTop{
    background: rgba(255,119,0,0.2);
    border-bottom: 1px solid #fff;
}
.message .message-list .message-item.isTop .message-item-box{
    border-bottom: none;
}
.message .message-list .message-item.isTop p, .message .message-list .message-item.isTop span {
    color: #ff7700 !important;
}
.message .message-list .message-item .message-item-box{
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px dashed #E6E6E6;
    position: relative;
}
.message-item-box .mes-detail-titp{
    font-weight: 550;
}
.message-item-box .isTopBage{
    position: absolute;
    border: 10px solid transparent;
    border-top-color: #FF7700;
    border-left-color: #FF7700;
    top: 0;
    left: -27px;
}
.message-list .message-item a{
    overflow: hidden;
    width: 100% !important;
    justify-content: space-between;
    align-items: center;
    line-height: 16px;
    font-size: 14px;
}
.mes-left-detail{
    float: left;
    width: calc(100% - 90px);
}
.mes-right-time{
    float: right;
    width: 80px;
    text-align: right;
    margin-right: 10px;
    font-size: 12px;
}
.mes-left-detail p{
    font-size: 14px;
    line-height: 20px;
    font-family:PingFangSC-Regular,PingFang SC;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mes-left-detail .mes-detail-p{
    color: #333;
    font-size: 12px;
}
.common-header .login-register .message .message-list .message-item:last-child{
    border-radius:  0;
}
.mes-bottom-information{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 413px;
    height:41px;
    background:rgba(255,255,255,1);
    box-shadow:0px -2px 4px 0px rgba(185,185,185,0.1);
    border-radius:0px 0px 2px 2px;
    padding: 0 28px 0 20px;
    border-top: 1px solid #e6e6e6;
    opacity: 0;
    height: 0;
}
.message.isTopHover .mes-bottom-information{
    opacity: 1;
    height: 41px;
}
.mes-bottom-information img{
    height: 14px;
    width: 14px;
    margin-right: 10px;
}
.activeTab{
    /* color: #C40B22; */
    color: #ff7700;
}

.message-list::-webkit-scrollbar {
    width : 4px;
    height: 1px;
}
.message-list::-webkit-scrollbar-thumb {
border-radius: 10px;
box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
background   : #888;
}
.message-list::-webkit-scrollbar-track {
box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
border-radius: 10px;
background   : #ededed;
}
.mesElit-left-detail p{
    font-size: 14px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    line-height: 20px;
    margin-bottom: 5px;
}
.mesElit-right-time{
    font-size: 14px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    line-height: 20px;
}
.mesElit-right-time .mes-time{
    font-size: 12px;
}
.mes-right-time .mes-time{
    color:#999;
}
.mesElit-right-time span{
    font-size: 14px;
    line-height: 17px;
    color: #999;
}
.mark-all-read{
    float: left;
    font-size:12px;
    color: #666;
}
.read-all{
    float: right;
    /* color: #C40B22; */
    color: #ff7700;
    font-size: 12px;
    font-weight:500;
}
.shopping-box{
    /* padding: 20px; */
    overflow: hidden;
}
.shopping-left-detail{
    width:80px;
    height:80px;
    border:1px solid #F4F4F4;
    float: left;
    margin-right: 10px;
}
.shopping-left-img{
    width:80px;
    height:80px;
    display: block;
}
.shopping-right-time{
    height: 80px;
    position: relative;
    position: relative;
    width: 271px;
    float: right;
}
.shopping-title{
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    /* height: 20px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.shopping-content{
    font-size:12px;
    color:#666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.shopping-time{
    font-size:12px;
    color:#999;
    line-height:17px;
    border-top: 80px;
    position: absolute;
    bottom: 0;
}
.NoMessage{
    display: block;
    height: 70px;
    width: 68px;
    margin: calc(50% - 72px) auto 0;
}
.index-message-box .loading{
    position: absolute;
    left: 0;
    top: 61px;
    width: 100%;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-list::-webkit-scrollbar {
    width : 4px;
    height: 1px;
}
.child-list::-webkit-scrollbar-thumb {
border-radius: 10px;
box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
background   : #888;
}
.child-list::-webkit-scrollbar-track {
box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
border-radius: 10px;
background   : #ededed;
}
.unverify-tip{
    text-align: center;
    background: #f70;
    color: #fff;
    line-height: 49px;
}
.unverify-tip a{
    color: inherit;
    text-decoration: underline;
}

/* 评分星星样式 start */

.header-search-content .shop-name:hover .evalute-wrap {
    /* opacity: 1; */
    display: block;
}

.header-search-content .evalute-wrap {
    position: absolute;
    /* opacity: 0; */
    display: none;
    top: 80px;
    left: 0;
    background: #fff;
    box-shadow:0px 2px 10px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 20px;
    z-index: 999;
    transition: .4s all;
}
.header-search-content .evalute-wrap .number {
    color: #FF7700
}

.header-search-content .evalute-wrap span {
    display: inline-block;
    width: 140px;
    margin-right: 10px;
}

.header-search-content .evalute-wrap .evalute-item {
    margin-bottom: 8px;
}

.header-search-content .evalute-wrap .triangle {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    transform: rotate(90deg);
    position: absolute;
    top: -20px;
}

.header-search-content .evalute-wrap .evalute-title {
    margin-bottom: 12px;
}

.header-search-content .evalute-wrap .evalute-menu .evalute-item  {
    display: flex;
    justify-items: center;
}

.staring-tip > input, .staring-tip > input {
  position: absolute;
  margin-right: -100%;
  opacity: 0;
}

.staring-tip {
    height: 20px;
    width: 70px;
    margin-right: 8px;
}

.staring-tip > label,
.staring-tip > label {
  position: relative;
  float: right;
  width: 14px;
  height: 14px;
  color: transparent;
  background-image: url("../../image/goods/starIcon.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.staring-tip > input:focus + label {
  outline: none;
}

.staring-tip > input:checked ~ label,
.staring-tip > input:focus ~ label,
.staring-tip > input:hover ~ label {
  background-position: 0 -14px;
}
.staring-tip > label.rated {
  background-position: 0 -14px;
}
.staring-tip > label:before,
.staring-tip > label:before {
  display: none;
  position: absolute;
  content: " ";
  width: 14px;
  height: 14px;
  background-image: url("../../image/goods/starIcon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 0;
}

/* 评分星星样式 end*/

/* 智能引导 */
.see-guid{
    margin-left: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 16px !important;
}
.see-guid .guid-wrap{
    position: absolute;
    background: #fff;
    top: 42px;
    right: 0;
    width: 1200px;
    height: 0;
    opacity: 0;
    transition: height 1s, opacity .5s;
    font-weight: 400;
    font-size: 14px;
    color: #666;
    box-shadow: 0px 4px 34px 0px rgba(0,0,0,0.2);
    z-index: 100;
    overflow: hidden;  
}
.see-guid:hover .guid-wrap {
    height: 600px;
    opacity: 1;
    transition: height 1s, opacity .5s;
}

.new-icon-sty {
    position: relative;
    font-size: 12px !important;
    top: -1px;
    padding-left: 1px;
}
.iconkandengicon {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
.icon-size-user {
    font-size: 18px !important;
}
.icon-size-center {
    font-size: 20px !important;
}
