<!-- 头部logo部分 -->
<div class="logo-header">
  <!-- logo -->
  <div class="logo-main" style="position: relative">
    <div class="logo-img">
      <a href="home.html">
        <img ng-src="{{logo}}">
      </a>
    </div>
  </div>
</div>
<style>
  .logo-header {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
    background: #ffab49;
  }
  .logo-header .logo-main .logo-img {
    float: left;
    margin-top: 15px;
    margin-left: 50px;
  }
  .logo-header .logo-main .logo-img img {
    height: 40px;
  }
</style>