.headerBox {
  .menuNav {
    height: 40px;
    width: 100%;
    background: #40424c;
  }
  .w1200 {
    width: 1200px;
    margin: 0 auto;
  }
  .menuBox {
    height: 100%;
    display: flex;
  }
  .boxLeft {
    flex: auto;
    display: flex;
    align-items: center;
  }
  .boxRight {
    flex: none;
    display: flex;
    align-items: center;
  }
  .splitLine {
    width: 1px;
    height: 16px;
    background: #fff;
  }
  .linkItem {
    padding: 0 16px;
    color: #fff;
    cursor: pointer;
    &:hover {
      color: #ff7700;
    }
  }
  :global {
    #msgBar {
      margin-right: 12px;
    }
  }
}
