<!DOCTYPE html>
<html lang="en" xmlns="">
  <head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Sourcing and Dropshipping for Shopify, WooCommerce, Wish, eBay with Quality Products, Fast Shipping, Good Service." />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <meta property="og:image" content="https://app.cjdropshipping.com/static/image/public-img/share1200x900.jpg" />
    <meta property="og:image:width" content="1200px" />
    <meta property="og:image:height" content="900px" />
    <title>
      Dropshipping from Worldwide to Worldwide!
    </title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="static/css/swiper-3.4.2.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/home-common.css" />
    <link rel="stylesheet" href="static/css/workOrders.css" />
    <link rel="stylesheet" href="static/components/intel_guid/intel-guid.css">
    <link rel="stylesheet" href="static/css/CJ-home.css" />
    <link rel="stylesheet" href="static/css/evalute.css" />
    <!--loading-->
    <link rel="stylesheet" href="static/loading/loading.css" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1265799_jbbgmgksp7p.css">

    <!--公共头部-->
    <link rel="stylesheet" type="text/css" href="static/components/headerandfooters/common-header.css" />
    <!--公共底部-->
    <link rel="stylesheet" type="text/css" href="static/components/headerandfooters/common-footer.css" />
    <!--商品展示card-->
    <link rel="stylesheet" type="text/css" href="static/components/product_card/product_card.css" />
    <link rel="stylesheet" type="text/css" href="static/components/swiper_img/swiper_img.css" />

    <script src="static/js/public/jquery-3.0.0.min.js"></script>
    <script src="static/angular-1.5.8/angular.js"></script>
    <script src="static/angular-1.5.8/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="static/js/public/jqPaginator.js"></script>
    <script src="https://cc-west-usa.oss-accelerate.aliyuncs.com/web/cjweb/lottie.js"></script>
    <!-- tracking code -->
    <script src="/egg/script/tracking.js"></script>
    <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '544649226705462');
  fbq('track', 'PageView');
  fbq('track', 'ViewContent');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=544649226705462&ev=PageView&noscript=1"
  /></noscript>
 <!-- End Facebook Pixel Code -->

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFZM5BM" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js"
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-PFZM5BM");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Ads: 965740562 - 再营销 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-965740562"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "AW-965740562");
    </script>
    <!-- End Global site tag (gtag.js) - Google Ads: 965740562 - 再营销 -->

    <!-- cj 通用工具库 [上传图到OSS、播放视频、md5、base64、uuid] -->
    <script src="https://miandan.cjdropshipping.com/js-lib/utils.1.0.0.js"></script>
  <script src="static/js/public/commonScriptImport.js"></script>
</head>

  <body id="home-wrap" ng-app="evalute" ng-controller="evaluteCtrl" ng-cloak>
    <style>
      .evalute-right-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -138.5px;
      }
      .evalute-right-item .evalute-placeholder{
        border-top: 0;
        margin: 0;
        padding: 0;
      }
      .evalute-client-menu-border {
        border-right: 0;
      }
    </style>
    <!--页面开始-->
    <div class="wrap">
      <div class="home-wrap2">
      <!--公共头部-->
      <common-header></common-header>
      <!--内容区域-->
      <div class="evalute-wrap-placeholder">
        <div class="evalute-wrap">
        <div class="evalute-left">
          <div class="title"><img style="display: inline-block; width: 32px; height: 32px" src="static/image/home/rating@2x.png" />
          <div cjdot cjdotshow='{"eventType": 2}' style="margin-top: 8px; font-size: 22px;">Rating</div></div>
          <ul class="evalute-left-menu">
            <li ng-repeat="i in evaluateType" ng-class="{'active' : i.value === currentType}" ng-click="evaluteTypeClick(i.value)"><i ng-style="i.style" ng-class="['iconfont', i.iconfont]"></i>{{i.name}}</li>
          </ul>
        </div>

        <ul class="evalute-client-menu scroll" dynamic-scrollbar ng-class="{'evalute-client-menu-border': supplierList.length === 0}">
          <li ng-repeat="s in supplierList" ng-click="changeSupplier(s.id)" ng-class="{'active': s.supplierId === currentEvalute.supplierId}">
            <div>
              <img ng-src="{{s.logoUrl}}" ng-if="s.logoUrl" />
              <i ng-if="!s.logoUrl">{{s.supplierName.substring(0,1)}}</i>
              <span>{{s.supplierName}}</span>
            </div>
            <!-- 如果未读数等于0不展示 -->
            <span ng-if="s.notReadCount !== 0 && s.notReadCount <= 99" ng-class="{'unread-number': true, 'single': s.notReadCount <= 10, 'dozen': s.notReadCount > 10}">{{s.notReadCount}}</span>
            <!-- 如果未读数>99 展示99 -->
            <span ng-if="s.notReadCount > 99" ng-class="{'unread-number': true, 'single': s.notReadCount <= 10, 'dozen': s.notReadCount > 10}">99</span>
          </li>
        </ul>
        <div class="evalute-right" ng-class="{'evalute-right-item': supplierList.length === 0}">
          <div ng-if="supplierList.length !== 0">
            <div class="evalute-right-header">
              <img ng-src="{{currentEvalute.logoUrl}}" ng-if="currentEvalute.logoUrl" />
              <i ng-if="!currentEvalute.logoUrl">{{currentEvalute.supplierName.substring(0,1)}}</i>
              <span>{{currentEvalute.supplierName}}</span>
            </div>
            <div class="evalute-menu">
              <div class="head">
                <span>Supplier Ratings:</span>
                <button ng-if="currentEvalute.isEvaluate === 1 && isModify" class="btn btn-modify" ng-click="changeModifyStatus()">Modify the</button>
                <button ng-if="currentEvalute.isEvaluate === 1  && !isModify" class="btn btn-confirm" ng-click="confirmModify()">confirm</button>
              </div>
              <ul class="evalute-detail">
                <li ng-repeat="i in evaluateList">
                  <span class="item-title">{{i.title}}</span>
                  <div class="item-graph">
                    <div class="staring">
                      <input type="radio" id="rate5{{ $index}}" name="rating{{ $index}}" ng-model="$parent.currentEvaluteNumberArray[$index]" ng-disabled="currentEvalute.isEvaluate && isModify" value="5" />
                      <label for="rate5{{$index}}" ng-class="{'rated': currentEvaluteNumberArray[$index] > 4, 'isModify': isModify }" title="{{evaluteDescList[$index][4]}}"></label>

                      <input type="radio" id="rate4{{$index}}" name="rating{{ $index}}" ng-model="$parent.currentEvaluteNumberArray[$index]" ng-disabled="currentEvalute.isEvaluate && isModify" value="4" />
                      <label for="rate4{{$index}}" ng-class="{'rated': currentEvaluteNumberArray[$index] > 3, 'isModify': isModify }" title="{{evaluteDescList[$index][3]}}"></label>

                      <input type="radio" id="rate3{{$index}}" name="rating{{ $index}}" ng-model="$parent.currentEvaluteNumberArray[$index]" ng-disabled="currentEvalute.isEvaluate && isModify" value="3" />
                      <label for="rate3{{$index}}" ng-class="{'rated': currentEvaluteNumberArray[$index] > 2, 'isModify': isModify }" title="{{evaluteDescList[$index][2]}}"></label>

                      <input type="radio" id="rate2{{$index}}" name="rating{{ $index}}" ng-model="$parent.currentEvaluteNumberArray[$index]" ng-disabled="currentEvalute.isEvaluate && isModify" value="2" />
                      <label for="rate2{{$index}}" ng-class="{'rated': currentEvaluteNumberArray[$index] > 1, 'isModify': isModify }" title="{{evaluteDescList[$index][1]}}"></label>

                      <input type="radio" id="rate1{{$index}}" name="rating{{ $index}}" ng-model="$parent.currentEvaluteNumberArray[$index]" ng-disabled="currentEvalute.isEvaluate && isModify" value="1" />
                      <label for="rate1{{$index}}" ng-class="{'rated': currentEvaluteNumberArray[$index] > 0, 'isModify': isModify }" title="{{evaluteDescList[$index][0]}}"></label>
                    </div>
                  </div>
                  <div>
                    <span class="item-number" ng-if="currentEvaluteNumberArray[$index]">{{currentEvaluteNumberArray[$index]}}&nbsp;stars: </span>&nbsp;
                    <span class="item-desc" ng-if="currentEvaluteNumberArray[$index]">{{evaluteDescList[$index][currentEvaluteNumberArray[$index]-1]}}</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="evalute-chat-wrap">
              <div class="head">
                Reviews:
              </div>
              <ul class="evalute-chat scroll" dynamic-scrollbar>
                <li ng-repeat="t in currentEvalute.talks">
                  <div class="avatar-wrap">
                    <!-- <i ng-style="{'background': t.messageSource === 1 && 'url(' + avatar + ')'}">{{t.messageSource === 1 ? '' : currentEvalute.supplierName.substring(0,1).toUpperCase()}}</i> -->
                    <span class="user-avatar notranslate" ng-style="{'background': t.messageSource === 1 && 'url(' + avatar + ')'}">{{t.messageSource === 1 ? '' : currentEvalute.supplierName.substring(0,1).toUpperCase()}}</span>
                  </div>
                  <div>
                    <div class="name">
                      {{t.messageSource === 1 ? '我' : currentEvalute.supplierName}}
                    </div>
                    <div class="sub-content">
                      {{t.content}}
                    </div>
                    <div class="date">
                      {{t.createAt | date:'yyyy-MM-dd HH:mm:ss'}}
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="evalute-input-wrap">
              <textarea name="evalute" class="scroll" dynamic-scrollbar placeholder="Please reply to the review" ng-model="$parent.evaluteContent" id="evalute" maxlength="500" cols="30" rows="10"></textarea>
              <span class="input-number">{{evaluteContent.length || 0}} / 500 characters</span>
              <button class="btn btn-submit" ng-click="submitEvalute()">Submit</button>
            </div>
          </div>
          <div ng-if="supplierList.length === 0">
            <div class="evalute-placeholder">
              <img style="width: auto; height:220px;" src="static/image/evalute/noComments.png" alt="" />
              <div>You don't have any ratings.</div>
            </div>
          </div>
        </div>
      </div>
      </div>


      <!--公共底部-->
      <common-footer></common-footer>
    </div>
    </div>

    <!-- 嵌入到shopify start-->
    <!-- <script src="https://unpkg.com/@shopify/app-bridge"></script>
<script src="static/js/public/initializeS.js"></script> -->
    <!-- 嵌入到shopify end-->
    <script src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <script src="static/angular-1.5.8/angular-cookies.min.js"></script>
    <script src="static/layer/layer.js"></script>
    <script src="static/js/public/config.js"></script>
    <script src="static/js/public/common.js"></script>
    <script src="static/js/public/base64.min.js"></script>
    <script src="static/providers/filter/filter.js"></script>
    <script src="static/providers/utils/utils.js"></script>
    <script src="static/providers/directive/directive.js"></script>
    <!--js-->
    <!--md5-->
    <script src="https://miandan.cjdropshipping.com/js-lib/utils.1.0.0.js"></script>

    <script src="static/js/home/home-common.js"></script>
    <script src="static/js/evalute/evalute.js"></script>
    <script src="static/js/cjmsg/cjmsg.js"></script>
    <!--公共头部-->
    <script src="static/components/headerandfooters/common-header.js"></script>
    <!--ticket-->
    <script src="./static/components/work_orders/workOrders.js"></script>
    <!--公共底部-->
    <script src="static/components/headerandfooters/common-footer.js"></script>
    <!--加载层-->
    <script src="static/loading/loading.js"></script>
    <!-- <script src="https://chat.cjdropshipping.com/javascripts/chat.js" ></script> -->
    <!-- 智能引导 -->
    <script src="static/components/intel_guid/intel-guid.js"></script>

    <script type="text/javascript" src="//laz-g-cdn.alicdn.com/sj/securesdk/0.0.3/securesdk_lzd_v1.js" id="J_secure_sdk_v2" data-appkey="111917" async="async"></script>
    <script src="static/providers/cjdot/cjdot.js"></script>
    <script src="https://www.dwin1.com/21578.js" type="text/javascript" defer="defer"></script>
  </body>
</html>
