<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description"
          content="Sourcing and Dropshipping for Shopify, WooCommerce, Wish, eBay with Quality Products, Fast Shipping, Good Service."/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--<link rel="shortcut icon" href="https://cc-west-usa.oss-us-west-1.aliyuncs.com/15511968/2900567714835.png"/>-->
    <link rel="shortcut icon" href="/favicon.ico"/>

    <meta property="og:image" content="https://app.cjdropshipping.com/static/image/public-img/share1200x900.jpg"/>
    <meta property="og:image:width" content="1200px"/>
    <meta property="og:image:height" content="900px"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="static/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/home-common.css">
    <link rel="stylesheet" href="static/css/workOrders.css">
    <link rel="stylesheet" href="static/components/intel_guid/intel-guid.css">
    <link rel="stylesheet" href="static/css/CJ-home.css">
    <!--loading-->
    <link rel="stylesheet" href="static/loading/loading.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1265799_0lb8fpkm05el.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1265799_gbuthi29l57.css">

    <!--<link href="https://cdn.jsdelivr.net/npm/busy-load/dist/app.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1265799_zhv61tzp6o9.css">

    <!--公共头部-->
    <link rel="stylesheet" type="text/css" href="static/components/headerandfooters/common-header.css">
    <!--公共底部-->
    <link rel="stylesheet" type="text/css" href="static/components/headerandfooters/common-footer.css">
    <script src="https://unpkg.com/@shopify/app-bridge"></script>
    <script src="static/js/public/jquery-3.0.0.min.js"></script>
    <script src="static/js/public/initializeS.js"></script>
    <script src="static/angular-1.5.8/angular.min.js"></script>
    <script src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <script src="static/angular-1.5.8/angular-cookies.min.js"></script>
    <script src="static/js/public/swiper-3.4.2.jquery.min.js"></script>
    <!-- <script src="static/angular-swiper/angular-swiper.js"></script> -->
    <script src="static/layer/layer.js"></script>
    <!--<script src="http://localhost:3000/javascripts/chat.js"></script>-->
    <script src="https://erp.cjdropshipping.com/test-chat/js/chat.js"></script>
    <script src="./static/js/public/config.js"></script>
    <script src="./static/js/public/common.js"></script>
    <script src="./static/js/public/base64.min.js"></script>
    <script src="./static/providers/filter/filter.js"></script>
    <script src="./static/providers/utils/utils.js"></script>
    <script src="https://cc-west-usa.oss-accelerate.aliyuncs.com/web/cjweb/lottie.js"></script>
    <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '544649226705462');
  fbq('track', 'PageView');
  fbq('track', 'ViewContent');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=544649226705462&ev=PageView&noscript=1"
  /></noscript>
 <!-- End Facebook Pixel Code -->

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFZM5BM" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Google Tag Manager -->
    <script>
        ; (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PFZM5BM');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Ads: 965740562 - 再营销 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-965740562"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'AW-965740562');
    </script>
    <!-- End Global site tag (gtag.js) - Google Ads: 965740562 - 再营销 -->
    <!-- cj 通用工具库 [上传图到OSS、播放视频、md5、base64、uuid] -->
  <script src="https://miandan.cjdropshipping.com/js-lib/utils.1.0.0.js"></script>
<script src="static/js/public/commonScriptImport.js"></script>
</head>
<body ng-app="app" ng-controller="home">
<!--页面开始-->
<a name="top"></a>
<div class="home-wrap">
    <!--公共头部-->
    <common-header></common-header>
    <!--轮播图开始-->
    <div class="banner headerScroll clearfix" ng-show="!$root.isSwitch">
        <div class="swiper-container" id="header-swiper">
            <div class="swiper-wrapper">
                <a ng-repeat="item in bannerList" ng-href="{{item.link}}" target="_blank" class="swiper-slide slide-two"
                   style="background: url({{item.img_url}}) center /cover;">
                </a>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!--轮播图结束-->
    <!--内容区域-->
    <div class="content" ng-show="!$root.isSwitch" style="text-align: center">
        <!--CJ Best Seller Rank 开始-->
        <div class="cj-best">
            <h3 ng-cloak>{{websiteName}} Best Seller Rank
                <i class="tip" ng-mouseenter="isTip = true;" ng-mouseleave="isTip = false;"></i>
                <span class="info" ng-show="isTip" ng-cloak>
                    To protect our clients' privacy, private products are not included in this list.
                </span>
            </h3>
            <ul class="date-tab">
                <li ng-repeat="item in bestDateTab" ng-class="{Actli:item.flag}" ng-click="bestDateClick(item)" ng-cloak>
                    {{item.name}}
                </li>
            </ul>
            <div style="height: 692px;margin-top: 18px;position: relative;" ng-mouseenter="bestProductEnter()" ng-mouseleave="bestProductLeave()">
                <div class="best-left" ng-click="bestProductLeft()">
                    <i class="left-icon"></i>
                </div>
                <div class="con">
                    <a class="More" ng-click="ViewMore('best')">View More >></a>
                    <div class="ProWarp">
                        <div class="box" ng-style="{width:bestProWarp}">
                            <ul class="Product clearfix" ng-repeat="(idx,items) in bestProData" style="width: 986px;">
                                <li ng-repeat="(index,item) in items" ng-cloak ng-click="goTodetail(item)">
                                    <span ng-if="idx == 0" class="tag">{{index+1}}</span>
                                    <span ng-if="idx == 1" class="tag">{{index+9}}</span>
                                    <span ng-if="idx == 2" class="tag">{{index+17}}</span>
                                    <span ng-if="idx == 3" class="tag">{{index+25}}</span>
                                    <a href="javascript:void(0);" class="view-detail-a">
                                        <img class="product-img" ng-src="{{item.bigImg | IMG_SIZE: 234:220}}"
                                             title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>
                                    </a>
                                    <span ng-show="item.isHaveVideo == 'HAVE_VIDEO'" class="isVideo" ng-cloak>Video Available</span>
                                    <div class="info">
                                        <h3 class="tit" title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>{{(item.english ||
                                            item.nameEn) | fWordUpcase}}</h3>
                                        <p class="info-txt clearfix">
                                            <span class="listedNum" ng-cloak>Sales: {{item.salesCount}}</span>
                                            <span class="listedNum" ng-if="item.flag==1" ng-cloak>Lists: {{item.num}}</span>
                                            <i ng-show="item.isPersonalized == '1'" class="Personalise" ng-cloak></i>
                                            <img class="Nwishlist" src="static/image/CJ-home/icon_love@2x.png"
                                                 ng-if="item.isCollect == 0"
                                                 ng-click="collectMerch(item.flag, item.id, $event)"
                                                 ng-mouseenter="MerchEnter($event)" ng-mouseleave="MerchLeave($event)" ng-cloak>
                                            <img class="Ywishlist" src="static/image/CJ-home/icon_wishlist_click@2x.png"
                                                 ng-if="item.isCollect == 1"
                                                 ng-click="collectMerch(item.flag, item.id, $event)" ng-cloak>
                                        </p>
                                        <div class="listed clearfix">
                                            <span class="price" ng-cloak>${{(item.price || item.sellPrice || item.SELLPRICE).replace(' -- ', '-')}}</span>
                                            <a class="listOrsource" href="javascript:void(0);" ng-if="item.flag==0" ng-click="listOrsourceBtn(item,$event,'source')" ng-cloak>Source</a>
                                            <a class="listOrsource" href="javascript:void(0);" ng-if="item.flag==1" ng-click="listOrsourceBtn(item,$event,'list')" ng-cloak>List</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="best-right" ng-click="bestProductRight()">
                    <i class="right-icon"></i>
                </div>
            </div>
        </div>
        <!--CJ Best Seller Rank 结束-->
        <!--New Product 开始-->
        <div class="New-Product">
            <h3 style="margin: 18px 0;"><i></i>New Product<i></i></h3>
            <ul class="date-tab">
                <li ng-repeat="item in DateTab" ng-class="{Actli:item.flag}" ng-click="DateClick(item)" ng-cloak>
                    {{item.name}}
                </li>
            </ul>
            <div class="Product clearfix" ng-mouseenter="NewProductEnter()" ng-mouseleave="NewProductLeave()">
                <div class="best-left" ng-click="NewProductLeft()">
                    <i class="left"></i>
                </div>
                <div class="con">
                    <div class="top1 top1Ortop2 clearfix" ng-if="NewProTop1" ng-click="goTodetail(NewProTop1)" ng-cloak>
                        <span class="icon">TOP<br>01</span>
                        <a href="javascript:void(0);">
                            <img class="product-img" ng-src="{{NewProTop1.bigImg | IMG_SIZE: 200}}"
                                 title="{{(NewProTop1.english || NewProTop1.nameEn) | fWordUpcase}}" ng-cloak>
                            <span ng-show="NewProTop1.isHaveVideo == 'HAVE_VIDEO'" class="isVideo" ng-cloak>Video&nbsp;&nbsp;Available</span>
                        </a>
                        <div class="info">
                            <h3 class="tit" title="{{(NewProTop1.english || NewProTop1.nameEn) | fWordUpcase}}" ng-cloak>
                                {{(NewProTop1.english || NewProTop1.nameEn) | fWordUpcase}}</h3>
                            <p class="info-txt clearfix">
                                <span class="price" ng-cloak>${{(NewProTop1.price || NewProTop1.sellPrice || NewProTop1.SELLPRICE).replace(' -- ', '-')}}</span>
                                <img class="Nwishlist" src="static/image/CJ-home/icon_love@2x.png"
                                     ng-if="NewProTop1.isCollect == 0"
                                     ng-click="collectMerch(NewProTop1.flag, NewProTop1.id, $event)"
                                     ng-mouseenter="MerchEnter($event)" ng-mouseleave="MerchLeave($event)"
                                     ng-cloak>
                                <img class="Ywishlist" src="static/image/CJ-home/icon_wishlist_click@2x.png"
                                     ng-if="NewProTop1.isCollect == 1"
                                     ng-click="collectMerch(NewProTop1.flag, NewProTop1.id, $event)" ng-cloak>
                                <i ng-show="NewProTop1.isPersonalized == '1'" class="Personalise" ng-cloak></i>
                            </p>
                            <p class="listed">
                                <span ng-cloak>{{NewProTop1.num}} Lists</span>
                            </p>
                            <a class="listOrsource" href="javascript:void(0);" ng-if="NewProTop1.flag==0" ng-click="listOrsourceBtn(NewProTop1,$event,'source')" ng-cloak>Source</a>
                            <a class="listOrsource" href="javascript:void(0);" ng-if="NewProTop1.flag==1" ng-click="listOrsourceBtn(NewProTop1,$event,'list')" ng-cloak>List</a>
                        </div>
                    </div>
                    <div class="top2 top1Ortop2 clearfix" ng-if="NewProTop2" ng-click="goTodetail(NewProTop2)" ng-cloak>
                        <span class="icon" ng-cloak>TOP<br>02</span>
                        <a href="javascript:void(0);" class="view-detail-a">
                            <img class="product-img" ng-src="{{NewProTop2.bigImg | IMG_SIZE: 200}}"
                                 title="{{(NewProTop2.english || NewProTop2.nameEn) | fWordUpcase}}" ng-cloak>
                            <span ng-show="NewProTop2.isHaveVideo == 'HAVE_VIDEO'" class="isVideo" ng-cloak>Video&nbsp;&nbsp;Available</span>
                        </a>
                        <div class="info">
                            <h3 class="tit" title="{{(NewProTop2.english || NewProTop2.nameEn) | fWordUpcase}}" ng-cloak>
                                {{(NewProTop2.english || NewProTop2.nameEn) | fWordUpcase}}</h3>
                            <p class="info-txt clearfix">
                                <span class="price" ng-cloak>${{(NewProTop2.price || NewProTop2.sellPrice || NewProTop2.SELLPRICE).replace(' -- ', '-')}}</span>
                                <img class="Nwishlist" src="static/image/CJ-home/icon_love@2x.png"
                                     ng-if="NewProTop2.isCollect == 0"
                                     ng-click="collectMerch(NewProTop2.flag, NewProTop2.id, $event)"
                                     ng-mouseenter="MerchEnter($event)" ng-mouseleave="MerchLeave($event)" ng-cloak>
                                <img class="Ywishlist" src="static/image/CJ-home/icon_wishlist_click@2x.png"
                                     ng-if="NewProTop2.isCollect == 1"
                                     ng-click="collectMerch(NewProTop2.flag, NewProTop2.id, $event)" ng-cloak>
                                <i ng-show="NewProTop2.isPersonalized == '1'" class="Personalise" ng-cloak></i>
                            </p>
                            <p class="listed">
                                <span ng-cloak>{{NewProTop2.num}} Lists</span>
                            </p>
                            <a class="listOrsource" href="javascript:void(0);" ng-if="NewProTop2.flag==0" ng-click="listOrsourceBtn(NewProTop2,$event,'source')" ng-cloak>Source</a>
                            <a class="listOrsource" href="javascript:void(0);" ng-if="NewProTop2.flag==1" ng-click="listOrsourceBtn(NewProTop2,$event,'list')" ng-cloak>List</a>
                        </div>
                    </div>
                    <!--<span class="left" ng-click="NewProductLeft()"></span>-->
                    <div class="ProductList">
                        <ul class="clearfix">
                            <li ng-repeat="(index,item) in NewProData" ng-click="goTodetail(item)" ng-cloak>
                                <span class="icon" ng-cloak>TOP<br>{{TopNum(index+3)}}</span>
                                <a href="javascript:void(0);" class="view-detail-a">
                                    <img class="product-img" ng-src="{{item.bigImg | IMG_SIZE: 234 : 220}}"
                                         title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>
                                </a>
                                <span ng-show="item.isHaveVideo == 'HAVE_VIDEO'" class="isVideo" ng-cloak>Video Available</span>
                                <div class="info">
                                    <h3 class="tit" title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>{{(item.english ||
                                        item.nameEn) | fWordUpcase}}</h3>
                                    <p class="info-txt clearfix">
                                        <!--<span class="listedNum" ng-cloak>Sales: {{item.salesCount}}</span>-->
                                        <span class="listedNum" ng-if="item.flag==1" ng-cloak>Lists: {{item.num}}</span>
                                        <i ng-show="item.isPersonalized == '1'" class="Personalise" ng-cloak></i>
                                        <img class="Nwishlist" src="static/image/CJ-home/icon_love@2x.png"
                                             ng-if="item.isCollect == 0"
                                             ng-click="collectMerch(item.flag, item.id, $event)"
                                             ng-mouseenter="MerchEnter($event)" ng-mouseleave="MerchLeave($event)" ng-cloak>
                                        <img class="Ywishlist" src="static/image/CJ-home/icon_wishlist_click@2x.png"
                                             ng-if="item.isCollect == 1"
                                             ng-click="collectMerch(item.flag, item.id, $event)" ng-cloak>
                                    </p>
                                    <div class="listed clearfix">
                                        <span class="price" ng-cloak>${{(item.price || item.sellPrice || item.SELLPRICE).replace(' -- ', '-')}}</span>
                                        <a class="listOrsource" href="javascript:void(0);" ng-if="item.flag==0" ng-click="listOrsourceBtn(item,$event,'source')" ng-cloak>Source</a>
                                        <a class="listOrsource" href="javascript:void(0);" ng-if="item.flag==1" ng-click="listOrsourceBtn(item,$event,'list')" ng-cloak>List</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--<span class="right" ng-click="NewProductRight()"></span>-->
                </div>
                <div class="best-right" ng-click="NewProductRight()">
                    <i class="right"></i>
                </div>
            </div>
        </div>
        <!--New Product 结束-->
        <!--US Warehouse Product 开始-->
        <div class="USProduct clearfix">
            <h3 class="title">US Warehouse Products</h3>
            <div style="height: 700px;position: relative;" ng-mouseenter="USProductEnter()" ng-mouseleave="USProductLeave()">
                <div class="best-left" ng-click="USProductLeft()">
                    <i class="left-icon"></i>
                </div>
                <div class="con">
                    <a class="More" ng-click="ViewMore('us')">View More >></a>
                    <div class="ProWarp">
                        <ul class="Product clearfix" ng-style="{width:USProWarp}">
                            <li ng-repeat="(index,item) in USProData" ng-click="goTodetail(item)" ng-cloak>
                                <a href="javascript:void(0);" class="view-detail-a">
                                    <img class="product-img" ng-src="{{item.bigImg | IMG_SIZE: 234 : 220}}"
                                         title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>
                                </a>
                                <span ng-show="item.isHaveVideo == 'HAVE_VIDEO'" class="isVideo" ng-cloak>Video Available</span>
                                <div class="info">
                                    <h3 class="tit" title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>{{(item.english ||
                                        item.nameEn) | fWordUpcase}}</h3>
                                    <p class="info-txt clearfix">
                                        <!--<span class="listedNum" ng-cloak>Sales: {{item.salesCount}}</span>-->
                                        <span class="listedNum" ng-if="item.flag==1" ng-cloak>Lists: {{item.num}}</span>
                                        <i ng-show="item.isPersonalized == '1'" class="Personalise" ng-cloak></i>
                                        <img class="Nwishlist" src="static/image/CJ-home/icon_love@2x.png"
                                             ng-if="item.isCollect == 0"
                                             ng-click="collectMerch(item.flag, item.id, $event)"
                                             ng-mouseenter="MerchEnter($event)" ng-mouseleave="MerchLeave($event)" ng-cloak>
                                        <img class="Ywishlist" src="static/image/CJ-home/icon_wishlist_click@2x.png"
                                             ng-if="item.isCollect == 1"
                                             ng-click="collectMerch(item.flag, item.id, $event)" ng-cloak>
                                    </p>
                                    <div class="listed clearfix">
                                        <span class="price" ng-cloak>${{(item.price || item.sellPrice || item.SELLPRICE).replace(' -- ', '-')}}</span>
                                        <a class="listOrsource" href="javascript:void(0);" ng-if="item.flag==0" ng-click="listOrsourceBtn(item,$event,'source')" ng-cloak>Source</a>
                                        <a class="listOrsource" href="javascript:void(0);" ng-if="item.flag==1" ng-click="listOrsourceBtn(item,$event,'list')" ng-cloak>List</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="best-right" ng-click="USProductRight()">
                    <i class="right-icon"></i>
                </div>
            </div>
        </div>
        <!--US Warehouse Product 结束-->
        <!--Top dropshipping products 开始-->
        <div class="TopProduct clearfix">
            <h3 class="title"><i></i>Trending Products</h3>
            <div style="height: 695px;position: relative;" ng-mouseenter="TopProductEnter()" ng-mouseleave="TopProductLeave()">
                <div class="best-left" ng-click="TopProductLeft()">
                    <i class="left-icon"></i>
                </div>
                <div class="con">
                    <a class="More" ng-click="ViewMore('Top')">View More >></a>
                    <!--<i class="left-icon" ng-click="TopProductLeft()"></i>-->
                    <div class="ProWarp">
                        <ul class="Product clearfix" ng-style="{width:TopProWarp}">
                            <li ng-repeat="(index,item) in TopProData" ng-cloak ng-click="goTodetail(item)">
                                <a href="javascript:void(0);" class="view-detail-a">
                                    <img class="product-img" ng-src="{{item.bigImg | IMG_SIZE: 234 : 220}}"
                                         title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>
                                </a>
                                <span ng-show="item.isHaveVideo == 'HAVE_VIDEO'" class="isVideo" ng-cloak>Video Available</span>
                                <div class="info">
                                    <h3 class="tit" title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>{{(item.english ||
                                        item.nameEn) | fWordUpcase}}</h3>
                                    <p class="info-txt clearfix">
                                        <!--<span class="listedNum" ng-cloak>Sales: {{item.salesCount}}</span>-->
                                        <span class="listedNum" ng-if="item.flag==1" ng-cloak>Lists: {{item.num}}</span>
                                        <i ng-show="item.isPersonalized == '1'" class="Personalise" ng-cloak></i>
                                        <img class="Nwishlist" src="static/image/CJ-home/icon_love@2x.png"
                                             ng-if="item.isCollect == 0"
                                             ng-click="collectMerch(item.flag, item.id, $event)"
                                             ng-mouseenter="MerchEnter($event)" ng-mouseleave="MerchLeave($event)" ng-cloak>
                                        <img class="Ywishlist" src="static/image/CJ-home/icon_wishlist_click@2x.png"
                                             ng-if="item.isCollect == 1"
                                             ng-click="collectMerch(item.flag, item.id, $event)" ng-cloak>
                                    </p>
                                    <div class="listed clearfix">
                                        <span class="price" ng-cloak>${{(item.price || item.sellPrice || item.SELLPRICE).replace(' -- ', '-')}}</span>
                                        <a class="listOrsource" href="javascript:void(0);" ng-if="item.flag==0" ng-click="listOrsourceBtn(item,$event,'source')" ng-cloak>Source</a>
                                        <a class="listOrsource" href="javascript:void(0);" ng-if="item.flag==1" ng-click="listOrsourceBtn(item,$event,'list')" ng-cloak>List</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--<i class="right-icon" ng-click="TopProductRight()"></i>-->
                </div>
                <div class="best-right" ng-click="TopProductRight()">
                    <i class="right-icon"></i>
                </div>
            </div>
        </div>
        <!--Top dropshipping products 结束-->
        <!--Video/Listed/Sourcing Product 开始-->
        <div class="ClassifiedGoods clearfix">
            <h3 class="title">Video/Listable/Sourcing Product</h3>
            <div style="height: 340px;position: relative;" ng-mouseenter="CifProductEnter()" ng-mouseleave="CifProductLeave()">
                <div class="best-left" ng-click="CifProductLeft()">
                    <i class="left-icon"></i>
                </div>
                <div class="con">
                    <a class="More" ng-click="ViewMore('Cif')">View More >></a>
                    <!--<i class="left-icon" ng-click="CifProductLeft()"></i>-->
                    <ul class="ClassifiedTab">
                        <li ng-click="ClassifiedTabClick(item)" ng-class="{ClassifiedTabAct:item.flag}"
                            ng-repeat="item in ClassifiedTab" ng-cloak>
                            <i ng-class="{Video:item.iconClass == 'Video',Listed:item.iconClass == 'Listed',Sourcing:item.iconClass == 'Sourcing'}"
                               ng-cloak></i>{{item.name}}
                        </li>
                    </ul>
                    <div class="ProWarp">
                        <ul ng-style="{width:CifProWarp}" class="ClassifiedCont clearfix ">
                            <li class="Product" ng-repeat="item in ClassifiedData" ng-cloak ng-click="goTodetail(item)">
                                <a href="javascript:void(0);" class="view-detail-a">
                                    <img class="product-img" ng-src="{{item.bigImg | IMG_SIZE: 150}}"
                                         title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>
                                </a>
                                <span ng-show="item.isHaveVideo == 'HAVE_VIDEO'" class="isVideo" ng-cloak>Video Available</span>
                                <div class="info">
                                    <h3 class="tit" title="{{((item.english || item.nameEn) | fWordUpcase) | fWordUpcase}}" ng-cloak>
                                        {{(item.english || item.nameEn) | fWordUpcase}}</h3>
                                    <p class="info-txt clearfix">
                                        <span class="price" ng-cloak>${{(item.price || item.sellPrice || item.SELLPRICE).replace(' -- ', '-')}}</span>
                                        <i ng-show="item.isPersonalized == '1'" class="Personalise" ng-click="Personalise(item)"
                                           ng-cloak></i>
                                        <img class="Nwishlist" src="static/image/CJ-home/icon_love@2x.png"
                                             ng-if="item.isCollect == 0"
                                             ng-click="collectMerch(item.flag, item.id, $event)"
                                             ng-mouseenter="MerchEnter($event)" ng-mouseleave="MerchLeave($event)" ng-cloak>
                                        <img class="Ywishlist" src="static/image/CJ-home/icon_wishlist_click@2x.png"
                                             ng-if="item.isCollect == 1"
                                             ng-click="collectMerch(item.flag, item.id, $event)" ng-cloak>
                                    </p>
                                    <div class="listed clearfix">
                                        <a class="listOrsource" href="javascript:void(0);" ng-if="item.flag==0" ng-click="listOrsourceBtn(item,$event,'source')" ng-cloak>Source</a>
                                        <a class="listOrsource" href="javascript:void(0);" ng-if="item.flag==1" ng-click="listOrsourceBtn(item,$event,'list')" ng-cloak>List</a>
                                        <span ng-if="item.flag==1" class="listedNum" ng-cloak>{{item.num}} Lists</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--<i class="right-icon" ng-click="CifProductRight()"></i>-->
                </div>
                <div class="best-right" ng-click="CifProductRight()">
                    <i class="right-icon"></i>
                </div>
            </div>
        </div>
        <!--Video/Listed/Sourcing Product 结束-->
        <!--Hot selling category 开始-->
        <div class="HotCategory">
            <h3 class="title">Hot Selling Categories</h3>
            <div style="position: relative;" ng-mouseenter="HotProductEnter()" ng-mouseleave="HotProductLeave()">
                <div class="con">
                    <a class="More" ng-click="ViewMore('Hot')">View More >></a>
                    <ul class="HotCategoryTab clearfix">
                        <li ng-click="HotCategoryTabClick(item)" ng-class="{HotCategoryAct:item.flag}"
                            ng-repeat="item in HotCategoryTab" ng-cloak>{{item.name}}
                        </li>
                    </ul>
                </div>
                <div class="best-left" ng-click="HotProductLeft()">
                    <i class="left-icon"></i>
                </div>
                <div class="con">
                    <!--<i class="left-icon" ng-click="HotProductLeft()"></i>-->
                    <div class="ProWarp">
                        <ul class="clearfix Product">
                            <li ng-repeat="(index,item) in HotCategoryData" ng-click="goTodetail(item)" ng-cloak>
                                <a href="javascript:void(0);" class="view-detail-a">
                                    <img class="product-img" ng-src="{{item.bigImg | IMG_SIZE: 234 : 220}}"
                                         title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>
                                </a>
                                <span ng-show="item.isHaveVideo == 'HAVE_VIDEO'" class="isVideo" ng-cloak>Video Available</span>
                                <div class="info">
                                    <h3 class="tit" title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>{{(item.english ||
                                        item.nameEn) | fWordUpcase}}</h3>
                                    <p class="info-txt clearfix">
                                        <!--<span class="listedNum" ng-cloak>Sales: {{item.salesCount}}</span>-->
                                        <span class="listedNum" ng-if="item.flag==1" ng-cloak>Lists: {{item.num}}</span>
                                        <i ng-show="item.isPersonalized == '1'" class="Personalise" ng-cloak></i>
                                        <img class="Nwishlist" src="static/image/CJ-home/icon_love@2x.png"
                                             ng-if="item.isCollect == 0"
                                             ng-click="collectMerch(item.flag, item.id, $event)"
                                             ng-mouseenter="MerchEnter($event)" ng-mouseleave="MerchLeave($event)" ng-cloak>
                                        <img class="Ywishlist" src="static/image/CJ-home/icon_wishlist_click@2x.png"
                                             ng-if="item.isCollect == 1"
                                             ng-click="collectMerch(item.flag, item.id, $event)" ng-cloak>
                                    </p>
                                    <div class="listed clearfix">
                                        <span class="price" ng-cloak>${{(item.price || item.sellPrice || item.SELLPRICE).replace(' -- ', '-')}}</span>
                                        <a class="listOrsource" href="javascript:void(0);" ng-if="item.flag==0" ng-click="listOrsourceBtn(item,$event,'source')" ng-cloak>Source</a>
                                        <a class="listOrsource" href="javascript:void(0);" ng-if="item.flag==1" ng-click="listOrsourceBtn(item,$event,'list')" ng-cloak>List</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--<i class="right-icon" ng-click="HotProductRight()"></i>-->
                </div>
                <div class="best-right" ng-click="HotProductRight()">
                    <i class="right-icon"></i>
                </div>
            </div>
        </div>
        <!--Hot selling category 结束-->
    </div>
    <!--底部合作商logo-->
    <div class="footer-box" ng-show="!$root.isSwitch">
        <div class="footer-logos" id="boxs">
            <div id="box1" class="clearfix">
                <span>
                    <img src="static/image/CJ-home/home_b1.jpg" alt="">
                </span>
                <span>
                    <img src="static/image/CJ-home/home_b2.jpg" alt="">
                </span>
                <span>
                    <img src="static/image/CJ-home/home_b3.jpg" alt="">
                </span>
                <span>
                    <img src="static/image/CJ-home/home_b4.jpg" alt="">
                </span>
                <span>
                    <img src="static/image/CJ-home/home_b5.jpg" alt="">
                </span>
                <span>
                    <img src="static/image/CJ-home/home_b6.jpg" alt="">
                </span>
                <span>
                    <img src="static/image/CJ-home/home_b7.jpg" alt="">
                </span>
                <span>
                    <img src="static/image/CJ-home/home_b8.png" alt="">
                </span>
                <span>
                    <img src="static/image/CJ-home/home_b9.jpg" alt="">
                </span>
                <span>
                    <img src="static/image/CJ-home/home_b10.jpg" alt="">
                </span>
                <span>
                    <img src="static/image/CJ-home/home_b11.png" alt="">
                </span>
            </div>
            <div id="box2" class="clearfix"></div>
        </div>
    </div>
    <!--公共底部-->
    <div ng-show="!$root.isSwitch">
        <common-footer></common-footer>
    </div>
</div>
<!-- 新手指引-->
<div class="zzc">
    <div class="online-wrap">
        <p class="online-content"></p>
        <img class="img1" src="static/image/Newbie/arrow.png" alt=""/>
        <img class="img2" src="static/image/Newbie/star.png" alt=""/>
        <img class="img3" src="static/image/Newbie/embellish.png" alt=""/>
        <p class="online-notice" style="left: -450px">“Click "My CJ" to enter your dashboard, and then you will be able
            to work with CJ.”</p>
        <p class="know" style="width: 200px;">I am good.</p>
    </div>
</div>
<!--初始化密码-->
<style>
    .zzc2 {
        display: none;
    }
</style>
<div class="zzc2" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.4);z-index: 99999;">
    <div class="zzc2Wrap" style="padding: 20px;margin: 250px auto;background: #fff;border-radius: 4px;width: 350px">
        <h1 style="text-align: center;">Initializing password</h1>
        <div style="margin-top: 15px">
            <label>Password:</label>
            <input ng-model="newPwd" style="width: 220px;border: 1px solid #e4e4e4;height: 30px;border-radius: 4px;"
                   type="text"/>
        </div>
        <div style="margin-top: 15px;text-align: center;">
            <button ng-click="surePwd();" style="padding: 5px 15px;color: #fff;border-radius: 4px;background: #F9AE08;">
                Confirm
            </button>
        </div>
    </div>
</div>

<!--js-->

<script type="text/javascript" src="static/js/home/home-common.js"></script>
<script type="text/javascript" src="static/js/home/home.js"></script>
<script src="./static/components/work_orders/workOrders.js"></script>
<!--消息模块-->
<script src="static/js/cjmsg/cjmsg.js"></script>
<!--公共头部-->
<script src="static/components/headerandfooters/common-header.js"></script>
<!--公共底部-->
<script src="static/components/headerandfooters/common-footer.js"></script>
<!-- 智能引导 -->
<script src="static/components/intel_guid/intel-guid.js"></script>
<!--加载层-->
<!--<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/busy-load/dist/app.min.js"></script>-->
<script src="static/loading/loading.js"></script>
<script src="static/providers/cjdot/cjdot.js"></script>
<script src="https://www.dwin1.com/21578.js" type="text/javascript" defer="defer"></script>
</body>
<script type="text/javascript">
    $(function () {
        $('#header-swiper').swiper({
            // direction: 'vertical',
            // loop: true,
            effect: 'fade',
            autoplay: 4000,
            //用户操作以后会不会停止
            autoplayDisableOnInteraction: false,
            // 如果需要分页器
            pagination: '.swiper-pagination',
            //点击分页按钮的切换
            paginationClickable: true,
            simulateTouch: false // 禁止鼠标拖动
        })
    })

    /*底部合作商logo----------------------------------------------*/
    function scrollLeft() {
        var speed = 20;
        var tab = document.getElementById('boxs');
        var tab1 = document.getElementById('box1');
        var tab2 = document.getElementById('box2');
        tab2.innerHTML = tab1.innerHTML;

        function Marquee() {
            if (tab2.offsetWidth - tab.scrollLeft <= 0) {
                tab.scrollLeft = 0;
            } else {
                tab.scrollLeft++;
            }
        }

        var timer = setInterval(Marquee, speed);
        tab.onmouseover = function () {
            clearInterval(timer);
        };
        tab.onmouseout = function () {
            timer = setInterval(Marquee, speed);
        }
    }

    scrollLeft();
</script>
</html>
