<!DOCTYPE html>
<html>
<head>
　<meta charset="UTF-8">
　<meta name="description" content="Step by step video/content tutorials on how to use each feature of CJdropshipping(CJ App),FAQ.">
　<meta name="keywords" content='dropshipping fulfillment,free dropshipping fulfillment, cheapest dropshipping fulfillment,how to do dropshipping, free dropshipping course, dropshipping course, free dropshipping, is dropshipping profitable' />
　<meta property="og:type" content="website" />
　<meta property="og:image" content="https://app.cjdropshipping.com/static/image/public-img/share1200x900.jpg" />
　<meta property="og:image:width" content="1200px" />
　<meta property="og:image:height" content="900px" />
  <title>CJdropshipping Tutorials - Videos/Content/FAQ/Elites</title>
  <link rel="shortcut icon" href="/favicon.ico" />
	<!-- bootstrap.css -->
  <link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<!-- reset.css -->
  <link rel="stylesheet" type="text/css" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/workOrders.css">
  <link rel="stylesheet" href="static/components/intel_guid/intel-guid.css">
	<!--公共头部-->
  <link rel="stylesheet" type="text/css" href="static/components/headerandfooters/common-header.css">
	<!-- 公共底部 -->
  <link rel="stylesheet" type="text/css" href="static/components/headerandfooters/common-footer.css">
	<!--loading-->
  <link rel="stylesheet" href="static/loading/loading.css">
	<link rel="stylesheet" href="static/css/tutorial.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1265799_0lb8fpkm05el.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1265799_jbbgmgksp7p.css">
  <link rel="stylesheet" type="text/css" href="static/css/iconfont/iconfont.css">
  <script src="https://cc-west-usa.oss-accelerate.aliyuncs.com/web/cjweb/lottie.js"></script>
	<!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '544649226705462');
  fbq('track', 'PageView');
  fbq('track', 'ViewContent');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=544649226705462&ev=PageView&noscript=1"
  /></noscript>
 <!-- End Facebook Pixel Code -->

	<!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFZM5BM" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
	<!-- End Google Tag Manager (noscript) -->
	<!-- Google Tag Manager -->
  <script>
        ;(function(w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({
            'gtm.start':
              new Date().getTime(), event: 'gtm.js'
          });
          var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
          f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PFZM5BM');
    </script>
	<!-- End Google Tag Manager -->
	<!-- Global site tag (gtag.js) - Google Ads: 965740562 - 再营销 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-965740562"></script>
  <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
          dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'AW-965740562');
    </script>
  <!-- End Global site tag (gtag.js) - Google Ads: 965740562 - 再营销 -->
  <!-- cj 通用工具库 [上传图到OSS、播放视频、md5、base64、uuid] -->
  <script src="https://miandan.cjdropshipping.com/js-lib/utils.1.0.0.js"></script>
<script src="static/js/public/commonScriptImport.js"></script>
</head>
<body ng-app="tutorialApp" ng-controller="tutorialCtrl">
<!--公共头部-->
<common-header></common-header>
<!-- 内容区域 -->
<div cjdot cjdotshow='{"eventType": 2}' class="tutorial-content-warp" ng-show="!$root.isSwitch">
	<!--banner-->
	<div class="banner">
		<div class="search-box">
			<span class="title">Frequently Asked Questions</span>
			<div class="search-input">
				<input type="text" placeholder="What are you looking for" ng-keyup="enterSearch($event)" ng-model="searchTxt">
				<button ng-click="handleSearch()"><i></i></button>
			</div>
		</div>
	</div>
	<!-- nav -->
	<nav>
		<div class="content">
			<div class="tab-li" ng-class="{'active':tabActive === 'video'}" ng-click="handleTabClick('video')">
				<i class="iconfont iconshipinweijihuo" ng-class="{'iconvideo':tabActive === 'video'}"></i>
				Video
			</div>
			<div class="tab-li" ng-class="{'active':tabActive === 'content'}" ng-click="handleTabClick('content')">
				<i class="iconfont iconcontent" ng-class="{'iconcontentjihuo':tabActive === 'content'}"></i>
				Content
			</div>
			<div class="tab-li" ng-class="{'active':tabActive === 'faq'}" ng-click="handleTabClick('faq')">
				<i class="iconfont iconFAQweijihuo" ng-class="{'iconFAQjihuo':tabActive === 'faq'}"></i>
				FAQ
      </div>
      <div class="tab-li" ng-class="{'active':tabActive === 'elites'}" ng-click="handleTabClick('elites')">
        <i class="iconfont iconluntanmoren" ng-class="{'iconluntandianji':tabActive === 'elites'}"></i>
        Elites
      </div>
		</div>
	</nav>
	<div class="content-box content">
		<!-- video -->
		<div class="video-wrapper" ng-if="tabActive === 'video'">
			<div class="video-item" ng-repeat="item in dataList" title="{{item.title}}">
			  <iframe class="iframe" allowfullscreen ng-src="{{item.videoUrl}}" frameborder="0" allow="encrypted-media"></iframe>
				<p class="title" ng-cloak>{{item.title}}</p>
			</div>
		</div>
		<!-- content -->
		<div class="content-wrapper" ng-if="tabActive === 'content'">
			<a class="item" target="_blank" ng-href="{{item.contentUrl}}" ng-click="contentClick(item,$index)" ng-repeat="item in dataList" ng-cloak>
				{{calcIndex($index) + '、' + item.title}}
			</a>
		</div>
		<!-- faq -->
		<div class="faq-wrapper" ng-if="tabActive === 'faq'">
      <div class="faq-tab-content">
        <div class="faq-tab" ng-class="{'active':faqActive === 'Product'}" ng-click="faqTabClick('Product')">
          Product
        </div>
        <div class="faq-tab" ng-class="{'active':faqActive === 'Orders'}" ng-click="faqTabClick('Orders')">
          Orders
        </div>
        <div class="faq-tab" ng-class="{'active':faqActive === 'Shipment'}" ng-click="faqTabClick('Shipment')">
          Shipment
        </div>
        <div class="faq-tab" ng-class="{'active':faqActive === 'Ass'}" ng-click="faqTabClick('Ass')">
          After Sales Service
        </div>
        <div class="faq-tab" ng-class="{'active':faqActive === 'Others'}" ng-click="faqTabClick('Others')">
          Others
        </div>
        <div class="faq-tab" ng-class="{'active':faqActive === 'Solutions'}" ng-click="faqTabClick('Solutions')">
          Solutions
        </div>
      </div>
			<div class="item" ng-repeat="item in dataList">
				<h3 ng-click="item.active = !item.active" ng-cloak>
					{{calcIndex($index) +'、'+item.question}}
					<i ng-class="item.active ? 'iconzhan-copy' :'iconshou'"
					   class="iconfont">
					</i>
				</h3>
				<p ng-show="item.active" ng-bind-html="item.answer | to_trusted"></p>
			</div>
    </div>
    <!-- Elites -->
    <div class="faq-wrapper" ng-if="tabActive === 'elites'">
      <div class="item" ng-repeat="item in dataList" ng-click="textClick(item)">
        <h3 ng-click="toggleElites(item)" ng-cloak>
					{{calcIndex($index) +'、'+item.title}}
					<i ng-show="item.articleType !== 1" ng-class="item.active ? 'iconzhan-copy' :'iconshou'"
					   class="iconfont">
					</i>
				</h3>
        <p style="cursor: pointer;" ng-show="item.active && item.articleType !== 1" ng-click="lookElites(item)" class="elites-contenet" ng-bind-html="item.elitesContent || '...' | to_trusted"></p>
        <!-- <div ng-show="item.active && item.articleType !== 1" ng-click="lookElites(item)" class="elites-see-more">See more</div> -->
      </div>
    </div>
		<img ng-show="dataList.length === 0" class="no-data" src="static/image/tutorial/not-data.png" alt="">
		<!-- 分页 -->
		<div id="page-box" ng-show="dataList.length > 0"></div>
	</div>
	<!--底部合作商logo-->
  <div class="cooperationr-box">
        <div class="cooperationr-logos content">
            <img src="static/image/new-home/Cooperation_logo.png" alt="">
        </div>
      </div>

  <!-- 相關鏈接 -->
  <related-links></related-links>
</div>
<!-- 公共底部 -->
<common-footer ng-show="!$root.isSwitch"></common-footer>
<script src="https://www.dwin1.com/21578.js" type="text/javascript" defer="defer"></script>
</body>
</html>
<!-- angular -->
<script src="static/js/public/jquery-3.0.0.min.js"></script>
<script src="static/angular-1.5.8/angular.min.js"></script>
<script src="static/angular-1.5.8/angular-sanitize.min.js"></script>
<script src="static/layer/layer.js"></script>
<script src="static/js/public/config.js"></script>
<script src="static/js/public/common.js"></script>
<script src="static/js/public/base64.min.js"></script>
<script src="static/providers/filter/filter.js"></script>
<script src="static/providers/utils/utils.js"></script>
<!-- js -->
<script src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<script src="static/jqPaginator-master/jqPaginator.js"></script>
<script src="static/js/myCJ/myCJ-old.js"></script>
<script src="static/js/home/home-common.js"></script>
<!--消息模块-->
<script src="static/js/cjmsg/cjmsg.js"></script>
<!--公共头部-->
<script src="static/components/headerandfooters/common-header.js"></script>
<!-- 相关链接 -->
<script src="static/components/headerandfooters/common-related-links.js"></script>
<!--公共底部-->
<script src="static/components/headerandfooters/common-footer.js"></script>
<script src="static/js/tutorial/tutorial.js"></script>
<!-- 智能引导 -->
<script src="static/components/intel_guid/intel-guid.js"></script>
<!--加载层-->
<script src="static/loading/loading.js"></script>
<script src="static/providers/cjdot/cjdot.js"></script>
<script type="text/javascript">
    function googleTranslateElementInit2() {
      new google.translate.TranslateElement({
        pageLanguage: 'en',
        autoDisplay: false
      }, 'google_translate_element2');
    }
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2" async="async"></script>
