<!DOCTYPE html>
<html lang="en" xmlns="">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description"
    content="Sourcing and Dropshipping for Shopify, WooCommerce, Wish, eBay with Quality Products, Fast Shipping, Good Service." />
  <meta name="viewport"
    content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <meta property="og:image" content="https://app.cjdropshipping.com/static/image/public-img/share1200x900.jpg" />
  <meta property="og:image:width" content="1200px" />
  <meta property="og:image:height" content="900px" />
  <title>Dropshipping from Worldwide to Worldwide!</title>
  <link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="static/css/swiper-3.4.2.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/home-common.css">
  <link rel="stylesheet" href="static/css/workOrders.css">
  <link rel="stylesheet" href="static/components/intel_guid/intel-guid.css">
  <link rel="stylesheet" href="static/css/CJ-home.css">
  <link rel="stylesheet" href="static/css/welcome.css">
  <!--loading-->
  <link rel="stylesheet" href="static/loading/loading.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1265799_0lb8fpkm05el.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1265799_jbbgmgksp7p.css">

  <!--公共头部-->
  <link rel="stylesheet" type="text/css" href="static/components/headerandfooters/common-header.css">
  <!--公共底部-->
  <link rel="stylesheet" type="text/css" href="static/components/headerandfooters/common-footer.css">
  <!--商品展示card-->
  <link rel="stylesheet" type="text/css" href="static/components/product_card/product_card.css">
  <link rel="stylesheet" type="text/css" href="static/components/swiper_img/swiper_img.css">

  <script src="static/js/public/jquery-3.0.0.min.js"></script>
  <script src="static/angular-1.5.8/angular.min.js"></script>
  <script src="static/angular-1.5.8/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="static/js/public/jqPaginator.js"></script>
  <script src="/egg/libs/lottie/lottie.js"></script>
  <script src="https://cc-west-usa.oss-accelerate.aliyuncs.com/web/cjweb/lottie.js"></script>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '544649226705462');
  fbq('track', 'PageView');
  fbq('track', 'ViewContent');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=544649226705462&ev=PageView&noscript=1"
  /></noscript>
 <!-- End Facebook Pixel Code -->

  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFZM5BM" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Google Tag Manager -->
  <script>
    ;
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PFZM5BM');
  </script>
  <!-- End Google Tag Manager -->
  <!-- Global site tag (gtag.js) - Google Ads: 965740562 - 再营销 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-965740562"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'AW-965740562');
  </script>
  <!-- End Global site tag (gtag.js) - Google Ads: 965740562 - 再营销 -->
  <!-- cj 通用工具库 [上传图到OSS、播放视频、md5、base64、uuid] -->
  <script src="https://miandan.cjdropshipping.com/js-lib/utils.1.0.0.js"></script>
<script src="static/js/public/commonScriptImport.js"></script>
</head>

<body id="home-wrap" class="weclome-body" ng-app="welcomeApp" ng-controller="welcomeController" ng-cloak>
  <style>
    .check-log-authorized {
      height: 760px;
      background: #FFFFFF;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      z-index: 99;
    }
    .group-img img {
      width: 240px;
      height: 240px;
    }
    .group-content {
      color: #999999;
      margin: 20px 0;
      padding: 10px 20px;
    }
    .group-email {
      font-weight: bold;
      color: #666666;
    }
    .group-login {
      width: 140px;
      height: 40px;
      color: #fff;
      background: #FF7700;
      border-radius: 2px;
      margin-bottom: 40px;
    }
  </style>


  <!--页面开始-->
  <div class="home-wrap" ng-class="{'failed':isAuth==-1}">
    <!--公共头部-->
    <common-header></common-header>
    <!--内容区域-->

    <div class="authorizeContent" ng-if="!notLogin">
      <div class="welcome-auth"></div>
 
      <div ng-if="isAuth==0" ng-style="{'height':winH}"></div>

      <div ng-if="isAuth==-1" class="failed_box">
        <div class="failed-tips">
          An unknown error may cause failure after multiple attempts. Please contact <a class="online-btn" target="_blank" href="https://chat.cjdropshipping.com">our online agents </a>for assistance.
        </div>
        <div class="oneMoreTime" ng-click="tryAgain()">Try Again</div>

        <p class="tips">
          Redirect after
          <span class="notranslate">{{ timeout }}</span>
          <span class="notranslate" ng-show="timeout > 1">seconds</span>
          <span class="notranslate" ng-show="timeout <= 1">second</span>
        </p>
      </div>

      <div class="welcome-icon-box" ng-if="isAuth==1">
        <ul class="welcome-icon-list">
          <li>
            <a href="https://cjdropshipping.com/2018/08/07/how-to-list-or-post-cj-products-to-your-online-store/" target="_blank">
              <div class="icon_radius"><i class="iconfont">&#xe676;</i></div>
              <div class="icon_text">List CJ Products to Your Stores</div>
            </a>
          </li>
          <li>
            <a href="https://cjdropshipping.com/2018/03/25/how-to-post-sourcing-request-on-app-cjdropshipping-com/" target="_blank">
              <div class="icon_radius"><i class="iconfont">&#xe677;</i></div>
              <div class="icon_text">Post Sourcing Request</div>
            </a>
          </li>
          <li>
            <a
              href="https://cjdropshipping.com/2019/11/26/no-need-to-revise-product-listing-in-your-store-just-use-cj-automatic-connection-feature/" target="_blank">
              <div class="icon_radius"><i class="iconfont">&#xe63c;</i></div>
              <div class="icon_text">Connect Products</div>
            </a>
          </li>
          <li>
            <a
              href="https://cjdropshipping.com/2018/05/05/how-to-setup-automatically-drop-shipping-orders-processing-from-cj-app/" target="_blank">
              <div class="icon_radius"><i class="iconfont">&#xe647;</i></div>
              <div class="icon_text">Automatically Fulfill Orders</div>
            </a>
          </li>
          <li>
            <a href="https://cjdropshipping.com/print-on-demand/" target="_blank">
              <div class="icon_radius"><i class="iconfont">&#xe67a;</i></div>
              <div class="icon_text">Print on Demand</div>
            </a>
          </li>
          <li>
            <a href="https://cjdropshipping.com/2019/09/09/how-to-use-new-custom-package-feature/" target="_blank">
              <div class="icon_radius"><i class="iconfont">&#xe6d5;</i></div>
              <div class="icon_text">Custom Branding</div>
            </a>
          </li>
          <li>
            <a href="/home.html" target="_blank">
              <div class="icon_radius"><i class="iconfont">&#xe643;</i></div>
              <div class="icon_text">Worldwide Warehouse Source</div>
            </a>
          </li>
          <li>
            <a href="/list-detail.html" target="_blank">
              <div class="icon_radius"><i class="iconfont">&#xe648;</i></div>
              <div class="icon_text">Get Trending Products</div>
            </a>
          </li>
        </ul>
      </div>
    </div>


    <div class="check-log-authorized" ng-if="notLogin">
      <div class="group-img">
        <img src="static/image/login/Group2x.png" alt="">
      </div>
      <div class="group-content">
        <p>The Shopify store is authorized to the CJ account:</p>
        <p class="group-email" ng-cloak>{{existEmail}}</p>
        <p>Please log in to check it.</p>
      </div>
      <button class="group-login" ng-click="checkLogin(existEmail)">Log in</button>
    </div>



    <!--公共底部-->
    <common-footer class="auth-footer"></common-footer>
  </div>

  <!--初始化密码-->
  <div ng-cloak ng-if="showzzc2" class="zzc2"
    style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.4);z-index: 99999;">
    <div class="zzc2Wrap" style="padding: 20px;margin: 250px auto;background: #fff;border-radius: 4px;width: 350px">
      <h1 style="text-align: center;">Initializing password</h1>
      <div style="margin-top: 15px" ng-show="isWix">
        <label style="width:90px;">ShopURL:</label>
        <input ng-model="$parent.storeName"
          style="width: 200px;border: 1px solid #e4e4e4;height: 30px;border-radius: 4px; padding: 0 5px;" type="text" />
      </div>
      <div style="margin-top: 15px">
        <label style="width:90px;">Password:</label>
        <input ng-change="verifyPass()" ng-model="$parent.newPwd"
          style="width: 200px;border: 1px solid #e4e4e4;height: 30px;border-radius: 4px; padding: 0 5px;"
          type="password" />
      </div>
      <div ng-if="passErrorMsg!=''" style="color:red">{{ passErrorMsg }}</div>
      <div style="margin-top: 15px;text-align: center;">
        <button type="button" ng-click="surePwd();" style="padding: 5px 15px;color: #fff;border-radius: 4px;background: #F9AE08;">
          Confirm
        </button>
      </div>
    </div>
  </div>
  <!-- 授权失败 -->
  <div id="isCJPub" ng-show="authFailLayer" ng-cloak>
    <!-- 公用class：CJ-content -->
    <!-- 操作失败class：operate-fail -->
    <div class=" CJ-content operate-fail">
      <span class="close" ng-click="authFailLayer=false">×</span>
      <!-- icon span视具体情况加或不加-->
      <h3><span class="icon">!</span>Authorization Failed</h3>
      <p>
        {{authFailMes}}
      </p>
      <button class="btn1" ng-click="reAuthorize('ebay')">Reauthorize</button>
      <button class="btn2" ng-click="authFailLayer=false">Cancel</button>
    </div>
  </div>
  <!-- 嵌入到shopify start-->
  <!-- <script src="https://unpkg.com/@shopify/app-bridge"></script>
<script src="static/js/public/initializeS.js"></script> -->
  <!-- 嵌入到shopify end-->
  <script src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

  <script src="static/angular-1.5.8/angular-cookies.min.js"></script>
  <script src="static/layer/layer.js"></script>
  <script src="static/js/public/config.js"></script>
  <script src="static/js/public/common.js"></script>
  <script src="static/js/public/base64.min.js"></script>
  <script src="static/providers/filter/filter.js"></script>
  <script src="static/providers/utils/utils.js"></script>
  <script src="static/providers/directive/directive.js"></script>
  <!--js-->
  <!--md5-->
  <script src="https://miandan.cjdropshipping.com/js-lib/utils.1.0.0.js"></script>

  <script src="static/js/home/home-common.js"></script>
  <script src="static/js/home/welcome.js"></script>
  <script src="static/providers/cjdot/cjdot.js"></script>
  <!--消息模块-->
  <script src="static/js/cjmsg/cjmsg.js"></script>
  <!--公共头部-->
  <script src="static/components/headerandfooters/common-header.js"></script>
  <!--ticket-->
  <script src="./static/components/work_orders/workOrders.js"></script>
  <!--公共底部-->
  <script src="static/components/headerandfooters/common-footer.js"></script>
  <!--加载层-->
  <script src="static/loading/loading.js"></script>
  <!-- 智能引导 -->
  <script src="static/components/intel_guid/intel-guid.js"></script>
  <!-- <script src="https://chat.cjdropshipping.com/javascripts/chat.js" ></script> -->


  <script type="text/javascript" src="//laz-g-cdn.alicdn.com/sj/securesdk/0.0.3/securesdk_lzd_v1.js"
    id="J_secure_sdk_v2" data-appkey="111917" async="async"></script>
    <script src="https://www.dwin1.com/21578.js" type="text/javascript" defer="defer"></script>
  <!-- // skyWalking 监控-->
  <script  src="https://cc-west-usa.oss-accelerate.aliyuncs.com/web/cjweb/skyWalking.js"></script>
  <script src="/egg/libs/skyWalking/init.js"></script>
</body>

</html>
