.cjSearch {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  .innerBox {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo {
    img {
      width: 200px;
    }
  }
  .search {
    display: flex;
    flex: auto;
    margin: 0 10px;
  }
  .inputRestyle {
    height: 40px;
    border: 1px solid #bdbdbd;
    border-right: none;
    flex: auto;
    padding: 0 10px;
    background: transparent;
    border-radius: 2px 0 0 2px;
  }
  .searchBtn {
    flex: none;
    width: 64px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff7700;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
  }
  .queue {
    padding: 0 8px;
    height: 40px;
    background: #ff7700;
    border-radius: 2px;
    flex: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .queueText {
    color: #fff;
    margin: 0 5px;
  }
  .num {
    background: #fff;
    color: #ff7700;
    border-radius: 9px;
    height: 18px;
    line-height: 18px;
    min-width: 18px;
    text-align: center;
    padding: 0 3px;
  }
}
.w1200 {
  width: 1200px;
  margin: 0 auto;
}
