.print-on-demand-wrap {
  .tabIcon {
    font-size: 16px;
    color: var(--color-font-3);
    cursor: pointer;
    &:hover {
      color: var(--color-theme-1);
    }
  }
  .asj-pro-box {
    width: 100%;
    height: 78px;
    // padding: 6px 10px;
    font-size: 12px;
    // display: table;
    display: flex;
    align-items: center;
  }
  .asj-varient-box {
    width: 100%;
    height: 78px;
    padding: 6px 0;
    font-size: 12px;
    // display: table;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
  }

  .table-connected-top {
    background: #262626;
    height: 50px;
    line-height: 20px;
    color: #fff;
    font-weight: normal;
    padding: 10px;
    // display: table;
    width: 100%;
    border: 1px solid #fff;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }

  .table-connected-top div {
    text-align: center;
    font-size: 12px;
    display: table-cell;
  }

  .table-connected .check-box {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .table-connected .media-img {
    width: 8%;
  }

  .table-connected .media-store {
    width: 8%;
  }

  .pro-connected .media .media-store {
    padding: 0 5px;
    display: table-cell;
    vertical-align: middle;
    // height: 76px;
  }

  .pro-connected .media .media-store p {
    font-size: 12px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    text-align: center;
  }

  .table-connected .media-info {
    text-align: left;
    width: 7%;
  }

  .pro-connected .media .media-info {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
    // margin-right: 50px;
    max-width: 112px;
    /* 19-10-23 */
  }

  .pro-connected .media .media-info h4 {
    color: #454545;
    font-size: 12px;
    line-height: 24px;
    /*height: 48px;*/
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  .pro-connected .media .media-info .media-attr {
    color: #757575;
    font-size: 12px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  /*-------------*/
  .pro-connected .media .media-info .sold-out-txt {
    display: none;
  }

  .pro-connected .media .media-info .sold-out-txt.active {
    display: block;
    font-size: 12px;
    color: #fa6470;
  }

  /*-------------*/

  .pro-connected .media .pro-price {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    // height: 76px;
    line-height: 18px;
    // margin-right: 70px;
    color: #2f2f2f;
  }

  .pro-connected .media .center-btn {
    // display: table-cell;
    // text-align: center;
    // vertical-align: top;
    // margin-right: 90px;
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pro-connected .media .center-btn .top-img {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
    margin-bottom: 3px
  }

  .pro-connected .media .center-btn .disconnect-btn {
    width: 86px;
    height: 26px;
    line-height: 24px;
    padding: 0;
    border-color: var(--color-line-1);
    color: var(--color-font-1);
    font-size: 12px;
    &:hover {
      border-color: var(--color-theme-1);
      color: var(--color-theme-1);
    }
  }

  .pro-connected .media .pro-weight {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .pro-connected .media .pro-ship-method {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .pro-connected .media .pro-ship-cost {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .pro-connected .media .pro-ship-cost .check-cost-btn {
    margin: 5px;
    display: inline-block;
  }

  .pro-connected .media .pro-amount {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .pro-connected .media .pro-price-right {
    margin-right: 0;
  }


  .table-connected .pro-price {
    width: 6%;
  }

  .table-connected .center-btn {
    width: 8%;
  }

  .table-connected .pro-weight {
    width: 8%;
  }

  .table-connected .pro-ship-method {
    width: 7%;
  }

  .table-connected .pro-ship-cost {
    width: 12%;
  }

  .table-connected .pro-amount {
    width: 10%;
  }

  .table-connected .operating {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .table-connected .operating button {
    border-radius: 4px;
    border: 1px solid rgba(193, 193, 193, 1);
    font-size: 12px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    padding: 5px 5px;
    margin: 4px 0;
  }

  .pro-connected .media .media-img .small-img {
    max-width: 76px;
    max-height: 76px;
    background: #fff;
    object-fit: contain;
    border: 1px solid #eee;
    margin: 0 auto;
  }

  .pro-connected .media .media-img {
    display: table-cell;
    vertical-align: middle;
    // height: 76px;
    position: relative;
    cursor: pointer;
    text-align: center;
  }

  .pro-connected .media .media-img:hover .big-img {
    display: block;
  }
  .big-img {
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    width: 300px;
    height: auto;
    left: 100%;
    bottom: 0;
    display: none;
    z-index: 99;
  }

  .single-role-drop {
    text-align: center;
  }

  .asj-drop-btn {
      // position: absolute;
      // left: 50%;
      // margin-left: -10px;
      width: 25px;
      border-radius: 10px;
      text-align: center;
      line-height: 16px;
      color: #000;
      margin-top: 5px;
      img {
        width: 25px;
        height: auto;
    }
  }
  .media {
    border: 1px solid #ececec;
    position: relative;
    padding: 6px 10px;
  }
  .hide-more {
    bottom: 5px;
    left: 34.6%;
  }
  .more-btn {
    top: 55px;
  }
}
.vip {
  .print-on-demand-wrap .table-connected-top{color:#F3DBA5;}
  .pro-connected .media .center-btn .disconnect-btn {
    &:hover {
      border-color: var(--color-theme-1-vip);
      color: var(--color-theme-1-vip);
    }
  }
  .tabIcon {
    &:hover {
      color: var(--color-theme-1-vip);
    }
  }
}