.print-on-demand-wrap {
  /*-------------*/
  /*-------------*/
}
.print-on-demand-wrap .asj-pro-box {
  width: 100%;
  height: 78px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.print-on-demand-wrap .asj-varient-box {
  width: 100%;
  height: 78px;
  padding: 6px 0;
  font-size: 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.print-on-demand-wrap .table-connected-top {
  background: #f4f8fd;
  height: 50px;
  line-height: 20px;
  color: #000;
  font-weight: normal;
  padding: 10px;
  width: 100%;
  border: 1px solid #fff;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.print-on-demand-wrap .table-connected-top div {
  text-align: center;
  font-size: 12px;
  display: table-cell;
}
.print-on-demand-wrap .table-connected .check-box {
  display: flex;
  align-items: center;
  height: 100%;
}
.print-on-demand-wrap .table-connected .media-img {
  width: 8%;
}
.print-on-demand-wrap .table-connected .media-store {
  width: 8%;
}
.print-on-demand-wrap .pro-connected .media .media-store {
  padding: 0 5px;
  display: table-cell;
  vertical-align: middle;
}
.print-on-demand-wrap .pro-connected .media .media-store p {
  font-size: 12px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-align: center;
}
.print-on-demand-wrap .table-connected .media-info {
  text-align: left;
  width: 7%;
}
.print-on-demand-wrap .pro-connected .media .media-info {
  display: table-cell;
  vertical-align: middle;
  padding: 0 5px;
  max-width: 99px;
  /* 19-10-23 */
}
.print-on-demand-wrap .pro-connected .media .media-info h4 {
  color: #454545;
  font-size: 12px;
  line-height: 24px;
  /*height: 48px;*/
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.print-on-demand-wrap .pro-connected .media .media-info .media-attr {
  color: #757575;
  font-size: 12px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.print-on-demand-wrap .pro-connected .media .media-info .sold-out-txt {
  display: none;
}
.print-on-demand-wrap .pro-connected .media .media-info .sold-out-txt.active {
  display: block;
  font-size: 12px;
  color: #fa6470;
}
.print-on-demand-wrap .pro-connected .media .pro-price {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  color: #2f2f2f;
}
.print-on-demand-wrap .pro-connected .media .center-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.print-on-demand-wrap .pro-connected .media .center-btn .top-img {
  width: 25px;
  height: 25px;
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}
.print-on-demand-wrap .pro-connected .media .center-btn .disconnect-btn {
  width: 86px;
  height: 26px;
  line-height: 24px;
  padding: 0;
  border-color: #cbcbcb;
  color: #838383;
  font-size: 12px;
}
.print-on-demand-wrap .pro-connected .media .pro-weight {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.print-on-demand-wrap .pro-connected .media .pro-ship-method {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.print-on-demand-wrap .pro-connected .media .pro-ship-cost {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.print-on-demand-wrap .pro-connected .media .pro-ship-cost .check-cost-btn {
  margin: 5px;
  display: inline-block;
}
.print-on-demand-wrap .pro-connected .media .pro-amount {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.print-on-demand-wrap .pro-connected .media .pro-price-right {
  margin-right: 0;
}
.print-on-demand-wrap .table-connected .pro-price {
  width: 6%;
}
.print-on-demand-wrap .table-connected .center-btn {
  width: 8%;
}
.print-on-demand-wrap .table-connected .pro-weight {
  width: 8%;
}
.print-on-demand-wrap .table-connected .pro-ship-method {
  width: 7%;
}
.print-on-demand-wrap .table-connected .pro-ship-cost {
  width: 12%;
}
.print-on-demand-wrap .table-connected .pro-amount {
  width: 10%;
}
.print-on-demand-wrap .table-connected .operating {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.print-on-demand-wrap .table-connected .operating button {
  border-radius: 4px;
  border: 1px solid #c1c1c1;
  font-size: 12px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #666666;
  padding: 5px 5px;
  margin: 4px 0;
}
.print-on-demand-wrap .pro-connected .media .media-img .small-img {
  max-width: 76px;
  max-height: 76px;
  background: #fff;
  object-fit: contain;
  border: 1px solid #eee;
  margin: 0 auto;
}
.print-on-demand-wrap .pro-connected .media .media-img {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  text-align: center;
}
.print-on-demand-wrap .pro-connected .media .media-img:hover .big-img {
  display: block;
}
.print-on-demand-wrap .big-img {
  position: absolute;
  max-width: 400px;
  max-height: 400px;
  width: 300px;
  height: auto;
  left: 100%;
  bottom: 0;
  display: none;
  z-index: 99;
}
.print-on-demand-wrap .single-role-drop {
  text-align: center;
}
.print-on-demand-wrap .asj-drop-btn {
  width: 25px;
  border-radius: 10px;
  text-align: center;
  line-height: 16px;
  color: #000;
  margin-top: 5px;
}
.print-on-demand-wrap .asj-drop-btn img {
  width: 25px;
  height: auto;
}
.print-on-demand-wrap .media {
  border: 1px solid #ececec;
  position: relative;
  padding: 6px 10px;
}
.print-on-demand-wrap .hide-more {
  bottom: 5px;
  left: 34.6%;
}
.print-on-demand-wrap .more-btn {
  top: 55px;
}
