.wrap {
  padding: 0 16px 16px;
  border-radius: 8px;
  background-color: #fefefe;
  font-size: 14px;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;

    .title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .border_bottom {
    border-bottom: 1px solid #f5f7fa;
  }

  .content {
    padding-top: 16px;
  }
}
