.PrintContent {
  .hasListData {
    display: flex;
    justify-content: initial;
    min-height: 350px;
    flex-wrap: wrap;
  }

  .hasListData li {
    width: 236px;
    height: 340px;
    border-radius: 2px;
    float: left;
    position: relative;
    margin: 0 5px 10px 5px;
    transition: all .3s;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #eee;
    cursor: pointer;
  }

  .hasListData li .tag {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/static/image/CJ-home/bestNum.png);
    width: 20px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    color: #fff;
    line-height: 20px;
    text-align: center;
  }

  .hasListData li:hover {
    transition: all .3s;
  }


  .hasListData li a {
    width: 234px;
    height: 220px;
    display: inline-block;
    overflow: hidden;
    border-radius: 2px 2px 0 0;
  }

  .hasListData li a img {
    width: 100%;
    height: 220px;
    transition: all 0.3s;
  }

  .hasListData li a img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }

  .hasListData li .isVideo {
    position: absolute;
    right: 0;
    top: 0;
    width: 98px;
    height: 25px;
    background: rgba(255, 119, 0, 1);
    border-radius: 0px 2px 0px 2px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 25px;
    text-align: center;
    font-size: 12px;
  }

  .hasListData li .info {
    padding: 0 12px;
  }

  .hasListData li .info h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 41px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 20px;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    text-align: left;
  }

  .hasListData li .info h3:hover {
    color: #FF7700;
  }

  .hasListData li .info .info-txt {
    margin: 3px auto 0 auto;
    line-height: 30px;
    text-align: right;
  }

  .hasListData li .info .price {
    font-size: 18px;
    font-weight: 500;
    // color: rgba(255, 116, 0, 1);
    line-height: 25px;
    margin-right: 12px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    display: inline-block;
    white-space: nowrap;
  }

  .hasListData li .info .Personalise {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/static/image/CJ-home/pod@2x.png);
    width: 22px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    margin-right: 4px;
  }

  .hasListData li .info .listed {
    width: 100%;
    line-height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hasListData li .info .listed:after{
    content:"";
    display: none;
  }

  .hasListData li .info .Nwishlist {
    width: 17px;
    height: 15px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
  }

  .hasListData li .info .Ywishlist {
    width: 17px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

  .hasListData li .info .listOrsource {
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 22px;
    width: 56px;
    height: 22px;
    // background: rgba(247, 142, 41, 1);
    border-radius: 2px;
    text-align: center;
  }

  .hasListData li .info .listedNum {
    float: left;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    margin-right: 6px;
  }

  .hasListData li .info .add-to-cart {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 22px;
    width: 95px;
    height: 22px;
    background: rgba(247, 142, 41, 1);
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }
}
