.goods-cart {
  font-family: Helvetica-Bold;
  color: #333333;

  del{
    color: #000;
  }
  .fl {
    float: left;
  }

  .fr {
    float: right;
  }

  .clearfix {
    background-color: #fff;
  }

  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }

  .title {
    line-height: 40px;
  }

  .mycj-right-bar {
    min-width: 980px;
  }

  .back {
    color: #666666;
    font-size: 14px;
    cursor: pointer;
  }

  .back .backimg {
    width: 20px;
  }

  .back-btn{
    font-size:16px;
  }

  .title .allgood {
    margin-left: 20px;
    font-size: 14px;
  }

  .action-btn{
    min-height: 120px;
    
    a{
      height: 30px;
      text-align: center;
      line-height: 30px;
      border-radius: 4px;
      font-size: 12px;
      margin: 5px;
      width: 110px;
      display: inline-block;
    }
  }

  .header {
    width: 100%;
    height: 44px;
    background:rgba(240,237,231,1);
    line-height: 44px;
    font-size: 14px;
  }

  .header li {
    float: left;
    text-align: left;
    font-size: 14px;
  }

  .header li:nth-child(1) b,
  .ischecked b {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
  }

  .header li:nth-child(1) img,
  .ischecked img {
    width: 18px;
    height: 18px;
  }

  .content li {
    padding: 10px;
    border-bottom: 1px solid #f0ede7;
  }

  .content li:hover {
    background-color: #FFF7D9;
  }

  .content li .proimg {
    max-width: 100px;
    max-height: 100px;
  }

  .content .ischecked {
    display: inline-block;
    margin-right: 10px;
    margin-top: 40px;
  }

  .content .Product {
    line-height: 30px;
    margin-top: 25px;
  }

  .content div {
    float: left;
  }

  .content .Product span {
    font-size: 14px;
    font-family: Helvetica;
    display: block;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .content .Product .bundle-btn{
    display: inline-block;
    line-height: 22px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    color: #10AD57;
    background: rgba(19, 206, 102, 0.1);
    border: 1px solid rgba(19, 206, 102, 0.2);
  }

  .content .Product span:nth-child(2) {
    color: #999999;
  }

  .content .Price,
  .Subtotal {
    font-size: 14px;
    color: rgba(51, 51, 51, 1);
    line-height: 120px;
    padding-left: 6px;
  }
  .cart-price {
	font-size: 14px;
	margin-left: 20px;
	color: #333;
	line-height: 30px;
  }
  .content .Quantity .commodity {
    font-size: 14px;
    text-align: center;
    height: 35px;
    margin-top: 45px;
  }

  .content .Quantity .commodity span {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #d4d4d4;
    text-align: center;
    margin-left: -1px;
    cursor: pointer;
  }

  .content .Quantity .commodity input {
    float: left;
    width: 40px;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 2px;
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius: 0;
    margin-left: -1px;
  }

  .content .Subtotal {
    padding-left: 22px;
  }

  .content .Operate {
    margin-top: 20px;
  }

  .content .Operate a {
    display: block;
    font-size: 14px;
    font-family: Helvetica;
    color: rgba(51, 51, 51, 1);
    line-height: 25px;
  }

  .content .Operate a:hover {
    color: #f39800;
  }

  .fixedBox {
    width: 100%;
    position: relative;
    right: 0;
    bottom: 0;
    // padding-left: 220px;
    // padding-right: 20px;
    z-index: 8;
  }

  .Clearing {
    width: 100%;
    height: 60px;
    margin-top: 32px;
    line-height: 60px;
    background-color:#F0EDE7;
    font-size: 14px;
    display: flex;
  }

  .Clearing .ischecked b {
    margin: 20px 10px;
  }

  .Clearing .ischecked img {
    margin: 20px 10px;
  }

  .Clearing a {
    margin-left: 20px;
  }

  .Clearing .sub button {
    width: 200px;
    height: 60px;
    color: #fff;

    &.preorder-btn{
      background-color:#F78E29;

      &:hover{
        background-color:#F09001;
      }
    }

    &.bulk-btn{
      background-color:#FF7700;

      &:hover{
        background-color: #FF9900;
      }
    }
  }

  .likedtitle {
    font-size: 14px;
    font-family: Helvetica;
    color: rgba(51, 51, 51, 1);
    margin: 20px 0;
  }

  .liked {
    width: 1200px;
  }

  .liked li {
    width: 210px;
    height: 265px;
    padding: 5px;
    border: 1px solid #E9E9E9;
    margin: 0 15px 15px 15px;
    float: left;
  }

  .liked li img {
    max-width: 200px;
    max-height: 200px;
  }

  .liked li .productdetail {
    padding: inherit;
  }

  .liked li .productdetail .detail-text {
    display: block;
    font-size: 12px;
    color: #636363;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    margin-top: 3px;
    height: 16px;
    line-height: 12px;
  }

  .liked li .productdetail .product-price {
    font-size: 18px;
    color: #2e2e2e;
    display: inline-block;
    vertical-align: top;
  }

  .liked li .productdetail .listing a {
    display: inline-block;
    background-color: #fe5858;
    height: 26px;
    padding: 0 5px;
    line-height: 26px;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    float: right;
  }

  .commodity span {
    float: left;
    height: 30px;
    line-height: 28px;
    border: 1px solid #d4d4d4;
    text-align: center;
    margin-left: -1px;
    cursor: pointer;
  }

  .commodity input {
    float: left;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 2px;
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius: 0;
    margin-left: -1px;
  }

  /*弹窗*/
  .dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10002;
  }

  .dialog .content {
    position: absolute;
    width: 480px;
    height: 210px;
    background-color: #fff;
    border-radius: 4px;
    color: #333333;
    font-size: 16px;
    font-family: Helvetica;
    margin: auto;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  }

  .dialog .content h3 {
    height: 34px;
    background: rgba(246, 246, 246, 1);
    line-height: 34px;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 14px;
    color: #666;
  }

  .dialog .content h3 span:nth-child(2) {
    font-size: 22px;
    cursor: pointer;
  }

  .dialog .content .cont {
    padding: 20px 30px 0 60px;
    font-family: Helvetica;
    color: #999;
  }

  .dialog .content .cont img {
    width: 47px;
    height: 42px;
    margin-right: 12px;
    margin-top: 7px;
  }

  .dialog .content .cont h4 {
    color: #f68632;
    font-size: 18px;
    line-height: 35px;
    font-family: Helvetica-Bold;
    font-weight: bold;
  }

  .dialog .content .cont p {
    font-size: 12px;
  }

  .dialog .content .btns {
    margin-top: 30px;
    font-size: 14px;
    padding-left: 60px;
  }

  .dialog .content .btns button:nth-child(1) {
    width: 80px;
    height: 30px;
    background: rgba(246, 246, 246, 1);
    border-radius: 2px;
    border: 1px solid #B9B9B9;
    color: #999;
    margin-right: 135px;
  }

  .dialog .content .btns button:nth-child(2) {
    width: 160px;
    height: 30px;
    background: rgba(231, 73, 25, 1);
    border-radius: 2px;
    color: #fff;
  }

  .wishist .content .cont img {
    width: 55px;
    height: 49px;
    margin-right: 12px;
    margin-top: 12px;
  }

  .wishist .content .btns button:nth-child(1) {
    width: 80px;
    height: 30px;
    background: rgba(231, 73, 25, 1);
    border-radius: 2px;
    color: #fff;
    margin-right: 180px;
    border: none;
  }

  .wishist .content .btns button:nth-child(2) {
    border: 1px solid #B9B9B9;
    width: 80px;
    height: 30px;
    background: rgba(246, 246, 246, 1);
    border-radius: 2px;
    color: #999;
  }

  .cart-tips {
    font-size: 14px;
    line-height: 20px;
    color: #FF6010;
    margin: 10px 0;
    float: right;
  }

  @media screen and (max-width: 1200px) {
    .mycj-right-bar {
      min-width: 935px;
    }

    .liked {
      width: 910px;
    }

    .liked li {
      width: 200px;
      margin: 0 13px 15px 14px;
    }

    .liked li img {
      max-width: 184px;
      max-height: 184px;
    }

  }

  .noOrders {
    padding: 50px 0;
    text-align: center;

    img {
      width: 240px;
      height: 240px;
    }
    .txt {
      color: var(--color-font-3);
    }
  }

}

.vip .goods-cart{
  .Clearing .sub button {

    &.preorder-btn{
      background-color:#DFAD65;

      &:hover{
        background-color:#A17C4E;
      }
    }

    &.bulk-btn{
      background-color:#D29236;
      
      &:hover{
        background-color: #865C20;
      }
    }
  }

  .text-theme-hover:hover {
		color: var(--color-theme-1-1-vip) !important;
	}

  .PrintContent .hasListData li .info h3:hover{
    color:#dda863 !important;
  }
}

.view-history-info {
  display: flex;
  align-items: center;
  position: relative;
}
.view-history-info .wishlistIcon {
  position: absolute;
  right: 0px;
}
.wishlist::after {
  content: '\e681';
  color: var(--color-theme-1);
}
.unwishlist::after {
  content: '\e683';
}
.vip .wishlist::after {
  color: var(--color-theme-1-vip);
}
.unwishlist:hover::after {
  color: var(--color-theme-1);
}
.vip .unwishlist:hover::after {
  color: var(--color-theme-1-vip);
}