<div class="content goods-cart" id="myCart">
  <div class="mycj-home-box">
    <div class="mycj-right-wrap">
      <div class="top-space-bar"></div>
      <div class="mycj-right-bar">
        <p class="title">
          <a class="back-btn text-theme text-theme-hover" ng-click="back()">&lt; Back</a>
          <span class="allgood text-theme" id="carts">All Item<span ng-if="buylist.length>1">s</span> <span>{{buylist.length}}</span></span>
        </p>
        <div id="my-right-list-box" style="background: #fff;">
          <ul class="header clearfix">
            <li style="margin: 13px 10px 0 10px;">
              <b ng-click="AllChecked()" ng-show="!checked" class="fl checked"></b>
              <img width="18" ng-click="AllChecked()" ng-show="checked" class="fl checked"
                src="static/image/goods/checked2.png" alt="">
            </li>
            <li style="width: 15%">Check All</li>
            <li style="width: 20%">Product</li>
            <li style="width: 15%">Price</li>
            <li style="width: 15%">Quantity</li>
            <li style="width: 15%">Subtotal</li>
            <li style="width: 16%">Operation</li>
          </ul>
          <ul class="content" id="myContent" nng-show="!noOrders">
            <li ng-repeat="item in buylist track by $index" class="clearfix">
              <div class="ischecked fl">
                <b ng-click="cldChecked(item)" ng-show="!item.checked" class="fl checked"></b>
                <img width="18" ng-click="cldChecked(item)" ng-show="item.checked" class="fl checked"
                  src="static/image/goods/checked2.png" alt="">
              </div>
              <div style="width: 15%">
                <img class="fl proimg" ng-src="{{item.BIGIMG | IMG_SIZE: 100}}" alt="">
              </div>
              <div class="Product" style="width: 20%;">
                <span ng-attr-title="{{item.NAMEEN}}">{{item.NAMEEN}}</span>
                <span ng-attr-title="{{item.SKU}}">{{item.SKU}}</span>
                <span ng-if="item.isGroupProduct" class="bundle-btn" ng-click="openBundle(item.groupProductList)">Bundle Products</span>
              </div>
              <div class="Price notranslate" style="width: 15%;">
                <span ng-if="!item.nowPrice">{{item.SELLPRICE | currency}}</span>
                <ng-template ng-if="item.nowPrice">
                  <span>{{item.nowPrice | currency}}</span>
                  <del ng-if="toFixed2(item.SELLPRICE) !== toFixed2(item.nowPrice)">{{item.SELLPRICE | currency}}</del>
                </ng-template>
              </div>
              <div class="Quantity notranslate" style="width: 15%;">
                <div class="commodity fl">
                  <div class="iteminner clearfix">
                    <span class="minus" ng-click="minusOne(item.itemcount,$index)">-</span>
                    <input value="{{item.itemcount}}" ng-model="item.itemcount"
                      ng-change="checkIsNum(item.itemcount,$index)">
                    <span class="plus" ng-click="plusOne(item.itemcount,$index)">+</span>
                  </div>
                </div>
              </div>
              <div class="Subtotal notranslate" style="width: 15%;">
                <span ng-if="!item.nowPrice">{{(item.SELLPRICE*item.itemcount).toFixed(2) | currency}}</span>
                <ng-template ng-if="item.nowPrice">
                  <span>{{(item.nowPrice*item.itemcount).toFixed(2) | currency}}</span>
                  <del ng-if="toFixed2(item.SELLPRICE) !== toFixed2(item.nowPrice)">{{(item.SELLPRICE*item.itemcount).toFixed(2) | currency}}</del>
                </ng-template>
              </div>
              <div class="action-btn flex-row justify-content-center align-items-center" style="width: 16%;display: flex;">
                <a href="" class="btn-line-theme" ng-show="item.isCollect == '0'" ng-click="AddCollection(item,$index,$event)">Add to Wishlist</a>
                <a href="" class="btn-line-theme" ng-click="delbuy(item,$index)">Delete</a>
                <img class="cartcoll" style="width: 0;" src="static/image/home/collect-red.png" alt="">
              </div>
            </li>
          </ul>
          <div class="noOrders" ng-show="noOrders">
            <img src="static/image/new-nodata/before-search.png" ng-show="!isVip" alt="">
            <img src="static/image/new-nodata/before-search-vip.png" ng-show="isVip" alt="">
            <p class="txt">No orders yet.</p>
          </div>
        </div>

        <div class="fixedBox" id="fixedBox">
          <div class="Clearing justify-content-between align-items-center">
            <div style="display: flex;" class="justify-content-start align-items-center">
              <div class="ischecked">
                <b ng-click="AllChecked()" ng-show="!checked" class="fl checked"></b>
                <img width="18" ng-click="AllChecked()" ng-show="checked" class="fl checked"
                  src="static/image/goods/checked2.png" alt="">
              </div>
              <span>All</span>
              <a href="" ng-click="batchDel()" class="text-theme text-theme-hover">Delete the selected items</a>
            </div>

            <div class="sub justify-content-end align-items-center" style="display: flex;">
              <span>
                Amount: <span style="font-size: 22px;margin-right: 20px;" class="text-theme notranslate"> {{total | currency}}</span>
              </span>
              <button ng-click="cartSub('2')" class="preorder-btn">Preorder Inventory</button>
              <button ng-click="cartSub('1')" class="bulk-btn" ng-show="showPurchaseButton">Bulk Purchase</button>
            </div>
          </div>
          <div class="clearfix">
            <p class="cart-tips" ng-show="showPurchaseButton">* You can click “Bulk Purchase” to ship to a single address or “Preorder Inventory” to
              stock products in CJ.</p>
            <p class="cart-tips" ng-show="!showPurchaseButton">* You can click “Preorder Inventory” to stock products in CJ.</p>
          </div>
        </div>

        <!-- <div class="clearfix">
          <p class="cart-tips">* You can click “Bulk Purchase” to ship to a single address or “Preorder Inventory” to
            stock products in CJ.</p>
        </div> -->
        <div ng-show="relatedList.length > 0" id="relatedList">
          <h3 class="likedtitle">To see what other people who bought the product liked.</h3>
          <div class="PrintContent">
            <ul class="clearfix hasListData">
              <li ng-repeat="(index,item) in relatedList track by $index" ng-click="goTodetail(item)" ng-cloak>
                <a href="javascript:void(0);" class="view-detail-a">
                  <img class="product-img" ng-src="{{'https://'+item.bigImg | IMG_SIZE: 234:220}}"
                    title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>
                </a>
                <span ng-show="item.isHaveVideo == 'HAVE_VIDEO'" class="isVideo" ng-cloak>Video Available</span>
                <div class="info">
                  <h3 title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>{{(item.english ||
                                        item.nameEn) | fWordUpcase}}</h3>
                  <p class="info-txt clearfix">
                    <span ng-show="item.isAut != 1"><span class="listedNum" ng-if="item.flag==1" ng-cloak>List<span ng-if="item.num>1">s</span>: {{item.num}}</span></span>
                    <i ng-show="item.isPersonalized == '1'" class="Personalise" ng-cloak></i>
                    <img class="Nwishlist" src="static/image/CJ-home/icon_love@2x.png" ng-if="item.isCollect == 0"
                      ng-click="collectMerch(item.flag, item.id, $event)" ng-mouseenter="MerchEnter($event)"
                      ng-mouseleave="MerchLeave($event)" ng-cloak>
                    <img class="Ywishlist" src="static/image/CJ-home/icon_wishlist_click@2x.png"
                      ng-if="item.isCollect == 1" ng-click="collectMerch(item.flag, item.id, $event)" ng-cloak>
                  </p>
                  <div class="listed clearfix">
                    <span class="price text-theme"
                      ng-cloak>${{(item.price || item.sellPrice || item.SELLPRICE).replace(' -- ', '-')}}</span>
                    <a class="ui-btn btn-theme" href="javascript:void(0);" ng-click="addDia(item.id,$event)" ng-cloak>Add
                      to cart</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div ng-show="History.length>0" style="padding-bottom: 45px;">
          <h3 class="likedtitle">View History</h3>
          <div class="PrintContent">
            <ul class="clearfix hasListData">
              <li ng-repeat="(index,item) in History track by $index" ng-click="goTodetail(item)" ng-cloak>
                <a href="javascript:void(0);" class="view-detail-a">
                  <img class="product-img" ng-src="{{'https://'+item.bigImg | IMG_SIZE: 234:220}}"
                    title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>
                </a>
                <span ng-show="item.isHaveVideo == 'HAVE_VIDEO'" class="isVideo" ng-cloak>Video Available</span>
                <div class="info">
                  <h3 title="{{(item.english || item.nameEn) | fWordUpcase}}" ng-cloak>{{(item.english ||
                                        item.nameEn) | fWordUpcase}}</h3>
                  <p class="info-txt view-history-info clearfix">
                    <span ng-show="item.isAut != 1"><span class="listedNum" ng-if="item.flag==1" ng-cloak>List<span ng-if="item.num>1">s</span>: {{item.num}}</span></span>
                    <i ng-show="item.isPersonalized == '1'" class="Personalise" ng-cloak></i>
                      <i 
                        class="iconfont unwishlist wishlistIcon"
                        ng-show="item.isCollect == 0"
                        ng-click="collectMerch(item.flag, item.id, $event,'History',item.isCollect)"
                        ng-cloak
                      ></i>
                      <i
                        class="iconfont wishlist wishlistIcon"
                        ng-show="item.isCollect == 1"
                        ng-click="collectMerch(item.flag, item.id, $event,'History',item.isCollect)"
                        ng-cloak
                      ></i>
                  </p>
                  <div class="listed clearfix">
	                  <span class="price text-theme" ng-show="item.nowPrice" ng-cloak>
		                  ${{item.nowPrice}}
	                  </span>
                    <span class="price text-theme"
                      ng-show="!item.nowPrice"
                      ng-cloak>${{(item.price || item.sellPrice || item.SELLPRICE).replace(' -- ', '-')}}</span>
                    <div class="ui-btn btn-theme" href="javascript:void(0);" ng-click="addDia(item.id,$event)" ng-if="item.isPersonalized !== '1'" ng-cloak>Bulk Purchase</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--组合商品详情弹窗-->
	<bundle-products products="groupProductList" close="closeBundle" ng-if='bundleshow'/>
  <!--弹窗-add-->
  <div id="add-store" ng-show="addDialog" class="ng-scope">
    <div class="ASL-content clearfix">
      <img class="closel" ng-click="close()" width="30" src="static/image/page/close-default.png" alt="">
      <img class="proimg fl" ng-src="{{additem.BIGIMG | IMG_SIZE: 200}}" alt="">
	    <div class="fr" style="width: 385px;">
        <h3 ng-attr-title="{{additem.NAMEEN}}">{{additem.NAMEEN}}</h3>
        <p>SKU: {{additem.SKU}}</p>
        <div ng-show="varientArr.length>0">
          <h3>Specifications:</h3>
          <select class="varient-sel" ng-repeat="items in varientArr track by $index" ng-model="items.val"
                  ng-change="chanVariant(items.val, $index)" index="{{ $index }}">
            <option value="{{ item }}" ng-repeat="item in items.key track by $index">{{ item }}</option>
          </select>
        </div>
        <div class="clearfix">
          <h3>Quantity:</h3>
          <div class="commodity fl clearfix">
            <div class="iteminner clearfix">
              <span class="minus" ng-click="minusOne(itemcount)">-</span>
              <input value="{{itemcount}}" ng-model="itemcount" onpaste="return false;" ng-blur="checkIsNum(itemcount)">
              <span class="plus" ng-click="plusOne(itemcount)">+</span>
            </div>
          </div>
          <div class="fl cart-price">
	          Price:
	          <span ng-if="!variantItem.nowPrice">{{variantItem.SELLPRICE | currency}}</span>
            <ng-template ng-if="variantItem.nowPrice">
              <span>{{variantItem.nowPrice | currency}}</span>
              <del ng-if="toFixed2(variantItem.SELLPRICE) !== toFixed2(variantItem.nowPrice)">{{variantItem.SELLPRICE | currency}}</del>
            </ng-template>
          </div>
          <div class="fl cart-price">
	          Total: <span>{{toFixed2((variantItem.nowPrice ? variantItem.nowPrice : variantItem.SELLPRICE) * itemcount) | exchangeRate}}</span>
          </div>
        </div>
        <button class="sub ui-btn btn-theme" ng-click="addbuy($event)">Add</button>
      </div>
    </div>
  </div>
  <!--弹窗-删除-->
  <div ng-show="isdelete" class="dialog">
    <div class="content clearfix">
      <h3 class="clearfix">
        <span class="fl">Delete</span>
        <span class="fr" ng-click="isdelete = false;">×</span>
      </h3>
      <div class="cont clearfix">
        <img class="fl" src="static/image/goods/goods-w.png" alt="">
        <div class="fl">
          <h4>Delete Item?</h4>
          <p>You can either Delete the item or move to the Wishlist</p>
        </div>
      </div>
      <div class="btns">
        <button ng-click="delete()">Delete</button>
        <button ng-click="wishist()">Move to the Wishlist</button>
      </div>
    </div>
  </div>
  <!--弹窗-收藏-->
  <div ng-show="iswishist" class="dialog wishist">
    <div class="content clearfix">
      <h3 class="clearfix">
        <span class="fl">Follow with interest</span>
        <span class="fr" ng-click="iswishist = false;">×</span>
      </h3>
      <div class="cont clearfix">
        <img class="fl" src="static/image/goods/goods-l.png" alt="">
        <div class="fl" style="width: 300px;">
          <h4>Move to the Wishlist?</h4>
          <p>The selected item will not appear in the shopping cart after moving</p>
        </div>
      </div>
      <div class="btns">
        <button ng-click="wishist()">Confirm</button>
        <button ng-click="iswishist = false;">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script>

</script>
