.mycj-goods {
  .mycj-right-bar{
  }
  .PrintContent .hasListData{
	justify-content: left;
	min-height: calc(100vh - 345px);
  }
  .pd-related-con{
	padding-left: 10px;
  }
  del{
    color: #999;
  }
  position: relative;

  .pd-related-con .row .col-xs-3 .product-detail .listing a {
    width: inherit;
  }

  .fl {
    float: left;
  }

  .fr {
    float: right;
  }

  .pd-related-con .row {
    display: inherit;
  }

  .type-select .select {
    width: 324px;
    height: 40px;
    border: 2px solid #EEEEEE;
    position: relative;
    padding: 0 10px;
    margin-left: 9px;
  }

  .commodity-item {
    margin: inherit;
  }

  .type-select {
    display: inline-flex;
    line-height: 40px;
    position: relative;
    float: left;
  }


  .type-select .select:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 6px solid #7D7D7D;
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .type-select ul {
    position: absolute;
    width: 324px;
    background-color: #fff;
    z-index: 10;
    border: 2px solid #EEEEEE;
    top: 38px;
    left: 64px;
  }

  .type-select ul li {
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    padding: 0 10px;
  }

  .type-select ul li:hover {
    background: rgba(252, 157, 74, 1);
  }

  .search-bar {
    margin-left: 30px;
  }

  .search-bar input {
    width: 324px;
    height: 40px;
    border: 2px solid #F29748;
  }

  .search-bar .search-btn {
    height: 40px;
  }

  .favorite-header {
    padding-bottom: inherit;
    border-bottom: inherit;
    padding-left: 20px;
  }

  .sum {
    font-size: 14px;
    font-family: Helvetica;
    color: #333333;
    line-height: 36px;
    padding-left: 20px;
  }

  .pd-related-con .row .col-xs-3 {
    margin: 5px;
    border-color: #E9E9E9;
  }


  .add-store {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10002;
  }

  .add-store .commodity {
    margin: inherit;
  }

  .add-store .commodity span {
    width: 30px;
  }

  .add-store .commodity input {
    width: 40px;
  }

  .add-store .cart-price {
    font-size: 14px;
    font-family: Helvetica;
    margin-left: 20px;
    color: #333;
    line-height: 30px;
  }

  .add-store .sub {
    width: 298px;
    height: 30px;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    font-family: Helvetica;
    margin-top: 20px;
    margin-left: 0;
  }

  .pd-related-con .row .col-xs-3 .product-detail .product-price {
    max-width: 113px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .cart_rt .cart_list .Clearing .view:hover {
    // background-color: #fff;
    // color: #f29748;
    transition: ease 0.3s;
    // border-color: #fff;
  }

  .PrintContent .hasListData li .info .listOrsource {
    width: 98px;
  }

  .PrintContent .hasListData li{
    position: relative;

    .videoIcon {
      position: absolute;
      left: 50%;
      top: 32%;
      line-height: 1;
      font-size: 40px;
      transform: translate(-50%, -50%);
      color: rgba(255, 255, 255, 0.7);
      text-align: center;
    }
  
    .videoIcon:after {
        content: '\e6b5';
    }
  }

  .asj-page-box{
    padding-left: 22px;
  }

  .title {
    padding-left: 20px;
    font-size: 18px;
    color: #254754;
    line-height: 25px;
    margin-bottom: 5px;
  }
}
