.categories {
  width: calc(100% - 126px);
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 19px;

  :global {
    .categories-left {
      width: calc(100% - 50px);
      height: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      overflow: hidden;
      transition: all 0.4s;
      .categories-left-item {
        color: #666;
        margin: 0 32px 21px 0;
        cursor: pointer;
        &:hover {
          color: #e56a00;
        }
      }
      .categories-left-item-active {
        color: #ff7700;
      }
    }
    .categories-left-auto {
      height: auto;
      transition: all 0.4s;
    }
    .categories-right {
      width: 50px;
      height: auto;
      .less-or-more {
        font-size: 12px;
        border-radius: 10px;
        border: 1px solid #e8e8e8;
        background: #fff;
        height: 20px;
        color: #666;
        text-align: center;
        line-height: 16px;
        word-break: keep-all;
        transition: all 0.4s;
        cursor: pointer;
        &:hover {
          border-color: #ff7700;
          color: #ff7700;
          transition: all 0.4s;
        }
      }
    }
  }
}
