.wrap {
  position: relative;
  display: block;

  :global {
    .bounce-wrap {
      &.active {
        .positionCover;
      }
      .bounce-box {
        position: relative;
        width: 64px;
        height: 64px;
        margin: auto;
        .loading-ball {
          width: 64px;
          height: 64px;
        }
        // .bounce {
        //   position: absolute;
        //   left: 0;
        //   top: 0;
        //   width: 100%;
        //   height: 100%;
        //   border-radius: 100%;
        //   background: #FF7700;
        //   opacity: .94;
        //   transform: scale(0);

        //   &.circle1 {
        //     animation: loading-bounce 2s 1s infinite ease-in-out;
        //   }

        //   &.circle2 {
        //     animation: loading-bounce 2s infinite ease-in-out;
        //   }
        // }
      }
    }
  }
}


.positionCover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  background: rgba(255, 255, 255, .49);
}
