@import '../../../colors.less';
.package-sign-list {
  .expanded-item {
    margin-left: 50px;
    padding: 10px 0;
    text-align: left;
    border-bottom: 1px solid @borderColor;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    > span {
      align-items: center;
      padding-right: 20px;
      flex: 1;
      display: flex;
      position: relative;
      line-height: 40px;
      > div {
        position: absolute;
        left: -45px;
      }
      > p {
        margin-bottom: 0;
      }
    }
  }
}
