{% block title %}
<title>Term of Use - CJdropshipping </title>
<meta name="description" property="og:description" content="CJdropshipping is committed to offering you a secure and fair trading platform. To support this commitment, this user agreement and other relevant policies are formulated to set out the complete terms and conditions of service that govern your access to and use of our website and service and state our expectations of users, user security, and protection measures, which supersedes any prior written or oral agreements on the same subject matter.">
<meta name="keywords" content="CJ Dropshipping term of use, CJ Dropshipping user agreement, CJ term of use, CJ user agreement">
<!-- share official picture -->
<meta property="og:type" content="website" />
<meta property="og:image" content="https://app.cjdropshipping.com/static/image/public-img/share1200x900.jpg" />
<meta property="og:image:width" content="1200px" />
<meta property="og:image:height" content="900px" />
{% endblock %}

{% extends "../layout/base.njk" %}

{% block head %}
<link rel="stylesheet" href="{{ PUBLIC_STYLE + '/home.css' | VERSION }}">
<link rel="stylesheet" href="{{ PUBLIC_STYLE + '/user-agreement.css' | VERSION }}">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1265799_ajmwa5ln9ee.css">
{% endblock %}

{% block body %}
<!-- 语言选择、快速导航入口、个人中心入口、登陆、注册 -->
<!-- LOGO、SEARCH -->
{% include "../snippet/common-top.njk" %}

<div class="user-agreement" id="vue-user-agreement">
  {% if iconType == 'cn' %}
  <a href="/user-agreement/en" class="language">
    <i class="iconfont iconyuyanqiehuan-zhongwen language-icon"></i>
  </a>
  {% endif %}
  {% if iconType == 'en' %}
  <a href="/user-agreement/cn" class="language">
    <i class="iconfont iconyuyanqiehuan-yingwen language-icon"></i>
  </a>
  {% endif %}
  
  <div class="main">
    <h3 class="title">
      {{ userAgreementEnList.userAgreementEnTitle | safe }}
    </h3>
    <div class="content">
      <p>{{ userAgreementEnList.userAgreementEnDesc | safe }}</p>
      <div class="list-box">
        {% for item in userAgreementEnList.userAgreementEn %}
        {% set userAgreementEnListBox = 'item-box' %}
        {% if loop.index0 == 0 %}
        {% set userAgreementEnListBox = 'item-box top-border' %}
        {% endif %}
          <div class="{{ userAgreementEnListBox }}">
            {% set openIdx = loop.index0 %}
            <h3 class="item-title" @click="handleShowMore($event)" i='{{openIdx}}'>
              <span>{{ item.title }}</span>
              <img src="/static/image/arrow/arrow-down1.png" class="trems-arrow" alt="">
            </h3>
            <div class="item-content" id="item-content{{loop.index0}}">
              {% if item.description %}
              <p class="normal-desc">{{ item.description | safe }}</p>
              {% endif %}

              {% for contentItem in item.list %}
              <div class="flex-box">
                <p class="normal-desc" style="word-break: keep-all;">{{ contentItem.serialNumber | safe }}</p>
                <p class="normal-desc">{{ contentItem.content | safe }}</p>
              </div>
              {% if contentItem.description%}
              <p class="normal-desc">{{ contentItem.description | safe }}</p>
              {% endif %}
              
              {% if contentItem.littleList %}
              <div class="littleListBox pl">
                {% for littleItem in contentItem.littleList %}
                <div class="flex-box">
                  <p class="normal-desc" style="word-break: keep-all;">{{ littleItem.serialNumber | safe }}</p>
                  <p class="normal-desc">{{ littleItem.content | safe }}</p>
                </div>

                {% if littleItem.benefitList %}
                <div class="benefitListBox pl">
                  {% for benefitItem in littleItem.benefitList %}
                  <div class="flex-box">
                    <p class="normal-desc" style="word-break: keep-all;">{{ benefitItem.serialNumber | safe }}</p>
                    <p class="normal-desc">{{ benefitItem.content | safe }}</p>
                  </div>
                  {% endfor %}
                </div>
                {% endif %}

                {% endfor %}
              </div>
              {% endif %}

              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<!-- 相关链接 -->
{% include "snippet/home/related-links.njk" %}
<!-- 如果底部添加了related-links，必须引入这个js,用来Subscribe to our latest niches按钮逻辑，登录不出现 -->
<script src="{{ PUBLIC_SCRIPT + '/qr-code.js' | VERSION }}"></script>

<script src="{{ PUBLIC_SCRIPT + '/user-agreement.js' | VERSION }}"></script>

{% endblock %}
