{% block title %}
{#<title>Search on CJdropshipping</title>#}
  <title>{{ seoInfo.title }}</title>
{#<meta name="description" property="og:description" content="Sourcing and Fulfilling for WED2C, Shopify, WooCommerce, eBay Dropshippers with High Quality Products and Faster Shipping.">#}
<meta name="description" property="og:description" content={{ seoInfo.description }}>
{#<meta name="keywords" content="Drop Shipping USA，Sourcing Drop Shipping，Print on Demand，Fulfillment，Drop Shipping Supplier" />#}
<meta name="keywords" content={{ seoInfo.keywords }} />
<!-- share official picture -->
<meta property="og:type" content="website" />
<meta property="og:image" content="https://app.cjdropshipping.com/static/image/public-img/share1200x900.jpg" />
<meta property="og:image:width" content="1200px" />
<meta property="og:image:height" content="900px" />
{% endblock %}

{% extends "../layout/base.njk" %}

{% from "../macor/product-warp-seo.njk" import productWrap %}

{% block head %}
<link rel="stylesheet" href="{{ PUBLIC_STYLE + '/list-detail.css' | VERSION }}">
<link rel="stylesheet" href="{{ PUBLIC_STYLE + '/product-card.css' | VERSION }}">
<link rel="stylesheet" href="{{ PUBLIC_STYLE + '/product-warp.css' | VERSION }}">
{% endblock %}

{% block body %}
<!-- 语言选择、快速导航入口、个人中心入口、登陆、注册 -->
<!-- LOGO、SEARCH -->
{% include "../snippet/common-top.njk" %}
{% set opt = {
  data: list
} %}
{% set trendSearch = {
  data: trendSearchList
} %}
{% set bannerList = [
  { img_url: '/egg/image/list-detail/banner-1.png', link: 'https://youtu.be/SZGGdrjL7ng' },
  { img_url: '/egg/image/list-detail/banner-2.jpg', link: 'https://app.cjdropshipping.com/productReport/list' },
  { img_url: '/egg/image/list-detail/banner-3.png', link: 'https://app.cjdropshipping.com/blog/post/how-to-choose-the-best-shipping-method-delivery-time-shipping-costs-comparison-under-the-quarantine?fromUrl=http%3A%2F%2Fapp.cjdropshipping.cn%2Fblog%2Flist%2F1' }
] %}

<div class="list-warp">
  <div class="content">
    <div class="other-list">
      {% if isOtherListType === true %}
        <div class="tab-header">
          <div>
            <h1>{{otherListTitles[otherListType]}}</h1>
            <div class="category-tab">
              {% include "../snippet/common/swiperTab.njk" %}
            </div>
          </div>
        </div>
        <div id="vue-other-list">
          {{ productWrap(trendSearch, noDataType, productParams) }}
        </div>
      {% endif %}
    </div>
    {% if isOtherListType == false %}
      <div class="filter" style="margin-top: 8px;">
        {% include "../snippet/common/searchFilter.njk" %}
      </div>
      <div id="vue-product-list">
        <div class="list-search-result" v-if='this.params.keyWord' v-cloak>
          <div v-if='productList.length > 1'>
            Search results for "${this.params.keyWord}"
          </div>
          <div v-else-if='productList.length === 1'>
            Search result for "${this.params.keyWord}"
          </div>
          <div v-else>
            There is no search result for "${this.params.keyWord}"
          </div>
        </div>
        {{ productWrap(opt, noDataType, productParams) }}
      </div>
    {% endif %}
    {% if (opt.data.length > 0 and isOtherListType === false) or (trendSearch.data.length > 0 and isOtherListType === true) %}
      {% include "../snippet/common/searchPage.njk" %}
    {% endif %}
  </div>
</div>

<script src="{{ PUBLIC_SCRIPT + '/list-detail-seo.js' | VERSION }}"></script>

{% endblock %}
