.mycj-purchase-list,
.purchase-taobao {
  .asj-history-top .search-bar {
    display: flex;
    float: left;
  }
  .search-bar .search-inp{
    font-size: 1em;
  }
  .asj-history-top .right-btn {
    float: right;
    .ui-btn:first-child{
      margin-right: 10px;
    }
  }

  .asj-history-top .purchase-btn {
    margin-top: 15px;
    display: block;
    width: 150px;
    background-color: #0b4e67;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    padding: 0 10px;
    color: #fff;
    border-radius: 4px;
  }

  .asj-history-order {
    margin-top: 14px;
    margin-bottom: 15px;
  }

  .asj-history-order .asj-top-head {
    height: 48px;
    line-height: 48px;
    background: #262626;
  }

  .asj-history-order .asj-top-head li {
    float: left;
    color: #fff;
    font-size: 12px;
    text-align: center;
  }

  .asj-history-order .asj-order-body li {
    float: left;
    color: #2b2b2b;
    font-size: 14px;
    text-align: center;
  }

  .asj-history-order .asj-top-head .li-trac {
    height: 48px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .asj-history-order .asj-order-body .li-pro-info {
    width: 54%;
  }

  .asj-history-order .asj-order-body .li-img {
    width: 18.5%;
  }

  .asj-history-order .asj-order-body .li-pro-name {
    width: 44%;
    text-align: left;
   	word-break: break-all;
  }

  .asj-history-order .asj-order-body .li-pro-name .merch-name {
	word-break: break-word;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .asj-history-order .asj-order-body .li-pro-price {
    width: 10%;
  }

  .asj-history-order .asj-order-body .li-linkx {
    width: 4%;
  }

  .asj-history-order .asj-order-body .li-pro-quan {
    width: 5%;
  }

  .asj-history-order .asj-order-title {
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    background: #f3f3f3;
  }

  .asj-history-order .asj-order-title li {
    font-size: 12px;
    color: #333333;
  }

  .asj-history-order .asj-order-title .li-date {
    margin-right: 20px;
    padding-left: 10px;
  }

  .asj-history-order .asj-order-title .li-num {
    margin-right: 20px;
  }

  .asj-history-order .asj-order-title .li-detail a {
    display: block;
    height: 30px;
    line-height: 28px;
    color: #5e5e5e;
    border: 1px solid #d0d0d0;
    padding: 0 10px;
    border-radius: 4px;
    margin-top: 5px;
    margin-left: 30px;
  }

  .asj-history-order .asj-order-title .li-detail a:hover {
    background-color: #ececec;
    border: 1px solid #ececec;
    color: #f99429;
  }

  .asj-history-order .asj-order-con {
    width: 100%;
  }

  .asj-history-order .asj-order-con .pro-info {
    border-left: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }

  .asj-history-order .asj-order-con .pro-info:last-of-type {
    border-bottom: 0;
  }

  .asj-history-order .asj-order-con td {
    white-space: normal;
    border: none;
    font-size: 14px;
    text-align: center;
    // overflow: visible;
  }

  .asj-history-order .asj-order-con .li-pro-info {
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }

  .asj-history-order .asj-order-con .li-status {
    max-width: 140px;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding-left: 5px;
    padding-right: 5px;

    a:not(.ui-btn) {
      color: #333;
    }
  }

  .asj-history-order .asj-order-con .li-type {
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }

  .asj-history-order .asj-order-con .li-opera {
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }

  .asj-history-order .asj-order-con .li-pro-name .merch-size {
    color: #7b7b7b;
    font-size: 12px;
    line-height: 18px;
    margin-top: 3px;
  }

  .merch-size {
    position: relative;
    
    .copyIcon {
      margin-left: 5px;
      cursor: pointer;
      font-size: 12px;

      &:hover {
        color: #ff9900;
      }
    }

    &.tooltip {
      position: relative;
      display: inline-block;
      cursor: pointer;
    }
  
    &.tooltip .tooltiptext {
        visibility: hidden;
        min-width: 200px;
        background-color: rgba(0,0,0,.75);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 6px 8px;
        position: absolute;
        z-index: 1;
        bottom: 130%;
        left: 40%;
        margin-left: -60px;
    }
    
    &.tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 30%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
    
    &.tooltip:hover .tooltiptext {
        visibility: visible;
    }
  }

  .asj-history-order .asj-order-total {
    height: 44px;
    line-height: 44px;
    border: 1px solid #f3f3f3;
    border-top: 0;
    font-size: 14px;
    color: #333333;
    text-align: right;
    padding-right: 10px;
  }

  .asj-history-order .asj-order-total .bigSize {
    font-size: 16px;
  }

  .asj-history-order .li-merch {
    width: 40%;
  }

  .asj-history-order .li-price {
    width: 10%;
  }

  .asj-history-order .li-linkx {
    width: 4%;
  }

  .asj-history-order .li-quan {
    width: 5%;
  }

  .asj-history-order .li-status {
    width: 11%;
    height: 100%;
  }

  .asj-history-order .li-status li {
    clear: both;
    width: 100%;
    line-height: 24px;
    text-align: center;
  }

  .asj-history-order .li-status li a:not(.ui-btn) {
    color: #f89129;
  }

  .asj-history-order .li-status li a:not(.ui-btn):hover {
    color: #f9aa57;
  }

  .asj-history-order .li-opera {
    width: 15%;
  }

  .asj-history-order .li-opera .btn {
	min-width: 60px;
	height: 34px;
	line-height: 34px;
    margin-top: 5px;
    background: #f89129;
    border:none;
    border-radius: 4px;
    color: #fff;
	padding: 0 8px;
  }

  .asj-history-order .li-opera .view-invoice {
    margin-top: 5px;
  }

  .asj-history-order .li-opera .btn-a {
    color: #666;
	margin: 5px 0;
	display: block;
  }

  .asj-history-order .li-opera .view-invoice a:hover {
    color: #f9aa57;
  }

  .asj-history-order .li-opera .btn:hover {
    background: #f9aa57;
  }

  .asj-history-order .li-opera .btn-cancel {
    background: #fff;
    border: 1px solid #f89129;
    color: #f89129;
  }

  .asj-history-order .li-opera .btn-cancel:hover {
    background: #eee;
  }
  .refus-reason-box{
	min-height: 120px;
	height: initial;
	.tan-content{
	  min-height: 100px;
	  max-height: 400px;
	  font-size: 14px;
	  overflow-y: auto;
	  word-break: break-all;
	}
	.tan-btns{
	  display: flex;
	  justify-content: flex-end;
	}
  }

  .operation-dropdown {
    display: inline-block;
    margin: auto;
    position: relative;
    .operation-dropdown-btn{
      width:144px;
      line-height: 30px;
      text-align: center;
      color: #f70;
      border:1px solid #f70;
      border-radius:4px;
      cursor: pointer;
    }

    .operation-dropdown-menu{
      position: absolute;
      width: 144px;
      line-height: 30px;
      text-align: center;
      box-shadow:2px 2px 16px 0px rgba(216, 213, 213, 0.5) ;
      background-color: #fff;
      color: #999;
      z-index: 1;
      li{
        float: none;
      }
      li:hover{
        cursor: pointer;
        background-color: rgba(255,119,0, 0.21);
        color: #f70;
        a{
          color: #f70;
        }
      }
    }
  }
}
.ordlog-wrap{
  .confirm-title{
    text-align: left;
    padding-left: 20px;
  }
  .ordlog-line{
    margin-bottom: 16px;
    div{
      text-align: left;
    }
  }
  .confirm-btn-box{
    justify-content: flex-end;
  }
}
.vip {
  .operation-dropdown {
    position: relative;
    .operation-dropdown-btn{
      color: #D8A863;
      border:1px solid #D8A863;
    }

    .operation-dropdown-menu{
      box-shadow:2px 2px 16px 0px rgba(216, 213, 213, 0.5) ;
      background-color: #fff;
      color: #999;
      li:hover{
        background-color: rgba(216, 168, 99, 0.2);
        color: #D8A863;
        a{
          color: #D8A863;
        }
      }
    }
  }
}

.dispute-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);

  .top-tips {
    text-align: left;
    background-color: #424246;
    padding-left: 20px;
    height: 70px;
  }

  .top-tips p {
    font-size: 14px;
    color: #fff;
    line-height: 70px;
  }

  .dispute-con {
    width: 600px;
    height: fit-content;
    padding-bottom: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
  }

  .dispute-sel {
    margin-top: 28px;
  }

  .dispute-sel select {
    width: 500px;
    height: 40px;
    background: #F4F4F4;
    border-radius: 6px;
  }

  .dispute-tip {
    margin-top: 10px;
    width: 500px;
    margin: 0 auto;
    display: none;
  }

  .dispute-tip .dispute-tiptext {
    font-size: 12px;
    color: #f0ad4e;
  }

  .dispute-inp {
    margin-top: 24px;
    display: none;
  }

  .dispute-inp input {
    width: 500px;
    height: 39px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    text-indent: 12px;
    font-size: 14px;
  }

  .dispute-upimgs {
    width: 500px;
    margin: 0 auto;
    margin-top: 19px;
    height: 105px;
    text-align: left;
    overflow-y: auto;
  }

  .dispute-upimgs img {
    width: 100px;
    height: 100px;
    vertical-align: top;
    cursor: pointer;
  }

  .dispute-upimgs .before-img {
    margin-right: 20px;
  }

  .dispute-upimgs #document-img {
    border: 1px solid pink;
    width: 100px;
    height: 100px;
    vertical-align: top;
    display: inline-block;
  }

  .dispute-upimgs .upload-img {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
  }

  .dispute-upimgs .upload-img .upload-plusimg {
    position: absolute;
    left: 0;
    top: 0;
  }

  .dispute-upimgs .upload-img #document-img {
    border: 1px solid pink;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    opacity: 0;
    cursor: pointer;
  }

  .dispute-textarea {
    margin-top: 20px;
  }

  .dispute-textarea textarea {
    width: 500px;
    height: 98px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    resize: none;
    text-indent: 12px;
    font-size: 14px;
  }

  .bottom-btns {
    margin-top: 19px;
    display: flex;
    justify-content: space-around;
  }

  .bottom-btns button {
    width: 200px;
    height: 40px;
    border-radius: 6px;
  }

  .bottom-btns .dp-cancel-btn {
    background: #F4F4F4;
    color: #000000;
  }

  .bottom-btns .dp-confirm-btn {
    background: #FF8D32;
    color: #fff;
  }
}
.stockout-box{
  color: #f95717;
}

.vip{
  .mycj-purchase-list .asj-history-order .asj-top-head li{
    color:#F3DBA5;
  }
}
.address-modefy{
  &-item{
    margin-top: 20px;
    .select2-container--default .select2-selection--single{
      width: 370px;
      margin-left: 10px;
      height: 30px;
      text-align: left;
      position: relative;
      border-color: #ececec;
    }
  }
  &-cont{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  &-title{
    width: 120px;
    text-align: right;
    line-height: 30px;
  }
  &-input{
    border: 1px solid #ececec;
    width: 370px;
    height: 30px;
    padding: 2px 0;
    text-indent: 1em;
    margin-left: 10px;
    appearance: none;
  }
  &-err{
    margin-left: 130px;
    width: 370px;
    text-align: left;
    padding-top: 6px;
    line-height: 1.2;
    color: #DD4B1A;
    & .errText{
      position: relative;
      top: -2px;
    }
  }
  &-errtip{
    position: relative;
    display: inline-block;
    cursor: pointer;
    &:hover{
      .errtip-list{
        display: block;
      }
    }
    .errtip-list{
      display: none;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.75);
      background-clip: padding-box;
      border-radius: 2px;
      color: #fff;
      bottom: 26px;
      width: 210px;
      left: 50%;
      margin-left: -134px;
      padding: 5px;
      p{
        font-size: 12px;
      }
      &::after{
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        bottom: -8px;
        left: 50%;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid rgba(0, 0, 0, 0.75);
        margin-left: 24px;
      }
    }
  }
}