@import '../../../colors.less';
.number {
  margin-bottom: 5px;
  .value {
    color: @grey;
    font-size: 12px;
  }
}
.detail {
  display: inline-block;
  width: 350px;
  margin: 10px 10px 0 0;
  box-shadow: 1px 1px 3px @borderColor;
  .header {
    padding: 10px;
    border-bottom: 1px solid @borderColor;
    background: @backColor;
    display: flex;
    justify-content: space-between;
    .value {
      color: @grey;
    }
  }
  .container {
    padding: 5px;
  }
}
