.filterConditions {
  width: 100%;
  height: auto;

  :global {
    .filter-item {
      width: 100%;
      height: 53px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 16px;

      .filter-label {
        width: 126px;
        color: #333;
        font-size: 14px;
        font-weight: 550;
      }

      .filter-not-first {
        margin-left: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .price {
          margin-right: 10px;
        }

        .split {
          margin: 0 2px;
        }

        .min-max-int {
          width: 64px;
          height: 28px;
        }

        .confirm-btn {
          width: 80px;
          height: 28px;
          text-align: center;
          line-height: 28px;
          border-radius: 14px;
          background: #f9912a;
          margin-left: 10px;
          color: #fff;
          cursor: pointer;
        }

        .radio {
          width: 16px;
          height: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #f2f2f2;
          border-radius: 50%;
          cursor: pointer;

          .radio-inner {
            width: 10px;
            height: 10px;
            background: #ff7702;
            border-radius: 50%;
            display: none;
            transition: all 0.4s;
          }

          .radio-inner-show {
            display: block;
            transition: all 0.4s;
          }
        }

        .free-text {
          margin-left: 10px;
        }
      }

      .filter-sort-item {
        margin-right: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        transition: all 0.4s;

        .list-icon {
          margin-left: 4px;
          margin-bottom: -3px;
          color: #333;
        }

        .sort-item-span {
          color: #333;
          transition: all 0.4s;
        }

        &:hover {
          .sort-item-span {
            color: #ff7700;
            transition: all 0.4s;
          }
        }

        .sort-item-span-active {
          color: #ff7700;
          transition: all 0.4s;
        }

        .sort-item-icon {
          width: 20px;
          display: flex;
          margin-left: 4px;
          justify-content: flex-start;
          flex-wrap: wrap;
          align-items: center;

          .price-icon1 {
            margin-bottom: -5px;
            color: #333;
            transition: all 0.4s;
          }

          .price-icon1-active {
            color: #ff7700;
            transition: all 0.4s;
          }

          .price-icon2 {
            color: #333;
            transition: all 0.4s;
          }

          .price-icon2-active {
            color: #ff7700;
            transition: all 0.4s;
          }
        }
      }

      .filter-sort-item-active {
        .sort-item-span {
          color: #ff7700;
          transition: all 0.4s;
        }
      }
    }

    .filter-area {
      height: 75px;
    }
    .filter-categories {
      align-items: flex-start;
      height: auto;
      .filter-label {
        line-height: 60px;
      }
    }
  }
}
