.mobile_banner {
  width: 100%;
  height: 100%;
  .banner_item {
    width: 100%;
    height: 100%;
  }

  :global {
    .swiper-container {
      height: 100%;
    }
    .swiper-pagination-bullet-active {
      background: #fff;
    }
  }
}
