@import '../../colors.less';
.number {
  margin-bottom: 5px;
  .value {
    color: @grey;
    font-size: 12px;
  }
}
.detailContent {
  display: flex;
}
.detail {
  display: inline-block;
  width: 350px;
  margin: 10px 10px 0 0;
  box-shadow: 1px 1px 3px @borderColor;
  flex: none;
  .header {
    padding: 10px;
    border-bottom: 1px solid @borderColor;
    background: @backColor;
    .value {
      color: @grey;
    }
  }
  .container {
    padding: 5px;
  }
}
.marginLeft {
  margin-left: 15px;
}
