@import '../../../colors.less';
.search-form {
  :global(.ant-form-item-label) {
    label {
      color: @grey;
    }
  }

  :global(.ant-picker) {
    width: 100%;
  }

  .search-btns {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}
.container {
  :global(.custom-form-list) {
    &-item {
      border: 1px solid @borderColor;
      border-radius: 5px;
      padding: 15px 30px 15px 0;
      margin-bottom: 10px;
      background: @backThemeColor;
    }
  }

  :global {
    .ant-upload.ant-upload-select-picture-card {
      width: 60px;
      height: 60px;
    }

    .ant-upload-list-picture-card-container {
      width: 60px;
      height: 60px;

      .ant-upload-list-item {
        padding: 4px;
      }
    }

    .ant-upload-list-item-uploading {
      .ant-upload-list-item-thumbnail {
        font-size: 12px;
        white-space: nowrap;
        transform: scale(0.6);
        transform-origin: center;
      }
    }
  }

  :global(.ant-input-number) {
    width: 100%;
  }
}
