.hot_types {
  height: 22px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 22px;
  margin-bottom: 12px;
  .title {
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    line-height: 22px;
    padding-bottom: 12px;
  }
  .list_box {
    background: #ffffff;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2, 50%);
    padding: 16px 0;
  }
}
.hot_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .item_bg {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
  }
  .item_name {
    max-width: 100%;
    word-wrap: break-word;
    font-size: 12px;
  }
}
