.mycj-listed {
  .table-connected{ 
    .th-price{
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 2;
    }
    .th-price-item{
      border-top: 1px solid #555;
      display: inline-block;
      flex: 1;
      &:first-child{
        border-right: 1px solid #555;
      }
    }
    .th-price-item + .th-price-item{
      border-left: 1px solid #555;
    }
  }
  .SKUtable .check-box {
    margin: auto;
  }
  .check-btn{
    margin: 0 auto;
  }
  .SKUtable td {
    white-space: normal;
    height: 100px;
    font-size: 12px;
    color: #333333;
    position: relative;
    text-align: center;
    &:first-child{
      border-right: 1px solid #ececec;
      border-bottom: 1px solid #ececec;
    }
    & + td{
      border-right: 1px solid #ececec;
      border-bottom: 1px solid #ececec;
    }
  }

  .SKUtable p {
    white-space: normal;
    font-size: 12px;
    color: #333333;
    position: relative;
  }

  .SKUtable .td-price .line-through {
    text-decoration: line-through;
  }

  .SKUtable .td-btn-list .td-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .SKUtable .td-btn .show-vlist img {
    width: 20px;
  }

  .td-btn a:hover {
    box-shadow: 0 0 0 1px #f99429;
  }

  .vip .td-btn a:hover {
    background: linear-gradient(90deg, rgba(242, 215, 161, 1) 0%, rgba(223, 173, 101, 1) 100%);
    border-radius: 4px;
    color: #fff;
    border-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(166, 166, 166, 0.5);
  }

  .table-connected table {
    border-left: 1px solid #ececec;
  }
  .SKUtable .td-img .small-img {
    max-width: 75px;
    max-height: 75px;
  }

  .SKUtable .td-img-box:hover .big-img {
    display: block;
  }

  .SKUtable thead {
    height: 48px;
  }

  .SKUtable thead td {
    height: 24px;
    font-size: 14px;
    color: #fff;
  }

  .SKUtable .td-name a,
  .SKUtable .td-sku a {
    display: block;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    margin: 0 5px;
  }

  /* 角标 */ 
  .favFreeConatiner{
    width: 100%;
    margin-bottom: 6px;
    .listed-freeShip{
      width: 125px;
      height: 25px;
      border-radius: 4px;
      overflow: hidden;
      display: flex;
      flex:1;
      margin: 0 auto;
      .freeShipIcon{
        width: 25px;
        height: 25px;
        line-height: 25px;
      }
      .freeShipText{
        width: 100px;
        height: 25px;
        background: rgba(255, 96, 16, 0.2);
        color: #FF6010;
        text-align: center;
        line-height: 25px;
      }
    }
  }

  /* fangjie批量刊登=========================================== */
  .opera-box {
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    &-left{
      font-size: 14px;
      .number{
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid #d8d8d8;
      }
    }
    &-right{
      .ui-btn{
        width: 190px;
        margin-left: 5px;
      }
    }
    .selectAll {
      color: var(--color-theme-1);
      cursor: pointer;

      &:hover {
        color: var(--color-theme-1-1);
      }
    }
    .vip .selectAll {
      color: var(--color-theme-1-vip);
      cursor: pointer;

      &:hover {
        color: var(--color-theme-1-1-vip);
      }
    }
  }
  .start-list-btn i{
    vertical-align: middle;
  }
  .list-tips-pop {
    position: absolute;
    display: none;
    font-size: 14px;
    bottom: 39px;
    top:-63px;
    left: -343px;
    z-index: 9;
    font-size: 14px;
    text-align: left;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    width: 510px;
    border-radius: 4px;
    color: #fff;
    &.relist{
      left: -360px;
    }
    /* &::before {
      content: '';
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 13px solid rgba(0, 0, 0, .7);
      position: absolute;
      top: -13px;
      right: 30px;
      z-index: 12;
    } */
  }
  .start-list-btn:hover .list-tips-pop {
    display: block;
  }
  .search-box {
    margin-right: 10px;
  }

  /* tips-pop公用样式 ========================== start*/

  .select-store {
    margin: 0;
    border-radius: 4px;
    border-color: #E4E4E4;;
  }

  /* tips-pop公用样式 ========================== end*/

  .mycj-nodata {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #999;
    line-height: 20px;
    z-index: 0;
  }

  .nodata-cont {
    width: auto;
  }

  .nodata-cont .img {
    width: 309px;
    padding-right: 10px;
  }

  .store-nodata-tip {
    margin: 30px auto 15px;
    line-height: 20px;
    width: 600px;
  }

  .nodata-cont .btn,
  .nodata-cont .btn1 {
    line-height: 20px;
    background: var(--color-theme-1);
    border-radius: 4px;
    color: #fff;
    border: 0 none;
    font-size: 14px;
  }

  .nodata-cont .btn:hover,
  .nodata-cont .btn1:hover {
    background: var(--color-theme-1-1);
  }

  .nodata-cont .btn,
  .nodata-cont .btn1 {
    width: 96px;
    padding: 8px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .list-progress-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    width: 957px;
  }

  .list-progress-title {
    margin-right: 20px;
    font-size: 14px;
    color: #22A5F7;
  }

  .list-progress-box .progress-text {
    color: #627386;
    margin-left: 20px;
  }

  .list-progress-box .progress {
    width: 834px;
    margin: 0;
  }

  .list-progress-box .progress-bar {
    background: #1890FF;
    line-height: 12px;
  }

  .list-progress-box .progress {
    height: 12px;
    border-radius: 20px;
  }

  .progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  }

  .list-progress-box .progress-text {
    color: #627386;
    margin-left: 20px;
  }

  .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
  }

  .load-status {
    color: #1890FF;
  }

  .load-status i {
    display: inline-block;
    -webkit-animation: rotate 1.2s infinite ease-in-out;
    animation: rotate 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

  }

  @keyframes rotate {
    from {
      transform: rotate(0deg)
    }

    to {
      transform: rotate(360deg)
    }
  }

  @-webkit-keyframes rotate {
    from {
      transform: rotate(0deg)
    }

    to {
      transform: rotate(360deg)
    }
  }

  .success-status {
    color: #f70;
  }

  .fail-status {
    color: #FF5A5A;
  }
  .td-btn{
    .ui-btn{
      height: 25px;
      line-height: 25px;
    }
  }
}

// 授权失效弹窗
.authorizationExpiredPromptBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1001;

  .authorizationExpiredPromptmain {
    width: 360px;
    padding: 20px 20px 20px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);

    .head {
      width: 100%;
      height: 20px;
      position: relative;

      .authorizationExpiredClose {
        font-size: 16px;
        color: var(--color-font-3);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer;

        &:hover {
          color: var(--color-font-2);
        }
      }
    }

    .content {
      margin-top: 15px;
      font-size: 14px;
      color: var(--color-font-2);
      font-weight: 400;
      line-height: 22px;
    }

    .btnBox {
      margin-top: 20px;
      text-align: center;

      .btn {
        border-radius: 4px;
        font-size: 14px;
        height: 32px;
      }

      .cancel {
        background: var(--color-bg-14);
        color: var(--color-font-1);
        border: 1px solid var(--color-line-1);
        margin-right: 15px;

        &:hover {
          background: var(--color-bg-14-1);
        }
      }

      .confirm {
        background: var(--color-theme-1);
        color: var(--color-font-4);

        &:hover {
          background: var(--color-theme-1-1);
        }
      }
    }
  }
}


/* jerry弹窗公用样式 ========================== end*/
/* 编辑价格弹窗内容样式 ========================== start*/
.edit-price {
  width: 534px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: initial;
  .rules-title {
    margin-bottom: 20px;
    text-align: left;
    font-size: 14px;
  }
  .your-price,
  .fixed-price {
    height: 45px;
    line-height: 45px;
    background: rgba(237, 237, 237, 1);
    border: 1px solid rgba(237, 237, 237, 1);
    margin-bottom: 20px;
    cursor: pointer;
    padding-left: 56px;
    text-align: left;
    input {
      border: 1px solid #e9e9e9;
      width: 80px;
      height: 30px;
      text-align: center;
      vertical-align: baseline
    }
    select {
      border: 1px solid #e9e9e9;
      width: 50px;
      height: 30px;
      padding-left: 10px;
      border-radius: 4px;
      font-size: 16px;
      background: #fff;
    }
    .list-tips-pop::before{
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 13px solid rgba(0, 0, 0, .7);
      position: absolute;
      bottom: -13px;
      right: 30px;
    }
  }
}
.list-tips-icon{
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  &::after {
    font-family: 'iconfont';
    content: '\e671';
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    color: #FD996B;
  }
  &:hover{
    .list-tips-pop{
      display: block;
    }
  }
}
.list-tips-pop {
  width: 250px;
  height: auto;
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  top: -81px;
  left: -205px;
  position: absolute;
  display: none;
  &::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, .7);
    position: absolute;
    bottom: -5px;
    right: 30px;
  }
}

/* 编辑价格弹窗内容样式 ========================== end*/


/* 刊登弹窗内容样式 ========================== start*/
.list{
  &-elect-store,
  &-elect-category,
  &-elect-collection,
  &-elect-shipp {
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    display: flex;
    // justify-content: center;
    align-items: center;
    .tit {
      display: inline-block;
      width: 130px;
      text-align: right;
    }
    .cont{
      width: 344px;
      text-align: left;
      margin-left: 5px;
    }
    select{
      border: 1px solid #e9e9e9;
      width: 200px;
      height: 26px;
      background: #fff;
    }
    button {
      border: 1px solid #e9e9e9;
      border-radius: 4px;
      font-size: 12px;
      color: #333;
      height: 26px;
      // line-height: 28px;
      padding: 0 10px;
    }
    input {
      padding-left: 5px;
      border: 1px solid #e9e9e9;
      font-size: 12px;
      color: #333;
      width: 200px;
      height: 25px;
    }
  }
  // shopify collection 融合当前页面
  &-elect-collection {
    .cj-shopify-collections {
      margin-left: 5px;
      .select-collection-select {
        width: 200px;
      }
      .add-collections {
        .add-new-collection-inp {
          width: 200px;
        }
      }
    }
  }
}
.confirm-content{
  .check-icon {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    &::after {
      position: absolute;
      line-height: 1;
      content: '\e65f';
      color: rgba(0, 0, 0, 0.25);
    }
  }
  .price-check {
    background: rgba(255, 242, 234, 1);
    border: 1px solid rgba(255, 119, 0, 1);
    .check-icon::after {
      content: '\e670';
      color: #f70;
    }
  }
}
.vip {
  .confirm-content{
    .price-check {
      border-color: #DDA863 !important;
    }
    .check-icon:after {
      color: #DDA863 !important;
    }
  } 

  .authorizationExpiredPromptmain .confirm {
    color: var(--color-font-1) !important;
    background: var(--color-theme-2-vip) !important;

    &:hover {
      background: var(--color-theme-2-1-vip) !important;
    }
  }

  .nodata-cont .btn,
  .nodata-cont .btn1,
  .search-box button {
    background: var(--color-theme-2-vip);
    color: #333;
  }

  .nodata-cont .btn:hover,
  .nodata-cont .btn1:hover,
  .search-box button:hover {
    background: var(--color-theme-2-1-vip);
  }
}
[ng-cloak] {
  display: none;
}
.mycj-listed .relist-tips {
  top: -53px;
  padding: 4px 10px;
  bottom: auto;
}
.form-control {
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
  color: #333;
}
.search-box input {
  border-color: #E4E4E4;
  color: #999;
}
.search-box button {
  background: var(--color-theme-1);
}
.search-box button:hover {
  background: var(--color-theme-1-1);
}
.img1 {
  width: 200px;
  height: 200px;
}