.homePage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  :global {
    .header {
      width: 100%;
      height: auto;
    }

    .header-search {
      width: 100%;
      height: auto;
    }

    .banner-content {
      width: 100%;
      height: auto;
      background: url('../../../assets/homePage/banner.png') no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;

      .banner-content-inner {
        width: 1200px;
        height: auto;
      }
    }

    .filter-content {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .filter-inner {
        width: 1200px;
        height: auto;
        min-height: 200px;
        background: #fff;
      }
    }

    .search-result {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;

      .search-result-inner {
        width: 1200px;
        height: 40px;
        line-height: 40px;
        padding: 0 17px;
        color: #999;
        font-size: 14px;
      }
    }

    .goods-content {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;

      .goods-content-inner {
        width: 1200px;
        height: auto;
        background: #fff;
        padding: 5px 16px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        .goods-content-inner-item {
          width: 189px;
          height: auto;
          margin-top: 25px;
          margin-right: 6px;
        }

        .goods-content-inner-item:nth-of-type(6n) {
          margin-right: 0;
        }
      }
    }
  }
}

.mobileHomePage {
  width: 100%;
  //height: 100%;

  :global {
    .mobile-banner {
      width: 100%;
      height: 256px;
      position: relative;

      .banner-content {
        width: 100%;
        height: 246px;
        background: url('../../../assets/homePage/mobile-banner-common.png')
          no-repeat;

        .has-banner-text {
          width: 100%;
          height: 100%;
          padding: 20px;

          .big-text {
            display: block;
            font-size: 32px;
            line-height: 45px;
            font-weight: 550;
            color: #fff;
            height: 90px;
            text-align: center;
          }

          .small-text {
            display: block;
            font-size: 14px;
            color: #fff;
            height: 40px;
            line-height: 20px;
            text-align: center;
            margin-top: 10px;
          }
        }

        .has-banner-text-center {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
        }
      }

      .banner-show {
        position: absolute;
        width: calc(100% - 24px);
        height: 153px;
        left: 0;
        top: 180px;
        margin: 0 12px;

        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        overflow: hidden;

        .banner-img {
          width: 100%;
          height: 153px;
          border-radius: 6px;
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .mobile-banner-long {
      height: 333px;
    }

    .hot-categories {
      width: 100%;
      height: auto;
      margin-top: 20px;
      padding: 0 12px;

      .hot-categories-title {
        width: 100%;
        height: 34px;
        line-height: 22px;
        color: #333;
        font-size: 16px;
        font-weight: 550;
      }

      .hot-categories-content {
        width: 100%;
        height: auto;

        .hot-categories-inner {
          width: 100%;
          height: 100%;
          padding: 16px;
          background: #fff;
          border-radius: 8px;

          .inner-top {
            width: 100%;
            height: 84px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .inner-item {
              width: 66px;
              height: 100%;
            }
          }

          .inner-bottom {
            width: 100%;
            height: 84px;
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .inner-item {
              width: 66px;
              height: 100%;
            }
          }
        }
      }
    }

    .product-list {
      width: 100%;
      height: auto;
      padding: 0 12px;
      margin-top: 20px;

      .product-list-head {
        width: 100%;
        height: 22px;
        line-height: 22px;
        font-size: 16px;
        font-weight: 550;
        color: #333;
      }

      .product-list-content {
        width: 100%;
        height: auto;
        column-count: 2;
        column-gap: 6px;
        //display: flex;
        //justify-content: space-between;
        //align-items: flex-start;
        //flex-wrap: wrap;

        .product-list-item {
          //display: flex;
          //flex-direction: column;
          //width: calc(50% - 3px);
          height: auto;
          min-height: 236px;
          border-radius: 6px;
          padding-top: 12px;
          break-inside: avoid;
          background: transparent;
          overflow: hidden;
          //page-break-inside: avoid;
        }
      }
    }
  }
}
