.mycj-authorize {
  .border {
    border: solid 1px #e0e0e0;
  }

  .xauto {
    margin: 0 auto;
  }

  .store-authorize-box {
    margin: 0 auto;
    overflow: hidden;
  }

  .sa-title {
    margin-top: 15px;
  }

  .sa-title h3 {
    height: 40px;
    padding-left: 16px;
    font-size: 18px;
    line-height: 40px;
    background-color: #f0f4f6;
    border-radius: 4px 4px 0 0;
    color: #254754;
  }

  .sa-title .add-store {
    height: 84px;
    overflow: hidden;
    border: solid 1px #e0e0e0;
    border-top: 0;
  }

  .add-store-btn {
    display: block;
    width: 162px;
    height: 40px;
    /* background-color: #0b4e67; */
    border-radius: 4px;
    color: #fff;
    margin: 22px auto;
    font-size: 16px;
  }

  .sa-list {
    margin-top: 27px;
    margin-bottom: 30px;
  }

  .sa-list h3 {
    height: 40px;
    padding-left: 16px;
    font-size: 18px;
    line-height: 40px;
    background-color: #cfdce1;
    color: #fff;
  }

  .sa-list .function-bar {
    height: 56px;
    border: solid 1px #e0e0e0;
    border-top: 0;
    border-bottom: 0;
    overflow: hidden;
    display: flex;
    margin-bottom: 0;
  }

  .show-deactivate-stores {
    /* float: left; */
    width: 370px;
    padding-left: 16px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .sa-list .function-bar .search-bar {
    margin-top: 13px;
    /* width: 462px; */
    /* float: left; */
  }

  .sa-list .show-deactivate-stores .checkIcon {
    cursor: pointer;
    color: var(--color-theme-1)
  }
  .vip .sa-list .show-deactivate-stores .checkIcon {
    cursor: pointer;
    color: var(--color-theme-1-vip)
  }

  .sa-list .function-bar .search-bar .search-inp {
    /* float: left; */
    width: 391px;
    height: 30px;
    border: solid 1px #e0e0e0;
    border-right: 0;
    padding: 0 5px;
    border-radius: 4px 0 0 4px;
  }

  .sa-list .tb-storelist {
    width: 100%;
    text-align: center;
    border-right: solid 1px #F1F1F1;
    tbody tr {
      &:hover {
        background: #E5E5E5;
      }
    }
    .setIcon {
      float: right;
      margin-right: 7px;
      // width: 14px;
      font-size: 14px;
      color: var(--color-font-3);
      cursor: pointer;

      &:hover {
        color: var(--color-theme-1);
      }
    }
    
  }

  .vip .sa-list .setIcon:hover {
    color: var(--color-theme-1-vip) !important;
  }

  .sa-list .tb-storelist th {
    height: 48px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    position: relative;
    .iconTh {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding-right: 2px;
      img {
        width: 14px;
        cursor: pointer;
        &:hover + .suspend {
          display: block;
        }
      }
      .suspend-icon {
        font-size: 14px;
        cursor: pointer;
        // color: #ff7700;

        // &:hover {
        //   color: #ff9900;
        // }

        &:hover + .suspend {
          display: block;
        }
      }
      .suspend {
        position: absolute;
        width: 270px;
        background: rgba(0, 0, 0, 0.6);
        font-size: 12px;
        color: #FFFFFF;
        padding: 6px 10px;
        top: -54px;
        right: -5px;
        border-radius: 3px;
        display: none;
        &::after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 5px 0 5px;
          border-color: #000000 transparent transparent transparent;
          position: absolute;
          bottom: -6px;
          right: 10px;
          opacity: 0.6;
        }
      }
    }
  }

  .sa-list .tb-storelist td {
    position: relative;
    min-height: 68px;
    font-size: 12px;
    color: #5e5e5e;
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    .sel {
      position: absolute;
      top: 77%;
      left: 3px;
      right: 3px;
      background: #FFFFFF;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      z-index: 999;
      li {
        font-size: 12px;
        color: #999999;
        line-height: 30px;
        cursor: pointer;

        &:hover {
          // background: #F8EDE1;
          // color: #DDA862;
          background-color: rgba(255, 119, 0, 0.21);
          color: #ff7700;
        }
      }
    }
    .sel-top {
      top: -42px !important;
    }
  }

  .sa-list .tb-storelist .store-id {
    color: #2d2d2d;
  }

  .sa-list .tb-storelist .store-status {
    font-weight: bold;
  }

  .sa-list .tb-storelist .status-activate {
    color: #5e5e5e;
  }

  .sa-list .tb-storelist .status-deactivate {
    color: #da3401;
  }

  .sa-list .tb-storelist .status-authofail {
    color: #eb9611;
  }

  .sa-list .tb-storelist img {
    /*width: 120px;*/
    // height: 36px;
  }

  .sa-list .tb-storelist button {
    /* width: 108px; */
    padding: 0 10px;
    height: 30px;
    border-radius: 4px;
    font-size: 12px;
  }

  .sa-list .tb-storelist button.deactivate,
  .sa-list .tb-storelist button.reauthorize {
    background-color: #ffffff;
    border: solid 1px #d0d0d0;
    color: #5e5e5e;
  }

  .sa-list .tb-storelist button.deactivate:hover,
  .sa-list .tb-storelist button.reauthorize:hover {
    color: #f89029;
    border-color: #f78d28;
  }

  .sa-list .tb-storelist button.activate {
    background-color: #56cc28;
    color: #fff;
  }

  .sa-list .tb-storelist button.activate:hover {
    background-color: #78da51;
  }

  .sa-list button.addpodfature:hover {
    background: var(--color-theme-1);
    color: var(--color-font-4);
  }
  .vip .sa-list button.addpodfature:hover{
    background: var(--color-theme-1-vip);
    color: var(--color-font-4);
  }

  .sa-list .tracking-info{
    width: 300px;
    visibility: hidden;
    opacity: 1;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
		box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    top: -2px;
    right: 160px;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid transparent;
      border-left: 5px solid rgba(0, 0, 0, 0.75);
      position: absolute;
      bottom: 15px;
      right: -10px;
      z-index: 2;
    }
  }

  .vip .sa-list .tracking-info{
    width: 300px;
    opacity: 1;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
		box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    top: -2px;
    right: 160px;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid transparent;
      border-left: 5px solid rgba(0, 0, 0, 0.75);
      position: absolute;
      bottom: 15px;
      right: -10px;
      z-index: 2;
    }
  }

  .autho-success.layui-layer-page .layui-layer-content {
    border-bottom: 0 none;
  }

  h5 {
    font-size: 24px;
    color: #5e5f64;
    text-align: center;
  }

  .autho-success .AS-content img {
    display: block;
    width: 47px;
    height: 47px;
    margin: 45px auto 40px;
  }

  .autho-success .AS-content p {
    font-size: 26px;
    color: #7a7a7a;
    text-align: center;
  }

  .Authorized {
    width: 550px;
    height: 760px;
    padding: 39px 73px;
  }

  .Authorized h5 {
    font-size: 18px;
    font-family: Helvetica;
    color: #BB6E2B;
    line-height: 36px;
    text-align: left;
    margin-bottom: 25px;
  }

  .Authorized label {
    margin-bottom: 20px;
  }

  .Authorized label span {
    font-size: 18px;
    font-family: Helvetica;
    color: rgba(51, 51, 51, 1);
    line-height: 36px;
  }

  .Authorized label input {
    width: 400px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    padding: 0 8px;
    border: 1px solid #D6D6D6;
  }

  .Authorized label button {
    width: 160px;
    height: 34px;
    background: rgba(245, 221, 191, 1);
    border-radius: 2px
  }

  .mycj-nodata {
    position: relative;
    margin-top: 40px;

    .nodata-cont img{
      width: 240px;
      height: 240px;
    }
  }

  // .podSettingModal {
  //   width: 100%;
  //   height: 100%;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   background: rgba(0,0,0,0.75);
  // }
}

.ASL-content h5 {
  height: 50px;
  line-height: 50px;
  background: #F9F8F8;
  border-radius: 4px 4px 0px 0px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  color: #333333;
  text-align: center;
}
.ASL-content .Authorize {
  width: 80px;
  height: 30px;
  background: var(--color-theme-1);
  border-radius: 4px;
  color: var(--color-font-4);
  font-size: 14px;
  &:hover {
    background: var(--color-theme-1-1);
  }
}
.vip .ASL-content .Authorize {
  background: var(--color-theme-1-vip);
  &:hover {
    background: var(--color-theme-1-1-vip)
  }
}
.transfer-wrap {
  float: left;
  height: 56px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.transfer-btn {
  width: 120px;
  height: 30px;
  font-size: 12px;
  line-height: 28px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
}

.input-area {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.input-area>span {
  padding-left: 20px;
  margin-right: 10px;
  width: 200px;
  text-align: right;
}

.input-area>input {
  width: 292px;
  height: 42px;
  box-sizing: border-box;
  border: 1px solid rgba(204, 204, 204, 1);
  border-radius: 8px;
  text-indent: 1em;
}

.input-area>p {
  margin-left: 16px;
  width: 100px;
  height: 42px;
  box-sizing: border-box;
  border: 1px solid #F29748;
  border-radius: 4px;
  font-size: 16px;
  line-height: 40px !important;
  text-align: center;
  cursor: pointer;
}

.input-area>.disabled {
  pointer-events: none;
  cursor: no-drop;
  border-color: rgba(204, 204, 204, 1);
}

.btn-wrap {
  display: flex;
  justify-content: space-between;
  width: 290px;
}

.btn-wrap>button {
  width: 100px;
  height: 36px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
}

.btn-wrap>button:nth-child(1) {
  color: #666;
  border: 1px solid #666;
  line-height: 34px;
  background: #fff;
}

.btn-wrap>button:nth-child(2) {
  color: #fff;
  background: #F29748;
  line-height: 36px;
}

.example {
  display: block;
  width: 300px;
  margin-left: 150px;
  padding-left: 16px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #F25245;
  line-height: 17px;
}

.grey {
  position: absolute;
  z-index: 1000;
  margin: 7px 0 5px 13px;
}

.shopType-c {
  font-size: 14px;
  font-family: PingFangSC;
  color: #666666;
  line-height: 20px;
}

.action-flex-td {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;

  .moreIcon {
    font-size: 20px;
    color: var(--color-font-1);
    cursor: pointer;

    &:hover {
      color: var(--color-theme-1);
    }
  }
  .iconHover {
    color: var(--color-theme-1);
  }
  .action-box {
    width: 150px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 70%;
    // left: 50%;
    // transform: translateX(-50%);
    z-index: 2;
    border-radius: 2px;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 0;
    //   height: 0;
    //   border-bottom: 10px #ffffff;
    //   border-top: 10px transparent;
    //   border-left: 10px transparent;
    //   border-right: 10px transparent;
    //   top: 0;
    //   left: 0;
    // }

    .action-item {
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: var(--color-font-2);
      font-size: 12px;
      cursor: pointer;
      position: relative;

      &:hover {
        color: var(--color-theme-1);
        background: rgba(255,119,0,0.2);
      }

      .pod-info {
        width: 165px;
      }
    }
    .action-pod:hover .pod-info, .action-tracking:hover .tracking-info{
      visibility: visible;
    }
    .no-click {
      cursor: not-allowed !important;
      opacity: 0.5 !important;
      // background-color: rgba(0,0,0,0.1);
    }
  }
  .action-top {
    top: unset !important;
    bottom: 38px !important;
  }
}
.action-flex-td .mlr{
  margin: 0 8px;
}

.action-drop-down div {
  width: 90px;
  height: 30px;
  line-height: 30px;
  // background-color: aqua;
  border: 1px solid;
  border-radius: 4px;
  text-align: left;
  padding: 0 10px;
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
}

.action-drop-down {
  position: relative;
  .border-theme {
    background: #fff;
    color: #ff7700;
    cursor: pointer;
  }
  // .no-click {
  //   cursor: not-allowed !important;
  //   opacity: 0.5 !important;
  //   // background-color: rgba(0,0,0,0.1);
  // }
}

.action-drop-down div:hover {
  cursor: pointer;
}

.action-drop-down ul {
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 3px 12px 0px #e1e1e1;
  color: #999999;
  z-index: 1;
}

.action-drop-down li {
  width: 90px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
}

.action-drop-down li:hover, .sel li:hover {
  background: rgba(255, 119, 0, 0.2);
  color: #f70;
  cursor: pointer;
}

.triangle-after:after {
  content: '';
  height: 0;
  width: 0;
  border-color: #f70 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  position: absolute;
  right: 10px;
  top: 13px;
}

.hover-arrow:after {
  content: '';
  width: 0;
  height: 0;
  border-color: transparent transparent #f70;
  border-style: solid;
  border-width: 0 5px 5px;
  position: absolute;
  right: 10px;
  top: 13px;
}

.triangle-after-none {
  cursor: not-allowed;

  &:after {
    content: '';
    height: 0;
    width: 0;
    border-color: #f70 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    position: absolute;
    right: 10px;
    top: 13px;
    opacity: 0.5;
  }
}

.vip {
  .action-drop-down li:hover, .sel li:hover {
    background: #F8EDE1 !important;
    color: #DDA863 !important;
    cursor: pointer;
  }

  .triangle-after:after {
    content: '';
    height: 0;
    width: 0;
    border-color: #DDA863 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    position: absolute;
    right: 10px;
    top: 13px;
  }

  .hover-arrow:after {
    content: '';
    width: 0;
    height: 0;
    border-color: transparent transparent #DDA863;
    border-style: solid;
    border-width: 0 5px 5px;
    position: absolute;
    right: 10px;
    top: 13px;
  }

  .suspend-icon {
    color: #f3dba5 !important;

    // &:hover {
    //   color: #A17C4E !important;
    // }
  }
  .moreIcon:hover {
    color: var(--color-theme-1-vip) !important;
  }
  .iconHover {
    color: var(--color-theme-1-vip) !important;
  }
  .action-box .action-item:hover {
    color: var(--color-theme-1-vip);
    background: rgba(221,168,99,0.2);
  }
}
// .action-btnstd button {
//   margin: 2px 0;
// }


.auth-btn .layui-layer-btn {
  float: none;
}

.yzy-transfer-box{
  width: 800px !important;
  padding: 0 !important;
  .transfer-top{
    height: 50px;
    border-radius:4px 4px 0px 0px;
    background:rgba(249,248,248,1);
    text-align: center;
    line-height: 50px;
  }
  .transfer-close{
    width: 14px;
    right: 20px;
    top: 18px;
  }
  .transfer-middle{
    padding: 20px;
    &.small{
      max-height: 550px;
      overflow-y: auto;
    }
    .transfer-head{
      font-weight: 500;
      margin-bottom: 14px;
    }
    .transfer-notice-item{
      font-size: 14px;
      margin-bottom: 10px;
    }
    .transfer-img-box{
      padding: 20px 0;
      border-top: 1px solid rgba(88,88,88,0.09);
      border-bottom: 1px solid rgba(88,88,88,0.09);
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .transfer-img-wrap{
      border-radius: 4px;
      background: #F8F8F8;
      padding: 13px 0;
      .transfer-img-item{
        width: 25%;
        font-size: 12px;
        color: #FF7700;
        img{
          margin-bottom: 8px;
        }
      }
      .transfer-left{
        position: absolute;
        top: calc(50% - 8px);
        &.first{
          left: calc(25% - 8px);
        }
        &.second{
          left: calc(50% - 8px);
        }
        &.third{
          left: calc(75% - 8px);
        }
      }
    }
    .transfet-form-item{
      font-size: 14px;
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      position: relative;
      .transfer-err{
        top: 42px;
        left: 172px;
        color: #E02020;
        // font-size: 12px;
      }
      label{
        display: inline-block;
        text-align: right;
        width: 160px;
        margin-right: 12px;
      }
      input, select{
        border: 1px solid #E4E4E4 !important;
        border-radius: 4px;
        flex: 1;
        height: 38px !important;
        padding: 0 16px;
        font-size: 14px;
        margin-bottom: 0 !important;
        margin-right: 0 !important;
      }
      &.error{
        input, select{
          border-color: #E02020 !important;
        }
      }
      .transfer-form-btn{
        height: 38px;
        line-height: 38px;
        background: #fff;
        color: #FF7700;
        border: 1px solid #FF7700;
        padding: 0 34px;
        margin-left: 12px;
        border-radius: 4px;
        cursor: pointer;
        &:hover{
          background: rgba(255,119,0,0.1);
        }
        &.diabled{
          color: #999 !important;
        }
      }
    }
  }
  .transfer-bottom{
    box-shadow:0px -2px 3px 0px rgba(0,0,0,0.05);
    border-radius:0px 0px 4px 4px;
    background: #fff;
    padding: 20px 0;
    button{
      border-radius: 4px;
      height: 30px;
      padding: 0 14px;
      margin: 0 7px;
    }
    .transfer-btn-default{
      background:var(--color-bg-14);
      border:1px solid var(--color-line-1);
      color: var(--color-font-1);
      &:hover{
        background: var(--color-bg-14-1);
      }
    }
  }
}
.vip{
  .transfer-img-item{
    color: #DDA863 !important;
  }
  .transfer-form-btn{
    color: #DDA863 !important;
    border: 1px solid #DDA863 !important;
    &:hover{
      background: rgba(221,168,99,0.1) !important;
    }
  }
}

.configLogisticsDialog {
  .confirm-main {
    width: 587px;
    // height: 175px;
    height: auto;
    overflow: unset;

    .iconfont.confirm-close {
      width: 14px;
      height: 14px;
      color: #333333;
    }

    .confirm-title {
      width: 587px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #333333;
      background: #F9F8F8;
      border-radius: 4px;
    }

    .configLogisticsForm {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 30px;
      label {
        font-size: 14px;
        color: #000000;
      }
      input {
        width: 300px;
        height: 36px;
        border-radius: 4px;
        border: 1px solid #D9D9D9;
        margin: 0 17px 0 15px;
        padding: 8px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
        line-height: 14px;
      }
      .trackingUrlSelect {
        width: 300px;
        height: 36px;
        border-radius: 4px;
        border: 1px solid #D9D9D9;
        margin: 0 17px 0 15px;
        padding: 8px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
        line-height: 14px;
        position: relative;
        cursor: pointer;
        padding-right: 30px;

        .tooltip {
          position: relative;
          display: inline-block;
          cursor: pointer;

          &:hover {
            .tooltiptext {
              visibility: visible;
            }
          }

          .tooltiptext {
            visibility: hidden;
            background-color: rgba(0,0,0,.75);
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 10px;
            position: absolute;
            z-index: 2;
            bottom: 150%;
            left: 20%;
            margin-left: -100px;
            word-break: break-word;
            line-height: 1.5;
            margin-right: 10px;
            width: 500px;

            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: black transparent transparent transparent;
            }
            
            .copyIcon {
              margin-left: 5px;
              cursor: pointer;
              font-size: 12px;
        
              &:hover {
                color: var(--color-theme-1);
              }
            }
          }
        } 

        .trackingUrlSelectUrl {
          width: 260px;
          height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .selectIcon{
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .trackingUrlSelectBox {
        width: 300px;
        height: auto;
        background: #FFFFFF;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        z-index: 1000;
        position: absolute;
        left: 70px;
        bottom: -10px;

        .trackingUrlSelectItem {
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #999999;
          line-height: 14px;
          height: 36px;
          line-height: 36px;
          padding: 0 17px 0 15px;
          z-index: 10000;
          cursor: pointer;

          &:hover {
            background-color: #FFE6D6;
            color: #FF7700;
          }
        }
        .isSelect {
          // display: none;
          // background-color: #e9ecf0;
        }
        .isVip {
          &:hover {
            color: #DDA863 !important;
            background-color: rgba(216,168,99,0.2);
          }
        }
      }
      span {
        font-size: 14px;
        color: #999999;
        cursor: pointer;
      }
      .configLogisticsFormBtn {
        border: 1px solid #E4E4E4;
        background: none;
        font-size: 12px;
        font-weight: 400;
        color: #666666;
        /* line-height: 17px; */
        border-radius: 4px;
        /* height: 30px; */
        /* line-height: 30px; */
        padding: 7px 20px;
        margin-right: 7px;

        &:hover {
          color: var(--color-theme-1);
          border-color: var(--color-theme-1);
        }
      }
    }
    .tip {
      font-size: 12px;
      color: #F25245;
      margin: 5px 0 0 100px;
    }

    .confirm-main-bottom-btn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      text-align: center;
      background: #fff;
      border-radius: 4px;
      
      .cancel-btn {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        min-width: 80px;
        margin: 0 8px;
        font-size: 14px;
        border-radius: 4px;
        color: var(--color-font-1);
        cursor: pointer;
        border: 1px solid var(--color-line-1);
        background: var(--color-bg-14);

        &:hover {
          color: var(--color-font-1);
          background: var(--color-bg-14-1);
        }
      }

      .confirm-btn {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        min-width: 80px;
        margin: 0 8px;
        font-size: 14px;
        border-radius: 4px;
        // box-shadow: 0 0 0 1px #fff;
        color: var(--color-font-4);
        cursor: pointer;
        // background: linear-gradient(135deg, #f2d7a1 0%, #dfad65 100%);
        background: var(--color-theme-1);

        &:hover {
          color: var(--color-font-4);
          background: var(--color-theme-1-1);
        }
      }
    }
  }

  .showResetInfoBox {
    width: 360px;
    // height: 155px;
    background: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    z-index: 1200;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    .content {
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #333333;
      line-height: 20px;
      padding: 40px 20px 0;
    }
    .show-reset-info-box-btn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      text-align: center;
      background: #fff;
      border-radius: 0 0 4px 4px;
      
      .cancel-btn {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        min-width: 80px;
        margin: 0 8px;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
        color: var(--color-font-1);
        border: 1px solid var(--color-line-1);
        background: var(--color-bg-14);

        &:hover {
          color: var(--color-font-1);
          background: var(--color-bg-14-1);
        }
      }

      .confirm-btn {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        min-width: 80px;
        margin: 0 8px;
        font-size: 14px;
        border-radius: 4px;
        // box-shadow: 0 0 0 1px #fff;
        color: var(--color-font-4);
        cursor: pointer;
        background: var(--color-theme-1);

        &:hover {
          background: var(--color-theme-1-1);
          color: var(--color-font-4);
        }
      }
    }
  }
}

.vip .trackingUrlSelectItem {
  &:hover {
    color: #DDA863 !important;
  }
}
.vip .confirm-main-bottom-btn .confirm-btn {
  background: var(--color-theme-1-vip) !important;
  color: var(--color-font-4) !important;

  &:hover {
    background: var(--color-theme-1-1-vip) !important;
    color: var(--color-font-4) !important;
  }
}
.vip .show-reset-info-box-btn .confirm-btn {
  background: var(--color-theme-1-vip) !important;
  color: var(--color-font-4) !important;

  &:hover {
    background: var(--color-theme-1-1-vip) !important;
    color: var(--color-font-4) !important;
  }
}
.vip .configLogisticsFormBtn:hover {
  color: var(--color-theme-1-vip) !important;
  border-color: var(--color-theme-1-vip) !important;
}
.vip .copyIcon:hover {
  color: var(--color-theme-1-vip) !important;
}