@import '../../colors.less';
.search-form {
  max-width: 1400px;

  :global(.ant-form-item-label) {
    label {
      color: @grey;
    }
  }

  :global(.ant-picker) {
    width: 100%;
  }

  .search-btns {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}

.site-checkbox-all-wrapper {
  border-bottom: 1px solid @borderColor;
}
