.regular-package {
  .product-item .product-del {
    position: absolute;
    color: #ccc;
    right: 5px;
    top: 5px;
    font-size: 24px;
    z-index: 10;
  }
  .noticeOfHolidays {
    width: 1120px;
    font-size: 14px;
    color: red;
    word-break: break-word;
    border: 1px solid #FF928C;
    background: #FFF1F0;
    color: #666666;
    line-height: 22px;
    font-weight: 400;
    padding: 8px 16px 8px 30px;
    position: relative;
    border-radius: 2px;

    .tipIcon {
      font-size: 15px;
      color: #FF736B;
      position: absolute;
      left: 10px;
    }
  }
}