@import '../../colors.less';
.search-table {
  padding: 15px;
  .search-content {
    width: 100%;
    background-color: @backThemeColor;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid @theme;
    box-shadow: 2px 2px 5px @borderColor;

    .search-form {
      :global(.ant-form-item-label) {
        label {
          color: @grey;
        }
      }

      :global(.ant-form-item) {
        margin-bottom: 15px;
      }

      :global(.ant-picker) {
        width: 100%;
      }
    }

    .search-btns {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      &.inline {
        width: 160px;
      }

      button {
        margin-left: 10px;
      }
    }
  }
  .operate-btns {
    margin: 15px 0 8px 0;

    :global(.ant-upload) {
      display: inline-block;
    }
  }
}
