.colorGreen {
  background: #80ff80;
}
.colorRed {
  background: #ec808d;
}
.paddingLayout {
  padding: 15px 15px 0 15px;
  :global .ant-btn {
    margin-top: 10px;
  }
}
.statusLayout {
  padding: 15px 15px 0;
}
