.ticket-add {

  .add-ticket-box {
    width: 1200px;
    margin: 0 auto;
    font-family: PingFangSC-Regular, PingFang SC;
  }

  .topBack {
    height: 22px;
    font-size: 16px;
    color: #333;
    margin-bottom: 9px;
    cursor: pointer;
  }

  .topBack>p {
    height: 22px;
    line-height: 22px;
  }

  .content-box {
    border: 1px solid #ececec;
  }

  .content-title {
    width: 1200px;
    height: 40px;
    background: #F0F4F6;
    padding: 8px 16px;
  }

  .content-title-font {
    width: 108px;
    font-size: 18px;
    color: #254754;
  }

  .content-mainBox {
    padding: 20px 15px 30px 50px;
    position: relative;
  }

  .list-box {
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
  }

  .list-box-left {
    float: left;
    line-height: 20px;
  }

  .left-font {
    width: 80px;
    font-size: 14px;
    color: #666;
  }

  .list-box-right {
    margin-left: 142px;
  }

  .right-subject {
    width: 564px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px;
  }

  .right-message {
    height: 143px;
  }

  .uploadimgs-div {
    padding-top: 20px;
  }

  .res-upload-div {
    position: relative;
    display: inline-block;
    width: 104px;
    height: 104px;
  }

  .res-upload-div input {
    display: inline-block;
    margin: 0;
    width: 104px;
    height: 104px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    cursor: pointer;
    border: 1px solid blue;
    z-index: 2;
    opacity: 0;
  }

  .res-upload-div .up-bg-div {
    display: inline-block;
    width: 104px;
    height: 104px;
    text-align: center;
    background: rgba(0, 0, 0, 0.02);
    border: 1px dashed #979797;
  }

  .res-upload-div .up-bg-div .up-bg-img {
    margin: 24px 0 14px;
  }

  .res-upload-div .up-bg-div .up-bg-img img {
    width: 26px;
    height: 26px;
  }

  .res-upload-div .up-bg-div p {
    font-size: 14px;
    color: #000;
  }

  .imgs-show-div {
    display: inline-block;
    width: 280px;
    overflow-y: auto;
    vertical-align: top;
    margin-top: -12px;
    padding-top: 12px;
  }

  .imgs-show-div .resshow-imgs {
    width: 1400px;
  }

  .imgs-show-div li {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  .imgs-show-div li .show-big-img {
    width: 104px;
    height: 104px;
    margin-left: 25px;
  }

  .imgs-show-div li .delete-img {
    position: absolute;
    width: 22px;
    right: -11px;
    top: -11px;
    cursor: pointer;
  }

  .allowed-img {
    font-size: 14px;
    color: #000;
  }

  .afsale-return-img {
    width: 60px;
    height: 60px;
  }
  .tip {
    background: rgba(255, 153, 0, 0.1);
    font-size: 12px;
    color: #FF6010;
    line-height: 32px;
    margin: 0 35px 20px 0;
    padding-left: 10px;
    i {
      margin-right: 7px;
      vertical-align: -1px;
    }
  }
}