.point-reward {
  .cj-date .wui-input,
  .hangban-number,
  .hangban-remark {
    padding: 0;
    background: #FFFAF1;
    height: 40px;
    color: #999999;
    font-size: 14px;
    width: 198px;
    border: 1px solid #D9D9D9;
    text-indent: 2rem;
  }

  .hangban-number {
    width: 306px;
    margin-right: 20px;
  }

  .hangban-remark {
    width: 540px;
  }

  .cj-date .wui-date-editor {
    width: 198px;
    height: 40px;
  }

  .cj-date .wui-date-editor .iconfont {
    position: absolute;
    left: 160px;
    top: 17px;
  }

  .check-box input {
    width: 24px;
    height: 24px;
  }

  .check-box input+label {
    height: 24px;
    line-height: 24px;
    padding-left: 30px;
    background: url(/static/image/points-mall/check.svg) left center no-repeat;
    background-size: 24px 24px;
  }

  .check-box input:checked+label {
    background: url(/static/image/points-mall/checked.svg) left center no-repeat;
    background-size: 24px 24px;
  }

  .top-bar {
    height: 200px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 4px;
    .back-btn {
      margin: 0 50px;
      .iconfont {
        font-size: 30px;
      }
    }
  }

  .top-bar .point-card {
    width: 344px;
    height: 184px;
    background-image: url(/static/image/points-mall/jifen-bg.png);
    // margin-left: 105px;
    margin-right: 102px;
    position: relative;
  }

  .point-card .curr-jifen {
    position: absolute;
    height: 26px;
    line-height: 26px;
    background: #EFD29A;
    padding: 0 22px;
    color: #333333;
    font-size: 12px;
    border-radius: 13px;
    left: 25px;
    top: 30px;
  }

  .point-card .jifen {
    font-size: 32px;
    color: #EFD29A;
    line-height: 45px;
    margin-top: 80px;
    text-align: center;
  }

  .top-bar {
    margin-bottom: 16px;
  }

  .top-bar .items {
    display: flex;
    flex: 1;
  }

  .top-bar .items .item {
    width: 33.3%;
  }

  .top-bar .items .top-line {
    height: 34px;
    line-height: 34px;
  }

  .top-bar .items .top-line a {
    display: flex;
    color: #333333;
  }

  .top-bar .items .top-line a .num {
    margin-right: 4px;
    transition: all .3s;
  }

  .top-bar .items .top-line a:hover .num {
    margin-right: 6px;
  }

  .top-bar .items .num {
    font-size: 24px;
  }

  .top-bar .items .txt {
    font-size: 12px;
    color: #666666;
  }

  .top-bar .items .icon {
    font-size: 12px;
  }

  .service-list {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service-wrap {
    width: calc(50% - 8px);
    /* max-width: 580px; */
  }

  .service-list .service {
    height: 290px;
    border-radius: 8px;
    overflow: hidden;
    // margin-right: 16px;
    margin-bottom: 16px;
    position: relative;
  }

  .service-list .service .img-wrap {
    height: 230px;
    overflow: hidden;
  }

  .service-list .service .img-wrap img {
    width: 100%;
  }

  .service-list .service .content {
    height: 230px;
    color: #fff;
    padding: 12px 35px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .service-list .service .content h6 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .service-list .service .content p {
    font-size: 14px;
    width: 360px;
  }

  .service-list .service .content2 {
    width: 100%;
    height: 230px;
    background: #333333;
    color: #666666;
    display: flex;
    transition: all .3s;
    position: absolute;
    top: 0;
    left: 100%;
  }

  .service-list .service:hover .content2 {
    left: 0;
  }

  .service-list .service .content2 .title {
    color: #D8D8D8;
    height: 32px;
    line-height: 32px;
    padding-left: 44px;
  }

  .service-list .more-service {
    border: 5px dashed #fff;
    background: #f7f6f3;
  }

  .service-list .more-service .content {
    color: #999999;
  }

  .service-list .more-service .content h6 {
    margin-top: 70px;
  }

  .service-list .service .content2 .sele-items {
    width: 33.3%;
    border-right: 1px solid #666666;
    padding: 10px 8px;
  }

  .service-list .service .content2 .sele-items:last-child {
    border-right: 0;
  }

  .service-list .service .content2 .sele-item {
    height: 32px;
    line-height: 32px;
    display: flex;
    font-size: 14px;
    cursor: pointer;
  }

  .service-list .service .content2 .item-check {
    width: 44px;
    text-align: center;
    color: #EFD29A;
    font-size: 12px;
  }

  .service-list .service .content2 .item-name {
    flex: 1;
  }

  .service-list .service .content2 .item-name.checked {
    color: #EFD29A;
  }

  .service-list .service .content2 .sele-item:hover {
    background: #EFD29A;
    color: #333333;
    border-radius: 4px;
  }

  .service-list .service .content2 .sele-item:hover .item-name.checked {
    color: #333333;
  }

  .service-list .service .bottom {
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 24px;
  }

  .service-list .service .bottom .check-box {
    width: 50%;
  }

  .service-list .service .bottom .jifen {
    width: 50%;
    text-align: right;
    color: #E99435;
  }

  .service-list .service .bottom .jifen .num {
    font-size: 24px;
  }

  .hangban {
    height: 150px;
    background: #fff;
    border-radius: 4px;
    padding: 4px 40px;
    margin-bottom: 16px;
  }

  .hangban>.title {
    margin: 20px 0;
    font-size: 18px;
  }

  .hangban .wui-date {
    margin-right: 20px;
  }

  .btns .mybtn {
    height: 66px;
    line-height: 66px;
    margin: 16px 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }

  .btns .reset {
    background: #fff;
    color: #666666;
  }

  .btns .submit {
    background: #333333;
    color: #EFD29A;
    margin-bottom: 100px;
  }

  .btns .continue {
    background: #fff;
    color: #666666;
  }

  .order-list {
    /* background: #fff; */
    /* border-radius: 4px; */
    /* padding: 4px 24px; */
    /* margin-bottom: 16px; */
  }

  .order-list .order-item-info {
    background: #fff;
    border-radius: 4px;
    padding: 4px 24px;
    margin-bottom: 16px;
  }

  .order-list .top-info {
    // height: 64px;
    // display: flex;
    // align-items: center;
    min-height: 64px;
    position: relative;
  }

  .order-list .top-info .order-time,
  .order-list .top-info .hangban-time {
    color: #666666;
    font-size: 14px;
  }

  .order-list .top-info .order-time {
    margin-right: 8px;
  }

  .order-list .top-info .hangban-time {
    margin-right: 8px;
    line-height: 2;
    word-break: break-word;
  }

  .order-list .top-info .zhedie {
    position: absolute;
    top: 22px;
    right: 20px;
    transition: all .3s;
    cursor: pointer;
  }

  .order-list .top-info .to-up {
    transform: rotate(180deg);
  }

  .order-list .status {
    height: 22px;
    background: #F2F2F2;
    border-radius: 11px;
    padding: 0 8px;
    font-size: 14px;
    color: #666666;
  }

  .order-list .status b {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .order-list .status .green {
    background: #6DD400;
  }

  .order-list .status .red {
    background: #E46D58;
  }

  .order-list .service {
    height: 96px;
    background: #353331;
    color: #F0D59E;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    padding-right: 34px;
  }

  .order-list .service .img {
    width: 190px;
    margin-right: 40px;
  }

  .order-list .service .other {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .order-list .service .other>div {
    width: 33.3%;
  }

  .order-list .service .jifen {
    text-align: right;
  }

  .order-list .service .jifen .num {
    font-size: 24px;
  }

  .order-list .total {
    height: 86px;
    line-height: 86px;
    text-align: right;
    padding-right: 34px;
  }

  .order-list .total .num {
    color: #E99435;
    font-size: 24px;
  }

  #isCJPub .preview-list {
    width: 1188px;
    // height: 688px;
  }

  #isCJPub .preview-list .order-list {
    height: 520px;
    overflow: auto;
  }

  #isCJPub .preview-list .order-list .img-wrap {
    width: 190px;
    height: 76px;
    overflow: hidden;
    margin-right: 40px;
  }

  #isCJPub .preview-list .order-list .img-wrap img {
    width: 100%;
  }

  .new-btns {
    width: 100%;
    display: flex;

    .reset:hover {
      color: #999999;
      background: #F5F5F5;
    }
    
    .submit:hover {
      color: #333333;
      background: #EFD29A;
    }

    .new-my-btn {
      font-size: 18px;
      flex: 1;
      margin: 0 0 4px;
    }
  }
}