.gray-bg {
  height: 22px;
  background: #f2f3f5;
}
.awaiting-submit-box h3 {
  color: #5e5f64;
  font-size: 24px;
  line-height: 34px;
  margin-top: 15px;
}
.awaiting-submit-box .as-checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0;
  margin: 0;
}
.awaiting-submit-box .as-checkbox + label {
  display: block;
  width: 44px;
  height: 20px;
  line-height: 20px;
  padding-left: 26px;
  background: url(../image/login/multiple1.png) left center no-repeat;
  color: #212121;
  font-size: 14px;
  margin-bottom: 0;
}
.awaiting-submit-box .as-checkbox:checked + label {
  background: url(../image/login/multiple2.png) left center no-repeat;
}
.awaiting-submit-box .select-all {
  position: relative;
  padding-left: 8px;
  height: 20px;
  margin-bottom: 15px;
}
.awaiting-submit-box .select-all .as-checkbox + label {
  width: 60px;
}
.awaiting-submit-box .product-lists {
  color: #757575;
  font-size: 12px;
}
.awaiting-submit-box .product-item {
  margin-top: 10px;
}
.awaiting-submit-box .product-item .item-heading {
  height: 30px;
  line-height: 30px;
  background: #ececec;
}
.awaiting-submit-box .product-item .item-heading .select {
  margin-left: 8px;
  margin-top: 5px;
}
.awaiting-submit-box .product-item .item-heading .original-order {
  margin-right: 23px;
}
.awaiting-submit-box .product-item .item-body {
  height: 108px;
  border: 1px solid #f1f1f1;
  border-top: 0;
  padding: 24px 24px 0 50px;
}
.awaiting-submit-box .product-item .item-body .product-details {
  margin-bottom: 22px;
}
.awaiting-submit-box .product-item .item-body .product-details span {
  margin-right: 10px;
}
.awaiting-submit-box .product-item .item-body .costs {
  margin-bottom: 22px;
}
.awaiting-submit-box .product-item .item-body .costs span {
  margin-right: 36px;
}
.awaiting-submit-box .shipping-type label {
  line-height: 30px;
  margin-right: 20px;
}
.awaiting-submit-box .shipping-type select {
  width: 190px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  background: #fff;
}
.awaiting-submit-box .active .item-heading {
  background: #fde8d0;
}
.awaiting-submit-box .active .item-body {
  background: #fcf5ed;
  border: none;
}
.awaiting-submit-box .bottom-function-bar {
  color: #212121;
  font-size: 12px;
  padding: 10px 0;
}
.awaiting-submit-box .bottom-function-bar .combine-con {
  margin-top: 8px;
}
.awaiting-submit-box .bottom-function-bar .num-of-order {
  margin-right: 14px;
  line-height: 20px;
}
.awaiting-submit-box .bottom-function-bar .num-of-order b {
  font-weight: normal;
  color: #fc6d0e;
}
.awaiting-submit-box .bottom-function-bar .num-of-order .total-num {
  margin-right: 34px;
}
.awaiting-submit-box .bottom-function-bar .comine-btn {
  background: #0b4e67;
}
.awaiting-submit-box .bottom-function-bar .settle-con {
  margin-top: 8px;
  width: 380px;
  margin-right: 44px;
}
.awaiting-submit-box .bottom-function-bar .shipping-type select {
  width: 113px;
}
.awaiting-submit-box .bottom-function-bar .total-num {
  color: #333333;
  font-size: 16px;
}
.awaiting-submit-box .bottom-function-bar .total-num b {
  font-weight: normal;
  color: #fc6d0e;
}
.awaiting-submit-box .bottom-function-bar .confirm-btn {
  width: 118px;
  height: 40px;
  background: #f99429;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
}
.as-content .current-position {
  margin-top: 10px;
  font-size: 14px;
  color: #5a5a5a;
}
body .split-orders-layer {
  background: #fff;
  padding: 0 60px;
}
body .split-orders-layer h5 {
  color: #5e5f64;
  font-size: 24px;
  line-height: 24px;
  margin-top: 50px;
  margin-bottom: 34px;
  text-align: center;
}
body .split-orders-layer p {
  color: #999999;
  font-size: 12px;
  line-height: 18px;
}
body .split-orders-layer table {
  border-color: #f1f1f1;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 12px;
}
body .split-orders-layer table thead {
  background: #ececec;
}
body .split-orders-layer table th {
  text-align: center;
  border-bottom-width: 1px;
  color: #6c6c6c;
  font-weight: normal;
}
body .split-orders-layer table th,
body .split-orders-layer table td {
  height: 30px;
  line-height: 30px;
  padding: 0;
  font-size: 12px;
}
body .split-orders-layer table td {
  color: #272727;
  vertical-align: middle;
}
body .split-orders-layer table .first-td {
  color: #757575;
}
body .split-orders-layer .layui-layer-content {
  height: 460px!important;
}
body .split-orders-layer .layui-layer-btn {
  height: 30px;
  margin: 0;
  padding: 0;
}
body .split-orders-layer .layui-layer-btn a {
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 4px;
}
body .split-orders-layer .layui-layer-btn .layui-layer-btn0 {
  width: 108px;
  height: 30px;
  margin-right: 15px;
  line-height: 30px;
  background: #f6f6f6;
  border: 1px solid #cfcfcf;
  color: #6b6b6b;
}
body .split-orders-layer .layui-layer-btn .layui-layer-btn1 {
  width: 116px;
  height: 30px;
  line-height: 30px;
  background: #ff8d31;
  color: #fff;
  border: none;
}
body .combine-order-layer {
  font-size: 12px;
  color: #757575;
}
body .combine-order-layer h5 {
  margin-bottom: 12px;
}
body .combine-order-layer p {
  text-align: center;
  margin-bottom: 45px;
}
body .combine-order-layer .combine-form-content {
  height: 320px;
  overflow: auto;
}
body .combine-order-layer .layui-layer-content {
  height: 500px!important;
}
body .combine-order-layer .product-item {
  margin-top: 10px;
}
body .combine-order-layer .product-item .item-heading {
  height: 30px;
  line-height: 30px;
  background: #ececec;
}
body .combine-order-layer .product-item .item-heading .product-title {
  margin-left: 50px;
}
body .combine-order-layer .product-item .item-heading .select {
  margin-left: 8px;
  margin-top: 5px;
}
body .combine-order-layer .product-item .item-heading .original-order {
  margin-right: 23px;
}
body .combine-order-layer .product-item .item-body {
  height: 108px;
  border: 1px solid #f1f1f1;
  border-top: 0;
  padding: 24px 24px 0 50px;
}
body .combine-order-layer .product-item .item-body .product-details {
  margin-bottom: 22px;
}
body .combine-order-layer .product-item .item-body .product-details span {
  margin-right: 10px;
}
body .combine-order-layer .product-item .item-body .costs {
  margin-bottom: 22px;
}
body .combine-order-layer .product-item .item-body .costs span {
  margin-right: 36px;
}
