.border{border:1px solid red}.border1{border:1px solid #00f}.border2{border:1px solid #000}.xauto{margin:0 auto}.comheader-wrap{width:100%}.header-con{width:100%;min-width:1300px;height:80px;margin:0 auto;position:relative}.header-con .header-logo{margin-left:1.48809524%;display:inline-block;height:80px;vertical-align:top;padding-top:23px}.header-con .header-logo img{position:absolute;left:1.48809524%}.header-con .header-nav{width:545px;display:inline-block;height:80px;position:absolute;left:50%;transform:translateX(-50%)}.header-con .header-nav ul{display:flex;justify-content:space-between}.header-con .header-nav ul li a{display:inline-block;color:#f88f29;line-height:14px;padding-top:48px;padding-bottom:12px;font-size:14px}.header-con .header-nav ul li :hover{border-bottom:4px solid #f88f29}.header-con .header-nav ul li :active{border-bottom:4px solid #f88f29}.header-con .header-help{width:195px;margin-right:120px;margin-top:43px;float:right;display:inline-block}.header-con .header-help ul{display:flex;width:100%;height:18px;justify-content:space-between}.header-con .header-help ul li{height:18px}.header-con .header-help ul li a{font-size:14px;line-height:14px;color:#585858}.header-con .hi-user{position:absolute;right:25px;top:46px;max-width:128px;height:16px;line-height:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.header-con .hi-user a{color:#585858;font-size:14px}
/* 翻译使用 */
#goog-gt-tt {
    display: none !important;
}

.goog-te-banner-frame {
    display: none !important;
}

.goog-te-menu-value:hover {
    text-decoration: none !important;
}

body {
    top: 0 !important;
}

#google_translate_element2 {
    display: none !important;
}