.swiper-container {
  height: 250px!important;
}
.swiper-container img { height: 250px!important;}
.list-warp {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* 商品列表卡片 底色及文字颜色修正  */
.product-card {
  background-color: transparent; 
}

/* 商品列表卡片 6列转5列修正  */
.product-box .list-product-card {
  margin-right: 17px;
  margin-bottom: 28px;
}

.product-box .list-product-card:nth-of-type(5n) {
  margin-right: 0px;
  margin-bottom: 0px;
}

/* 内容设置 */

.content-box {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 25px;
  background-color: transparent;
}
.product-content {
  position: relative; margin-bottom: 228px;
  margin-bottom: 20px;/*移除所有图片 底部距离设为20*/
}

/* 商品列表模块 */
.product-content,
.product-box {
  min-height: 600px;
}
.header-bg {
  min-width: 1200px;
}

/* 全局 背景设置 */
#festival1 {
  /* background: #D0E3FB; */
}

#festival1 .header-bg {
  margin-bottom: 20px;
}

/* 列表盒子  样式 */
#festival1 .festival-box {
  position: relative;
  /* border: 1px solid #F88630; */
  /* background-color: #BCD9FF; */
  border-radius: 12px;
  padding: 30px 15px 0;
}


/* 控制 卡片组件 样式 */
/* 商品描述 */

#festival1 .desc {
  color: #333;
}
#festival1 .desc:hover {
  color: #f90;
}
/* lists */
#festival1 .lists-text {
  color: #333;
}
/* 收藏按钮 */
#festival1 .collect {
  color: #333;
}
#festival1 .collect:hover {
  color: #f90;
}
#festival1 .collected {
  color: #f70;
}
/* 价格字体 */
#festival1 .price {
  color: #f70;
}

/* btn list 样式 及 悬浮样式 */
#festival1 .btn-list {
  background-color: #f70;
  border-radius: 4px;
  color: #fff;
}
#festival1 .btn-list:hover {
  background-color: #f90;
}

