/* 支付的flag图标 */
i.payflag:not(.icon) {
    display: inline-block;
    width: 16px;
    height: 11px;
    line-height: 11px;
    vertical-align: baseline;
    margin: 0 .5em 0 .5em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

i.payflag:not(.icon):before {
    display: inline-block;
    content: '';
    background: url(/static/image/public-img/flags.png) no-repeat -108px -1976px;
    width: 16px;
    height: 11px;
}

i.payflag.ad:before,
i.payflag.andorra:before {
    background-position: 0 0;
}

i.payflag.ae:before,
i.payflag.uae:before,
i.payflag.united.arab.emirates:before {
    background-position: 0 -26px;
}

i.payflag.af:before,
i.payflag.afghanistan:before {
    background-position: 0 -52px
}

i.payflag.ag:before,
i.payflag.antigua:before {
    background-position: 0 -78px
}

i.payflag.ai:before,
i.payflag.anguilla:before {
    background-position: 0 -104px
}

i.payflag.al:before,
i.payflag.albania:before {
    background-position: 0 -130px
}

i.payflag.am:before,
i.payflag.armenia:before {
    background-position: 0 -156px
}

i.payflag.an:before,
i.payflag.netherlands.antilles:before {
    background-position: 0 -182px
}

i.payflag.angola:before,
i.payflag.ao:before {
    background-position: 0 -208px
}

i.payflag.ar:before,
i.payflag.argentina:before {
    background-position: 0 -234px
}

i.payflag.american.samoa:before,
i.payflag.as:before {
    background-position: 0 -260px
}

i.payflag.at:before,
i.payflag.austria:before {
    background-position: 0 -286px
}

i.payflag.au:before,
i.payflag.australia:before {
    background-position: 0 -312px
}

i.payflag.aruba:before,
i.payflag.aw:before {
    background-position: 0 -338px
}

i.payflag.aland.islands:before,
i.payflag.ax:before {
    background-position: 0 -364px
}

i.payflag.az:before,
i.payflag.azerbaijan:before {
    background-position: 0 -390px
}

i.payflag.ba:before,
i.payflag.bosnia:before {
    background-position: 0 -416px
}

i.payflag.barbados:before,
i.payflag.bb:before {
    background-position: 0 -442px
}

i.payflag.bangladesh:before,
i.payflag.bd:before {
    background-position: 0 -468px
}

i.payflag.be:before,
i.payflag.belgium:before {
    background-position: 0 -494px
}

i.payflag.bf:before,
i.payflag.burkina.faso:before {
    background-position: 0 -520px
}

i.payflag.bg:before,
i.payflag.bulgaria:before {
    background-position: 0 -546px
}

i.payflag.bahrain:before,
i.payflag.bh:before {
    background-position: 0 -572px
}

i.payflag.bi:before,
i.payflag.burundi:before {
    background-position: 0 -598px
}

i.payflag.benin:before,
i.payflag.bj:before {
    background-position: 0 -624px
}

i.payflag.bermuda:before,
i.payflag.bm:before {
    background-position: 0 -650px
}

i.payflag.bn:before,
i.payflag.brunei:before {
    background-position: 0 -676px
}

i.payflag.bo:before,
i.payflag.bolivia:before {
    background-position: 0 -702px
}

i.payflag.br:before,
i.payflag.brazil:before {
    background-position: 0 -728px
}

i.payflag.bahamas:before,
i.payflag.bs:before {
    background-position: 0 -754px
}

i.payflag.bhutan:before,
i.payflag.bt:before {
    background-position: 0 -780px
}

i.payflag.bouvet.island:before,
i.payflag.bv:before {
    background-position: 0 -806px
}

i.payflag.botswana:before,
i.payflag.bw:before {
    background-position: 0 -832px
}

i.payflag.belarus:before,
i.payflag.by:before {
    background-position: 0 -858px
}

i.payflag.belize:before,
i.payflag.bz:before {
    background-position: 0 -884px
}

i.payflag.ca:before,
i.payflag.canada:before {
    background-position: 0 -910px
}

i.payflag.cc:before,
i.payflag.cocos.islands:before {
    background-position: 0 -962px
}

i.payflag.cd:before,
i.payflag.congo:before {
    background-position: 0 -988px
}

i.payflag.central.african.republic:before,
i.payflag.cf:before {
    background-position: 0 -1014px
}

i.payflag.cg:before,
i.payflag.congo.brazzaville:before {
    background-position: 0 -1040px
}

i.payflag.ch:before,
i.payflag.switzerland:before {
    background-position: 0 -1066px
}

i.payflag.ci:before,
i.payflag.cote.divoire:before {
    background-position: 0 -1092px
}

i.payflag.ck:before,
i.payflag.cook.islands:before {
    background-position: 0 -1118px
}

i.payflag.chile:before,
i.payflag.cl:before {
    background-position: 0 -1144px
}

i.payflag.cameroon:before,
i.payflag.cm:before {
    background-position: 0 -1170px
}

i.payflag.china:before,
i.payflag.cn:before {
    background-position: 0 -1196px
}

i.payflag.co:before,
i.payflag.colombia:before {
    background-position: 0 -1222px
}

i.payflag.costa.rica:before,
i.payflag.cr:before {
    background-position: 0 -1248px
}

i.payflag.cs:before,
i.payflag.serbia:before {
    background-position: 0 -1274px
}

i.payflag.cu:before,
i.payflag.cuba:before {
    background-position: 0 -1300px
}

i.payflag.cape.verde:before,
i.payflag.cv:before {
    background-position: 0 -1326px
}

i.payflag.christmas.island:before,
i.payflag.cx:before {
    background-position: 0 -1352px
}

i.payflag.cy:before,
i.payflag.cyprus:before {
    background-position: 0 -1378px
}

i.payflag.cz:before,
i.payflag.czech.republic:before {
    background-position: 0 -1404px
}

i.payflag.de:before,
i.payflag.germany:before {
    background-position: 0 -1430px
}

i.payflag.dj:before,
i.payflag.djibouti:before {
    background-position: 0 -1456px
}

i.payflag.denmark:before,
i.payflag.dk:before {
    background-position: 0 -1482px
}

i.payflag.dm:before,
i.payflag.dominica:before {
    background-position: 0 -1508px
}

i.payflag.do:before,
i.payflag.dominican.republic:before {
    background-position: 0 -1534px
}

i.payflag.algeria:before,
i.payflag.dz:before {
    background-position: 0 -1560px
}

i.payflag.ec:before,
i.payflag.ecuador:before {
    background-position: 0 -1586px
}

i.payflag.ee:before,
i.payflag.estonia:before {
    background-position: 0 -1612px
}

i.payflag.eg:before,
i.payflag.egypt:before {
    background-position: 0 -1638px
}

i.payflag.eh:before,
i.payflag.western.sahara:before {
    background-position: 0 -1664px
}

i.payflag.er:before,
i.payflag.eritrea:before {
    background-position: 0 -1716px
}

i.payflag.es:before,
i.payflag.spain:before {
    background-position: 0 -1742px
}

i.payflag.et:before,
i.payflag.ethiopia:before {
    background-position: 0 -1768px
}

i.payflag.eu:before,
i.payflag.european.union:before {
    background-position: 0 -1794px
}

i.payflag.fi:before,
i.payflag.finland:before {
    background-position: 0 -1846px
}

i.payflag.fiji:before,
i.payflag.fj:before {
    background-position: 0 -1872px
}

i.payflag.falkland.islands:before,
i.payflag.fk:before {
    background-position: 0 -1898px
}

i.payflag.fm:before,
i.payflag.micronesia:before {
    background-position: 0 -1924px
}

i.payflag.faroe.islands:before,
i.payflag.fo:before {
    background-position: 0 -1950px
}

i.payflag.fr:before,
i.payflag.france:before {
    background-position: 0 -1976px
}

i.payflag.ga:before,
i.payflag.gabon:before {
    background-position: -36px 0
}

i.payflag.gb:before,
i.payflag.united.kingdom:before {
    background-position: -36px -26px
}

i.payflag.gd:before,
i.payflag.grenada:before {
    background-position: -36px -52px
}

i.payflag.ge:before,
i.payflag.georgia:before {
    background-position: -36px -78px
}

i.payflag.french.guiana:before,
i.payflag.gf:before {
    background-position: -36px -104px
}

i.payflag.gh:before,
i.payflag.ghana:before {
    background-position: -36px -130px
}

i.payflag.gi:before,
i.payflag.gibraltar:before {
    background-position: -36px -156px
}

i.payflag.gl:before,
i.payflag.greenland:before {
    background-position: -36px -182px
}

i.payflag.gambia:before,
i.payflag.gm:before {
    background-position: -36px -208px
}

i.payflag.gn:before,
i.payflag.guinea:before {
    background-position: -36px -234px
}

i.payflag.gp:before,
i.payflag.guadeloupe:before {
    background-position: -36px -260px
}

i.payflag.equatorial.guinea:before,
i.payflag.gq:before {
    background-position: -36px -286px
}

i.payflag.gr:before,
i.payflag.greece:before {
    background-position: -36px -312px
}

i.payflag.gs:before,
i.payflag.sandwich.islands:before {
    background-position: -36px -338px
}

i.payflag.gt:before,
i.payflag.guatemala:before {
    background-position: -36px -364px
}

i.payflag.gu:before,
i.payflag.guam:before {
    background-position: -36px -390px
}

i.payflag.guinea-bissau:before,
i.payflag.gw:before {
    background-position: -36px -416px
}

i.payflag.guyana:before,
i.payflag.gy:before {
    background-position: -36px -442px
}

i.payflag.hk:before,
i.payflag.hong.kong:before {
    background-position: -36px -468px
}

i.payflag.heard.island:before,
i.payflag.hm:before {
    background-position: -36px -494px
}

i.payflag.hn:before,
i.payflag.honduras:before {
    background-position: -36px -520px
}

i.payflag.croatia:before,
i.payflag.hr:before {
    background-position: -36px -546px
}

i.payflag.haiti:before,
i.payflag.ht:before {
    background-position: -36px -572px
}

i.payflag.hu:before,
i.payflag.hungary:before {
    background-position: -36px -598px
}

i.payflag.id:before,
i.payflag.indonesia:before {
    background-position: -36px -624px
}

i.payflag.ie:before,
i.payflag.ireland:before {
    background-position: -36px -650px
}

i.payflag.il:before,
i.payflag.israel:before {
    background-position: -36px -676px
}

i.payflag.in:before,
i.payflag.india:before {
    background-position: -36px -702px
}

i.payflag.indian.ocean.territory:before,
i.payflag.io:before {
    background-position: -36px -728px
}

i.payflag.iq:before,
i.payflag.iraq:before {
    background-position: -36px -754px
}

i.payflag.ir:before,
i.payflag.iran:before {
    background-position: -36px -780px
}

i.payflag.iceland:before,
i.payflag.is:before {
    background-position: -36px -806px
}

i.payflag.it:before,
i.payflag.italy:before {
    background-position: -36px -832px
}

i.payflag.jamaica:before,
i.payflag.jm:before {
    background-position: -36px -858px
}

i.payflag.jo:before,
i.payflag.jordan:before {
    background-position: -36px -884px
}

i.payflag.japan:before,
i.payflag.jp:before {
    background-position: -36px -910px
}

i.payflag.ke:before,
i.payflag.kenya:before {
    background-position: -36px -936px
}

i.payflag.kg:before,
i.payflag.kyrgyzstan:before {
    background-position: -36px -962px
}

i.payflag.cambodia:before,
i.payflag.kh:before {
    background-position: -36px -988px
}

i.payflag.ki:before,
i.payflag.kiribati:before {
    background-position: -36px -1014px
}

i.payflag.comoros:before,
i.payflag.km:before {
    background-position: -36px -1040px
}

i.payflag.kn:before,
i.payflag.saint.kitts.and.nevis:before {
    background-position: -36px -1066px
}

i.payflag.kp:before,
i.payflag.north.korea:before {
    background-position: -36px -1092px
}

i.payflag.kr:before,
i.payflag.south.korea:before {
    background-position: -36px -1118px
}

i.payflag.kuwait:before,
i.payflag.kw:before {
    background-position: -36px -1144px
}

i.payflag.cayman.islands:before,
i.payflag.ky:before {
    background-position: -36px -1170px
}

i.payflag.kazakhstan:before,
i.payflag.kz:before {
    background-position: -36px -1196px
}

i.payflag.la:before,
i.payflag.laos:before {
    background-position: -36px -1222px
}

i.payflag.lb:before,
i.payflag.lebanon:before {
    background-position: -36px -1248px
}

i.payflag.lc:before,
i.payflag.saint.lucia:before {
    background-position: -36px -1274px
}

i.payflag.li:before,
i.payflag.liechtenstein:before {
    background-position: -36px -1300px
}

i.payflag.lk:before,
i.payflag.sri.lanka:before {
    background-position: -36px -1326px
}

i.payflag.liberia:before,
i.payflag.lr:before {
    background-position: -36px -1352px
}

i.payflag.lesotho:before,
i.payflag.ls:before {
    background-position: -36px -1378px
}

i.payflag.lithuania:before,
i.payflag.lt:before {
    background-position: -36px -1404px
}

i.payflag.lu:before,
i.payflag.luxembourg:before {
    background-position: -36px -1430px
}

i.payflag.latvia:before,
i.payflag.lv:before {
    background-position: -36px -1456px
}

i.payflag.libya:before,
i.payflag.ly:before {
    background-position: -36px -1482px
}

i.payflag.ma:before,
i.payflag.morocco:before {
    background-position: -36px -1508px
}

i.payflag.mc:before,
i.payflag.monaco:before {
    background-position: -36px -1534px
}

i.payflag.md:before,
i.payflag.moldova:before {
    background-position: -36px -1560px
}

i.payflag.me:before,
i.payflag.montenegro:before {
    background-position: -36px -1586px
}

i.payflag.madagascar:before,
i.payflag.mg:before {
    background-position: -36px -1613px
}

i.payflag.marshall.islands:before,
i.payflag.mh:before {
    background-position: -36px -1639px
}

i.payflag.macedonia:before,
i.payflag.mk:before {
    background-position: -36px -1665px
}

i.payflag.mali:before,
i.payflag.ml:before {
    background-position: -36px -1691px
}

i.payflag.burma:before,
i.payflag.mm:before,
i.payflag.myanmar:before {
    background-position: -73px -1821px
}

i.payflag.mn:before,
i.payflag.mongolia:before {
    background-position: -36px -1743px
}

i.payflag.macau:before,
i.payflag.mo:before {
    background-position: -36px -1769px
}

i.payflag.mp:before,
i.payflag.northern.mariana.islands:before {
    background-position: -36px -1795px
}

i.payflag.martinique:before,
i.payflag.mq:before {
    background-position: -36px -1821px
}

i.payflag.mauritania:before,
i.payflag.mr:before {
    background-position: -36px -1847px
}

i.payflag.montserrat:before,
i.payflag.ms:before {
    background-position: -36px -1873px
}

i.payflag.malta:before,
i.payflag.mt:before {
    background-position: -36px -1899px
}

i.payflag.mauritius:before,
i.payflag.mu:before {
    background-position: -36px -1925px
}

i.payflag.maldives:before,
i.payflag.mv:before {
    background-position: -36px -1951px
}

i.payflag.malawi:before,
i.payflag.mw:before {
    background-position: -36px -1977px
}

i.payflag.mexico:before,
i.payflag.mx:before {
    background-position: -72px 0
}

i.payflag.malaysia:before,
i.payflag.my:before {
    background-position: -72px -26px
}

i.payflag.mozambique:before,
i.payflag.mz:before {
    background-position: -72px -52px
}

i.payflag.na:before,
i.payflag.namibia:before {
    background-position: -72px -78px
}

i.payflag.nc:before,
i.payflag.new.caledonia:before {
    background-position: -72px -104px
}

i.payflag.ne:before,
i.payflag.niger:before {
    background-position: -72px -130px
}

i.payflag.nf:before,
i.payflag.norfolk.island:before {
    background-position: -72px -156px
}

i.payflag.ng:before,
i.payflag.nigeria:before {
    background-position: -72px -182px
}

i.payflag.ni:before,
i.payflag.nicaragua:before {
    background-position: -72px -208px
}

i.payflag.netherlands:before,
i.payflag.nl:before {
    background-position: -72px -234px
}

i.payflag.no:before,
i.payflag.norway:before {
    background-position: -72px -260px
}

i.payflag.nepal:before,
i.payflag.np:before {
    background-position: -72px -286px
}

i.payflag.nauru:before,
i.payflag.nr:before {
    background-position: -72px -312px
}

i.payflag.niue:before,
i.payflag.nu:before {
    background-position: -72px -338px
}

i.payflag.new.zealand:before,
i.payflag.nz:before {
    background-position: -72px -364px
}

i.payflag.om:before,
i.payflag.oman:before {
    background-position: -72px -390px
}

i.payflag.pa:before,
i.payflag.panama:before {
    background-position: -72px -416px
}

i.payflag.pe:before,
i.payflag.peru:before {
    background-position: -72px -442px
}

i.payflag.french.polynesia:before,
i.payflag.pf:before {
    background-position: -72px -468px
}

i.payflag.new.guinea:before,
i.payflag.pg:before {
    background-position: -72px -494px
}

i.payflag.ph:before,
i.payflag.philippines:before {
    background-position: -72px -520px
}

i.payflag.pakistan:before,
i.payflag.pk:before {
    background-position: -72px -546px
}

i.payflag.pl:before,
i.payflag.poland:before {
    background-position: -72px -572px
}

i.payflag.pm:before,
i.payflag.saint.pierre:before {
    background-position: -72px -598px
}

i.payflag.pitcairn.islands:before,
i.payflag.pn:before {
    background-position: -72px -624px
}

i.payflag.pr:before,
i.payflag.puerto.rico:before {
    background-position: -72px -650px
}

i.payflag.palestine:before,
i.payflag.ps:before {
    background-position: -72px -676px
}

i.payflag.portugal:before,
i.payflag.pt:before {
    background-position: -72px -702px
}

i.payflag.palau:before,
i.payflag.pw:before {
    background-position: -72px -728px
}

i.payflag.paraguay:before,
i.payflag.py:before {
    background-position: -72px -754px
}

i.payflag.qa:before,
i.payflag.qatar:before {
    background-position: -72px -780px
}

i.payflag.re:before,
i.payflag.reunion:before {
    background-position: -72px -806px
}

i.payflag.ro:before,
i.payflag.romania:before {
    background-position: -72px -832px
}

i.payflag.rs:before,
i.payflag.serbia:before {
    background-position: -72px -858px
}

i.payflag.ru:before,
i.payflag.russia:before {
    background-position: -72px -884px
}

i.payflag.rw:before,
i.payflag.rwanda:before {
    background-position: -72px -910px
}

i.payflag.sa:before,
i.payflag.saudi.arabia:before {
    background-position: -72px -936px
}

i.payflag.sb:before,
i.payflag.solomon.islands:before {
    background-position: -72px -962px
}

i.payflag.sc:before,
i.payflag.seychelles:before {
    background-position: -72px -988px
}

i.payflag.gb.sct:before,
i.payflag.scotland:before {
    background-position: -72px -1014px
}

i.payflag.sd:before,
i.payflag.sudan:before {
    background-position: -72px -1040px
}

i.payflag.se:before,
i.payflag.sweden:before {
    background-position: -72px -1066px
}

i.payflag.sg:before,
i.payflag.singapore:before {
    background-position: -72px -1092px
}

i.payflag.saint.helena:before,
i.payflag.sh:before {
    background-position: -72px -1118px
}

i.payflag.si:before,
i.payflag.slovenia:before {
    background-position: -72px -1144px
}

i.payflag.jan.mayen:before,
i.payflag.sj:before,
i.payflag.svalbard:before {
    background-position: -72px -1170px
}

i.payflag.sk:before,
i.payflag.slovakia:before {
    background-position: -72px -1196px
}

i.payflag.sierra.leone:before,
i.payflag.sl:before {
    background-position: -72px -1222px
}

i.payflag.san.marino:before,
i.payflag.sm:before {
    background-position: -72px -1248px
}

i.payflag.senegal:before,
i.payflag.sn:before {
    background-position: -72px -1274px
}

i.payflag.so:before,
i.payflag.somalia:before {
    background-position: -72px -1300px
}

i.payflag.sr:before,
i.payflag.suriname:before {
    background-position: -72px -1326px
}

i.payflag.sao.tome:before,
i.payflag.st:before {
    background-position: -72px -1352px
}

i.payflag.el.salvador:before,
i.payflag.sv:before {
    background-position: -72px -1378px
}

i.payflag.sy:before,
i.payflag.syria:before {
    background-position: -72px -1404px
}

i.payflag.swaziland:before,
i.payflag.sz:before {
    background-position: -72px -1430px
}

i.payflag.caicos.islands:before,
i.payflag.tc:before {
    background-position: -72px -1456px
}

i.payflag.chad:before,
i.payflag.td:before {
    background-position: -72px -1482px
}

i.payflag.french.territories:before,
i.payflag.tf:before {
    background-position: -72px -1508px
}

i.payflag.tg:before,
i.payflag.togo:before {
    background-position: -72px -1534px
}

i.payflag.th:before,
i.payflag.thailand:before {
    background-position: -72px -1560px
}

i.payflag.tajikistan:before,
i.payflag.tj:before {
    background-position: -72px -1586px
}

i.payflag.tk:before,
i.payflag.tokelau:before {
    background-position: -72px -1612px
}

i.payflag.timorleste:before,
i.payflag.tl:before {
    background-position: -72px -1638px
}

i.payflag.tm:before,
i.payflag.turkmenistan:before {
    background-position: -72px -1664px
}

i.payflag.tn:before,
i.payflag.tunisia:before {
    background-position: -72px -1690px
}

i.payflag.to:before,
i.payflag.tonga:before {
    background-position: -72px -1716px
}

i.payflag.tr:before,
i.payflag.turkey:before {
    background-position: -72px -1742px
}

i.payflag.trinidad:before,
i.payflag.tt:before {
    background-position: -72px -1768px
}

i.payflag.tuvalu:before,
i.payflag.tv:before {
    background-position: -72px -1794px
}

i.payflag.taiwan:before,
i.payflag.tw:before {
    background-position: -72px -1820px
}

i.payflag.tanzania:before,
i.payflag.tz:before {
    background-position: -72px -1846px
}

i.payflag.ua:before,
i.payflag.ukraine:before {
    background-position: -72px -1872px
}

i.payflag.ug:before,
i.payflag.uganda:before {
    background-position: -72px -1898px
}

i.payflag.um:before,
i.payflag.us.minor.islands:before {
    background-position: -72px -1924px
}

i.payflag.america:before,
i.payflag.united.states:before,
i.payflag.us:before {
    background-position: -72px -1950px
}

i.payflag.uruguay:before,
i.payflag.uy:before {
    background-position: -72px -1976px
}

i.payflag.uz:before,
i.payflag.uzbekistan:before {
    background-position: -108px 0
}

i.payflag.va:before,
i.payflag.vatican.city:before {
    background-position: -108px -26px
}

i.payflag.saint.vincent:before,
i.payflag.vc:before {
    background-position: -108px -52px
}

i.payflag.ve:before,
i.payflag.venezuela:before {
    background-position: -108px -78px
}

i.payflag.british.virgin.islands:before,
i.payflag.vg:before {
    background-position: -108px -104px
}

i.payflag.us.virgin.islands:before,
i.payflag.vi:before {
    background-position: -108px -130px
}

i.payflag.vietnam:before,
i.payflag.vn:before {
    background-position: -108px -156px
}

i.payflag.vanuatu:before,
i.payflag.vu:before {
    background-position: -108px -182px
}

i.payflag.gb.wls:before,
i.payflag.wales:before {
    background-position: -108px -208px
}

i.payflag.wallis.and.futuna:before,
i.payflag.wf:before {
    background-position: -108px -234px
}

i.payflag.samoa:before,
i.payflag.ws:before {
    background-position: -108px -260px
}

i.payflag.ye:before,
i.payflag.yemen:before {
    background-position: -108px -286px
}

i.payflag.mayotte:before,
i.payflag.yt:before {
    background-position: -108px -312px
}

i.payflag.south.africa:before,
i.payflag.za:before {
    background-position: -108px -338px
}

i.payflag.zambia:before,
i.payflag.zm:before {
    background-position: -108px -364px
}

i.payflag.zimbabwe:before,
i.payflag.zw:before {
    background-position: -108px -390px
}