body,
html {
  height: 100%;
}
.forgot-wrap {
  width: 100%;
  height: 100%;
  min-height: 700px;
}
.forgot-wrap .name-hover {
  cursor: pointer;
}
.forgot-wrap .name-hover:hover {
  text-decoration: underline;
}
.xauto {
  margin: 0 auto;
}
.border {
  border: 1px solid red;
}
.main {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
}
.forgot-header {
  width: 100%;
  height: 9%;
  background-color: #ffab49;
}
.forgot-header .main {
  display: table;
  text-align: left;
  height: 100%;
  margin: 0 auto;
  width: 1200px;
}
.forgot-header .main .main-child {
  display: table-cell;
  vertical-align: middle;
}
.forgot-header .main .main-child a {
  text-align: left;
  display: inline-block;
}
.forgot-header .main .main-child a img {
  display: inline-block;
}
.forgot-mid {
  background-color: #f8f8f8;
  height: 100%;
}
.forgot-mid .forgot-con {
  width: 634px;
  height: 432px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.forgot-mid .forgot-con .forcon-text {
  margin-top: 110px;
}
.forgot-mid .forgot-con .forcon-text p {
  font-size: 26px;
  font-family: "黑体 ", "SimSun";
  color: #7a7a7a;
}
.forgot-mid .forgot-con .error-email {
  position: relative;
  width: 262px;
  height: 56px;
  padding-left: 36px;
  background-color: #ffebeb;
  border: 1px solid #ffc2c2;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 24px;
}
.forgot-mid .forgot-con .error-email img {
  position: absolute;
  left: 16px;
  top: 10px;
}
.forgot-mid .forgot-con .error-email p {
  font-size: 14px;
  color: #ff4545;
  text-align: left;
  font-family: "PingFang SC";
  line-height: 20px;
  margin: 8px;
}
.forgot-mid .forgot-con .success-email {
  position: relative;
  width: 262px;
  height: 40px;
  padding-left: 22px;
  background-color: #f9ffeb;
  border: 1px solid #d4f2d4;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 24px;
}
.forgot-mid .forgot-con .success-email img {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 8px;
  top: 11px;
}
.forgot-mid .forgot-con .success-email p {
  font-size: 12px;
  color: #6ccb6e;
  text-align: left;
  font-family: "PingFang SC";
  line-height: 24px;
  margin: 8px;
}
.forgot-mid .forgot-con .forcon-email {
  margin-top: 54px;
  position: relative;
}
.forgot-mid .forgot-con .forcon-email .email-img {
  position: absolute;
  left: 196px;
  top: 10px;
}
.forgot-mid .forgot-con .forcon-email input {
  width: 262px;
  height: 40px;
  outline: none;
  overflow: hidden;
  text-indent: 46px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
  border-radius: 4px;
  color: #676767;
}
.forgot-mid .forgot-con .forcon-email input:focus {
  border: 1px solid #ffab49;
}
.forgot-mid .forgot-con .forcon-email .span {
  color: red;
  position: absolute;
  left: 452px;
  top: 10px;
  display: inline-block;
}
.forgot-mid .forgot-con .error-msg {
  display: block;
  width: 262px;
  margin: 0 auto;
  margin-top: 5px;
  text-align: left;
  color: #ff4545;
}
.forgot-mid .forgot-con .send-pass {
  margin-top: 12px;
}
.forgot-mid .forgot-con .send-pass a {
  width: 262px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #ffab49;
  display: inline-block;
  border-radius: 4px;
}
.forgot-mid .forgot-con p {
  margin-top: 26px;
  font-size: 14px;
  color: #7d7d7d;
}
.forgot-footer {
  height: 9%;
  width: 100%;
  background-color: #f8f8f8;
  display: table;
}
.forgot-footer .forfoo-con {
  min-width: 1200px;
  width: 1200px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.forgot-footer .forfoo-con span {
  padding: 0 16px;
  font-size: 14px;
  color: #c1c1c1;
}
.forgot-footer .forfoo-con span .copyright-logo {
  padding: 0 5px 0 0;
  font-size: 22px;
  vertical-align: middle;
}
.forgot-footer .forfoo-con a {
  padding: 0 16px;
  font-size: 14px;
  color: #c1c1c1;
  border-right: 1px solid #c1c1c1;
}
.cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9;
}
.cover img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -63px;
  margin-top: -63px;
}
@media screen and (max-height: 700px) {
  .forgot-mid .forgot-con {
    top: 130px;
    transform: translate(-50%, 0);
  }
}
.forget-pass{
  padding: 39px 129px 60px;
}
.forget-pass-return{
  position: absolute;
  top: 45px;
  left: 45px;
  color: #333333;
  /* color: #F9912A; */
}
.forget-pass-return::before{
  font-family: 'iconfont';
  content: "\e6a8";
  color: #333333;
}
/* .forget-pass-return:hover::before {
  color: #F9912A;
} */
.forget-pass-return:hover, .forget-pass-return:hover::before{
  color: #ff7700;
}
.forget-pass-return:focus, .forget-pass-return:focus::before{
  color: #333333;
}
.forget-pass-logo{
  text-align: center;
  margin: 44px auto 40px;
  width: 109px;
  height: 109px;
  background: url('../../static/image/login/wangjimima2.png') no-repeat center center;
  background-size: contain;
}
/* .forget-pass-logo::before{
  font-family: 'iconfont';
  content: '\e767';
  font-size: 70px;
  color: #000;
} */
.forget-pass-title{
  font-size: 24px;
  color: #333;
}
.forget-pass-item{
  margin-top: 30px;
}
.forget-pass-item .email-input{
  line-height: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EFEFEF;
  width: 100%;
}
.forget-pass-item .error-msg{
  color: #E02020;
}
.send-pass-btn{
  line-height:40px;
  background: linear-gradient(270deg,rgba(249,145,42,1) 0%,rgba(250,100,0,1) 100%);
  box-shadow: 0px 8px 14px -6px rgba(250,100,0,1);
  border-radius:4px;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
.send-pass-btn:hover {
  background: linear-gradient(270deg,rgba(250,100,0,1) 0%,rgba(250,100,0,1) 100%);
  box-shadow: initial;
}
.forget-pass-regist-tip{
  margin-top: 65px;
  text-align: center;
}
.forget-pass-regist-tip a{
  color: #999;
}
.forget-pass-regist-tip .link-hover:hover {
  color: #ff7700 !important;
  text-decoration: underline !important;
} 
.forget-link {
  cursor: unset;
}
.language-wrapper {
  position:relative; 
  top: -153px;
  left: 290px;
  width: fit-content;
}