.pd-top {
  width: 100%;
  min-width: 1200px;
  height: 114px;
  background: #fff;
  position: relative;
}
.pd-top .logo-header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  height: 70px;
  width: 100%;
}
.pd-top .logo-header .logo-main {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  display: table;
}
.pd-top .logo-header .logo-main .logo-img {
  display: table-cell;
  vertical-align: middle;
}
.pd-top .logo-header .logo-main .logo-img img {
  height: 40px;
}
.pd-top .logo-header .logo-main .home-t-ul {
  display: table-cell;
  height: 30px;
  vertical-align: middle;
}
.pd-top .logo-header .logo-main .home-t-ul > li {
  height: 30px;
  float: right;
}
.pd-top .logo-header .logo-main .home-t-ul > li a {
  color: #333;
  display: inline-block;
  line-height: 30px;
}
.pd-top .logo-header .logo-main .home-t-ul > li .contact-us {
  margin-right: 28px;
  color: #333333;
  font-size: 14px;
}
.pd-top .logo-header .logo-main .home-t-ul > li .help {
  margin-right: 30px;
  color: #333333;
  font-size: 14px;
}
.pd-top .logo-header .logo-main .home-t-ul > li .hi-user {
  margin-right: 28px;
  color: #333333;
  font-size: 14px;
}
.pd-top .logo-header .logo-main .home-t-ul .login-register a {
  color: #333;
  display: inline-block;
  height: 30px;
  width: 70px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #333;
  border-radius: 4px;
  margin-right: 10px;
}
.pd-top .logo-header .logo-main .home-t-ul .login-register a:hover {
  background: #ff8d31;
  color: #fff;
  border: none;
  line-height: 30px;
}
.pd-top .logo-header .logo-main .home-t-ul .login-in a {
  color: #333;
}
.pd-top .logo-header .logo-main .home-t-ul .register-li a {
  margin-right: 0;
}
.pd-top .nav-header {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 2;
  height: 44px;
  background-color: #868686;
  width: 100%;
}
.pd-top .nav-header .nav-content {
  width: 1200px;
  margin: 0 auto;
  display: table;
  height: 44px;
  position: relative;
}
.pd-top .nav-header .nav-content .nav-content-select {
  width: 128px;
  height: 44px;
  background-color: #505050;
  color: #fff;
  text-indent: 12px;
}
.pd-top .nav-header .nav-content .search {
  display: table-cell;
  vertical-align: middle;
  width: 780px;
}
.pd-top .nav-header .nav-content .search .Switch{
  line-height: 44px;
  font-family: "PingFang SC", 'Source Sans Pro',sans-serif;
  font-size: 16px;
  color: #ff8d31;
  margin-left: 20px;
}
.pd-top .nav-header .nav-content .search .search-inp {
  /*display: inline-block;*/
  width: 400px;
  height: 32px;
  margin-top: 6px;
  float: left;
}
.pd-top .nav-header .nav-content .search .search-inp input {
  width: 400px;
  height: 32px;
  text-indent: 12px;
}
.pd-top .nav-header .nav-content .search .search-img {
  /*display: inline-block;*/
  float: left;
  width: 34px;
  margin-left: -8px;
  padding: 3px 0 4px;
  background-color: #ff8d31;
  text-align: center;
  cursor: pointer;
  margin-top: 6px;
}
.pd-top .nav-header .nav-content .search .search-img:active {
  background-color: #d76b0c;
}
.pd-top .nav-header .nav-content .main-nav {
  display: table-cell;
  vertical-align: middle;
  margin-right: 300px;
}
.pd-top .nav-header .nav-content .main-nav .active {
  position: absolute;
  z-index: 9;
  width: 300px;
  height: 260px;
}
.pd-top .nav-header .nav-content .main-nav li {
  float: right;
  margin-right: 28px;
}
.pd-top .nav-header .nav-content .main-nav li a {
  color: #fff;
}
.pd-top .nav-header .nav-content .main-nav .collect-product {
  position: relative;
}
.ld-list {
  cursor: pointer;
}
.ld-list p {
  height: 44px;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  background-color: #505050;
  margin-right: 10px;
}
.ld-list-div {
  position: absolute;
  display: none;
}
.ld-list-div .first-menu-ul {
  border-radius: 4px;
  background-color: #878787;
}
.ld-list-div .first-menu-ul .first-menu {
  width: 265px;
  position: relative;
  cursor: pointer;
}
.ld-list-div .first-menu-ul .first-menu .first-menu-a {
  padding-left: 12px;
  color: #fffefe;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40px;
  font-size: 14px;
}
.ld-list-div .first-menu-ul .first-menu .img-arrow {
  position: absolute;
  right: 10px;
  top: 12px;
  width: 10px;
  height: 16px;
  background: url(../image/home/arrow.png);
}
.ld-list-div .first-menu-ul .first-menu .second-menu-ul {
  width: 265px;
  position: absolute;
  left: 265px;
  top: 0;
  display: none;
  background-color: #878787;
}
.ld-list-div .first-menu-ul .first-menu .second-menu-ul .second-menu {
  position: relative;
  padding: 0;
}
.ld-list-div .first-menu-ul .first-menu .second-menu-ul .second-menu .second-menu-a {
  display: inline-block;
  padding: 0;
  color: #fffefe;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  font-size: 14px;
  line-height: 40px;
}
.ld-list-div .first-menu-ul .first-menu .second-menu-ul :hover {
  background-color: #878787;
}
.ld-list-div .first-menu-ul .first-menu .second-menu-ul :hover .second-menu-a {
  color: #282828;
}
.ld-list-div .first-menu-ul .first-menu .second-menu-ul :hover .thid-menu-ul {
  display: block;
}
.ld-list-div .first-menu-ul .first-menu .thid-menu-ul {
  width: 265px;
  position: absolute;
  left: 265px;
  top: 0;
  display: none;
  background-color: #878787;
}
.ld-list-div .first-menu-ul .first-menu .thid-menu-ul .thid-menu-li {
  padding: 0;
}
.ld-list-div .first-menu-ul .first-menu .thid-menu-ul .thid-menu-li .thid-menu-a {
  display: inline-block;
  padding: 0;
  color: #fffefe;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  font-size: 14px;
  line-height: 40px;
}
.ld-list-div .first-menu-ul .first-menu .thid-menu-ul :hover {
  background-color: #878787;
}
.ld-list-div .first-menu-ul .first-menu .thid-menu-ul :hover .thid-menu-a {
  color: #282828;
}
.ld-list-div .first-menu-ul :hover {
  background-color: #4a4a4a;
}
.ld-list-div .first-menu-ul :hover .first-menu-a {
  color: #fff;
}
.ld-list-div .first-menu-ul :hover .img-arrow {
  background: url(../image/home/arrow_dark.png);
}
.ld-list-div .first-menu-ul :hover .second-menu-ul {
  display: block;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(9) .second-menu-ul {
  top: -80px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(9) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -240px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(9) .second-menu:nth-of-type(6) .thid-menu-ul {
  top: -200px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(9) .second-menu:nth-of-type(7) .thid-menu-ul {
  top: -280px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(10) .second-menu-ul {
  top: -80px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(10) .second-menu:nth-of-type(3) .thid-menu-ul {
  top: -80px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(10) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -120px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(10) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -120px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(10) .second-menu:nth-of-type(6) .thid-menu-ul {
  top: -200px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(11) .second-menu-ul {
  top: -160px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(11) .second-menu:nth-of-type(2) .thid-menu-ul {
  top: -40px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(11) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -120px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(11) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -80px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(11) .second-menu:nth-of-type(6) .thid-menu-ul {
  top: -40px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(11) .second-menu:nth-of-type(7) .thid-menu-ul {
  top: -120px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(12) .second-menu-ul {
  top: -160px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(12) .second-menu:nth-of-type(2) .thid-menu-ul {
  top: -80px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(12) .second-menu:nth-of-type(3) .thid-menu-ul {
  top: -80px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(12) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -120px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(12) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -120px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(12) .second-menu:nth-of-type(6) .thid-menu-ul {
  top: -160px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(13) .second-menu-ul {
  top: -120px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(13) .second-menu:nth-of-type(1) .thid-menu-ul {
  top: -80px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(13) .second-menu:nth-of-type(2) .thid-menu-ul {
  top: -440px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(13) .second-menu:nth-of-type(3) .thid-menu-ul {
  top: -160px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(13) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -200px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(4) .second-menu:nth-of-type(7) .thid-menu-ul {
  top: -160px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(4) .second-menu:nth-of-type(8) .thid-menu-ul {
  top: -200px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(5) .second-menu:nth-of-type(2) .thid-menu-ul {
  top: -40px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(5) .second-menu:nth-of-type(3) .thid-menu-ul {
  top: -80px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(5) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -120px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(5) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -160px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(6) .second-menu:nth-of-type(2) .thid-menu-ul {
  top: -40px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(6) .second-menu:nth-of-type(3) .thid-menu-ul {
  top: -80px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(6) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -120px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(6) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -160px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(6) .second-menu:nth-of-type(6) .thid-menu-ul {
  top: -200px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(7) .second-menu:nth-of-type(2) .thid-menu-ul {
  top: -40px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(7) .second-menu:nth-of-type(3) .thid-menu-ul {
  top: -80px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(7) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -120px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(7) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -160px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(7) .second-menu:nth-of-type(6) .thid-menu-ul {
  top: -160px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(8) .second-menu:nth-of-type(2) .thid-menu-ul {
  top: -40px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(8) .second-menu:nth-of-type(3) .thid-menu-ul {
  top: -240px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(8) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -120px;
}
.ld-list-div .first-menu-ul .first-menu:nth-of-type(8) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -160px;
}
.hnj-xialamenu {
  position: absolute;
  padding-top: 30px;
  top: 25px;
  cursor: pointer;
  width: 165px;
  border-radius: 2px 2px 2px 2px;
  display: none;
}
.hnj-xialamenu ol {
  display: block;
}
.hnj-xialamenu ol li {
  float: left;
  width: 170px;
  /* border-bottom: 1px solid #efefef; */
  font-size: 14px;
  line-height: 36px;
  height: 36px;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#ffffff, #ffffff);
  background-blend-mode: normal, normal;
}
.hnj-xialamenu ol li em {
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
}
.hnj-xialamenu ol li:hover {
  background: #efefef;
}
.chat-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background: url(../image/home/chat.svg);
  background-size: cover;
  vertical-align: middle;
}
.ticket-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background: url(../image/home/Ticket.svg);
  background-size: cover;
  vertical-align: middle;
}
.tutorial-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background: url(../image/home/tutorial.svg);
  background-size: cover;
  vertical-align: middle;
}
.facebook-icon {
  display: inline-block;
  width: 19px;
  height: 20px;
  margin-right: 9px;
  background: url(../image/home/Facebook.svg);
  background-size: cover;
  vertical-align: middle;
}
.guide-icon{
  background: url(../image/home/guide.png);
}
.user-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/home/profile.svg);
  background-size: cover;
  vertical-align: middle;
}
.card-icon {
  display: inline-block;
  width: 20px;
  height: 18px;
  margin-right: 2px;
  background: url(../image/home/wallet.svg);
  background-size: cover;
  vertical-align: middle;
}
.tool-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/home/icontool.svg);
  background-size: cover;
  vertical-align: middle;
}
.logout-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/home/logout.svg);
  background-size: cover;
  vertical-align: middle;
}
.help-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background: url(../image/home/faq.svg);
  background-size: cover;
  vertical-align: middle;
}
.logo-header .logo-main .hiuser-li {
  height: 50px;
  position: relative;
}
.logo-header .logo-main .hiuser {
  display: inline-block;
}
.logo-header .logo-main .header-tip {
  /* width: 130px; */
  position: absolute;
  right: 0;
  top: 34px;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 26.4px 2.6px rgba(226, 226, 226, 0.35);
}
.logo-header .logo-main .header-tip ul {
  width: 100%;
}
.logo-header .logo-main .header-tip ul li {
  height: 38px;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #efefef;
  font-size: 14px;
  line-height: 36px;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#ffffff, #ffffff);
  background-blend-mode: normal, normal;
  margin-top: 0;
  float: none;
  position: relative;
}
.logo-header .logo-main .header-tip ul li a {
  line-height: 36px;
}
.logo-header .logo-main .header-tip ul li em {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  font-style: normal;
}


.pd-top .logo-header .hnj-xialamenu ol li .com-head-link {
  position: relative;
}

.pd-top .logo-header .hnj-xialamenu ol li .com-head-link .ticket-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}

.pd-top .logo-header .hnj-xialamenu ol li .com-head-link .tutorial-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}

.pd-top .logo-header .hnj-xialamenu ol li .com-head-link .help-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}

.pd-top .logo-header .hnj-xialamenu ol li .com-head-link .facebook-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}
.pd-top .logo-header .hnj-xialamenu ol li .com-head-link .com-head-a {
  display: block;
  padding-left: 52px;
  line-height: 36px;
}


.logo-header .logo-main .header-tip ul li .com-tool-ul a {
  display: block;
}
.logo-header .logo-main .header-tip ul li .com-head-link .user-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}
.logo-header .logo-main .header-tip ul li .com-head-link .card-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}
.logo-header .logo-main .header-tip ul li .com-head-link .tool-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}
.logo-header .logo-main .header-tip ul li .com-head-link .logout-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}
.logo-header .logo-main .header-tip ul li .com-head-link a {
  display: block;
  padding-left: 52px;
  line-height: 38px;
}


.logo-header .logo-main .header-tip ul li ul {
  width: 170px;
  display: none;
  position: absolute;
  left: -170px;
  top: 0px;
  box-shadow: 0px 2px 26.4px 2.6px rgba(226, 226, 226, 0.35);
}
.logo-header .logo-main .header-tip ul li ul li {
  padding: 0 10px;
}
.logo-header .logo-main .header-tip ul li:hover {
  background: #efefef;
}
.logo-header .logo-main .header-tip ul li:hover ul {
  display: block;
}
.asj-home-layer .asj-hom-conp {
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.asj-source-layer .asj-home-layer-tit {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
.asj-source-layer .asj-hom-conp {
  margin-top: 50px;
}
.check-box {
  width: 20px;
  height: 16px;
  padding: 0;
  position: relative;
}
.check-box input {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0;
  z-index: 99;
  visibility: visible;
  cursor: pointer;
}
.check-box input + label {
  display: block;
  width: 100%;
  padding-left: 20px;
  height: 16px;
  background: url(../image/login/multiple1-1.png) left center no-repeat;
  background-size: 16px 16px;
  font-size: 12px;
  color: #333;
}
.check-box input:checked + label {
  background-image: url(../image/login/checked-normal.png);
  background-size: 16px 16px;
}
.vip .check-box input:checked + label {
  background-image: url(../image/login/checked-VIP.png);
}
/* 单选框 */
.radio-box {
  /* width: 20px; */
  height: 16px;
  padding: 0;
  position: relative;
}
.radio-box input {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0;
  z-index: 99;
  visibility: visible;
  cursor: pointer;
}
.radio-box input + label {
  display: block;
  width: 100%;
  padding-left: 20px;
  height: 16px;
  background: url(../image/login/radiobutton1.png) left center no-repeat;
  background-size: 16px 16px;
  font-size: 12px;
  color: #333;
}
.radio-box input:checked + label {
  background-image: url(../image/login/radiobutton2.png);
  background-size: 16px 16px;
}

body .pd-list-conform .layui-layer-title {
  height: 46px;
  padding: 0;
  padding-top: 10px;
  font-size: 18px;
  color: #000000;
  background-color: #fff;
  text-align: center;
}
.pdlist-p2{
  text-align: right;
}
.pdlist-p2 a {
  cursor: pointer;
  font-size: 16px;
  color: #f89029;
}
.pdlist-p2 a:hover {
  color: #298af8;
}
/*物流提示*/
.asj-wuliu-tip-wrap {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: relative;
  margin-left: 5px;
}
.asj-wuliu-tip-icon {
  /* display: block;
  width: 20px;
  height: 20px;
  background: #f5a622;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  text-align: center; */
  color: #f5a622;
  cursor: pointer;
}
.asj-wuliu-tip-show {
  position: absolute;
  top: 20px;
  left: -110px;
  z-index: 1;
  background: rgb(255, 236, 139);
  font-size: 12px;
  line-height: 18px;
  width: 180px;
  padding: 5px;
  border: 1px solid rgb(245, 166, 35);
  color: #000;
  display: none;
  opacity: 0;
  transition: all .5s;
  text-align: center;
  -moz-transition:all .5s; /* Firefox 4 */
  -webkit-transition:all .5s; /* Safari and Chrome */
  -o-transition:all .5s; /* Opera */
  border-radius: 4px;
}
.asj-wuliu-tip-wrap:hover .asj-wuliu-tip-show{
  /* 有虫子 */
  display: block;       
  opacity: 1;
  transition: all .5s;
}
/*cj弹框new start*/
#isCJPub{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10002;
}
/* 默认样式 */
#isCJPub .CJ-content{
  position: absolute;
  width: 480px;
	/* height: 272px; */
  padding: 20px;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 4px;
  /* box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35); */
  /* border-top: 4px solid #585858; */
}
#isCJPub .CJ-content.new-CJ-content {
  width: 600px;
  padding: 20px 0;
}
#isCJPub .CJ-content b {
  color: var(--color-font-1);
}
#isCJPub .CJ-content .close{
  position: absolute;
  right: 12px;
  top: 5px;
  color: #5A6872;
}
#isCJPub .CJ-content .new-close-icon {
  position: absolute;
  right: 20px;
  color: #333333;
  font-size: 14px;
  top: 20px;
  cursor: pointer;
}
#isCJPub .CJ-content .icon-box {
  width: 100%;
  text-align: center;
  line-height: 1;
  padding-right: 20px;
}
#isCJPub .CJ-content .icon-box .caveat-icon {
  font-size: 48px !important;
}
#isCJPub .CJ-content h3{
  font-size:16px;
  font-weight:500;
  color:var(--color-font-1);
  line-height:22px;
  text-align: left;
}
#isCJPub .CJ-content.new-CJ-content .title {
  text-align: center;
  margin-top: 20px;
}
#isCJPub .CJ-content p,#isCJPub .CJ-content .new-content{
  margin-top: 12px;
  font-size: 14px;
  font-weight:400;
  color:var(--color-font-2);
  line-height:20px;
  border-bottom: 1px solid #F0F0F0;
  margin-bottom: 20px;
  text-align: left;
  max-height: 350px;
  min-height: 100px;
	overflow-y: auto;
  padding: 0 20px 15px;
}
#isCJPub .CJ-content .new-content::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}
#isCJPub .CJ-content .new-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #888;
}
#isCJPub .CJ-content .new-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}
#isCJPub .CJ-content a{
  color: #FF7700;
}
#isCJPub .CJ-content a:hover{
  color: #ff9900;
  text-decoration: underline;
}
#isCJPub .CJ-content .new-hover:hover {
  text-decoration: none !important;
}
#isCJPub .CJ-content .new-hover .view-icon{
  color: var(--color-theme-1); 
  margin-left: 8px;
  font-size: 12px !important;
}
#isCJPub .CJ-content .new-hover:hover .view-icon{
  color: #ff9900;
  text-decoration: none;
}
#isCJPub .CJ-content .new-hover .view-icon:before {
  display: inline-block;
  width: 26px;
  height: 24px;
  line-height: 24px;
  /* background: red; */
  background: #FFF1E5;
  border-radius: 50%;
}
#isCJPub .CJ-content .new-hover:hover .view-icon:before {
  display: inline-block;
  width: 26px;
  height: 24px;
  line-height: 24px;
  /* background: red; */
  background: #FFF4E5;
  border-radius: 50%;
}
#isCJPub .CJ-content .btn2{
  min-width:80px;
  height:30px;
  line-height: 30px;
  border-radius:4px;
  border:1px solid #E4E4E4;
  text-align: center;
  font-size:14px;
  color:var(--color-font2);
  float: right;
  margin-right: 15px;
  background: var(--color-bg-14);
  color: var(--color-font-1);
  padding: 0 5px;
}
#isCJPub .CJ-content .btn2:hover{
  background: var(--color-bg-14-1);
  color: var(--color-font-1);
}
#isCJPub .CJ-content .btn1{
  min-width:80px;
  height:30px;
  line-height: 30px;
  color: #fff;
  background: var(--color-theme-1);
  border-radius:4px;
  text-align: center;
  float: right;
  font-size: 14px;
  padding: 0 5px;
  margin-right: 15px;
}
#isCJPub .CJ-content .btn1:hover{
  background-color: var(--color-theme-1-1);
}
#isCJPub .CJ-content .new-btn-box {
  width: 100%;
  text-align: center;
}
#isCJPub .CJ-content .new-btn-box .new-btn{
  float: none;
}
#isCJPub.isVip .CJ-content .btn1 {
  background: var(--color-theme-gradient-1-vip);
}
#isCJPub.isVip .CJ-content .btn1:hover {
  background: var(--color-theme-1-vip);
}

#isCJPub .operate-fail {
    border-top: 4px solid #F9AE08;
}
#isCJPub .operate-fail h3 .icon {
  background: #F9AE08;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  line-height: 22px;
  text-align: center;
  display: inline-block;
  color: #fff;
  margin-right: 12px;
  font-size: 18px;
}
#isCJPub .operate-fail .btn1 {
  font-size:14px;
  background: #F9AE08;
}
#isCJPub .operate-fail .btn1:hover{
  background: #F8BC38
}
/*cj弹框new end*/
@media screen and (max-width: 1250px){
  .pd-top {
    min-width: 1100px;
  }
  .pd-top .logo-header .logo-main {
    width: 1100px;
  }
  .pd-top .nav-header .nav-content {
    width: 1200px;
  }
  .ld-sp-con .row .col-xs-3{
    width: 213px;
  }
  .ld-sp-con .row .col-xs-3 .listing-show .product-img {
    max-width: 195px;
    max-height: 195px;
  }
  .asj-page-box {
    width: 1100px;
  }
}
/*聊天*/
#chat-box,#fancybox-frame{
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18), 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 2px 6px 0px rgba(0, 0, 0, 0.04);
  bottom: 70px !important;
  border-radius: 10px;
}
#notice-wrap{
  bottom: 205px !important;
}

.fx-wrap {
    display: flex;
    flex-wrap: wrap;
}

.sjb-box {
    overflow: hidden;
}

.sjb-box .sjb-icon {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
}

.sjb-box:hover .sjb-icon {
    left: -100000px;
}

.inventory-show-more{
  display: none;
  position: absolute;
  bottom: 29px;
  left: 0;
  width:226px;
  z-index: 100;
}
.inventory-show-more .triangle{
  width: 0;
  height: 0;
  border: 5px solid;
  border-color: rgba(0,0,0,0.5) transparent transparent transparent;
  position: absolute;
  left: 3px;
  bottom: -10px;
}
.inventory-show-more .show-more-list{
  background:rgba(0,0,0,0.5);
  border-radius: 4px;
  color: #fff;
}
.inventory-show-more .show-more-list::before{
  width: 0;
  height: 0;
  border: 5px solid;
  border-color: rgba(0,0,0,0.5) transparent transparent transparent;
  position: absolute;
  left: 3px;
  bottom: -10px;
}
.inventory-show-more .show-more-item{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  line-height: 20px;
  font-size: 12px;
}
.inventory-show-more .show-more-item span{
  color: #fff;
  font-weight: 500;
}

/* 弹窗 */
.detailAlert{
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 120;
  font-family:PingFangSC-Medium,PingFang SC;
}
.ticket-detail{
  width:780px;
  height:600px;
  background:#fff;
  box-shadow:0px 12px 24px 0px rgba(0,0,0,0.1);
  border-radius:4px;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 390px);
  box-sizing: border-box;
  padding-bottom: 30px;
  /* margin: auto; */
}
/* 弹窗标题 */
.ticket-detial-title{
  height: 50px;
  font-size:16px;
  font-weight:500;
  color:#333;
  line-height:50px;
  text-align: center;
  background: #F9F8F8;
  border-radius: 4px;
  padding-right: 20px;
}
/* 弹窗分割线 */
/* .top-splite{
  width:730px;
  height:1px;
  background: #EBEBEB;
  position: absolute;
  top: 52px;
} */
/* 弹窗分割线下主体 */
.bottom-content{
  /* height: 300px; */
  height: calc(100% - 64px);
  overflow-y: scroll;
  padding: 0 24px;
}
/* 弹窗底部按钮 */
.bottom-btn{
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  left: 0;
}
.alert-btn-cancel{
  width:85px;
  height:32px;
  background:#F5F5F5;
  border-radius:4px;
  border:1px solid rgba(0,0,0,0.15);
  margin-right: 10px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
.alert-btn-confirm{
  width:85px;
  height:32px;
  background:#FF7700;
  border-radius:4px;
  margin-right: 10px;
  color: #fff;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
.alert-btn-cancel:hover{
  opacity: 0.8;
}
.alert-btn-confirm:hover{
  opacity: 0.8;
}
/* 弹窗分割线下面主体内容 */
.bottom-content-title{
  text-align: center;
  margin: 20px 0 10px;
  font-size:18px;
  font-weight:500;
  color:#333;
  word-wrap: break-word;
}
.bottom-content-subtitle{
  text-align: center;
  margin: 20px 0 10px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#666;
}
.content-subtitle-font{
 margin-right: 10px;
}
/* 弹窗列表 */
.bottom-content-list{
 padding-right: 10px;
}
.content-item{
  list-style: none;
  margin-bottom: 20px;
}
.content-item-top{
  overflow: hidden;
  margin-bottom: 6px;
}
.content-item-bottom{
  overflow: hidden;
}
/* 滚动条样式 */
.bottom-content::-webkit-scrollbar {/*滚动条整体样式*/
  width: 6px;    
}
.bottom-content::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
   border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
}
/* 字体图标 */

.iconfenxiang:before {
  content: "\e62a";
}

.iconyanjing:before {
  content: "\e668";
}

.iconLC_icon_close_fill_circle:before {
  content: "\e624";
}

.iconshuaxin:before {
  content: "\e650";
}

.iconnewspaper:before {
  content: "\e916";
}

.iconxuanzeanniu:before {
  content: "\e670";
}

.iconxuanze:before {
  content: "\e618";
}

.iconquestion:before {
  content: "\e682";
}

.iconmaijiazhongxin_chanpinkumingjiangku:before {
  content: "\e639";
}

.iconyigouxuan:before {
  content: "\e63d";
}

.iconweigouxuan:before {
  content: "\e63e";
}

.iconshouquanguanli:before {
  content: "\e646";
}

.icongongyingshang:before {
  content: "\e609";
}

.iconxiangmu:before {
  content: "\e625";
}

.icondingdanguanli:before {
  content: "\e629";
}

.iconrenwu_:before {
  content: "\e642";
}

.iconwodejihua:before {
  content: "\e64d";
}

.iconjiluziliaoguanli:before {
  content: "\e655";
}

.iconxiangxia:before {
  content: "\e616";
}

.icondingdan:before {
  content: "\e634";
}

.icondingdangenzong:before {
  content: "\e675";
}

.iconyanjing-xiexian:before {
  content: "\e7b5";
}

.iconapi:before {
  content: "\e6d1";
}

.iconmaijiaxinxi:before {
  content: "\e69b";
}

.icondingdanshibai:before {
  content: "\e759";
}

.iconshouquanshenpi:before {
  content: "\e9ab";
}

.iconliwuicon_:before {
  content: "\e6d5";
}

.iconsousuo:before {
  content: "\e66f";
}

.iconcebianlan-fan:before {
  content: "\e604";
}

.iconxinyuanqiang:before {
  content: "\e600";
}

.iconshiyongaixin:before {
  content: "\e637";
}

.icon_GJZsiyou:before {
  content: "\e67b";
}

.iconkuaidi:before {
  content: "\e602";
}

.iconjijiangshangxian:before {
  content: "\e647";
}

.iconshipin:before {
  content: "\e605";
}

.iconchengyunshangyundanchaxun:before {
  content: "\e780";
}

.iconguoqi:before {
  content: "\e622";
}

.iconshouquan:before {
  content: "\e61f";
}

.iconicon-test:before {
  content: "\e607";
}

.iconcebianlan-zuo:before {
  content: "\e60a";
}

.iconfuzhi:before {
  content: "\e601";
}

.iconminus-:before {
  content: "\e603";
}

.iconplus-:before {
  content: "\e606";
}

.iconshanchu:before {
  content: "\e60b";
}

.iconfuzhi1:before {
  content: "\e60c";
}

.iconxingzhuang:before {
  content: "\e60d";
}

.iconbianji:before {
  content: "\e60e";
}

.iconshangchuan:before {
  content: "\e60f";
}

.iconyoufan:before {
  content: "\e611";
}

.iconxingzhuang2:before {
  content: "\e612";
}

.iconzhongzhi:before {
  content: "\e613";
}

.iconxingzhuang3:before {
  content: "\e614";
}

.iconxingzhuang4:before {
  content: "\e615";
}

.iconx:before {
  content: "\e617";
}

.iconbianji1:before {
  content: "\e610";
}

.iconyamaxun:before {
  content: "\e61a";
}

.iconeBay:before {
  content: "\e61b";
}

.iconshipstation:before {
  content: "\e61c";
}

.iconBrghtpearl:before {
  content: "\e61d";
}

.iconwix1:before {
  content: "\e61e";
}

.iconwoocommerce:before {
  content: "\e620";
}

.iconshangchuan1:before {
  content: "\e608";
}

.iconshangchuan2:before {
  content: "\e619";
}

.iconAPI:before {
  content: "\e621";
}

.iconlazada:before {
  content: "\e623";
}

.icontixing_:before {
  content: "\e626";
}

.iconshopify:before {
  content: "\e627";
}

.iconjiantou:before {
  content: "\e65e";
}

.iconweixuanze1:before {
  content: "\e65f";
}

.iconxuanze1:before {
  content: "\e660";
}

.iconduihao:before {
  content: "\e661";
}

.iconshangcheng:before {
  content: "\e662";
}

.iconhetong1:before {
  content: "\e63b";
}

.iconfuwushangpin:before {
  content: "\e63f";
}

.iconguanlian:before {
  content: "\e63c";
}

.iconsku:before {
  content: "\e640";
}

.iconbianzu:before {
  content: "\e628";
}

.icon14:before {
  content: "\e62d";
}

.iconxingzhuang1:before {
  content: "\e62b";
}

.iconbianzu1:before {
  content: "\e62c";
}

.iconbianzu4:before {
  content: "\e62f";
}

.iconbianzu5:before {
  content: "\e630";
}

.iconbianzu6:before {
  content: "\e631";
}

.iconbianzu7:before {
  content: "\e632";
}

.iconbianzu13:before {
  content: "\e643";
}

.iconbianzu14:before {
  content: "\e644";
}

.iconbianzu16:before {
  content: "\e648";
}

.iconicon-test1:before {
  content: "\e649";
}

.iconicon-test2:before {
  content: "\e64a";
}

.iconicon-test4:before {
  content: "\e64c";
}

.iconicon-test8:before {
  content: "\e652";
}

.iconxihuan:before {
  content: "\e638";
}

.iconelites:before {
  content: "\e63a";
}

.iconticket:before {
  content: "\e641";
}

.icontutorial:before {
  content: "\e645";
}

.iconfaq:before {
  content: "\e64e";
}

.iconfacebookgroup:before {
  content: "\e64f";
}

.iconnewuserguide:before {
  content: "\e64b";
}

.iconchat:before {
  content: "\e62e";
}

.iconliebiaoshoucang:before {
  content: "\e651";
}

.iconliebiaoweishoucang:before {
  content: "\e653";
}

.iconConsumerElectronicsx:before {
  content: "\e633";
}

.iconHomeImprovement:before {
  content: "\e635";
}

.iconPhonesAccessories:before {
  content: "\e636";
}

.iconJewelryWatches:before {
  content: "\e654";
}

.iconWomensClothing:before {
  content: "\e656";
}

.iconToysKidsBaby:before {
  content: "\e657";
}

.iconBagShoes:before {
  content: "\e658";
}

.iconHealthBeautyHair:before {
  content: "\e659";
}

.iconbianzu2:before {
  content: "\e65a";
}

.iconMensClothing:before {
  content: "\e65b";
}

.iconComputerOffice:before {
  content: "\e65c";
}

.iconSportsOutdoors:before {
  content: "\e65d";
}

.iconbianzu3:before {
  content: "\e663";
}

.iconlogo:before {
  content: "\e664";
}

.iconkandeng:before {
  content: "\e665";
}

.iconweijiaohuodingdan:before {
  content: "\e666";
}

.iconshopee:before {
  content: "\e667";
}

.iconW-tupianxiazai1:before {
  content: "\e66b";
}

.iconcuxiao:before {
  content: "\e669";
}

.iconicon-test3:before {
  content: "\e66a";
}

.iconyouhuiquan:before {
  content: "\e66c";
}

.iconyouhuiquan1:before {
  content: "\e66d";
}

.iconkandengicon:before {
  content: "\e66e";
}

.iconshiyijieshizhushi:before {
  content: "\e671";
}

.iconbianzu8:before {
  content: "\e672";
}

.iconjiazai:before {
  content: "\e673";
}

.icontishi:before {
  content: "\e674";
}

.iconicon-test5:before {
  content: "\e676";
}

.iconicon-test6:before {
  content: "\e677";
}

.iconicon-test10:before {
  content: "\e67a";
}

.iconjiacuguanlian:before {
  content: "\e678";
}
.icongyspj:before {
  content: "\e6b3";
}
.yipingjia:before {
  content: "\e6b4";
}
.iconzizhanghu:before{
  content: '\e724';
}
.iconzhanghu:before{
  content: '\e722';
}
.icongerenzhongxin:before{
  content: '\e717';
}
.icongongyingshangpingjia:before{
  content: '\e716';
}
.icontuichu:before{
  content: '\e715';
}
.iconwuliu:before{
  content: '\e714';
}
.iconbianzu101:before{
  content: '\e700'
}
.iconbianzu12:before{
  content: '\e703'
}
.iconshouyehezuohuoban:before {
  content: '\e729'
}
.iconlujingbeifen2:before {
  content: '\e72b'
}
.icontishi3:before {
  content: '\e745'
}

