.home-wrap {
  width: 100%;
  height: 100%;
}
.wh {
  width: 100%;
  height: 100%;
}
.border {
  border: 1px solid red;
}
.home-header {
  width: 100%;
  min-width: 1200px;
  position: relative;
}
.home-header .swiper-container {
  position: static;
}
.home-header .swiper-wrapper {
  height: 597px;
}
.home-header .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.home-header .swiper-slide h3 {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 0;
  font-size: 50px;
  line-height: 60px;
  color: #4e4e4e;
  text-align: center;
  font-family: 'SFCompactText-Regular';
}
.home-header .swiper-slide .banner-items {
  width: 890px;
  position: absolute;
  top: 46%;
  left: 50%;
  margin-left: -445px;
}
.home-header .swiper-slide .banner-items li {
  color: #4e4e4e;
  font-size: 28px;
  line-height: 50px;
}
.home-header .swiper-slide .banner-items li .left-icon {
  float: left;
  width: 32px;
  margin-right: 28px;
  margin-top: -5px;
}
.home-header .swiper-slide .banner-items li .right-text {
  float: left;
  width: 820px;
  font-family: 'SFCompactText-Regular';
}
.home-header .swiper-slide .banner-btn {
  position: absolute;
  width: 100%;
  text-align: center;
}
.home-header .swiper-slide .banner-btn a {
  display: inline-block;
  text-align: center;
  font-family: 'SFCompactText-Regular';
}
.home-header .slide-one .banner-btn {
  top: 75%;
}
.home-header .slide-one .banner-btn a {
  border-radius: 4px;
  width: 98px;
  height: 32px;
  border: 1px solid #333333;
  line-height: 30px;
  color: #333;
  font-size: 16px;
}
.home-header .slide-two h3 {
  top: 20%;
  font-family: 'DINAlternate-Bold';
}
.home-header .slide-two .banner-items {
  width: 790px;
  top: 56%;
  left: 50%;
  margin-left: -385px;
}
.home-header .slide-two .banner-items li {
  color: #333333;
  font-size: 26px;
  line-height: 48px;
  font-family: 'DINAlternate-Bold';
}
.home-header .slide-two .banner-btn {
  top: 40%;
  width: 340px;
  height: 50px;
  background: #e55264;
  line-height: 50px;
  color: #fff;
  font-size: 30px;
  font-family: 'DINAlternate-Bold';
  cursor: pointer;
  left: 50%;
  margin-left: -170px;
}
.logo-header {
  left: 0;
  top: 0;
  z-index: 2;
  height: 70px;
  width: 100%;
  background: #fff;
}
.logo-header .logo-main {
  width: 1200px;
  margin: 0 auto;
}
.logo-header .logo-main .logo-img {
  float: left;
  margin-top: 15px;
}
.logo-header .logo-main .logo-img img {
  height: 40px;
}
.logo-header .logo-main .home-t-ul {
  float: right;
  margin-top: 20px;
}
.logo-header .logo-main .home-t-ul li {
  float: right;
  line-height: 30px;
}
.logo-header .logo-main .home-t-ul li a {
  color: #333;
  display: inline-block;
  font-size: 14px;
}
.logo-header .logo-main .home-t-ul li .contact-us {
  margin-right: 28px;
}
.logo-header .logo-main .home-t-ul li .help {
  margin-right: 30px;
}
.logo-header .logo-main .home-t-ul .login-register {
  width: 70px;
  text-align: center;
  margin-right: 11px;
}
.logo-header .logo-main .home-t-ul .login-register a {
  display: inline-block;
  height: 30px;
  width: 70px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #333;
  border-radius: 4px;
}
.logo-header .logo-main .home-t-ul .login-register :hover {
  background-color: #ff8d31;
  color: #fff;
  border: none;
  line-height: 30px;
}
.logo-header .logo-main .home-t-ul .register-li {
  margin-right: 0;
}
.nav-header {
  top: 0;
  left: 0;
  z-index: 99;
  height: 44px;
  background-color: #333;
  width: 100%;
}
.nav-header .nav-content {
  width: 1200px;
  margin: 0 auto;
  display: table;
  height: 44px;
  /*padding-left: 115px;*/
}
.nav-header .nav-content .search {
  display: table-cell;
  vertical-align: middle;
}
.nav-header .nav-content .search .search-inp {
  /*display: inline-block;*/
  width: 400px;
  height: 32px;
  float: left;
  margin-top: 6px;
}
.nav-header .nav-content .search .search-inp input {
  width: 400px;
  height: 32px;
  text-indent: 12px;
}
.nav-header .nav-content .search .search-img {
  /*display: inline-block;*/
  float: left;
  width: 34px;
  height: 32px;
  /*margin-left: -8px;*/
  padding: 3px 0 4px;
  background-color: #ff8d31;
  text-align: center;
  cursor: pointer;
    margin-top: 6px;
}
.nav-header .nav-content .search .search-img:active {
  background-color: #d76b0c;
}
.nav-header .nav-content .main-nav {
  display: table-cell;
  vertical-align: middle;
  margin-right: 300px;
}
.nav-header .nav-content .main-nav .active {
  position: absolute;
  left: 8px;
  top: 100px;
  z-index: 9;
  width: 300px;
  height: 300px;
}
.nav-header .nav-content .main-nav li {
  float: right;
  margin-right: 28px;
}
.nav-header .nav-content .main-nav li a {
  color: #fff;
}
.nav-header .nav-content .main-nav .collect-product {
  position: relative;
}
.home-mid {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  min-width: 1200px;
  background-color: #f8f8f8;
}
.home-mid .homemid-content {
  width: 1200px;
  margin: 0 auto;
}
.home-mid .homemid-content .left-list {
  width: 256px;
  float: left;
  z-index: 99;
}
.home-mid .homemid-content .left-list li {
  font-size: 14px;
}
.home-mid .homemid-content .left-list .first-menu-ul {
  border-radius: 4px;
  background-color: #878787;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu {
  width: 256px;
  position: relative;
  cursor: pointer;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu .first-menu-a {
  padding-left: 12px;
  color: #fffefe;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu .img-arrow {
  position: absolute;
  right: 10px;
  top: 12px;
  width: 10px;
  height: 16px;
  background: url(../image/home/arrow.png);
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu .second-menu-ul {
  width: 256px;
  position: absolute;
  left: 256px;
  top: 0;
  display: none;
  background-color: #878787;
  z-index: 99;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu .second-menu-ul .second-menu {
  position: relative;
  padding: 0;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu .second-menu-ul .second-menu .second-menu-a {
  display: inline-block;
  padding: 0;
  color: #fffefe;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  line-height: 40px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu .second-menu-ul :hover {
  background-color: #878787;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu .second-menu-ul :hover .second-menu-a {
  color: #282828;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu .second-menu-ul :hover .thid-menu-ul {
  display: block;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu .second-menu-ul :hover .second-img-arrow {
  background: url(../image/home/arrow_dark.png);
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu .thid-menu-ul {
  width: 256px;
  position: absolute;
  left: 256px;
  top: 0;
  display: none;
  background-color: #878787;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu .thid-menu-ul .thid-menu-li {
  padding: 0;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu .thid-menu-ul .thid-menu-li .thid-menu-a {
  display: inline-block;
  padding: 0;
  color: #fffefe;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
  line-height: 40px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu .thid-menu-ul :hover {
  background-color: #878787;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu .thid-menu-ul :hover .thid-menu-a {
  color: #282828;
}
.home-mid .homemid-content .left-list .first-menu-ul :hover {
  background-color: #4a4a4a;
}
.home-mid .homemid-content .left-list .first-menu-ul :hover .first-menu-a {
  color: #fff;
}
.home-mid .homemid-content .left-list .first-menu-ul :hover .first-img-arrow {
  background: url(../image/home/arrow_dark.png);
}
.home-mid .homemid-content .left-list .first-menu-ul :hover .second-menu-ul {
  display: block;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(9) .second-menu-ul {
  top: -80px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(9) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -240px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(9) .second-menu:nth-of-type(6) .thid-menu-ul {
  top: -200px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(9) .second-menu:nth-of-type(7) .thid-menu-ul {
  top: -280px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(10) .second-menu-ul {
  top: -80px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(10) .second-menu:nth-of-type(3) .thid-menu-ul {
  top: -80px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(10) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -120px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(10) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -120px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(10) .second-menu:nth-of-type(6) .thid-menu-ul {
  top: -200px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(11) .second-menu-ul {
  top: -160px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(11) .second-menu:nth-of-type(2) .thid-menu-ul {
  top: -40px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(11) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -120px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(11) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -80px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(11) .second-menu:nth-of-type(6) .thid-menu-ul {
  top: -40px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(11) .second-menu:nth-of-type(7) .thid-menu-ul {
  top: -120px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(12) .second-menu-ul {
  top: -160px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(12) .second-menu:nth-of-type(2) .thid-menu-ul {
  top: -80px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(12) .second-menu:nth-of-type(3) .thid-menu-ul {
  top: -80px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(12) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -120px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(12) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -120px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(12) .second-menu:nth-of-type(6) .thid-menu-ul {
  top: -160px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(13) .second-menu-ul {
  top: -120px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(13) .second-menu:nth-of-type(1) .thid-menu-ul {
  top: -80px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(13) .second-menu:nth-of-type(2) .thid-menu-ul {
  top: -440px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(13) .second-menu:nth-of-type(3) .thid-menu-ul {
  top: -160px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(13) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -200px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(4) .second-menu:nth-of-type(7) .thid-menu-ul {
  top: -160px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(4) .second-menu:nth-of-type(8) .thid-menu-ul {
  top: -200px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(5) .second-menu:nth-of-type(2) .thid-menu-ul {
  top: -40px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(5) .second-menu:nth-of-type(3) .thid-menu-ul {
  top: -80px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(5) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: 0;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(5) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -160px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(6) .second-menu:nth-of-type(2) .thid-menu-ul {
  top: -40px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(6) .second-menu:nth-of-type(3) .thid-menu-ul {
  top: -80px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(6) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -120px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(6) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -160px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(6) .second-menu:nth-of-type(6) .thid-menu-ul {
  top: -200px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(7) .second-menu:nth-of-type(2) .thid-menu-ul {
  top: -40px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(7) .second-menu:nth-of-type(3) .thid-menu-ul {
  top: -80px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(7) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -120px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(7) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -160px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(7) .second-menu:nth-of-type(6) .thid-menu-ul {
  top: -160px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(8) .second-menu:nth-of-type(2) .thid-menu-ul {
  top: -40px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(8) .second-menu:nth-of-type(3) .thid-menu-ul {
  top: -240px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(8) .second-menu:nth-of-type(4) .thid-menu-ul {
  top: -120px;
}
.home-mid .homemid-content .left-list .first-menu-ul .first-menu:nth-of-type(8) .second-menu:nth-of-type(5) .thid-menu-ul {
  top: -160px;
}
.home-mid .homemid-content .commodity-show {
  display: inline-block;
  vertical-align: top;
}
.home-mid .homemid-content .commodity-show .container {
  width: 930px;
  padding: 0;
}
.home-mid .homemid-content .commodity-show .container .product-title {
  height: 62px;
  padding-left: 35px;
}
.home-mid .homemid-content .commodity-show .container .product-title p {
  float: left;
  font-size: 24px;
}
.home-mid .homemid-content .commodity-show .container .product-title .change-coun {
  float: right;
  position: relative;
  width: 202px;
  height: 40px;
  margin-right: 35px;
}
.home-mid .homemid-content .commodity-show .container .product-title .change-coun a {
  display: block;
  width: 202px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 0;
}
.home-mid .homemid-content .commodity-show .container .product-title .change-coun .china-btn {
  right: 0;
  z-index: 1;
  background: url(../image/home/china.png) left center no-repeat;
}
.home-mid .homemid-content .commodity-show .container .product-title .change-coun .usa-btn {
  left: 0;
  z-index: 2;
  width: 0;
  background: url(../image/home/USA.png) right center no-repeat;
}
.home-mid .homemid-content .commodity-show .container .product-title .change-coun .video-btn {
  right: 0;
  z-index: 1;
  background: url(../image/home/Video.png) left center no-repeat;
}
.home-mid .homemid-content .commodity-show .container .product-title .change-coun .all-btn {
  left: 0;
  z-index: 2;
  width: 0;
  background: url(../image/home/ALLproduct.png) right center no-repeat;
}
.home-mid .homemid-content .commodity-show .container .row {
  margin-left: 0;
  margin-bottom: 22px;
}
.home-mid .homemid-content .commodity-show .container .row .col-xs-3 {
  padding: 5px 0;
  width: 210px;
  height: 265px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
}
.home-mid .homemid-content .commodity-show .container .row .col-xs-3 .listing-show {
  width: 100%;
  height: 205px;
  background: #fff;
}
.home-mid .homemid-content .commodity-show .container .row .col-xs-3 .listing-show .product-img {
  display: block;
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
}
.home-mid .homemid-content .commodity-show .container .row .col-xs-3 .product-detail {
  padding: 0 10px;
}
.home-mid .homemid-content .commodity-show .container .row .col-xs-3 .product-detail .detail-text {
  font-size: 12px;
  color: #636363;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 6px;
  height: 16px;
  line-height: 12px;
}
.home-mid .homemid-content .commodity-show .container .row .col-xs-3 .product-detail .product-price {
  font-size: 18px;
  color: #2e2e2e;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}
.home-mid .homemid-content .commodity-show .container .row .col-xs-3 .product-detail .listing {
  vertical-align: top;
  opacity: 0;
  float: right;
}
.home-mid .homemid-content .commodity-show .container .row .col-xs-3 .product-detail .listing a {
  display: inline-block;
  background-color: #fe5858;
  height: 20px;
  padding: 0 5px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
}
.home-mid .homemid-content .commodity-show .container .row .col-xs-3 .product-detail .listing img {
  cursor: pointer;
  height: 20px;
}
.home-mid .homemid-content .commodity-show .container .row .col-xs-3:hover .listing {
  opacity: 1;
}
.home-mid .homemid-content .commodity-show .container .women-show {
  margin-left: 30px;
}
.home-mid .homemid-content .commodity-show .container .women-show .title-p {
  margin: 20px 0 10px 5px;
}
.container {
  position: relative;
}
.top-drop-pro-wrap {
  position: relative;
  width: 872px;
  margin: 0 30px;
  /*overflow: hidden;*/
  height: 550px;
}
.top-drop-pro {
  width: 8720px;
}
.top-hot-pro {
  width: 100%;
}
.top-list-item {
  padding: 5px 0;
  width: 210px;
  height: 265px;
  float: left;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
}
.top-list-item .listing-show {
  width: 100%;
  height: 205px;
  background: #fff;
  display: table;
}
.top-list-item .listing-show a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.top-list-item .listing-show .product-img {
  max-width: 200px;
  max-height: 200px;
}
.top-list-item .product-detail {
  padding: 0 10px;
}
.top-list-item .product-detail .detail-text {
  display: block;
  font-size: 12px;
  color: #636363;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 6px;
  height: 16px;
  line-height: 12px;
}
.top-list-item .product-detail .product-price {
  font-size: 18px;
  color: #2e2e2e;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90px;
}
.top-list-item .product-detail .listing {
  vertical-align: top;
  /*opacity: 0;*/
  float: right;
}
.top-list-item .product-detail .listing a {
  width: 50px;
  display: inline-block;
  background-color: #fe5858;
  height: 26px;
  padding: 0 5px;
  line-height: 26px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}
.top-list-item .product-detail .listing a:hover {
  background-color: #fa8282;
}
.top-list-item .product-detail .listing img {
  cursor: pointer;
  height: 20px;
}
.top-list-item:hover .listing {
  opacity: 1;
}
.border1 {
  border: 1px solid blue;
}
.border2 {
  border: 1px solid black;
}
.footer .footer-logos-wrap {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.footer .footer-logos-wrap > a {
  position: absolute;
  top: 20px;
}
.footer .footer-logos-wrap .left-arr {
  left: 0;
}
.footer .footer-logos-wrap .right-arr {
  right: 0;
}
.footer .footer-logos-wrap .swiper-container {
  height: 80px;
}
.footer .footer-logos-wrap .swiper-wrapper {
  height: 80px;
}
.footer .footer-logos-wrap .swiper-button-prev {
  top: 50%;
  width: 22px;
  height: 36px;
  margin-top: -18px;
  background-image: url('../image/home/leftarr.png');
}
.footer .footer-logos-wrap .swiper-button-next {
  top: 50%;
  width: 22px;
  height: 36px;
  margin-top: -18px;
  background-image: url('../image/home/rightarr.png');
}
.footer .footer-logos {
  height: 80px;
  line-height: 80px;
  background: #fff;
  text-align: center;
}
.footer .footer-logos a {
  display: inline-block;
  margin: 0 30px;
}
.footer .footer-logos a img {
  width: 80%;
}
.footer .footer-logos .amazon-logo img {
  margin-top: 10px;
}
.footer .footer-con-wrap {
  height: 120px;
  width: 100%;
  background-color: #262626;
  display: table;
}
.footer .forfoo-con {
  min-width: 1200px;
  width: 1200px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.footer .forfoo-con span {
  padding: 0 16px;
  font-size: 14px;
  color: #c1c1c1;
}
.footer .forfoo-con span .copyright-logo {
  padding: 0 5px 0 0;
  font-size: 22px;
  vertical-align: middle;
}
.footer .forfoo-con a {
  padding: 0 16px;
  font-size: 14px;
  color: #c1c1c1;
  border-right: 1px solid #c1c1c1;
}
.swiper-pagination-bullet {
  background: #fff;
  width: 12px;
  height: 12px;
}
.swiper-button-next {
  position: absolute;
  right: 0px;
  top: 336px;
  z-index: 10;
}
#product-swiper {
  padding-left: 26px;
}
.swiper-button-prev {
  position: absolute;
  left: 8px;
  top: 336px;
  z-index: 10;
}
.hnj-xialamenu {
  position: absolute;
  right: 45px;
  padding-top: 30px;
  top: 30px;
  cursor: pointer;
  width: 165px;
  border-radius: 2px 2px 2px 2px;
  display: none;
}
.hnj-xialamenu ol {
  display: block;
}
.hnj-xialamenu ol li {
  float: left;
  width: 170px;
  /* border-bottom: 1px solid #efefef; */
  font-size: 14px;
  line-height: 36px;
  height: 36px;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#ffffff, #ffffff);
  background-blend-mode: normal, normal;
}
.hnj-xialamenu ol li .com-head-link {
  position: relative;
}
.hnj-xialamenu ol li .com-head-link .ticket-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}
.hnj-xialamenu ol li .com-head-link .tutorial-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}
.hnj-xialamenu ol li .com-head-link .help-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}
.hnj-xialamenu ol li .com-head-link .facebook-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}
.hnj-xialamenu ol li .com-head-link .guide-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}
.hnj-xialamenu ol li .com-head-link .com-head-a {
  display: block;
  padding-left: 52px;
  line-height: 36px;
}
.hnj-xialamenu ol li em {
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
}
.hnj-xialamenu ol li:hover {
  background: #efefef;
}
.chat-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background: url(../image/home/chat.svg);
  background-size: cover;
  vertical-align: middle;
}
.ticket-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background: url(../image/home/Ticket.svg);
  background-size: cover;
  vertical-align: middle;
}
.tutorial-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background: url(../image/home/tutorial.svg);
  background-size: cover;
  vertical-align: middle;
}
.facebook-icon {
  display: inline-block;
  width: 19px;
  height: 20px;
  margin-right: 9px;
  background: url(../image/home/Facebook.svg);
  background-size: cover;
  vertical-align: middle;
}
.guide-icon{
  display: inline-block;
  width: 19px;
  height: 20px;
  margin-right: 9px;
  background: url(../image/home/guide.png);
  background-size: cover;
  vertical-align: middle;
}
/*弹出框*/
/*弹出框*/
.user-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/home/profile.svg);
  background-size: cover;
  vertical-align: middle;
}
.card-icon {
  display: inline-block;
  width: 20px;
  height: 18px;
  margin-right: 2px;
  background: url(../image/home/wallet.svg);
  background-size: cover;
  vertical-align: middle;
}
.tool-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/home/icontool.svg);
  background-size: cover;
  vertical-align: middle;
}
.logout-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/home/logout.svg);
  background-size: cover;
  vertical-align: middle;
}
.help-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background: url(../image/home/faq.svg);
  background-size: cover;
  vertical-align: middle;
}
.logo-header {
  position: relative;
}
.logo-header .logo-main .hiuser-li {
  height: 30px;
  position: relative;
  color: #333;
}
.logo-header .logo-main .header-tip {
  position: absolute;
  right: 0;
  top: 34px;
  width: 130px;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 26.4px 2.6px rgba(226, 226, 226, 0.35);
}
.logo-header .logo-main .header-tip ul {
  cursor: pointer;
}
.logo-header .logo-main .header-tip ul li {
  width: 100%;
  border-bottom: 1px solid #efefef;
  font-size: 14px;
  line-height: 36px;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#ffffff, #ffffff);
  background-blend-mode: normal, normal;
  margin-top: 0;
  float: none;
  position: relative;
  color: #000;
}
.logo-header .logo-main .header-tip ul li em {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  font-style: normal;
}
.logo-header .logo-main .header-tip ul li .com-tool-ul a {
  display: block;
}
.logo-header .logo-main .header-tip ul li .com-head-link .user-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}
.logo-header .logo-main .header-tip ul li .com-head-link .card-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}
.logo-header .logo-main .header-tip ul li .com-head-link .tool-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}
.logo-header .logo-main .header-tip ul li .com-head-link .logout-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}
.logo-header .logo-main .header-tip ul li .com-head-link a {
  display: block;
  padding-left: 52px;
  line-height: 36px;
}
.logo-header .logo-main .header-tip ul li ul {
  width: 170px;
  display: none;
  position: absolute;
  left: -170px;
  top: 0px;
  box-shadow: 0px 2px 26.4px 2.6px rgba(226, 226, 226, 0.35);
}
.logo-header .logo-main .header-tip ul li ul li {
  padding: 0 10px;
}
.logo-header .logo-main .header-tip ul li:hover {
  background: #efefef;
}
.logo-header .logo-main .header-tip ul li:hover ul {
  display: block;
}
body .swiper-pagination-bullet {
  background: #333;
}
.autho-success .AS-content img {
  display: block;
  width: 47px;
  height: 47px;
  margin: 45px auto 40px;
}
.autho-success .AS-content p {
  font-size: 26px;
  color: #7a7a7a;
  text-align: center;
}

@media screen and (max-width: 1250px){
  .logo-header .logo-main {
    width: 1000px;
  }
  .nav-header .nav-content {
    width: 1200px;
  }
  .home-mid .homemid-content {
    width: 1150px;
  }
  .home-mid .homemid-content .commodity-show .container {
    width: 880px;
  }
  .top-list-item {
    width: 197px;
  }
  .top-list-item .listing-show .product-img {
    max-width: 185px;
    max-height: 185px;
  }
  .home-mid {
    min-width: 1150px;
  }

}
/*#Switch{
  min-height: 600px;
}*/
.Switch{
    line-height: 44px;
    font-family: "PingFang SC", 'Source Sans Pro',sans-serif;
    font-size: 16px;
    color: #ff8d31;
    margin-left: 20px;
}
.Switch:hover{
    color: #ff8d31;
}