.border {
    border: 1px solid red;
}

.border1 {
    border: 1px solid blue;
}

.border2 {
    border: 1px solid black;
}

.left-nav {
    width: 180px;
    top: 80px;
    bottom: 0;
    position: fixed;
    z-index: 2;
    background-color: #3a3b42;
}

.left-nav ul {
    margin-top: 105px;
}

.left-nav ul li a {
    padding-left: 12px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    height: 36px;
    width: 100%;
    line-height: 36px;
}

.left-nav ul li.active {
    background-image: linear-gradient(0deg, #fda22c 0%, #f78c29 78%, #f17625 100%);
}

.left-nav.vipFlag {
    background: #2B2B2B;
}

.left-nav.vipFlag ul li.active {
    background: linear-gradient(298deg, rgba(240, 212, 156, 1) 0%, rgba(250, 233, 187, 1) 100%) !important;
}

.left-nav.vipFlag ul li.active a {
    color: #3E1B00 !important;
}

.left-nav.vipFlag ul li a {
    color: rgba(243, 219, 165, 1);
}

.left-nav ul li:hover {
    background: #fda22c;
}

.left-nav.vipFlag ul li:hover {
    background: #121212;
}

.left-nav.vipFlag ul li:hover a {
    color: #F5DDA9
}

.aftersale-right {
    background-color: #f2f3f5;
    margin-left: 220px;
    padding: 10px;
    /* min-width: 1120px; */
}

.direct-right {
    background-color: #f2f3f5;
    margin-left: 220px;
    padding: 10px;
    /* min-width: 1120px; */
}

.d-direct-right {
    background-color: #f2f3f5;
    margin-left: 220px;
    padding: 10px;
    /* min-width: 1120px; */
}

.direct-right {
    /* min-width: 1208px; */
}

.status-navul {
    /* min-width: 1134px; */
}

.afterFilter {
    display: inline-block;
}

@media screen and (max-width: 1445px) {
    .direct-right {
        /* min-width: auto; */
    }
    .d-direct-right {
        /* min-width: 1100px; */
    }
    .aftersale-right {
        /* min-width: 1100px; */
    }
    .status-navul {
        /* min-width: 1100px; */
        margin-left: 0;
    }
    .afterFilter {
        display: block;
        margin: 10px 0;
    }
}

@media screen and (max-width: 1529px) {
    .afterFilter {
        display: block;
        margin: 10px 0;
    }
}

@media screen and (max-width: 1300px) {
    .aftersale-right {
        /* min-width: 920px; */
    }
    .status-navul {
        /* min-width: 920px; */
        margin-left: 0;
    }
}

@media screen and (max-width: 1250px) {
    .direct-right {
        /* min-width: 920px; */
    }
    .d-direct-right {
        /* min-width: 920px; */
    }
    .aftersale-right {
        /* min-width: 920px; */
    }
    .status-navul {
        /* min-width: 920px; */
        margin-left: 0;
    }
}


/* @media screen and (max-width: 1550px) {
    .pro-search-order {
        height: 70px;
    }
    .process-funbtn {
        display: block;
        margin: 10px 0;
    }
} */