body,
html {
  height: 100%;
	background-color: #FAFAFA;
}
.content-box{
	width: 633px;
	height: 196px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 24px;
	font-weight: 500;
	color: #333333;
	line-height: 33px;
	padding: 30px 33px 30px 30px;
	background-color: #fff;
}
.content-box img{
	width: 228px;
	height: 47px;
}
.content-box .tips-box{
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-box .tips-box .cool{
	color: #F9912A;
}

.content-box .tips-box i{
	width: 50px;
	height: 50px;
	background: url("/static/image/register/register-success.png") no-repeat center;
}

.content-box .tips-box h3{
	font-size: 24px;
	color: #333;
	margin-bottom: 8px;
}
.content-box .tips-content {
	font-size: 24px;
	font-weight: 500;
	color: #333333;
	line-height: 33px;
	margin-top:10px;
}
.content-box .tips-box .info {
	color: #F9912A;
}
.content-box .info{
	margin-top: 20px;
	text-align: center;
}

.content-box .info a{
	color: #F9912A;
	text-decoration: underline
}
.content-box .tips-footer{
	margin-top:24px;
	width: 98.7px;
	font-size: 16px;
	font-weight: 500;
	color: #FF7700;
	line-height: 22px;
}
.content-box .tips-footer a{
	color: #F9912A;
}