.bg-box {
	/* display: flex; */
	width: 100%;
	/* background-color: #F2F2F2; */
}

.partnership-success-box {
	min-width: 100%;
	background-color: #F2F2F2;
	padding-top: 8px;
	height: calc(100vh - 120px)
}



.partnership-success-content {
	margin: 0 auto;
	text-align: center;
	background-color: #FFFFFF;
	width: 1200px;
	padding: 156px 0 32px;
	height: calc(100vh - 128px)
}

.partnership-success-icon-content {
	
}

.partnership-success-icon-content img{
	width: 80px;
	height: 80px;

}

.partnership-success-icon-content .partnership-success-txt {
	font-size: 22px;
	font-weight: 600;
	color: #83BF3F;
	line-height: 30px;
	padding: 16px 0 32px;
}

.partnership-success-info {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 32px;
}

.partnership-success-info .partnership-success-info-txt {
	width: 404px;
	font-size: 18px;
	font-weight: 400;
	color: #3A3A3A;
	line-height: 25px;
}

.partnership-success-btn-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.partnership-success-btn-wrap .comfirm-btn {
	width: 126px;
	height: 40px;
	background: #FF7700;
	border-radius: 4px;	
	line-height: 40px;
	margin-right: 32px;
}

.partnership-success-btn-wrap .apply-btn {
	width: 126px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #FF7700;
	line-height: 40px;
}

.partnership-success-btn-wrap .comfirm-btn a{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
}

.partnership-success-btn-wrap .apply-btn a{
	color: #FF7700;
	font-size: 18px;
	font-weight: 500;
}