body,
html {
  height: 100%;
	background-color: #FAFAFA;
}
.content-box{
	width: 592px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #999;
	font-size: 16px;
}

.content-box .tips-box{
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 44px 40px;
}

.content-box .tips-box .cool{
	color: #F9912A;
}

.content-box .tips-box i{
	width: 50px;
	height: 50px;
	background: url("/static/image/register/register-success.png") no-repeat center;
}

.content-box .tips-box h3{
	font-size: 24px;
	color: #333;
	margin-bottom: 8px;
}

.content-box .info{
	margin-top: 20px;
	text-align: center;
}

.content-box .info a{
	color: #F9912A;
	text-decoration: underline
}
