body,
html {
    height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f8f8f8 inset;
}

select {
    font-size: 14px;
}

.register-wrap{
	position: relative;
}

.register-wrap .to-home{
	position: absolute;
	right: 100px;
	top: 100px;
	height: 48px;
	width: 48px;
	background: url("../image/login/close-circle.svg") no-repeat center;
}
.register-con{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: #F9912A;
}
.register-form{
    background: #fff;
    width:592px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 42px 0px rgba(0,0,0,0.17);
    border-radius:6px;
    padding: 18px 0 14px;
    position: relative;
}
.register-title{
    font-size: 24px;
    color: #333;
    padding-left: 48px;
    line-height: 33px;
}

.register-title a{
	color: #ff7700;
}

.register-title a:hover{
	list-style: none;
	color: #ff7700;
	text-decoration: none;
}
.to-cj:hover {
    color: #ff7700 !important;
    text-decoration: underline !important;
}
.to-cj:focus {
    color: #ff7700 !important;
    text-decoration: none !important;
}

.register-sub-title{
    padding-left: 48px;
    color: #666;
    line-height: 22px;
    border-bottom: 1px solid #eee;
    padding-bottom: 43px;
		word-break: break-all;
		padding-right: 48px;
}
.register-sub-title .f-org{
    cursor: pointer;
}
.register-list{
    margin-top: 20px;
    margin-bottom: 0;
    padding: 16px 48px 0px;
}
.register-item{
    margin-bottom: 14px;
		position: relative;
		min-height: 74px;
}
.register-item .item-box{
		width: 49%;
}
.register-item .iconfont{
	position: absolute;
	top: 31px;
	right: 8px;
	cursor: pointer;
	font-size: 12px;
}
.register-item-title{
    font-size: 12px;
    margin-bottom: 0;
}
.register-item-title .must-icon{
    color: #E02020;
    font-size: 16px;
    vertical-align: middle;
}
.register-item-input{
    width: 100%;
    height:32px;
    background:rgba(255,255,255,1);
    border-radius:2px;
    border:1px solid rgba(216,216,216,1);
		padding: 0 8px;
		font-size: 14px;
}
.phone-register {
    flex: 1;
}
.register-item-input.borderErr{
    border-color: #E02020;
}
.error-message {
	color: #E02020;
	font-size: 14px;
	margin: 0;
}

.name-err-msg {
	width: 496px;
}


.error-message a{
	color: #F9912A;
}

.privacy-tip {
    position: relative;
    display: inline-block;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    margin-left: 60px;
    margin-bottom: 0;
    color: #666;
}
.privacy-tip::before{
    font-family: 'iconfont';
    content: '\e65f';
    margin-right: 10px;
}
.privacy-tip.check::before{
    content: '\e672';
    color: #ff7700;
}
.register-btn{
    width:334px;
    line-height:42px;
    background:linear-gradient(270deg,rgba(249,145,42,1) 0%,rgba(250,100,0,1) 100%);
    box-shadow:0px 8px 14px -6px rgba(250,100,0,1);
    border-radius:4px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin: 14px auto;
}
.register-btn:hover{
	background:linear-gradient(270deg,rgba(250,100,0,1) 0%,rgba(250,100,0,1) 100%);
	box-shadow: initial;
}
.register-btn:active{
	background: #AE4500;
}
.f-org{
    color: #ff7700;
}
.login-tip{
    text-align: center;
    color: #666;
    margin-bottom: 0;
}
.phone-box{
    display: flex;
    align-items: center;
}
.phone-box .countrybox{
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #d8d8d8;
    margin-right: 10px;
}
.phone-box .countrytxt{
    color: #333;
    padding-right: 14px;
    position: relative;
    display: block;
}
.phone-box .countrytxt::after{
    content: '';
    border: 5px solid;
    border-color:#333 transparent transparent transparent;
    width: 0;
    height: 0;
    line-height: 1;
    position: absolute;
    right: 1px;
    top: 11px;
}
.countrybox{
    position: relative;
}
.country-list{
    position: absolute;
    top: 32px;
    left: 0;
    max-height: 300px;
    overflow-y: auto;
    background: #fff;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.3);
		z-index: 1;
}
.country-item{
    text-align: left;
    padding-left:6px;
}
.country-item:hover{
    background: #F9912A;
}
.country-search{
    margin: 5px;
    border: 1px solid #d8d8d8;
    padding-left: 5px;
}

.confirm-box{
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.confirm-main{
		width: 396px;
    min-height: 160px;
    min-width: 360px;
    background: #fff;
    border-radius: 6px;
    text-align: center;
    position: relative;
}
.confirm-content{
    padding: 30px 50px 52px;
    color: #333;
    font-size: 16px;
}
.confirm-btn{
    width: 116px;
    line-height: 32px;
    background: #F9912A;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    cursor: pointer;
    transform: translate(-50%, 0);
}
.confirm-close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    color: #666;
    font-size: 14px;
}
.confirm-close::after{
    font-family: 'iconfont';
    content: '\e617';
}
.login-close-btn{
    position: absolute;
    width: 88px;
    height: 88px;
    text-align: center;
    line-height: 88px;
    right: 0;
    cursor: pointer;
    top: 0;
    color: #999;
}
.login-close-btn:hover{
    color: #f70;
    text-decoration: none;
}
.login-close-btn:after{
    font-family: 'iconfont';
    content: '\e70d';
    font-size: 24px;
}

.login-with {
    width: 334px;
    margin: 0 auto 20px;
}
.login-with-line{
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-with-or{
    background: #fff;
    color: #999;
    padding:5px 21px;
    position: relative;
    top: 16px;
}
.login-with-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-with-item{
    width: 160px;
    height: 36px;
    line-height: 36px;
    color: #333;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E1E1E1;
    font-size: 12px;
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.login-with-item::before{
    margin-right: 5px;
}
.login-with-item.facebook::before{
    font-family: 'iconfont';
    content: '\e713';
    font-size: 19px;
    color: #4267B2;
}
.login-with-item.google::before
{
    content: '';
    background: url(../image/login/google.svg) #fff;
    width: 20px;
    height: 20px;
    background-position: center -7px;
    background-size: 36px auto;
    border-radius: 50%;
}
.login-with-item.facebook:hover{
    background: #4267B2;
    color: #fff;
    border-color: #4267B2;
}
.login-with-item.facebook:hover::before{
    color: #fff;
}
.login-with-item.google:hover{
    background: #4285F4;
    color: #fff;
    border-color: #4285F4;
}

.login-wrap {
    width: 100%;
    height: 100%;
    position: fixed; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5); 
    z-index: 6;
}

#reg-login {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 127px auto;  */
    width: 500px; 
    height: 435px; 
    background: rgba(182, 178, 182, 0.473); 
    padding-top: 50px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    border-radius:6px; 
    background: #fff; 
    z-index: 1;
}
#reg-login input::-webkit-input-placeholder { color: #ccc; }
#reg-login input {color: #666; text-indent: 4px;}
#reg-login section {width: 310px;}
.login-close {position: absolute; right: 20px; top: 20px; width: 20px; height: 20px; background: url('../image/login/close.png') no-repeat center center; cursor: pointer;}
.login-logo {display: flex; justify-content: center; margin-bottom: 40px;}
.login-logo img { width: 79px; height: 57px; }
.login-font {margin-bottom: 30px; color: #666; text-align: center; font-size: 20px; font-family: Graphik Webfont;}
.login-input {margin-bottom: 40px;}
.login-input .input-area {
    display: flex; justify-content: space-between; width: 310px;
}
.login-input .input-area i {width: 20px; height: 20px;}
.login-input .input-area input{width: 280px; border-bottom: 1px solid #ccc; box-sizing: border-box;}
.login-input .account {margin-bottom: 50px; position: relative;}
.login-input .account i {background: url('../image/login/account.png') no-repeat center center;}
.login-input .password i {background: url('../image/login/password.png') no-repeat center center;}
.login-input .password {position: relative;}
.login-input .password .password-eye {width: 16px; height: 10px; background: url('../image/login/password-hide.png') no-repeat center center; position: absolute; right: 10px; bottom: 6px; cursor: pointer;}
.login-input .password .password-eye.password-show {background: url('../image/login/password-show.png') no-repeat center center;}

.login-btn {display: flex; justify-content: center;}
.login-btn button {
    width: 282px; height: 40px; border-radius:20px; background:#F89129; color: #fff;
}
.login-btn button.disabled{background: rgba(248,145,41,0.5);}
.login-btn .can-login{ background: rgba(248,145,41,1);}
.err-tip {position: absolute; left: 32px; top: 30px; font-size: 12px; color: rgb(255, 17, 0);}
.login-wrap .to-home{
	position: absolute;
	right: 100px;
	top: 100px;
	height: 48px;
	width: 48px;
	background: url("../image/login/close-circle.svg") no-repeat center;
}
.register-wrap .tooltips {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.register-wrap .tooltips .tipIcon {
    font-size: 12px;
    color: var(--color-theme-1);
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}
.register-wrap .tooltips:hover .tooltiptext {
    visibility: visible;
}
.register-wrap .tooltips .tooltiptext {
    visibility: hidden;
    background-color: rgba(0,0,0,.75);
    color: #fff;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    bottom: 22px;
    left: 35px;
    margin-left: -100px;
    word-break: break-word;
    line-height: 1.5;
    margin-right: 10px;
    min-width: 380px;
}
.register-wrap .tooltips .tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 70px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0,.75) transparent transparent transparent;
}
.register-wrap .tooltips .tooltiptext p {
    margin: 0;
    font-size: 12px;
}
.language-wrapper{
    display: inline-block;
    margin-left: 70px;
}