
.weclome-body {
background: #f7f7f7;
}

.welcome-auth{
  width: 100%;
  position: relative;
}


.welcome-auth .welcome_text{
  position: absolute;
 
}

.welcome-auth ._box .welcome_text i.iconfont{
  font-size:40px;
  color:#32ce62;
  margin-right: 20px;
}

.welcome-icon-box{
  background-color:#F7F7F7;
  padding-top:112px;
}

.welcome-icon-list{
  width:1200px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
}

.welcome-icon-list li{
  width:285px;
  height:100px;
  background-color:#fff;
  margin-left:20px;
  position: relative;
  margin-bottom:74px;
  transition: all .45s;
}

.welcome-icon-list li:hover .icon_radius{
  box-shadow: 0 0 20px #e6e6e6;
}

.welcome-icon-list li .icon_radius{
  width:64px;
  height:64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#fff;
  position: absolute;
  left:50%;
  margin-left:-32px;
  top:-32px;
  border-radius: 50%;
  transition: all .45s;
}

.welcome-icon-list li .icon_radius i.iconfont{
  font-size:28px;
  color: #F66C23;
}

.welcome-icon-list li .icon_text{
  text-align: center;
  color:#F78730;
  padding-top:54px;
  font-size:16px;
  width:100%;
  /* display: inline-block; */
}

.welcome-icon-list li:nth-of-type(4n+1){
  margin-left:0;
}

/* failed*/
.failed .welcome-auth{
  /* background-image: url('/static/image/welcome/failed_ban.png'); */
}

.failed .welcome-auth ._box .welcome_text i.iconfont{
  color:#fc5857;
}

.failed .failed_box{
  background-color:#f7f7f7;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding:80px 0 128px 0
}

.failed .failed_box .oneMoreTime{
  cursor: pointer;
  width:222px;
  text-align: center;
  height:40px;
  background:rgba(255,119,0,1);
  border-radius:4px;
  font-size:18px;
  color:#fff;
  line-height: 40px;
}

.failed .failed_box .tips{
  margin-top:20px;
  color:#2B8CF8;
  font-size: 24px;
}

.failed .failed_box .tips span{
  color:rgba(255,119,0,1);
}

.failed .failed-tips {
  color: #666666;
  margin-bottom: 25px;
}

.failed .failed_box .online-btn {
  color: #FF7700;
}

.failed .failed_box .online-btn:hover {
  text-decoration: underline;
}
.auth-footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}