#goods{
    position: relative;
}
#goods .pd-related-con .row .col-xs-3 .product-detail .listing a{
    width: inherit;
}
#goods .fl{
    float: left;
}
#goods .fr{
    float: right;
}
#goods .clearfix:after {
    content: "";
    display: block;
    clear: both;
}
#goods .pd-related-con .row{
    display: inherit;
}
#goods .type-select .select{
    width:324px;
    height:40px;
    border: 2px solid #EEEEEE;
    position: relative;
    padding: 0 10px;
}
#goods .commodity-item{
    margin: inherit;
}
#goods .type-select{
    display: inline-flex;
    line-height: 40px;
    position: relative;
}
#goods .asj-page-box .page-index a.current:hover{
    color: rgba(153,153,153,1);
}
#goods .type-select .select:after{
    content:'';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 6px solid #7D7D7D;
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
}
#goods .type-select ul{
    position: absolute;
    width:324px;
    background-color: #fff;
    z-index: 10;
    border: 2px solid #EEEEEE;
    top:38px;
    left: 73px;
}
#goods .type-select ul li{
    height:28px;
    line-height: 28px;
    cursor: pointer;
    padding: 0 10px;
}
#goods .type-select ul li:hover{
    background:rgba(252,157,74,1);
}
#goods .search-bar {
    margin-left: 30px;
}
#goods .search-bar input{
    width:324px;
    height:40px;
    border: 2px solid #F29748;
}
#goods .search-bar .search-btn{
    height: 40px;
}
#goods .favorite-header{
    padding-bottom: inherit;
    border-bottom: inherit;
    padding-left: 20px;
}
#goods .sum{
    font-size:14px;
    font-family:Helvetica;
    color:#333333;
    line-height:36px;
    padding-left: 20px;
}
#goods .sum span{
    color: #F29748;
}
#goods .pd-related-con .row .col-xs-3{
    margin: 5px;
    border-color: #E9E9E9;
}

#goods .asj-page-box{
    color: #757575;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin: 10px auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 700px;
}
#goods .asj-page-box .page-index a{
    border-radius:2px;
    width:40px;
    height:40px;
    border: 1px solid #EEEEEE;
    line-height: 40px;
    margin: 0 3px;
    font-size:12px;
    font-family:Helvetica;
    color:rgba(153,153,153,1);
}

#goods .asj-page-box .page-index{
    width: 415px;
}
#goods .asj-page-box .to-go{
    height: 40px;
    line-height: 40px;
}
#goods .asj-page-box .to-go a{
    line-height: 22px;
}
#goods .asj-page-box .page-index a.current{
    background-color: #F29748;
    color: #fff;
}
#goods .asj-page-box .page-index a:hover{
    color: #F29748;
    border-color: #F29748;
}

#goods #add-store .ASL-content{
    width: 680px;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    border-radius: 4px;
    padding: 40px;
    color: #333333;
    font-size:16px;
    font-family:Helvetica;
    max-height: 420px;
}
#goods #add-store .ASL-content .proimg{
    max-width: 200px;
    max-height: 200px;
}
#goods #add-store .ASL-content h3{
    color: #333333;
    line-height: 35px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#goods #add-store .ASL-content select{
    height: 30px;
    border: 1px solid #CFD0D0;
    min-width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#goods #add-store .commodity{
    margin: inherit;
}

#goods #add-store .commodity span{
    width: 30px;
}
#goods #add-store .commodity input{
    width: 40px;
}

#goods #add-store .cart-price{
    font-size:14px;
    font-family:Helvetica;
    margin-left: 20px;
    color: #333;
    line-height: 30px;
}
#goods #add-store .sub{
    width:298px;
    height:30px;
    border-radius:2px;
    color: #fff;
    font-size:14px;
    font-family:Helvetica;
    margin-top: 20px;
    margin-left:0;
}
#goods .pd-related-con .row .col-xs-3 .product-detail .product-price{
    max-width: 113px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#goods .cart_rt .cart_list .Clearing .view:hover{
    background-color: #fff;
    color: #f29748;
    transition: ease 0.3s;
    border-color: #fff;
}
#goods .PrintContent .hasListData li .info .listOrsource{
    width: 95px;
}







































