@import '../../colors.less';
.sku {
  display: flex;
  flex-direction: column;
  > span {
  }
  .copy {
    margin-left: 10px;
    cursor: pointer;
    color: @theme;
  }
  .pod {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    padding-top: 2px;
    font-size: 12px;
    border-radius: 20px;
    background: @theme;
    color: white;
    margin-left: 5px;
    cursor: pointer;
  }
  .redTag {
    color: red;
  }
}
