.mycj-home-purchase {

  .mycj-purchase-list .mycj-right-bar {
    margin-top: 0;
  }

  .mycj-add-purchase .asj-page-box {
    margin: 10px 0 20px;
    margin-left: 10px;
  }

  .address-box .selectwarehouse {
    margin-left: 50px;
    margin-right: 10px;
  }

  .address-box .warehouseselect {
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    width: 150px;
  }

  #bottom-confirm {
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 10px;
  }

  #bottom-confirm .bottom-confirm-left {
    padding: 10px;
    font-size: 12px;
  }

  #bottom-confirm .bottom-confirm-right {
    height: 100%;
  }

  #bottom-confirm .bottom-confirm-right button {
    height: 80px;
    padding: 20px;
    margin-left: 40px;
  }

  #bottom-confirm div span {
    color: #fa962a;
  }

  #bottom-confirm .bottom-confirm-right div span {
    font-size: 24px;
  }

  #bottom-confirm div button {
    background: #a0a0a0;
    color: #fff;
  }

  #bottom-confirm div button:hover {
    background: #fa962a;
  }

  .mycj-search-right {
    padding: 12px;
    background: #f3f3f3;
    margin-right: 100px;
  }

  .mycj-search-right .mycj-search-list {
    width: 393px;
    position: absolute;
    left: 0px;
    background: #fff;
    top: 30px;
    border-bottom: 1px solid #f99429;
    border-left: 1px solid #f99429;
    border-right: 1px solid #f99429;
    z-index: 9999;
  }

  .mycj-search-right .mycj-search-list li {
    padding: 8px 10px;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
  }

  .mycj-search-right .mycj-search-list li:hover {
    background: #f3f3f3;
  }

  .mycj-search-right .mycj-search-input {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }

  .commodity-item {
    width: 100%;
    margin: 15px auto 0;
    background: #ffffff;
    height: 136px;
    padding: 10px;
    line-height: 116px;
    /* display: flex;
       align-items: center;
       justify-content: space-between;*/
  }

  .commodity-item div input {
    border: 1px solid #999999;
    border-radius: 4px;
  }

  .commodity-item div select {
    border: 1px solid #999999;
    border-radius: 4px;
    font-size: 14px;
    color: #7b7b7b;
    margin-right: 5px;
  }

  .commodity-item .commodity-item-1 {
    width: 10%;
    float: left;
    overflow: hidden;
    margin-right: 2%;
    height: 100%;
  }

  .commodity-item .commodity-item-2 {
    float: left;
    width: 40%;
    font-size: 14px;
    line-height: 24px;
  }

  .commodity-item .commodity-item-2 p {
    width: 100%;
    font-size: 14px;
    color: #2b2b2b;
    margin-bottom: 5px;
  }

  .commodity-item .commodity-item-2 .item-2-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .commodity-item .commodity-item-3 {
    float: left;
    width: 6%;
    font-size: 18px;
    color: #333333;
    text-align: center;
  }

  .commodity-item .commodity-item-4 {
    float: left;
    width: 6%;
    font-size: 18px;
    color: #333333;
    text-align: center;
  }

  .commodity-item .commodity-item-5 {
    float: left;
    width: 14%;
    font-size: 18px;
    color: #333333;
    text-align: center;
  }

  .commodity-item .commodity-item-5 input {
    float: left;
    width: 40px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 2px;
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius: 0;
    margin-left: -1px;
  }

  .commodity-item .commodity-item-5 span {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #d4d4d4;
    text-align: center;
    margin-left: -1px;
    cursor: pointer;
  }

  .commodity-item .commodity-item-5 .item-5-inner {
    width: 100px;
    margin: 43px auto;
  }

  .commodity-item .commodity-item-6 {
    font-size: 18px;
    color: #ff3904;
    float: left;
    width: 10%;
    text-align: center;
  }

  .commodity-item .commodity-item-7 {
    float: left;
    width: 12%;
    text-align: center;
  }

  .commodity-item .commodity-item-7 a {
    background: #f99429;
    /*border: 1px solid #f9aa57;*/
    color: #fff;
    width: 90px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border: none;
  }

  .purchase-list-wrap {
    /*min-height: 700px;*/
    /*min-width: 900px;*/
    margin: auto;
    /*width: 100%;*/
    /*padding: 20px;*/
    margin-right: 100px;
    margin-left: 10px;
  }

  .purchase-list-wrap .purchase-title {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
  }

  .purchase-list .commodity-item {
    box-shadow: 0px 3px 7px 0px rgba(239, 239, 239, 0.35);
    border: solid 1px rgba(243, 243, 243, 1);
    width: 100%;
    margin-bottom: 12px;
    height: 100px;
    line-height: 80px;
  }

 purchase-list .commodity-item .commodity-item-5 .item-5-inner {
    margin: 25px auto;
  }

  .purchase-list .commodity-item .commodity-item-0 {
    width: 3%;
    float: left;
    margin-top: 30px;
  }

  .purchase-list .commodity-item .commodity-item-1 {
    width: 7%;
  }

  .purchase-list .commodity-item .commodity-item-1 img {
    height: 80px;
  }

  .purchase-list .commodity-item .commodity-item-7 img {
    cursor: pointer;
  }

  .purchase-list-wrap .purchase-list .commodity-item .zchecked {
    float: left;
    margin-right: 1.5%;
  }

  .purchase-list-wrap .purchase-list .commodity-item .wares-name {
    width: 45%;
    float: left;
    height: 106px;
  }

  .purchase-list-wrap .purchase-list .commodity-item .unit-cost {
    width: 10%;
    float: left;
    height: 106px;
    line-height: 106px;
  }

  .purchase-list-wrap .purchase-list .commodity-item .unit-cost span {
    font-size: 18px;
  }

  .purchase-list-wrap .purchase-list .commodity-item .wares-price {
    float: left;
    width: 10%;
    height: 106px;
    line-height: 106px;
    color: red;
  }

  .purchase-list-wrap .purchase-list .commodity-item .wares-del {
    float: right;
    height: 106px;
    line-height: 106px;
  }

  /*提交订单start*/

  .mycj-right-bar .block .block-title {
    background: #f0f4f6;
    height: 40px;
    line-height: 40px;
    color: #254754;
    padding-left: 25px;
    font-size: 18px
  }

  .mycj-right-bar .block .block-content {
    border: 1px solid #ececec;
    border-top: 0
  }

  .pay-wares-list {
    margin-top: 30px;
  }

  .pay-wares-list .commodity-item {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #efefef;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .pay-wares-list .commodity-item .commodity-item-5,
  .pay-wares-list .commodity-item .commodity-item-4,
  .pay-wares-list .commodity-item .commodity-item-3 {
    width: 8%;
  }

  .pay-box .subtotal-box {
    position: relative;
    height: 50px;
    border-bottom: 1px solid #efefef;
  }

  .pay-box .subtotal-box .subtotal-detail {
    position: absolute;
    top: 0;
    right: 16%;
    height: 50px;
    line-height: 50px;
  }

  .pay-box .subtotal-box .subtotal-detail .subtotal-num {
    float: left;
    font-size: 14px;
    padding: 0 50px;
  }

  .pay-box .subtotal-box .subtotal-detail .subtotal-price {
    float: left;
    font-size: 16px;
  }

  .pay-box .subtotal-box .subtotal-detail .subtotal-price .xiaoji {
    font-size: 14px;
  }

  .pay-box .subtotal-box .subtotal-detail .subtotal-price .totalprice {
    /*display: inline-block;*/
    /*padding: 0 10px;*/
    font-size: 24px;
    color: #fc6d0e;
    /*vertical-align: bottom;*/
  }

  /* 地址列表 */
  .address-box {
    position: relative;
    border-bottom: 1px solid #efefef;
  }

  .address-box .receive-type {
    padding: 20px 30px;
    display: flex;
    /* align-items: center; */
  }

  .address-box .receive-type .direct-ship {
    padding: 0 10px;
    height: 30px;
    margin: 0 10px;
    background-image: linear-gradient(rgba(249, 146, 41, 1), rgba(249, 146, 41, 1)), linear-gradient(rgba(51, 51, 51, 1), rgba(51, 51, 51, 1));
    background-blend-mode: normal, normal;
    border-radius: 4px;
    color: #fff;
  }

  .address-box .receive-type .stock {
    padding: 0 10px;
    height: 30px;
    background-image: linear-gradient(rgba(126, 126, 126, 1), rgba(126, 126, 126, 1)), linear-gradient(rgba(51, 51, 51, 1), rgba(51, 51, 51, 1));
    background-blend-mode: normal, normal;
    border-radius: 4px;
    color: #fff;
  }

  .address-box .ship-address {
    padding: 10px 50px;
  }

  .address-box .ship-address .select-ship {
    padding: 10px 0;
  }

  .address-box .ship-address .select-ship-tit {
    float: left;
    width: 110px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    text-align: left;
  }

  .address-box .ship-address .select-ship-cont {
    width: 100%;
    padding-left: 110px;
    font-size: 12px;
    text-align: left;
  }

  .address-box .ship-address .select-ship-cont select {
    position: relative;
    width: 255px;
    height: 28px;
    background-color: rgba(255, 255, 255, 1);
    border: solid 1px rgba(150, 150, 150, 1);
  }

  .old-address li {
    width: 450px;
    min-height: 95px;
    margin-bottom: 6px;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)), linear-gradient(rgba(51, 51, 51, 1), rgba(51, 51, 51, 1));
    background-blend-mode: normal, normal;
    border-radius: 2px 2px 2px 2px;
    border: solid 1px rgba(239, 239, 239, 1);
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .select-ship-cont li .address-left {
    /*float: left;*/
    /*padding: 30px 13px;*/
    margin-right: 20px;
  }

  .select-ship-cont li .address-left span {
    display: block;
    width: 20px;
    height: 20px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 1);
    border: solid 1px rgba(157, 157, 157, 1);
    border-radius: 50%;
  }

  .select-ship-cont li .address-left span.checked {
    background-color: rgba(255, 171, 73, 1);
    background-clip: content-box;
  }

  .select-ship-cont li .address-right {
    /*float: left;*/
    font-size: 14px;
  }

  .select-ship-cont li .address-right p {
    font-size: 12px;
    line-height: 18px;
  }

  .new-address li {
    /*height: 46px;*/
    line-height: 46px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .new-address li input,
  .new-address li select {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px 2px 2px 2px;
    border: solid 1px rgba(150, 150, 150, 1);
    color: #333;
    width: 190px;
    margin-right: 10px;
  }

  .new-address li .w328 {
    width: 385px;
  }

  input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #989898;
  }

  input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #989898;
  }

  input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #989898;
  }

  input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #989898;
  }

  .w164 {
    width: 164px;
  }

  .w148 {
    width: 148px;
  }

  .w328 {
    width: 328px;
  }

  .total-box {
    position: relative;
    border-bottom: 1px solid #efefef;
    padding-right: 16%;
    font-size: 16px;
    text-align: right;
  }

  .total-box b {
    font-weight: normal;
  }

  .total-box .left {
    margin-right: 20px;
  }

  .total-box .big-size {
    font-size: 25px;
  }

  .total-box .red-size {
    color: #fc6d0e;
  }

  .submit-btn {
    position: relative;
    padding: 18px 16%;
    font-size: 16px;
    text-align: right;
  }

  .submit-btn button {
    width: 133px;
    height: 58px;
    background-color: #f88f29;
    background-blend-mode: normal,
      normal;
    border-radius: 4px 4px 4px 4px;
    color: #fff;
    font-size: 28px;
  }

  .buylist-nodata .go-wishlist {
    color: #333;
    text-decoration: underline;
  }

  .buylist-nodata .go-wishlist:hover {
    color: #f99429;
  }

  /*提交订单end*/

  /*采购列表start*/
  .mycj-home-box .page-box {
    width: 220px;
    margin: 20px auto;
  }

  .asj-history-top .search-bar {
    float: left;
  }

  .asj-history-top .right-btn {
    float: right;
  }

  .asj-history-top .purchase-btn {
    margin-top: 15px;
    display: block;
    width: 150px;
    background-color: #0b4e67;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    padding: 0 10px;
    color: #fff;
    border-radius: 4px;
  }

  .asj-history-order {
    margin-top: 14px;
    margin-bottom: 15px;
  }

  .asj-history-order .asj-top-head {
    height: 48px;
    line-height: 48px;
    background: #5e5f64;
  }

  .asj-history-order .asj-top-head li {
    float: left;
    color: #fff;
    font-size: 12px;
    text-align: center;
  }

  .asj-history-order .asj-order-body li {
    float: left;
    color: #2b2b2b;
    font-size: 14px;
    text-align: center;
  }

  .asj-history-order .asj-order-body .li-pro-info {
    width: 54%;
  }

  .asj-history-order .asj-order-body .li-img {
    width: 18.5%;
  }

  .asj-history-order .asj-order-body .li-pro-name {
    width: 44%;
    text-align: left;
    word-wrap: break-word;
  }

  .asj-history-order .asj-order-body .li-pro-name .merch-name {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  .asj-history-order .asj-order-body .li-pro-price {
    width: 10%;
  }

  .asj-history-order .asj-order-body .li-linkx {
    width: 4%;
  }

  .asj-history-order .asj-order-body .li-pro-quan {
    width: 5%;
  }

  .asj-history-order .asj-order-title {
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    background: #f3f3f3;
  }

  .asj-history-order .asj-order-title li {
    font-size: 12px;
    color: #333333;
  }

  .asj-history-order .asj-order-title .li-date {
    margin-right: 20px;
    padding-left: 10px;
  }

  .asj-history-order .asj-order-title .li-num {
    margin-right: 20px;
  }

  .asj-history-order .asj-order-title .li-detail a {
    display: block;
    height: 30px;
    line-height: 28px;
    color: #5e5e5e;
    border: 1px solid #d0d0d0;
    padding: 0 10px;
    border-radius: 4px;
    margin-top: 5px;
  }

  .asj-history-order .asj-order-title .li-detail a:hover {
    background-color: #ececec;
    border: 1px solid #ececec;
    color: #f99429;
  }

  .asj-history-order .asj-order-con {
    width: 100%;
  }

  .asj-history-order .asj-order-con .pro-info {
    border-left: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }

  .asj-history-order .asj-order-con .pro-info:last-of-type {
    border-bottom: 0;
  }

  .asj-history-order .asj-order-con td {
    white-space: normal;
    border: none;
    font-size: 14px;
    text-align: center;
    overflow: visible;
  }

  .asj-history-order .asj-order-con .li-pro-info {
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }

  .asj-history-order .asj-order-con .li-status {
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }

  .asj-history-order .asj-order-con .li-type {
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }

  .asj-history-order .asj-order-con .li-opera {
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }

  .asj-history-order .asj-order-con .li-pro-name .merch-size {
    color: #7b7b7b;
    font-size: 12px;
    line-height: 18px;
    margin-top: 3px;
  }

  .asj-history-order .asj-order-total {
    height: 44px;
    line-height: 44px;
    border: 1px solid #f3f3f3;
    border-top: 0;
    font-size: 14px;
    color: #333333;
    text-align: right;
    padding-right: 10px;
  }

  .asj-history-order .asj-order-total .bigSize {
    font-size: 16px;
  }

  .asj-history-order .li-merch {
    width: 40%;
  }

  .asj-history-order .li-price {
    width: 10%;
  }

  .asj-history-order .li-linkx {
    width: 4%;
  }

  .asj-history-order .li-quan {
    width: 5%;
  }

  .asj-history-order .li-status {
    width: 11%;
    height: 100%;
  }

  .asj-history-order .li-status li {
    clear: both;
    width: 100%;
    line-height: 24px;
    text-align: center;
  }

  .asj-history-order .li-status li a {
    color: #f89129;
  }

  .asj-history-order .li-status li a:hover {
    color: #f9aa57;
  }

  .asj-history-order .li-type {
    width: 10%;
  }

  .asj-history-order .li-opera {
    width: 15%;
  }

  .asj-history-order .li-opera .btn {
    margin-top: 5px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    background: #f89129;
    border: none;
  }

  .asj-history-order .li-opera .view-invoice {
    margin-top: 5px;
  }

  .asj-history-order .li-opera .view-invoice a {
    color: #666;
  }

  .asj-history-order .li-opera .view-invoice a:hover {
    color: #f9aa57;
  }

  .asj-history-order .li-opera .btn:hover {
    background: #f9aa57;
  }

  .asj-history-order .li-opera .btn-cancel {
    background: #fff;
    border: 1px solid #f89129;
    color: #f89129;
  }

  .asj-history-order .li-opera .btn-cancel:hover {
    background: #eee;
  }

  .mycj-purchase-list .asj-page-box {
    margin-bottom: 20px;
  }

  /*采购列表end*/
  .mycj-add-purchase .pd-related-con .row {
    display: block;
  }

  .mycj-add-purchase .pd-related-con .row .col-xs-3 .product-detail .listing a {
    width: 90px;
  }

  .mycj-add-purchase .pd-related-con .row .col-xs-3 {
    margin: 5px;
  }

  .mycj-add-purchase .pd-related-con .row .col-xs-3 .product-detail .product-price {
    font-size: 14px;
  }

  .mycj-add-purchase .mycj-btn-default {
    float: right;
  }

  .purchase-list .videodel {
    height: 150px;
    line-height: 150px;
    width: calc(100% - 280px);
  }

  .purchase-list .videodel span {
    display: inline-block;
  }

  .purchase-list .videodel div:nth-child(1) {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: initial;
    display: inline-block;
    margin-right: 30px;
  }

  .purchase-list .videodel div:nth-child(1) p:nth-child(2) {
    color: #7b7b7b;
    font-size: 14px;
    line-height: 18px;
    margin-top: 3px;
  }

  .purchase-list .videodel span:nth-child(1) {
    width: 18%;
    text-align: center;
  }

  .purchase-list .videodel span:last-child {
    width: 20%;
    font-size: 24px;
    color: #fc6d0e;
    text-align: center;
  }

  /*purchase-Taobao*/

  .Nologistic {
    background-color: #CCCCCC !important;
    cursor: no-drop !important;
  }

  #purchase-Taobao .asj-history-order .asj-order-body .li-pro-info {
    width: 49%;
  }

  #purchase-Taobao .asj-history-order .asj-order-body .li-pro-name {
    width: 12%;
  }

  #purchase-Taobao .asj-history-order .li-merch {
    width: 20%;
  }

  #purchase-Taobao .asj-history-order .li-opera {
    width: 15%;
  }

  #purchase-Taobao .asj-history-order .url {
    width: 15%;
    padding: 0 10px;
  }

  #purchase-Taobao .asj-history-order .url a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    text-decoration: underline;
  }

  #purchase-Taobao .asj-history-order .asj-order-body .li-img {
    width: 5%;
  }

  .selectWare {
    display: inline-block;
  }

  .wareCon {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 5px 15px 5px 8px;
    display: inline-block;
    width: 200px;
    position: relative;
    cursor: pointer;
    height: 34px;
  }

  .wareCon b {
    display: inline-block;
    border: 5px solid transparent;
    border-top-color: #333;
    position: absolute;
    right: 10px;
    top: 15px;
  }

  .wareDrop {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 4px 2px rgba(227, 226, 226, 0.5);
    width: 200px;
    position: absolute;
    top: 60px;
    z-index: 999999;
    display: none;
  }

  .wareDrop.active {
    display: block;
  }

  .wareDrop li>span {
    display: block;
    padding: 5px;
    cursor: pointer;
  }

  .wareDrop li>span:hover {
    background: #f0f0f0;
  }

  .wareDrop li.gray {
    color: #CFCFCF;
  }

  .ware-tip-con {
    display: inline-block;
    position: relative;
    margin-left: 30px;
  }

  .ware-tip-img {
    width: 18px;
    cursor: pointer;
    margin: 10px 10px 10px 30px;
  }

  .ware-tip-text {
    width: 128px;
    background: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    color: #fff;
    position: absolute;
    top: 28px;
    border-radius: 3px;
    padding: 7px;
    text-align: center;
    z-index: 1;
    right: -50px;
  }

  @font-face {
    font-family: 'icomoon';
    src: url('/static/fonts/Vipfonts/icomoon.eot?o9uaki');
    src: url('/static/fonts/Vipfonts/icomoon.eot?o9uaki#iefix') format('embedded-opentype'),
      url('/static/fonts/Vipfonts/icomoon.ttf?o9uaki') format('truetype'),
      url('/static/fonts/Vipfonts/icomoon.woff?o9uaki') format('woff'),
      url('/static/fonts/Vipfonts/icomoon.svg?o9uaki#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-USAvip:before {
    content: "\e900";
    color: #f6c357;
  }
}