<div class="safe-manage">
  <div class="safe-head">
    <div class="safe-head-item curr">
      <span class="safe-head-item-cirle">1</span>
      <p class="safe-head-item-txt">Verify Email</p>
    </div>
    <div class="safe-head-item" ng-class="{curr:step==3 || step==4}">
      <span class="safe-head-item-cirle">2</span>
      <p class="safe-head-item-txt">Reset Password</p>
    </div>
    <div class="safe-head-item" ng-class="{curr:step==4}">
      <span class="safe-head-item-cirle">3</span>
      <p class="safe-head-item-txt">Reset Success</p>
    </div>
  </div>
  <div class="safe-cont" ng-if="step==1">
    <p class="verify-email-tip">If you want to reset your password for <span class="f-org">{{email}}</span>, please click "Verify Now" below.</p>
    <div class="verify-email">
      <span class="verify-email-title">Verify by Email</span>
      <span class="verify-email-btn" ng-click="sendEmail()">Verify Now</span>
    </div>
  </div>
  <div class="safe-cont" ng-show="step==2">
    <ul class="verify-list">
      <li class="verify-item">
        <span class="verify-item-title">Email address:</span>
        <span class="verify-item-cont">{{email}}</span>
      </li>
      <li class="verify-item">
        <span class="verify-item-title">Verification code:</span>
        <div class="verify-item-cont">
          <input type="text" class="verify-item-input" autocomplete="off" ng-model="verifyCode">
          <span class="verify-email-send" ng-class="{wait:verifySend}" ng-click="getCode()">
            <span ng-show="verifySend"><span ng-bind="waitNum"></span>s</span>
            <span ng-show="!verifySend">Send</span>
          </span>
          <p class="verify-email-fill-tip true" ng-show="verifyStatus==1"><i class="iconfont icondui"></i> The verification code has been sent to your email. It will expire in 10 minutes, please verify within 10 minutes.</p>

          <p class="verify-email-fill-tip err" ng-show="verifyStatus==3"><i class="iconfont iconicon2"></i>Incorrect verification code, please enter it again.</p>
        </div>
      </li>
    </ul>
    <div class="verify-item-btn" ng-click="submitCode()">Submit</div>
    <div class="verify-list-tip">  
      <p class="verify-list-tip-title">Don’t receive a code?</p>
      <p class="verify-list-tip-cont">1. There is a delay in receiving the code, please be patient and don’t click.</p>
      <p class="verify-list-tip-cont">2. Please check if your email is working properly. It may be in the spam or the email storage is full.</p>
      <p class="verify-list-tip-cont">3. Unable to receive the code for a long time due to network error. Please resubmit the request or change the browser.</p>
      <p class="verify-list-tip-cont">4. Please check if the email was blocked.</p>
    </div>
  </div>
  <div class="safe-cont" ng-show="step==3">
    <ul class="verify-list verify-list-pass">
      <li class="verify-item">
        <span class="verify-item-title">New Password:</span>
        <div class="verify-item-cont">
          <input ng-attr-type="{{passwordType}}" placeholder="Enter new password" autocomplete="new-password" ng-change="passwordInput()" ng-model="password" class="verify-item-input">
          <span class="iconfont" ng-class="{'iconyanjing_xianshi_o':passwordShow,'iconyanjing_yincang_o':!passwordShow}" ng-click="passwordShowFun()"></span>
          <p class="verify-email-fill-tip err" ng-show="passErrMsg"><i class="iconfont iconicon2"></i>{{passErrMsg}}</p>
        </div>
      </li>
      <li class="verify-item">
        <span class="verify-item-title">Confirm New Password:</span>
        <div class="verify-item-cont">
          <input ng-attr-type="{{newPasswordType}}" placeholder="Enter password" autocomplete="new-password" ng-change="newPasswordInput()" ng-model="newPassword" class="verify-item-input">
          <span class="iconfont" ng-class="{'iconyanjing_xianshi_o':newPasswordShow,'iconyanjing_yincang_o':!newPasswordShow}" ng-click="newPasswordShowFun()"></span>
          <p class="verify-email-fill-tip err" ng-show="newPassErrMsg"><i class="iconfont iconicon2"></i>{{newPassErrMsg}}</p>
        </div>
      </li>
    </ul>
    <div class="verify-item-btn" ng-click="setPassword()">Confirm</div>
  </div>
  <div class="safe-cont" ng-if="step==4">
    <div class="verify-email">
      <span class="verify-email-title">Reset Success!</span>
      <span class="iconfont iconzhengque"></span>
    </div>
    <p class="verify-email-wait">It will back to the first step after {{succSecond}} seconds.</p>
  </div>
</div>
