@import '../../colors.less';
.container {
  :global(.ant-tabs-nav-list) {
    padding-left: 30px;
  }
}
.expanded-item {
  margin-left: 30px;
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid @borderColor;
  position: relative;
  > div {
    width: 100%;
    display: flex;
    padding: 2px 0;
    span {
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  > span {
    padding-top: 10px;
    height: 34px;
    display: block;

    button {
      float: right;
    }
  }
}
