.header_wrap {
  height: 44px;
  .headerBox {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;

    .header_content {
      flex: 1;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
    }

    .title {
      display: block;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
