.bundleProducts {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
  :global{
    .bundle-modal{
      height:500px;
      width: 700px;
      background:#FFFFFF;
      position: absolute;
      left: 50%;
      margin-left: -350px;
      top: 50%;
      margin-top: -250px;
      border-radius: 4px;
      .bundle-header{
        height: 62px;
        padding: 0 20px;
        .bundle-title{
          font-size: 16px;
          line-height: 62px;
          font-weight: bold;
        }
        .bundle-close{
          top: 15px;
        }
      }
      .bundle-content{
        height: 368px;
        padding: 0 20px;
        overflow: auto;
        margin-bottom: 3px;
        .bundle-tbody{
          overflow-y: auto;
          overflow-x: hidden;
          height: 321px;
          box-shadow: 0px 0px 0px 0px #e8e8e8, 1px 0px 0px 0px #e8e8e8, -1px 0px 0px 0px #e8e8e8, 0px 0px 0px 0px #e8e8e8;
        }
        .table-header{
          background: #F0EDE7;
          box-shadow: 0px 0px 0px 0px #e8e8e8, 1px 0px 0px 0px #e8e8e8, -1px 0px 0px 0px #e8e8e8, 0px 0px 0px 0px #e8e8e8;
        }
        table{
          width: 100%;
          .table-cell-scrollbar{
            padding: 0;
            box-shadow: 0 1px 0 1px #F0EDE7;
          }
          .bundle-table-header{
            background: #F0EDE7;
            border-radius: 4px 4px 0px 0px;
            td,th{
              height: 40px;
              color: #000000!important;
            }
            th{
              border: none;
            }
          }
        }
        .bundle-list-item{
          font-size: 12px;
          box-shadow: 0px 0px 0px 0px #e8e8e8, 1px 0px 0px 0px #e8e8e8, -1px 1px 0px 0px #e8e8e8, 0px 0px 1px 0px #e8e8e8;
          .productImg{
            width: 40px;
            height: 40px;
          }
          .item-right{
            vertical-align: top;
            font-size: 12px;
            line-height: 17px;
            padding-left: 12px;
            display: inline-block;
          }
          .name-block{
            width: 295px;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
        }
      }
      .leftAlign{
        text-align: left;
        padding: 15px 0;
        padding-left: 30px;
      }
      .rightAlign{
        text-align: right;
        padding-right: 30px;
      }
      .bundle-bottom{
        box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.05);
        border-radius: 0px 0px 4px 4px;
        padding: 0 20px;
        height: 70px;
        line-height: 70px;
        .product-total{
          float: left;
          font-size: 14px;
        }
        .product-btn{
          margin-top: 20px;
          float: right;
        }
      }
    }
  }
}