
@shadowColor: rgba(0, 0, 0, 0.15);
.new-wallet-box {
  @themeColor: var(--color-theme-1);
  @themeHoverColor: #f90;
  @cjColor: var(--color-theme-1);
  @borderD9: #d9d9d9;
  min-width: 1200px;

  .new-wallet-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 40px 0;
    .wallet-top-wrap {
      width: 1200px;
      height: 296px;
      background: url('/static/image/wallet/new_wallet_bg.png') no-repeat center center;
      background-size: 100% 100%;
      .wallet-top-content {
        padding: 63px 0 0 90px;
        font-weight: 400;
        color: #FFFFFF;
        .wallet-top-balance {
          padding-bottom: 30px;
          .wallet-balance-title {
            position: relative;
            font-size: 20px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.6);
            &:before {
              font-family: 'iconfont';
              position: absolute;
              content: '\e793';
              left: -50px;
              display: block;
              font-size: 30px;
              color: #fff;
            }
          }
          .wallet-balance-text {
            font-size: 48px;
            font-weight: 600;
            line-height: 67px;
          }
        }
        .wallet-top-info {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .wallet-info-content {
            padding-right: 60px;
            .wallet-info-frozen {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              position: relative;
              .frozen-icon-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                .icon-frozen-lock {
                  font-size: 16px;
                  color: #f4ea2a;
                }
                .icon-frozen-ques {
                  font-size: 16px;
                  color: #fff;
                  &:hover {
                    color: #FFE65E;
                  }
                }
                .ques-active {
                  color: #FFE65E;
                }
                .frozen-tip-wrap {
                  position: absolute;
                  min-width: 730px;
                  padding: 16px;
                  background: rgba(0, 0, 0, 0.75);
                  top: calc(100% + 10px);
                  left: -120px;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  border-radius: 2px;
                  z-index: 10000;
                  .frozen-tip-text {
                    font-size: 14px;
                    font-weight: 400;
                    color: #FFFFFF;
                    line-height: 20px;
                  }
                  &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    font-size: 14px;
                    color: #FFFFFF;
                    border: 10px;
                    border-style: solid;
                    border-color: transparent transparent rgba(0, 0, 0, 0.75) transparent;
                    bottom: calc(100%);
                    z-index: 20;
                    left: 17.8%;
                    transform: translateX(-50%);
                  }
                }
              }
            }
            .wallet-info-title {
              color: rgba(255, 255, 255, 0.6);
              font-size: 16px;
              line-height: 25px;
            }
            .wallet-info-text {
              font-size: 24px;
              line-height: 33px;
            }
          }
        }
      }
    }
  }

  .new-wallet-top-wrap {
    top: 0;
    left: 0;

    .wallet-box {
      width: 40%;
      height: 60%;
    }

    .wallet-top-text {
      color: #fff;
      font-size: 22px;
    }

    .wallet-top-h3 {
      color: #fff;
      font-size: 50px;
      font-weight: 500;
    }

    @media only screen and (max-width: 1500px) {
      .wallet-top-text {
        font-size: 16px;
      }

      .wallet-top-h3 {
        font-size: 40px;
      }
    }
  }

  .wallet-tab {
    border-bottom: 1px solid #eee;

    span {
      display: inline-block;
      padding: 30px 0;
      border-bottom: 1px solid transparent;
      margin-right: 80px;
      position: relative;
      top: 1px;
      font-size: 16px;
      font-weight: 400;
      color: #999;

      &:hover {
        color: @cjColor;
      }

      &.tab-active {
        color: @cjColor;
        border-bottom: 2px solid @cjColor;
        font-weight: 500;
      }
    }

    .currencies-box {
      font-size: 14px;
      font-weight: normal;
    }

    .currencies-change {
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      width: 140px;
      height: 32px;
    }
  }

  .gray-color {
    color: #999999;
  }

  .currency-top {
    margin: 30px 0;
    font-size: 14px;
    font-weight: 400;
  }

  .tag-content {

    .tag-item {
      height: 90px;
      width: 225px;
      background: rgba(228, 228, 228, 0.22);
      border-radius: 15px;
      border: 2px solid rgba(228, 228, 228, 1);
      color: #666;
      margin-bottom: 40px;

      &.isMr {
        margin-right: 100px;
      }

      &:hover {
        border-color: @cjColor;
        background: rgba(255, 119, 0, 0.1);
        color: @cjColor;
      }
      &.tag-active {
        border-color: @cjColor;
        background: rgba(255, 119, 0, 0.1);
        color: @cjColor;
      }

      span {
        font-size: 26px;

        &:first-child {
          font-size: 16px;
          position: relative;
          top: 2px;
          left: -2px;
        }
      }
    }
  }

  .ay-activity-box {
    height: 80px;
    background: url('/static/image/wallet/anyin-activity.png') no-repeat;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 80px;
  }

  .charge-grads-wrap {
    background: rgba(136, 64, 0, 0.04);
  }

  .charge-grads-box {
    margin: 20px 0 50px 0;
    padding: 0 30px;
    background: url('/static/image/wallet/charge-bg.svg') no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 30px 0px rgba(136, 64, 0, 0.04);
    border-radius: 10px;

    .charge-grads {
      width: 460px;
    }

    .charge-payment {
      width: 618px;
      color: #666;
      font-size: 14px;
    }

    .charge-grads-item {
      padding: 25px 60px;
      font-size: 14px;
      color: #333;

      .charge-benefits {
        color: @cjColor;
      }

      &.charge-grads-title {
        font-size: 16px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 119, 0, 0.15);
      }
    }

    .payment-input {
      margin-top: 24px;
      font-size: 14px;
      color: #666;

      input {
        width: 350px;
        height: 38px;
      }
    }

    .payment-mathed {
      margin-top: 40px;

      .payment-card-box {
        margin-top: 16px;
      }
    }

    .xuxian {
      width: 1px;
      height: calc(100% - 17px);
      border: 1px dashed rgba(255, 119, 0, 0.15);
      left: 522px;
      top: 8px;
    }

    .payment-amount {
      border-top: 1px solid rgba(255, 119, 0, 0.3);
      margin-top: 30px;
      padding: 18px 0;
      font-size: 14px;
      color: #666;

      .amount-color {
        font-size: 24px;
        color: @cjColor;
      }

      .payment-amount-btn {
        padding: 10px 45px;
        font-size: 14px;
        border-radius: 4px;
      }
    }
  }

  .date-long {
    display: inline-block;
    width: 5px;
    border: 1px solid @borderD9;
  }

  .billing-bottom {
    .billing-button {
      width: 150px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      border-radius: 4px;
    }
  }

  .wallet-select {
    width: 175px;
    height: 38px;
    border: 1px solid @borderD9;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 14px;
    color: #333;
    &:after {
      position: absolute;
      display: block;
      content: '';
      top: 38px;
      left: 0;
      height: 4px;
      width: 100%;
    }

    .wallet-drop-box {
      background: #fff;
      border-radius: 4px;
      overflow: hidden;
      left: 0;
      top: 38px;
      border: 1px solid @borderD9;
      color: #666;
      display: none;

      li {
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        padding: 8px 16px;

        &:hover {
          color: #FF7700;
          background: rgba(255, 119, 0, 0.2);
        }
      }
    }

    b {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: url('/static/image/list-detail/selectDown.svg') no-repeat 0 4px;
      background-size: 12px;
    }
  }

  .wawllet-select-box {
    &:hover {
      .wallet-drop-box {
        display: block;
      }

      b {
        background: url('/static/image/list-detail/selectUp.svg') no-repeat 0 4px;
        background-size: 12px;
      }
    }

  }

  .cash-box {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 50px 170px 40px 170px
  }

  .cash-item {
    margin-top: 38px;

    .cash-item-label {
      width: 160px;
      padding-right: 14px;
      font-size: 14px;
      color: #666;
    }

    input,
    select {
      width: 350px;
      height: 38px;
      border-radius: 4px;
      border: 1px solid #d9d9d9;
      padding: 0 16px;
      font-size: 14px;
    }

    .cash-describe {
      font-size: 12px;
      color: #999;
      padding-left: 16px;

      &.red {
        color: #f00;
      }
    }

    .send-ver-code {
      color: @cjColor;
      font-size: 14px;
      margin-left: 30px;
      &:hover{
      color: var(--color-theme-1-1);
      }
    }

    .cash-btn {
      width: 170px;
      height: 38px;
      line-height: 38px;
    }
  }

  .wallet-confrim-title {
    padding: 0 40px;
    height: 72px;
    border-bottom: 1px solid #cdcdcd;

    select {
      height: 32px;
    }
  }

  .wallet-confrim-content {
    padding: 0 0 80px 0 !important;
  }

  .account-info-box {
    border-bottom: 1px solid #cdcdcd;
  }

  .account-item {
    font-size: 12px;
    color: #666;
    padding: 12px 40px;

    .account-label {
      color: #999;
    }
  }

  .confirm-item {
    font-size: 14px;
    color: #666;
    padding: 0 40px;
    margin-bottom: 20px;

    .cjColor {
      color: @cjColor;
    }
  }

  .img-item {
    width: 104px;
    height: 104px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-right: 25px;
    margin-bottom: 10px;

    &.uplode-btn {
      border: 1px dashed rgba(0, 0, 0, 0.15);
      background: rgba(0, 0, 0, 0.02);

      img {
        width: 26px;
      }
    }

    img {
      max-width: 90px;
      max-height: 90px;
    }

    .confirm-img-close {
      display: inline-block;
      width: 22px;
      height: 22px;
      background: url('/static/image/wallet/close.png');
      top: -12px;
      right: -12px;
    }
  }

  #document2 {
    width: 104px;
    height: 104px;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .upload-text {
    color: rgba(0, 0, 0, 0.45);
    text-align: left;
    font-size: 14px;
  }

  .wallet-input {
    border-radius: 4px;
    border: 1px solid @borderD9;
    padding: 0 16px;
    font-size: 14px;

    &:hover,
    &:focus {
      box-shadow: none;
      border-color: @cjColor;
    }
  }

  .wallet-textArea {
    border: 1px solid @borderD9;
    border-radius: 4px;
    resize: none;
    height: 100px;
    padding: 13px 15px
  }

  .payment-card {
    width: 266px;
    height: 120px;
    cursor: pointer;

    b {
      display: inline-block;
      position: absolute;
      width: 22px;
      height: 22px;
      background: url('/static/image/wallet/check.svg');
      bottom: 12px;
      right: 12px;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    &.payoneer {
      background: url('/static/image/wallet/payoneer.svg');
    }

    &.transfer {
      background: url('/static/image/wallet/transfer.svg');

      &.card-disabled {
        background: url('/static/image/wallet/transfer-disabled.svg');
      }
    }

    &.paypal {
      background: url('/static/image/wallet/paypal.svg');
    }

    &.stripe {
      background: url('/static/image/wallet/create-card.svg');
    }
    &:hover{
      opacity: 0.85;
    }
  }

  .wui-date-editor .icon1 {
    left: initial;
    right: 10px;
    margin-top: -10px;
  }

  .wui-date-editor .wui-date-input {
    padding-left: 10px;
    padding-right: 28px;
    font-size: 14px;
    height: 38px;
    border-color: @borderD9;

    &:hover,
    &:focus {
      box-shadow: none;
      border-color: @cjColor;
    }
  }

  .wallet-table {
    border: 1px solid #eee;
    th {
      background: #FBFBFB;
      font-size: 14px;
      color: #999;
      padding: 10px;
      border-right: none;
      font-weight: 500;
      border-bottom: 1px solid #eee;
      text-align: left;

      &.amount {
        text-align: center;
      }
    }

    td {
      border-bottom: 1px solid #eee;
      padding: 25px 10px;
      text-align: left;
      font-size: 14px;
      color: #666;

      img {
        max-width: 40px;
        max-height: 40px;
      }
      .pdfImg {
        display: inline-block;
        height: 24px;
        width: 24px;
        cursor: pointer;
        background: url('/static/image/wallet/pdfPreview.svg') center center / cover;
        &:hover{
          height: 24px;
          width: 24px;
          background: url('/static/image/wallet/pdfPreview-hover.svg')center center / cover;
        }
      }
      .tips-warp {
        display: inline-block;
        position: relative;
        line-height: 18px;
        text-align: left;
        &:hover .tips-info {
        opacity: 1;
        visibility: visible;
        z-index: 1;
        transition: all .3s;
        }
        .tips-info {
        position: absolute;
        font-size: 12px;
        color: #fff;
        width: 180px;
        top: -36px;
        left: -4px;
        background: rgba(0, 0, 0, 0.75);
        box-shadow: 0 2px 8px 0 @shadowColor;
        padding: 5px 10px;
        border-radius: 2px;
        word-break: break-all;
        opacity: 0;
        visibility: hidden;
        z-index: 0;
        transition: all .3s;
        text-align: left !important;
          &::before {
            content: '';
            display: block;
            border-width: 5px;
            border-style: solid;
            position: absolute;
            border-top-color: rgba(0, 0, 0, 0.75);
            border-bottom-width: 0;
            left: 11px;
            bottom: -5px;
          }
        }
        .tips-info-top-left {
        left: -8px;
        bottom: 25px;
        &::before {
          border-top-color: rgba(0, 0, 0, 0.75);
          border-bottom-width: 0;
          left: 11px;
          bottom: -5px;
        }
        }
        .d-n {
        display: none;
        }
      }
      &.amount {
        text-align: center;
      }
      .BillingMessage{
        position: relative;
        // display: inline-block;
        .tooltiptext{
            background-color: rgba(0,0,0,.75);
            color: #fff;
            text-align: left;
            border-radius: 6px;
            padding: 10px;
            position: absolute;
            z-index: 2;
            bottom: calc(100% + 10px);
            left: 50%;
            transform:translate(-50%,0);
            word-break: break-word;
            line-height: 1.5;
            width: max-content;
            max-width: 200px;
            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: rgba(0,0,0,.75) transparent transparent transparent;
            }
        }
      }

      .bot-p {
        font-size: 14px;
      }
    }
  }

  .mt-30 {
    margin-top: 30px !important;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .wallet-content {
    width: 1200px;
  }

  .recharge-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    background: rgba(255, 119, 0, 0.1);
    border-radius: 4px;
    padding: 0 12px 0 44px;
    cursor: pointer;
    &:hover {
      background: rgba(255, 119, 0, 0.2);
    }
    .recharge-text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      color: var(--color-theme-1);
      position: relative;
      &:before {
        font-family: 'iconfont';
        position: absolute;
        content: '\e792';
        left: -30px;
        display: block;
        font-size: 22px;
      }
    }
  }

  .cj-wallet-btn {
    border-radius: 4px;
    text-align: center;
    background: @themeColor;
    color: #fff;

    &:hover {
      background: var(--color-theme-1-1);
    }
  }

  .boder-b-0 {
    border-bottom: none !important;
  }

  .bill-list-noData {
    font-size: 14px;
    color: #999;
  }

  .to-go {
    display: none !important;
  }

  .btn-theme {
    &.disabled {
      background: #f5f5f5;
      color: #999;
      cursor: default;
      pointer-events: none;
    }
  }

  .paynner_dia {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .paynner_dia .isag-con {
    width: 302px;
    background: rgba(232, 233, 235, 1);
    border-radius: 6px;
    position: relative;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .paynner_dia .isag-con {
    width: 302px;
    background: rgba(232, 233, 235, 1);
    border-radius: 6px;
    position: relative;
    padding: 0;
  }

  .paynner_dia .isag-con .back {
    background: url('/static/image/CJ-home/payonner_back.png') no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
  }

  .paynner_dia .isag-con .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #C6C7C9;
    color: #fff;
    text-align: center;
    line-height: 19px;
    cursor: pointer;
  }

  .ispayby-yecon .iconicon2 {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 24px;
    line-height: 1;
    color: #C6C7C9;
    text-align: center;
    cursor: pointer;
  }

  .paynner_dia .isag-con .logo-box {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    padding: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .paynner_dia .isag-con .logo-box img {
    width: 100%;
  }

  .paynner_dia .isag-con .top {
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .paynner_dia .isag-con .email {
    display: block;
    font-size: 13px;
    color: #333;
    font-weight: 400;
    margin-top: 5px;
  }

  .paynner_dia .isag-con .top .tit {
    font-size: 17px;
    color: #000000;
    text-align: center;
    font-weight: 700;
  }

  .paynner_dia .isag-con .bot {
    background-color: #fff;
    padding: 0 37px;
    border-radius: 0 0 6px 6px;
  }

  .paynner_dia .isag-con .bot .select-account {
    height: 124px;
    padding-top: 36px;
  }

  .paynner_dia .isag-con .bot .select-account .item {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    color: rgba(91, 91, 101, 1);
    align-items: center;
    cursor: pointer;
    margin-bottom: 18px;
    line-height: 20px;
  }

  .paynner_dia .isag-con .bot .select-account .item i {
    background: url('/static/image/CJ-home/payonner_unchecked.png') no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .paynner_dia .isag-con .bot .select-account .item i.active {
    background: url('/static/image/CJ-home/payonner_checked.png') no-repeat;
    background-size: cover;
  }

  .paynner_dia .isag-con .authorize {
    height: 165px;
  }

  .paynner_dia .isag-con .authorize .sign-in {
    margin-top: 36px;
    width: 100%;
    height: 37px;
    background: linear-gradient(149deg, rgba(245, 11, 126, 1) 0%, rgba(255, 56, 29, 1) 51%, rgba(255, 45, 48, 1) 100%);
    border-radius: 4px;
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
  }

  .paynner_dia .isag-con .authorize .register {
    margin-top: 18px;
    width: 100%;
    height: 37px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid;
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 45, 48, 1)
  }

  .paynner_dia .un_authorize {
    height: 200px;
    text-align: center;
    padding-top: 37px;
  }

  .paynner_dia .un_authorize .v-code {
    display: flex;
    height: 37px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    position: relative;
  }

  .paynner_dia .un_authorize .v-code .icon {
    width: 16px;
    height: 16px;
    background: url('/static/image/CJ-home/code-icon.png') no-repeat;
    background-size: cover;
    position: absolute;
    left: 5px;
  }

  .paynner_dia .un_authorize .v-code input {
    border: 1px solid rgba(151, 151, 151, 0.25);
    padding: 0 8px 0 23px;
    width: calc(100% - 83px);
    font-size: 14px;
    height: 37px;
    border-radius: 4px 0 0 4px;
  }

  .paynner_dia .un_authorize .v-code span {
    font-size: 14px;
  }

  .paynner_dia .un_authorize .v-code button {
    height: 37px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid rgba(151, 151, 151, 0.25);
    font-size: 14px;
    color: #FF2D30;
    border-radius: 0 4px 4px 0;
    width: 83px;
    border-left: none;
  }

  .paynner_dia .un_authorize .paynnerPay-btn {
    width: 100%;
    background: linear-gradient(153deg, rgba(245, 11, 126, 1) 0%, rgba(255, 45, 48, 1) 100%);
    border-radius: 4px;
    height: 37px;
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 18px;
  }

  .paynner_dia .un_authorize .bot-btn {
    display: flex;
    justify-content: space-between;
  }

  .paynner_dia .un_authorize .bot-btn a {
    color: #FF2D30;
    font-size: 13px;
    font-weight: 500;
  }

  .paynner_dia .un_authorize .bot-btn a:hover {
    text-decoration: underline;
  }

  .billing-history-search {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ipt-item input {
      width: 350px;
      height: 38px;
      border-radius: 4px 0 0 4px;
      border: 1px solid #d9d9d9;
      border-right: none;
      padding: 0 16px;
      font-size: 14px;

      &:hover {
        box-shadow: none;
        border-color: #FF7700;
      }
    }
    button {
      font-size: 12px;
      height: 38px;
      padding: 0 6px;
      background: @themeColor;
      &:hover{
        background: var(--color-theme-1-1);
      }
    }
    .d-flex-center {
      font-size: 12px;
    }
  }

  .swiper-wrapper {
    transition-timing-function: ease;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: #000;
    opacity: 0;
    width: 30px;
    height: 50px;
    cursor: pointer;
  }

  .swiper-container:hover .swiper-button-prev,
  .swiper-container:hover .swiper-button-next {
    opacity: .4;
    transition: .3s;
    /*display: block;*/
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    opacity: 1 !important;
  }

  .swiper-button-prev {
    left: 0;
    border-radius: 0 2px 2px 0;
    background: url("/static/image/new-home/prev_icon.svg") center center / cover;
  }

  .swiper-button-next {
    right: 0;
    border-radius: 2px 0 0 2px;
    background: url("/static/image/new-home/next_icon.svg") center center / cover;
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px !important;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 2px solid #DEDEDE;
    margin: 0 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    background-color: transparent;
  }

  .swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 1);
    background-clip: content-box;
    border: none;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
  }

}


.paynner_dia_new.paynner_dia {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);

  .isag-con {
    background-color: #fff;
    width: 710px;
    height: auto;
  }

  .payoneerBtn {
    padding: 11px 164px;
    font-size: 14px;
    background-color: #FF7700;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    color: #fff;

    &:hover {
      background-color: #F78E29;
    }

    &.disabled {
      opacity: 0.8;
    }

    &.default {
      background-color: #fafafa;
      border: 1px solid rgba(225, 225, 225, 1);
      color: #666;

      &:hover {
        background-color: #fefaff;
      }
    }
  }
  .ashNext {
    color: #fff;
    height: 42px;
    background: rgba(255, 119, 0, 0.5);
    border-radius: 4px;
    cursor: not-allowed;
    &:hover {
      background-color: rgba(255, 119, 0, 0.5);
    }
  }
  .payoneerTitle {
    text-align: center;
    font-size: 40px;

    img {
      position: relative;
      top: -5px;
      width: 227px;
      margin-left: 30px;
    }
  }

  .close-btn {
    top: 30px !important;
    right: 40px !important;
  }

  .payoneerAuthWrap {
    text-align: center;

    .header {
      background-color: #e8e9eb;
      border-radius: 6px;
      padding: 56px 0 40px 0;
      font-weight: 400;
      font-size: 17px;
    }

    .content {
      padding-top: 40px;
      background-color: #fff;
      padding: 0 30px;

      .payoneerTitle {
        padding: 40px 0 16px 0;
      }

      .tip {
        color: #666;
        font-size: 20px;
        padding-bottom: 60px;
      }
    }

    .footer {
      padding: 0 30px;
      font-size: 17px;
      color: #999999;
      padding: 20px 0;
    }
  }

  .payoneerOrderWrap {
    .orderHeader {
      border-bottom: 1px solid #E8E8E8;
      padding: 46px 0 40px 0;
      margin: 0 40px;

      .account {
        padding-bottom: 16px;
        font-weight: 500;
        font-size: 24px;
      }

      .link {
        display: flex;
        align-items: center;

        .email {
          font-size: 32px;
          font-weight: 400;
        }

        .link {
          color: #FF7700;
          font-size: 16px;
          text-align: right;
        }

        p {
          flex: 1;
        }
      }
    }

    .orderContent {
      margin: 0 40px;

      .payoneerTitle {
        padding: 40px 0;
      }

      .amountItem {
        display: flex;
        font-size: 16px;
        align-items: center;
        padding: 15px;
        background-color: #FAFAFA;
        border-radius: 4px;
        border: 1px solid rgba(232, 232, 232, 1);
        margin-bottom: 20px;

        .label {
          flex: 1;
          color: #333;
        }

        .value {
          color: #333;
          font-size: 16px;

          span {
            color: #f70;
            font-size: 24px;
            margin-left: 5px;
          }
        }
      }

      .list {
        padding: 22px 15px;
        background-color: #FAFAFA;
        border-radius: 4px;
        border: 1px solid rgba(232, 232, 232, 1);

        >span {
          display: inline-block;
          padding-bottom: 10px;
          font-weight: 600;
          font-size: 16px;
        }

        .amountItem {
          border-radius: 4px;
          background-color: #fff;
          border: none;
          cursor: pointer;
          border: 1px solid transparent;

          &:hover {
            border: 1px solid rgba(255, 119, 0, 1);
          }

          &.selected {
            border: 1px solid rgba(255, 119, 0, 1);
            background: rgba(255, 247, 238, 1);
          }

          &.disableds {
            cursor: no-drop;
            border: 1px solid transparent;

            span {
              color: rgba(51, 51, 51, .4);
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
        .no-balance {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          padding-top: 8px;
          .no-balance-left {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            .no-balance-icon {
              font-size: 20px;
              color: #FF0000;
            }
          }
          .no-balance-right {
            padding-top: 4px;
            padding-left: 10px;
            .no-balance-tip {
              font-size: 16px;
              font-weight: 400;
              color: #FF0000;
              line-height: 22px;
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      padding: 20px 0;
      margin: 0 40px;

      >span {
        flex: 1;
        display: inline-block;
        padding: 11px 0;
        text-align: center;

        &:first-child {
          margin-right: 10px;
        }

        &:last-child {
          margin-left: 10px;
        }
      }
    }
  }

  .payoneerConfirmWrap {
    .header {
      margin: 0 40px;
      border-bottom: 1px solid #E8E8E8;

      .payoneerTitle {
        padding: 76px 0 24px 0;
      }
    }

    .content {
      margin: 0 40px;
      padding: 40px 0 100px 0;

      .title {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 20px;
      }

      .amountItem {
        display: flex;
        font-size: 16px;
        align-items: center;
        padding: 15px;
        background-color: #fcf8fc;
        border-radius: 4px;
        border: 1px solid rgba(232, 232, 232, 1);
        margin-bottom: 20px;

        .label {
          flex: 1;
          color: #333;
        }

        .value {
          color: #F9912A
        }
      }

      .eurAmount {
        background-color: #FAFAFA;
        padding: 20px 15px;
        border-radius: 4px;
        margin-bottom: 20px;

        p {
          display: flex;
          align-items: center;
          padding-bottom: 15px;

          &:last-child {
            padding-bottom: 0;

            >span:first-child {
              font-weight: 500;
            }

            >span:last-child {
              font-size: 16px;

              span {
                color: #FF7700;
              }
            }
          }

          >span:first-child {
            width: 200px;
            font-size: 14px;
            font-weight: 400;
          }

          >span:last-child {
            font-size: 14px;
            font-weight: 500;
            flex: 1;
            text-align: right;
          }
        }
      }

      .tip {
        color: #666666;
        font-size: 14px;

        p {
          font-size: 14px;
          color: #666;
        }

        p:first-child {
          padding-bottom: 15px;
        }
      }
    }

    .footer {
      display: flex;
      padding: 20px 0;
      margin: 0 40px;

      >span {
        flex: 1;
        display: inline-block;
        padding: 11px 0;
        text-align: center;

        &:first-child {
          margin-right: 10px;
        }

        &:last-child {
          margin-left: 10px;
        }
      }
    }
  }
}

.recharge-box-modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  .recharge-main {
    border-radius: 4px;
    background: #fff;
    position: relative;
    overflow: hidden;
    width: 600px;
    .recharge-header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 50px;
      background: #F9F8F8;
      .recharge-header-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: #333333;
      }
      .recharge-header-close {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 20px;
        cursor: pointer;
        color: #666;
        &:hover {
          color: #333;
        }
        .icon-recharge-close {
          font-size: 14px;
        }
      }
  

    }
    .recharge-content {
      padding-top: 32px;
      padding-bottom: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .recharge-content-title {
        min-width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 400;
        color: #666666;
        line-height: 28px;
      }
      .recharge-content-amount {
        font-size: 48px;
        font-weight: 600;
        color: #999999;
        line-height: 67px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-recharge-nomoney {
          font-size: 12px;
        }
      }
      .amount-active {
        color: #FF7700;
      }
      .recharge-input-wrap {
        width: 100%;
        padding: 22px 50px 0 0;
        .recharge-input-content {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .recharge-input-title {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            color: #333333;
            line-height: 20px;
            padding-right: 20px;
            text-align: right;
            .recharge-text-warn {
              color: #E02020;
            }
          }
          .recharge-commom-input {
            width: 360px;
            height: 32px;
            background: #FFFFFF;
            border-radius: 4px;
            border: 1px solid #E4E4E4;
            text-indent: 16px;
          }
          .error-input-show {
            border: 1px solid #FF4949;
          }
        }
        .recharge-error-info {
          width: 100%;
          padding-top: 20px;
          opacity: 0;
          transition: opacity 0.35s ease-in;
        }
        .error-info-show {
          transition: opacity 0.15s ease-in;
          opacity: 1;
          padding: 6px 0 15px 192px;
          .recharge-error-text {
            font-size: 12px;
            font-weight: 400;
            color: #FF4949;
            line-height: 22px;
          }
        }
      }
      .recharge-note-info {
        width: 100%;
        padding: 0 20px;
        .recharge-note-title {
          font-size: 14px;
          font-weight: 500;
          color: #666666;
          line-height: 20px;
        }
        .recharge-note-content {
          padding-top: 10px;
          .recharge-note-single {
            padding-bottom: 10px;
            line-height: 17px;
            .recharge-note-text {
              font-size: 13px;
              font-weight: 500;
              color: #999999;
            }
          }
        }
      }
    }
  }
}