@import '../../../colors.less';

.editPackage {
  :global {
    .ant-card-head-title {
      color: @theme;
      font-weight: bold;
    }
  }

  .saveButton {
    padding: 20px;
    overflow: auto;
    > button {
      float: right;
      margin-right: 20px;
    }
  }
}

.detailTitle {
  font-weight: bold;
  font-size: 20px;
}
