<style>
  .copyright { background-color: #40424C; line-height: 60px; color: white; }
  
  .contact-details-box {
    background-color: #40424C;
    /* border-bottom: 1px solid rgba(255, 255, 255, .05); */
  }
  
  .contact-details-box .content {
    /* height: 63px;
    display: flex;
    align-items: center;
    justify-content: center; */
    color: #fff;
    font-size: 14px;
    /* width:1200px;
    margin:0 auto; */
  }
  
  .contact-details-box .item {
    margin-right: 80px;
    display: flex;
    align-items: center;
  }
  
  .contact-details-box .iconfont {
    margin-right: 20px;
    color: #fff;
  }
  .contact-details-box .foot-link-hover:hover {
    color: #ff7700 !important;
  }
  .contact-details-box .foot-link-hover:hover .iconfont{
    color: #ff7700 !important;
  }
  .contact-details-box .foot-link-hover:hover a{
    color: #ff7700 !important;
  }
  </style>

<!-- 联系方式 -->


<div class="copyright text-center">
  <span class="copyright-logo">©</span>
  <span id="copyright-info"></span>
</div>
<script>
const _copyrightInfo = `2014 - ${(new Date).getFullYear()} ${ i18next.t('copyright-cjdropshipping.com-all-rights-reserved') }`;
document.getElementById('copyright-info').textContent = _copyrightInfo;
</script>
