body,
html {
  height: 100%;
  font-size: 12px;
  color: #333;
  font-family: Arial, Open Sans, Helvetica, sans-serif, SimSun, "宋体";
  line-height: 1.49;
}

/*
********************************************************************
******************* 郑重声明！郑重声明！郑重声明！*********************
*** 不要随便往这里写样式！不要随便往这里写样式！不要随便往这里写样式！****
* 每个模块都应该写在自己的样式文件中！每个模块都应该写在自己的样式文件中！*
********************************************************************
*/

.cj-content-wrp {
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    flex: 1;
    display: flex;
    overflow: auto;
  }

  .right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f0f4f6;
    overflow: hidden auto;
    height: 100%;

    .router-outlet {
      // padding: 10px;
      flex: 1;
    }
  }
}

.hnj-header-nav {
  position: absolute;
  right: 65px;
  // top: 34px;
  top: 22px;

  >div {
    margin-left: 10px;
    display: inline-block;
  }

  .hi-user {
    margin-top: 2px;
    position: relative;
  }
}

.hnj-xialamenu ol li .com-head-link {
  position: relative;
}

.hnj-xialamenu ol li .com-head-link i {
  position: absolute;
  left: 20px;
  top: 8px;
  font-size: 20px;
  line-height: 20px;
}


.hnj-xialamenu ol li .com-head-link {
  color: #333;
  .com-head-a {
    font-size: 14px;
    display: block;
    padding-left: 46px;
    line-height: 36px;
  }
  i {
    font-size: 18px;
  }
}

.header-tip ul li .com-tool-ul a {
  display: block;
}

.header-tip ul li .com-head-link {
  padding: 0 18px;
}

.header-tip ul li .com-head-link .user-icon-mycj {
  position: absolute;
  left: 20px;
  top: 0;
}

.header-tip ul li .com-head-link .card-icon-mycj {
  position: absolute;
  left: 20px;
  top: 0;
}

.header-tip ul li .com-head-link .tool-icon-mycj {
  position: absolute;
  left: 20px;
  top: 0;
}

.header-tip ul li .com-head-link .rating-icon {
  position: absolute;
  left: 20px;
  top: 0;
}

.header-tip ul li .com-head-link .logout-icon-mycj {
  position: absolute;
  left: 22px;
  top: 0px;
}

.header-tip ul li .com-head-link a {
  // display: block;
  padding-left: 8px;
  line-height: 36px;
}

.chat-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background: url(/static/image/home/chat.svg);
  background-size: cover;
  vertical-align: middle;
}

.ticket-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background: url(/static/image/home/Ticket.svg);
  background-size: cover;
  vertical-align: middle;
}

.tutorial-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background: url(/static/image/home/tutorial.svg);
  background-size: cover;
  vertical-align: middle;
}

.facebook-icon {
  display: inline-block;
  width: 19px;
  height: 20px;
  margin-right: 9px;
  background: url(/static/image/home/Facebook.svg);
  background-size: cover;
  vertical-align: middle;
}

.guide-icon {
  display: inline-block;
  width: 19px;
  height: 20px;
  margin-right: 9px;
  background: url(/static/image/home/guide.png);
  background-size: cover;
  vertical-align: middle;
}


.mycj-footer {
  height: 91px;
  width: 100%;
  background-color: #262626;
  display: table;
}

.mycj-footer .forfoo-con {
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.mycj-footer .forfoo-con span {
  padding: 0 16px;
  font-size: 14px;
  color: #c1c1c1;
}

.mycj-footer .forfoo-con span .copyright-logo {
  padding: 0 5px 0 0;
  font-size: 22px;
  vertical-align: middle;
}

.mycj-footer .forfoo-con a {
  padding: 0 16px;
  font-size: 14px;
  color: #c1c1c1;
  border-right: 1px solid #c1c1c1;
}

.mycj-home-box {
  width: 100%;
  position: relative;
  background: #f2f3f5;
  height: 100%; // 20-02-05 撑开
  // min-height: 100%; // 20-02-04 foter 会浮上来的BUG
}

.mycj-right-bar {
  padding: 12px;
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
}

.mycj-footer {
  position: relative;
  z-index: 20;
}

.asj-default-imgbox {
  width: 100%;
}

.asj-default-imgbox .default-img {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.asj-default-imgbox .default-msg {
  font-size: 14px;
  line-height: 22px;
  color: #999;
  margin-top: 35px;
  text-align: center;
}

.asj-default-imgbox .mycj-btn-default,.asj-default-imgbox .mycj-btn-noData {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.mycj-btn-default {
  display: inline-block;
  width: 150px;
  background-color: #0b4e67;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  padding: 0 10px;
  color: #fff;
  border-radius: 4px;
}

.mycj-btn-default:hover {
  color: #fff;
}

.mycj-btn-noData {
  display: inline-block;
  width: 181px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  background-color: #FF7700;
  color: #FFFFFF;
  font-family: PingFangSC-Regular, PingFang SC;
}
.mycj-btn-noData:hover {
  background-color: #E56A00;
  color: #FFFFFF;
}

// toast
.toast-wrap{
  position: relative;
  i {
    color: var(--color-primary);
  }
  .toast-box{
    width: 164px;
    border-radius: 4px;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    font-size: 12px;
    z-index: 1;
    padding: 8px;
    line-height: 22px;
    display: none;
    margin-left: -87px;
    text-align: center;
    left: 50%;
    top: 26px;
  }
  .toast-box:before{
    content: '';
    width: 0;
    height: 0;
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0,0,0,0.75);
    position: absolute;
    top: -5px;
    left: 50%;
  }
  &:hover .toast-box{
    display: block;
  }
}
.vip{
  .toast-wrap{
    i {
      color: var(--color-theme-1-vip) !important;
    }
  }
}
// ------------------ 骨架图部分 ------------------s
.skeleton-bg-after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(114deg, transparent 4%, rgba(255, 255, 255, .599), transparent 94%);
  transform: translateX(-100%);
  animation: skeleton-animate 790ms infinite ease-in-out;
}

.loading-pending {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 4;

  .header {
    height: 80px;
    background: #fff;
    box-shadow: 0 0 1px #ccc;
    display: flex;
    padding: 9px 15px 0;
    align-items: center;

    .logo {
      width: 255px;
      height: 34px;
      background-color: rgb(239, 239, 239, .14);
      border-radius: 4px;
      overflow: hidden;
      position: relative;

      &:after {
        .skeleton-bg-after;
      }
    }

    .nav-item {
      margin: 0 0 19px 40px;
      width: 90px;
      height: 19px;
      background-color: rgb(239, 239, 239, .14);
      align-self: flex-end;
      border-radius: 4px;
    }
  }

  .content {
    flex: 1;
    display: flex;

    .left-nav {
      width: 220px;
      background: #fff;
      padding-top: 20px;

      .nav-item {
        height: 19px;
        position: relative;
        margin: 19px 14px;
        border-radius: 4px;
        background: rgb(239, 239, 239, .14);
        overflow: hidden;

        &:after {
          .skeleton-bg-after;
        }

        &:nth-child(1) {
          width: 90%;
        }

        &:nth-child(2) {
          width: 75%;
        }

        &:nth-child(3) {
          width: 54%;
        }

        &:nth-child(4) {
          width: 82%;
        }
      }
    }

    .router-view {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 12px;
      box-shadow: 0 0 1px #ccc;
      background-color: rgba(255, 255, 255, .44);

      .loading {
        width: 44px;
        height: 44px;
        border-radius: 22px;
        border: 2px #999 solid;
        border-right-color: transparent;
        border-bottom-color: transparent;
        animation: loading-pending-rotate 900ms infinite linear;
      }
    }
  }

}

@keyframes loading-pending-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes skeleton-animate {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

.vip{
  .select2-container--default .select2-results__option[aria-selected=true]{
    background-color: #fff;
    color: #DDA863 !important;
  }

  .select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color:rgba(221,168,99,0.2) !important;
    border-radius: 4px;
    color: #DDA863 !important;
    font-size: 12px;
  }
}

// select2

.select2-container--default .select2-results__option[aria-selected=true]{
  background-color:#fff !important;
  color: #f70 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color:rgba(255,119,0,0.2) !important;
  border-radius: 4px;
  color: #f70 !important;
  font-size: 12px;
}

.select2-search--dropdown .select2-search__field{
  padding: 0 4px !important;
}


.select2-dropdown{
  padding-bottom:10px;
}

.select2-results{
  padding:2px 12px;
}

// ------------------ 骨架图部分 ------------------e