.service-product-products {
    .search-box-wrap{
        justify-content: space-between;
    }
    .search-box{
        width: 70%;
        margin: 0;
        padding-right: 20px;
        text-align: right;
        justify-content: flex-end;
    }
    .form-input {
        width: 420px;
        height: 38px;
        padding-left: 10px;
    }
    .add_tracking {
        width: 160px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
    }
    .search-box button{
      height: 38px;
      line-height: 38px;
    }
    
  .service-goods .mycj-right-bar {
    background-color: #F0EDE7;
    padding: 0;
  }

  .service-goods .search-box-wrap {
    height: 58px;
    line-height: 58px;
    padding: 0;
    border-bottom: none;
    background-color: #fff;
  }

  .service-goods .search-box-wrap .nav-box {
    float: left;
    /* width: 30%; */
    height: 58px;
    line-height: 58px;
  }

  .service-goods .nav-box li {
    float: left;
    margin: 0 20px;
    font-weight: 400;
    color: #666;
    cursor: pointer;
  }


  .service-goods .cj-load-wrap {
    padding: 0 20px 20px;
    margin-top: 10px;
    background-color: #fff;
  }

  .service-goods .cj-load-wrap .address {
    position: relative;
  }

  .service-goods .cj-load-wrap .address-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }

  .service-goods .cj-load-wrap .address-wrap .address-title>img {
    cursor: pointer;
  }

  .service-goods .cj-load-wrap .address-wrap img {
    margin-left: 10px;
    vertical-align: sub;
  }

  .service-goods .cj-load-wrap .address-wrap .btn-theme1 .tips-icon {
    font-size: 14px;
    cursor: pointer;
    margin-left: 6px;
    &:hover + .add-server-tip {
      display: block;
    }
  }
  
  .service-goods .cj-load-wrap .address-wrap .btn-theme1 .add-server-tip {
    position: relative;
    width: 200%;
    height: 48px;
    background: rgba(0, 0, 0, 0.75);
    font-size: 12px;
    color: #FFFFFF;
    padding: 6px 10px;
    top: -240%;
    left: -113%;
    border-radius: 3px;
    display: none;
    line-height: 18px;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 5px 0 5px;
      border-color: #000000 transparent transparent transparent;
      position: absolute;
      bottom: -6px;
      right: 10px;
      opacity: 0.6;
    }
  }


  .service-goods .cj-load-wrap .address-wrap_box {
    position: absolute;
    top: 56px;
    left: 0;
    /* padding: 14px 20px; */
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
    z-index: 1000;
  }

  .service-goods .cj-load-wrap .address-wrap_box .ware-names {
    height: 40px;
    line-height: 40px;
    display: flex;
    border-bottom: 1px solid #eee;
  }

  .service-goods .cj-load-wrap .address-wrap_box .ware-names>span {
    padding: 0 20px;
    border-right: 1px solid #eee;
    color: #8b8b8b;
    cursor: pointer;
    font-size: 14px;
  }

  .service-goods .cj-load-wrap .address-wrap_box .ware-names span:last-child {
    border-right: 0;
  }

  .service-goods .cj-load-wrap .address-wrap_box .ware-names span.current {
    color: var(--color-theme-1);
    background-color: #f9edd5;
  }

  .service-goods .cj-load-wrap .address-wrap_box .ware-detail {
    width: 460px;
    padding: 20px;
    font-size: 14px;
    color: #bebebe;
  }

  .service-goods .cj-load-wrap .address-wrap_box ::after {
    position: absolute;
    top: -15px;
    left: 135px;
    content: '';
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 8px;
    height: 0;
    width: 0;
    /* vertical-align: middle;
		display: inline-block; */
  }

  .upimg-tips-box {
    position: absolute;
    top: 35px;
    left: -10px;
    width: 180px;
    color: #fff;
    padding: 8px;
    background-color: #404040;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
    z-index: 1003;
    margin-right: 5px;
  }

  .upimg-tips-box p {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
  }

  .upimg-tips-box ::after {
    position: absolute;
    top: -15px;
    left: 11px;
    content: '';
    border-color: transparent transparent #404040 transparent;
    border-style: solid;
    border-width: 8px;
    height: 0;
    width: 0;
  }

  .service-goods .cj-load-wrap .address .add {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
  }

  .service-goods .cj-load-wrap .goods-table {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border: 1px solid #F3F3F3;
  }

  .service-goods .cj-load-wrap th {
    height: 44px;
    border: 0;
    color: #fff;
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
  }

  .service-goods.vip .cj-load-wrap th {
    color: #F3DBA5;
  }

  .service-goods .cj-load-wrap .goods-table td {
    height: 80px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    border-bottom: 1px solid #F3F3F3;
  }

  .service-goods .goods-table td:first-child {
    /* width: 30%; */
    padding: 0 10px;
  }

  .goods-table .td-img {
    position: relative;
    cursor: pointer;
  }

  .goods-table .td-img img:last-child {
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    width: 300px;
    height: auto;
    left: 100%;
    bottom: 0;
    display: none;
    z-index: 99;
  }

  .goods-table .td-img:hover img:last-child {
    display: block;
  }

  .service-goods .goods-table td.fee {
    display: flex;
    flex-direction: column;
  }

  .service-goods .goods-table td.fee div {
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center;
  }

  .service-goods .goods-table td.fee div:first-child {
    border-bottom: 1px solid #f3f3f3;
  }

  .service-goods .goods-table td.fee span {
    flex: 1;
    text-align: right;
  }

  .service-goods .goods-table td.fee span:last-child {
    text-align: left;
  }

  .goods-table .td-img img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
  }

  .service-goods .cj-load-wrap .add_tracking {
    width: 160px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    font-family: PingFangSC-Medium;
    color: #fff;
  }

  .service-goods .cj-load-wrap .cancel_goos {
    width: 58px;
    height: 26px;
    border-radius: 4px;
    color: #fff;
  }

  .service-goods .cj-load-wrap .cancel_tracking {
    cursor: pointer;
  }

  .service-goods .cj-load-wrap .not {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #333;
    box-shadow: 0px 2px 4px 0px rgba(227, 226, 226, 0.5);
    border-radius: 4px;
  }

  .spzd-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .spzd-wrap .spzd-wrap-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .spzd-wrap .spzd-con {
    width: 534px;
    // padding: 20px;
    background-color: #fff;
    border-radius: 4px;
  }

  .spzd-con .head {
    position: relative;
    height: 50px;
    line-height: 50px;
    background: #F9F8F8;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    text-align: center;
    border-radius: 4px 4px 0 0;
  }

  .spzd-con .head .glyphicon-remove {
    position: absolute;
    top: 50%;
    right: 27px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #666;
    font-weight: 600;
    cursor: pointer;
  }

  .spzd-con .contain {
    padding: 20px;
  }

  .spzd-con .form-box {
    font-size: 0;
    margin-bottom: 20px;
  }

  .spzd-con .form-box .form-input {
    width: 396px;
    height: 38px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px 0px 0px 2px;
    border: 1px solid rgba(224, 224, 224, 1);
  }

  .spzd-con .contain .form-label{
    font-size: 14px;
    color: var(--color-font-1);
    font-weight: 600;
    font-family: unset;
  }

  .spzd-con .contain .upload-tip {
    font-size: 12px;
    color: var(--color-font-3);
  }

  .spzd-con .goods-table-box {
    max-height: 600px;
    overflow: auto;
  }

  .spzd-con .goods-table {
    width: 100%;
  }

  .spzd-con .goods-table .thead {
    height: 30px;
    line-height: 30px;
    border: 1px solid #F3F3F3;
    background-color: #F0EDE7;
    border-radius: 4px 4px 0px 0px;
  }

  .spzd-con .goods-table .tbody {
    border: 1px solid #F3F3F3;
    box-shadow: 0px -1px 0px 0px rgba(243, 243, 243, 1), -1px 0px 0px 0px rgba(243, 243, 243, 1), 1px 0px 0px 0px rgba(243, 243, 243, 1);
  }

  .spzd-con .goods-table .tbody tr {
    border-bottom: 1px solid #F3F3F3;
  }

  .spzd-con .goods-table th,
  .spzd-con .goods-table td {
    border: 0;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #333;
  }

  .spzd-con .goods-table td {
    height: 40px;
    line-height: 17px;
  }

  .spzd-con .goods-table td:first-child {
    width: 50%;
    padding: 5px 10px;
  }

  .spzd-con .goods-table img {
    width: 40px;
    height: 40px;
  }

  .spzd-con .goods-table .add {
    width: 58px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
  }

  .spzd-wrap .not {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #666;
    box-shadow: 0px -1px 0px 0px rgba(243, 243, 243, 1), -1px 0px 0px 0px rgba(243, 243, 243, 1), 1px 0px 0px 0px rgba(243, 243, 243, 1);
  }

  .spzd-wrap .tracking {
    width: 530px;
    height:600px;
    font-family: PingFangSC-Medium;
    background-color: #fff;
    border-radius: 4px;
  }

  .spzd-wrap .tracking .tracking_top {
    position: relative;
    text-align: center;
    background-color:rgba(242,243,245,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .spzd-wrap.vip .tracking .tracking_top {
    background-color:rgba(249,248,248,1);
  }

  .tracking h3 {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-weight: 500;
    font-family: PingFangSC-Medium;
    color: #333;
  }

  .tracking .tracking_top .intracking_top {
    position: absolute;
    top: 16px;
    right: 156px;
  }
  .spzd-wrap .tracking .tracking_top i{
    position: relative;
    top:-3px;
    color:#f78e29;
    cursor: pointer;
  }
  .spzd-wrap.vip .tracking .tracking_top i{
    color:#DFAD65;
  }
  .fausebox1 {
    position: absolute;
    left: -348px;
    top: 28px;
    width: 510px;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 19px;
    padding: 15px;
    z-index: 20;
  }

  .fausebox1 .title {
    display: flex;
    margin-bottom: 5px;
  }

  .fausebox1 .title span {
    width: 110px;
    text-align: right;
    margin-right: 10px;
  }

  .fausebox1 .title p {
    flex: 1;
    font-size: 14px;
    text-align: left;
  }

  .fausebox1:after {
    content: '';
    border-color: transparent transparent rgba(0, 0, 0, 0.75) transparent;
    border-style: solid;
    border-width: 8px;
    height: 0;
    width: 0;
    vertical-align: middle;
    display: inline-block;
  }

  .fausebox1:after {
    position: absolute;
    top: -15px;
    left: 346px;
  }

  .spzd-wrap .form {
    height: 484px;
    padding: 20px 18px 0 18px;
    font-size: 14px;
    color: #333;
    overflow: auto;
  }
  
  .spzd-wrap .form .tips{
    color:#333;
    margin:20px 0;
    height:40px;
  }
  .spzd-wrap .form .tips p{
    width:94%;
    float: right;
    font-size: 14px;
    font-family: PingFangSC-Regular;
  }
  .spzd-wrap.vip .form .tips p span{
    color:#DFAD65;
  }
  .spzd-wrap .form .tips p span{
    color:#f78e29;
  }
  .spzd-wrap .form .tips i{
    font-size: 13px;
    color:#f78e29;
  }
  .spzd-wrap.vip .form .tips i{
    color:#DFAD65;
  }

  .spzd-wrap .form-item {
    margin-bottom: 20px;
  }
  .spzd-wrap .form-item.borBtm{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(88,88,88,0.09);
  }

  .spzd-wrap .form-item__label {
    float: left;
    width: 170px;
    line-height: 38px;
    text-align: right;
    vertical-align: middle;
    box-sizing: border-box;
    font-weight: 400;   
    font-family: PingFangSC-Regular;
  }

  .spzd-wrap .form-item__label.bold,.bold{
    font-weight: 500;
    font-family: PingFangSC-Medium;
  }

  .spzd-wrap .serTit{
    display: inline-block;
    width:155px;
    text-align: right;
    line-height: 38px;
    margin-bottom: 5px;
  }

  .spzd-wrap .fees{
    width:20px;
    float: left;
    line-height: 38px;
    margin-left: 20px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
  }

  .spzd-wrap .form-radio:last-child {
    margin-left: 50px;
  }

  .spzd-wrap .form-item__content {
    margin-left: 190px;
    line-height: 38px;
    position: relative;
  }

  .spzd-wrap .form-item-money {
    margin-bottom: 5px;
  }

  .spzd-wrap .form-item-money .form-item__content {
    margin-left: 170px;
    text-align: right;
  }

  .spzd-wrap .input__inner {
    width: 100%;
    height: 38px;
    line-height: 38px;
    border-radius: 4px;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .spzd-wrap .form-radio {
    color: #606266;
    font-weight: 500;
    line-height: 1;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    font-size: 14px;
  }

  .spzd-wrap .form-radio.disabled {
    cursor: not-allowed !important;
    pointer-events: auto;
    opacity: 0.5;
  }

  .spzd-wrap .form-radio.disabled span {
    color: #999;
    cursor: not-allowed !important;
  }

  .spzd-wrap .radio__label {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    line-height: 1;
    color: #333;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    font-size: 14px;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .spzd-wrap .radio_input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
  }

  .spzd-wrap .radio__inner {
    border: 1px solid #dcdfe6;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
  }

  .spzd-wrap .radio_input.is-checked .radio__inner {
    border-color: #e0e0e0;
  }

  .spzd-wrap .radio_input.is-checked .radio__inner:after {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #f78e29;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .15s ease-in;
  }

  .spzd-wrap.vip .radio_input.is-checked .radio__inner:after {
    background-color: #DDA863;
    content: "";
  }

  .spzd-wrap .radio_input.is-checked .radio__inner:after {
    transform: translate(-50%, -50%) scale(1);
  }

  .spzd-wrap .radio__original {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  .spzd-wrap .form-item-download .form-item__content {
    display: flex;
    justify-content: space-between;
  }

  .spzd-wrap .form-item-download span {
    display: inline-block;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .spzd-wrap .form-item-download .cur {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 25px;
    top: 5px;
  }

  .spzd-wrap .download {
    color: red;
  }

  .spzd-wrap .form-btn {
    text-align: center;
    // border-top:1px solid rgba(88,88,88,0.09);
    padding:20px 0;
    box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.05);
  }

  .spzd-wrap .form-btn button {
    width: 70px;
    height: 30px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500;
  }

  .spzd-wrap .form-btn button:first-child {
    margin-right: 15px;
    color: var(--color-font-1);
    border: 1px solid var(--color-line-1);
    background: var(--color-bg-14);

    &:hover {
      background: var(--color-bg-14-1);
    }
  }

  .spzd-wrap .form-btn button:last-child {
    background: var(--color-theme-1);
    color: #fff;

    &:hover {
      background: var(--color-theme-1-1);
    }
  }

  .spzd-wrap.vip .form-btn button:last-child {
    background: var(--color-theme-1-vip);
    color: #fff;

    &:hover {
      background: var(--color-theme-1-1-vip);
    }
  }

  .spzd-wrap .shipping-fee {
    width: 600px;
    /* height: 320px; */
    padding: 20px 0;
    background-color: #fff;
    border-radius: 6px;
  }

  .spzd-wrap .shipping-fee-top {
    padding: 0 38px;
    border-bottom: 1px solid rgba(88, 88, 88, 0.09);
  }

  .spzd-wrap .shipping-fee-top h4 {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: #333;
  }

  .spzd-wrap .shipping-fee-top h4 img {
    margin-right: 6px;
  }

  .spzd-wrap .shipping-fee-top .price {
    width: 404px;
    height: 60px;
    font-size: 14px;
    margin-top: 6px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #666;
  }

  .spzd-wrap .shipping-fee-bot {
    display: flex;
    height: 276px;
    padding: 20px;
    text-align: center;
    overflow: auto;
  }

  .spzd-wrap .shipping-fee-bot>div {
    flex: 1;
    border: 1px solid #999;
  }

  .spzd-wrap .shipping-fee-bot .shipping-fee-bot_left {
    border-right: 0;
  }

  .spzd-wrap .shipping-fee-bot .fee-title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #999;
  }

  .spzd-wrap .shipping-fee-bot .fee-box {
    padding: 20px 0;
  }

  .spzd-wrap .shipping-fee-bot .fee-box>div {
    display: flex;
  }

  .spzd-wrap .shipping-fee-bot label {
    width: 165px;
    text-align: right;
  }

  .spzd-wrap .shipping-fee-bot span {
    flex: 1;
    margin-left: 5px;
    text-align: left;
  }

  .spzd-wrap .shipping-fee_hint {
    width: 500px;
    height: auto;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 6px;
  }

  .spzd-wrap .shipping-fee_hint-top {
    padding: 0 30px;
    border-bottom: 1px solid rgba(88, 88, 88, 0.09);
  }

  .spzd-wrap .shipping-fee_hint-top h4 {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: #333;
  }

  .spzd-wrap .shipping-fee_hint-top .price {
    width: 404px;
    height: 60px;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #666;
  }

  .spzd-wrap .shipping-fee_hint-bot {
    height: 162px;
    padding: 15px 30px;
    text-align: center;
    overflow: auto;
  }

  .spzd-wrap .shipping-fee_hint-bot div {
    display: flex;
  }

  .spzd-wrap .shipping-fee_hint-bot label {
    width: 150px;
    text-align: right;
    font-size: 14px;
  }

  .spzd-wrap .shipping-fee_hint-bot span {
    flex: 1;
    margin-left: 5px;
    text-align: left;
    font-size: 14px;
  }

  .goods-class .layui-layer-btn .layui-layer-btn0 {
    margin-right: -180px;
    background: linear-gradient(135deg, rgba(242, 215, 161, 1) 0%, rgba(223, 173, 101, 1) 100%);
    border-color: rgba(242, 215, 161, 1);
  }

  .goods-class .layui-layer-btn .layui-layer-btn1 {
    margin: 6px 6px 0 0;
  }

  .shipping-fee-btn {
    padding-right: 28px;
    text-align: right;
  }

  .shipping-fee-btn .btn {
    width: 88px;
    height: 40px;
    line-height: 26px;
    text-align: center;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: #fff;
  }

  .txt-color {
    cursor: pointer;
  }

  .new-text-theme {
    color: var(--color-theme-1);

    &:hover {
      color: var(--color-theme-1-1);
    }
  }

  .dbProductNameen {
    color: var(--color-theme-1);

    &:hover {
      color: var(--color-theme-1);
      text-decoration: underline;
    }
  }


  .service-goods .cj-load-wrap .cancel_goos,
  .spzd-wrap .shipping-fee-btn .btn {
    background: #F78E29;
  }



  .spzd-wrap.vip .shipping-fee-btn .btn,
  .service-goods.vip .cj-load-wrap .cancel_goos {
    background: linear-gradient(135deg, rgba(242, 215, 161, 1) 0%, rgba(223, 173, 101, 1) 100%);
  }

  
  .search-box-wrap .nav-box li:hover,
  .search-box-wrap .nav-box .acvive {
    color: #F78E29;
  }

  .service-goods.vip .nav-box li:hover,
  .service-goods.vip .nav-box .acvive{
    color: #DDA863;
  }

  /*2019-7-4 shipping fee 样式修改*/
  .shipping-wrap {
    min-width: 540px;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px;
  }

  .shipping-wrap>h4 {
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  /*表格内容外框   以内区域*/
  .shipping-wrap>.fee-main {
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .fee-main>.fee-header {
    display: flex;
    height: 40px;
    background: rgba(240, 237, 231, 1);
  }

  h4 {
    text-align: center;
  }

  .fee-main>.fee-header>h4 {
    flex-grow: 1;
    font-weight: normal;
    line-height: 40px;
    font-size: 14px;
  }

  .fee-main>.fee-content {
    display: flex;
  }

  .fee-main>.fee-content>section>ul {
    line-height: 30px;
    color: #666;
  }

  .fee-main>.fee-content>section {
    border-right: 1px solid #f1f1f1;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .fee-content>section>ul:first-child>li {}

  .fee-content li {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .fee-content li>span:nth-child(1) {
    max-width: 180px;
    text-align: right;
  }

  .fee-content li>span .act {
    min-width: 150px;
  }

  .fee-content li>span:nth-child(2) {
    text-indent: 10px;
    min-width: 64px;
  }

  .shipping-wrap>.fee-confirm {
    display: flex;
    justify-content: flex-end;
  }

  .shipping-wrap>.fee-confirm>button {
    width: 88px;
    height: 40px;
    background: var(--color-theme-gradient-1);
    border-radius: 4px;
    color: var(--color-font-4);
    font-size: 14px;

    &:hover {
      background: var(--color-theme-1);
    }
  }

  .shipping-wrap.vip>.fee-confirm>button {
    width: 88px;
    height: 40px;
    background: var(--color-theme-gradient-1-vip);
    border-radius: 4px;
    color: var(--color-font-4);
    font-size: 14px;

    &:hover {
      background: var(--color-theme-1-vip);
    }
  }

  .form-text-area {
    width: 100%;
    border: 1px solid #D9D9D9;
    height: 110px;
    resize: none;
    // text-indent: 12px;
    border-radius: 4px;
    padding: 10px;
  }
  ::-webkit-input-placeholder {
    font-size: 12px !important;
    color: var(--color-font-3) !important;
  }
  ::-moz-placeholder {
    font-size: 12px !important;
    color: var(--color-font-3) !important;
  }
  :-ms-input-placeholder {
    font-size: 12px !important;
    color: var(--color-font-3) !important;
  }

  .w20img {
    width: 20px;
  }

  .alow-type {
    font-size: 12px;
    color: #999999;
  }

  .dispute-upload {
    display: flex;
    margin: 20px auto 0;
  }

  .dispute-upload .upload_wrap {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
  }

  .dispute-upload .upload_wrap li {
    margin-bottom: 12px;
    margin-right: 18px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  .dispute-upload .upload_wrap .li-img {
    width: 80px;
    height: 80px;
  }

  .dispute-upload .upload_wrap .img-show {
    position: relative;
  }

  .dispute-upload .upload_wrap .before-img {
    width: 100%;
    height: 100%;
  }

  .dispute-upload .upload_wrap .close-img {
    position: absolute;
    width: 20px;
    top: -10px;
    right: -10px;
    z-index: 1000;
    cursor: pointer;
  }

  .dispute-upload .upload_wrap .upload-img {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.02);
    position: relative;
  }

  .dispute-upload .upload_wrap .upload_file {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
    cursor: pointer;
    font-size: 0;
  }

  .dispute-upload .upload_img_wrap img {
    width: 30px;
    height: 27px;
  }

  .dispute-upload .upload_video_wrap img {
    width: 48px;
    height: 30px;
  }

  .tips-con {
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }

  .fontsize14px {
    font-size: 14px;
  }

  .service-goods .goods-table .td-img .apply-big-img {
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    width: 300px;
    height: auto;
    bottom: 0;
    display: none;
    z-index: 99;
  }

  .service-goods .goods-table .td-img:hover .apply-big-img {
    display: block;
  }

  .bigimg,
  .bigimg1,
  .bigimg2,
  .bigimg3,
  .bigimg4,
  .bigimg5,
  .bigimg6,
  .bigimg7 {
    position: absolute;
    top: -70px;
    right: 106%;
    z-index: 999;
    max-width: 360px;
    width: 360px;
    height: auto;
    display: none;
  }

  .imgs-ul {
    margin: 0 auto;
    width: 305px;
    display: inline-block;
    padding-bottom: 10px;
  }

  .proimg:hover .bigimg {
    display: none;
  }

  .proimg ul li {
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px 0 0;
    position: relative;
  }

  .proimg ul li .es-list-img {
    width: 60px;
    height: 60px;
    border: 1px solid #eeeeee;
  }

  .proimg ul li img {
    border-radius: 4px;
  }

  .proimg ul li:nth-of-type(1):hover .bigimg {
    display: block;
  }

  .proimg ul li:nth-of-type(2):hover .bigimg1 {
    display: block;
  }

  .proimg ul li:nth-of-type(3):hover .bigimg2 {
    display: block;
  }

  .proimg ul li:nth-of-type(4):hover .bigimg3 {
    display: block;
  }

  .proimg ul li:nth-of-type(5):hover .bigimg4 {
    display: block;
  }

  .proimg ul li:nth-of-type(6):hover .bigimg5 {
    display: block;
  }

  .proimg ul li:nth-of-type(7):hover .bigimg6 {
    display: block;
  }

  .proimg ul li:nth-of-type(8):hover .bigimg7 {
    display: block;
  }

  .asj-wuliu-tip-show {
    background: #333333;
    opacity: 0.7;
    color: #fff;
    border: none;
    top: 100%;
    left: 10px;
    width: 440px;
  }

  .sanjiao-logo-box {
    position: absolute;
    top: -15px;
    left: 111px;
    content: '';
    border-color: transparent transparent #333333 transparent;
    border-style: solid;
    border-width: 8px;
    height: 0;
    width: 0;
  }

  .overflow-ellipsis {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    text-align: left;
    margin: 0 auto;
    padding: 12px;
    display: flex;
    align-items: center;
  }

  .cursor {
    cursor: pointer;
  }

  .line-3 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
  }

  .line-7 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    display: -webkit-box;
  }

  .mes-text-con {
    height: 100%;
    overflow: hidden;
    line-height: 18px;
    text-align: center;
  }

  .overflow-ellipsis:hover+.asj-wuliu-tip-show {
    display: block;
    opacity: 1;
    transition: all .5s;
  }

  .min-w150act {
    min-width: 150px;
  }
  .address-title .title {
    position: relative;
    .arrow {
      position: absolute;
      top: 22px;
      right: 5px;
      border-color: transparent transparent #fff transparent;
      border-style: solid;
      border-width: 8px;
      height: 0;
      width: 0;
      z-index: 1001;

      // top: -8px;
      // border-color: #fff #fff transparent transparent;
      // transform: rotate(-45deg);
      // box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.05);
    }
  }
  .address-wrap-toast {
    position: absolute;
    top: 40px;
    padding-top: 16px;
    z-index: 1000;
    width: 100%;
  }
  .address-wrap-box {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
    .load-box {
      width: 125px;
      margin: 0 auto;
    }
    .ware-names {
      // height: 40px;
      // line-height: 40px;
      display: flex;
      border-bottom: 1px solid #eee;

      .ware-item {
        color: var(--color-font-3);
        padding: 10px 15px;
        border-right: 1px solid #eee;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        flex: 1;
        align-items: center;
        word-break: break-word;

        &:hover, &:active {
          color: var(--color-theme-1);
        }

        &.current {
          background-color: #f9edd5;
          color: var(--color-theme-1);
        }

      }
    }
    // .ware-names>span {
    //   padding: 10px 15px;
    //   border-right: 1px solid #eee;
    //   color: #999999;
    //   cursor: pointer;
    //   font-size: 14px;
    //   display: flex;
    //   align-items: center;
    //   &.current {
    //     background-color: #f9edd5;
    //   }
    // }
    .strong-reminder-box {
      width: 100%;
      padding: 16px 20px 0 20px;
      
      .strong-reminder {
        width: 100%;
        background: #FFF1F0;
        border-radius: 2px;
        border: 1px solid #FFA39E;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        line-height: 22px;
        display: flex;
  
        .circle {
          width: 16px;
          height: 16px;
          color: #F25245;
          // line-height: 16px;
          // font-size: 12px;
          // color: #FFA39E;
          // text-align: center;
          // // border-radius: 50%;
          // border: 1px solid #FFA39E;
          margin-right: 10px;
        }
      }
    }
    
    .ware-detail {
      // width: 460px;
      padding: 16px 20px 20px;
      font-size: 14px;
      color: #666666;
    }
  }
  .form-flex-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .form-flex-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    .margin-b10{
      // margin-bottom: 10px;
      position: relative;

      .unit {
        font-size: 14px;
        color: var(--color-font-2);
        position: absolute;
      }
      .u-weight {
        right: 8px;
        top: 3px;
      }
      .u-money {
        top: 5px;
        right: 140px;
      }
    }
  }

  .fwsp-weight-inp{
    border-radius: 4px;
    border: 1px solid #E4E4E4;
    // text-indent: 1rem;
    width: 155px;
  }

  .require-tip {
    color: red;
  }
}

.vip .service-product-products {
  .ware-names {
    .ware-item {
      &:hover, &:active {
        color: var(--color-theme-1-vip);
      }

      &.current {
        color: var(--color-theme-1-vip);
      }

    }
  }
  
  .new-text-theme {
    color: var(--color-theme-1-vip);

    &:hover {
      color: var(--color-theme-1-1-vip);
    }
  }

  .dbProductNameen {
    color: var(--color-theme-1-vip);

    &:hover {
      color: var(--color-theme-1-vip);
      text-decoration: underline;
    }
  }
}