.service-product-shipment {
    .waybill .search-box-wrap{
        justify-content: space-between;
    }
    .search-box-wrap {
        height: 58px;
        line-height: 58px;
        padding: 0;
        border-bottom: none;
        background-color: #fff;
    }
    .nav-box li {
        float: left;
        margin: 0 20px;
        font-weight: 400;
        color: #666;
        cursor: pointer;
    }
    .nav-box li:hover,
    .nav-box li.active{
        color: #F78E29;
    }
    .search-box button{
      height: 38px;
      line-height: 38px;
    }
    .new-text-theme {
        color: var(--color-theme-1);

        &:hover {
            text-decoration: underline;
        }
    }

    .downloadIcon {
        font-size: 16px;
        color: var(--color-theme-1);
        cursor: pointer;

        &:hover {
            color: var(--color-theme-1-1);
        }
    }
}
.waybill-spzd-wrap{
    .glyphicon-remove {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 16px;
        color: #333;
        cursor: pointer;
        &::after{
            content: '\e617';
            font-family: 'iconfont';
            font-size: 16px;
        }
    }
    .search-box button{
      height: 38px;
      line-height: 38px;
    }
}

.vip .service-product-shipment {
    .new-text-theme {
        color: var(--color-theme-1-vip);

        &:hover {
            text-decoration: underline;
        }
    }
    
    .downloadIcon {
        font-size: 16px;
        color: var(--color-theme-1-vip);

        &:hover {
            color: var(--color-theme-1-1-vip);
        }
    }
}