@import '../../colors.less';

.position-manage {
  .search-form {
    max-width: 1200px;

    :global(.ant-form-item-label) {
      label {
        color: @grey;
      }
    }

    :global(.ant-picker) {
      width: 100%;
    }

    .search-btns {
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 10px;
      }
    }
  }
}

.add-or-update-modal {
  :global(.ant-modal-body) {
    padding: 0;
  }
  .title {
    background: @backColor;
    padding: 5px 15px;
    margin-bottom: 10px;
  }
  .row {
    padding: 0 25px;
  }
  :global(.ant-input-number) {
    width: 100%;
  }
  .describe {
    color: @describeColor;
  }
}
