.sourcing-detail {
  width: 100%;
  background-color: #F2F2F2;
  .seachdetail-con,.recommendList {
    height: fit-content;
    background-color: #fff;
    margin:0 auto;
  }
  .seachdetail-top {
    background-color: #262626;
    height: 44px;
    line-height: 44px;
    padding:0 15px;
    display: flex;
    justify-content: space-between;
  }
  .seachdetail-top span {
    font-size: 14px;
    color: #fff;
    text-align: center;
  }
  .vipFlag .seachdetail-top span {
    color:#f3dba5;
  }
  .product-detail{
    position: relative;
  }
  // .product-detail:before{
  //   content: "";
  //   width:98%;
  //   height:1px;
  //   background-color: #F3F3F3;
  //   position: absolute;
  //   top:0;
  //   left:1%;
  // }
  .manager-box .listBtn{
    margin-left: 16px;
  }
  .vipFlag .manager-box .listBtn{
    background:linear-gradient(135deg, rgba(242, 215, 161, 1) 0%, rgba(223, 173, 101, 1) 100%);
  }
  .manager-name,
  .user-name {
    width: 1200px;
    height: 65px;
    background-color: #e2f1ff;
  }
  .manager-name img,
  .user-name img {
    display: inline-block;
    line-height: 65px;
    margin-left: 23px;
  }
  .manager-name span,
  .user-name span {
    display: inline-block;
    line-height: 65px;
  }
  .manager-name .manager-span,
  .user-name .manager-span {
    font-size: 12px;
    color: #2b2b2b;
    margin-left: 20px;
  }
  .manager-name .name-span,
  .user-name .name-span {
    font-size: 16px;
    color: #202020;
  }
  .manager-name .manager-time,
  .user-name .manager-time {
    font-size: 12px;
    float: right;
    margin-right: 30px;
  }
  .user-name {
    background-color: #ececec;
  }
  .product-detail {
    padding:0 64px 33px 64px;
  }
  .product-status {
    padding: 32px 0;
  }
  .product-status h3 {
    font-size: 24px;
    font-weight: bold;
    color:#333;
  }
  .product-status h4 {
    width: 630px;
    line-height: 20px;
    color: #666;
    font-size: 14px;
    font-weight: normal;
  }
  .product-status button {
    min-width: 198px;
    height:40px;
    border-radius: 4px;
    font-size:16px;
  }

  .product-status a.click-here {
    font-size:initial;

    &:hover {
      opacity: .6;
    }
  }

  .product-status.success {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 96px;

    h3 {
      text-align: left;
    }
  }

  .product-status .sourcing-status {
    display: flex;
  }

  .product-status .show-status {
    width: 191px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
  }
 
  .product-status .show-status.up {
    background: #F6FFED;
    border: 1px solid #B7EB8F;
  }

  .product-status .show-status.down {
    background: #FFF1F0;
    border: 1px solid #FFA39E;
  }

  .product-status .show-status span {
    line-height: 35px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
  }


  .product-detail ul{
    background-color:#FAFAFA;
  }
  .product-detail ul.pro-ul{
    padding:32px;
  }
  .product-detail ul li {
    margin-bottom: 24px;
  }
  .product-detail ul li p {
    vertical-align: top;
  }
  .product-detail ul li p span {
    font-size: 14px;
    display: inline-block;
  }
  .product-detail ul li p .light-span {
    color: #333;
    word-break: break-all;
    margin-right: 10%;
    font-weight: bold;
  }
  .product-detail ul li p .gray-span {
    color: #666;
  }
  .product-detail ul li .detail-p1 {
    width: 430px;
  }
  .product-detail ul li .detail-p4 img {
    margin-left: 35px;
  }
  .product-detail ul li .detail-p5 .detail-span4 {
    margin-left: 300px;
  }
  .product-detail ul .sd-li1 {
    position: relative;
  }
  .product-detail ul .sd-li1 .sd-manager-sku {
    position: absolute;
    left: 644px;
  }
  .product-detail ul .sd-li2 {
    position: relative;
  }
  .product-detail ul .sd-li2 .sd-mid-p2 {
    position: absolute;
    left: 249px;
  }
  .product-detail ul .sd-li2 .sd-mid-p3 {
    position: absolute;
    left: 644px;
  }
  .product-detail ul .sd-li3,
  .product-detail ul .sd-li4,
  .product-detail ul .sd-li5,
  .product-detail ul .sd-li6 {
    position: relative;
  }
  .product-detail ul .sd-li3 .sd-mid-p2,
  .product-detail ul .sd-li4 .sd-mid-p2,
  .product-detail ul .sd-li5 .sd-mid-p2,
  .product-detail ul .sd-li6 .sd-mid-p2 {
    position: absolute;
    left: 249px;
  }
  .product-detail ul .sd-li3 .sd-mid-p3,
  .product-detail ul .sd-li4 .sd-mid-p3,
  .product-detail ul .sd-li5 .sd-mid-p3,
  .product-detail ul .sd-li6 .sd-mid-p3 {
    position: absolute;
    left: 644px;
  }
  .product-detail ul .sd-li6 {
    position: relative;
  }
  .product-detail ul .sd-li6 .ship-method-p {
    position: absolute;
    left: 644px;
  }
  .product-detail ul .sd-c-li1,
  .product-detail ul .sd-c-li4 {
    position: relative;
  }
  .product-detail ul .sd-c-li1 .sd-mid-p2,
  .product-detail ul .sd-c-li4 .sd-mid-p2 {
    position: absolute;
    left: 249px;
  }
  .product-detail ul .sd-c-li1 .sd-mid-p3,
  .product-detail ul .sd-c-li4 .sd-mid-p3 {
    position: absolute;
    left: 644px;
  }
  .product-detail ul .image-li {
    height: 46px;
    position: relative;
  }
  .product-detail ul .image-li ul{
    display: inline-block; 
    position: absolute;
    top: 0;
    left: 68px;
  }
  .product-detail ul .image-li ul li{
    float: left;
    margin-right: 12px;
  }
  .product-detail ul .image-li .first-img {
    height: 80px;
    width: 80px;
    border-radius: 4px;
  }
  .product-detail ul .note-li {
    padding-top: 30px;
  }
  #sdc-souurl:hover{
    color:#ff7700;
  }
  .vipFlag #sdc-souurl:hover{
    color:#DDA863;
  }
  .recommendList{
    position: relative;
    margin:20px auto 0;
  }
  .recommendList .pd-relat-p{
    line-height: 40px;
    color:#333;
    font-size: 18px;
    padding: 16px;
  }
  .recommendList .product-card{
    width:203px!important;
    margin:24px 8px;
  }
  .recommendList  .product-detail-list{
    margin:0 auto;
    width:1109px;
  }
  .recommendList .left-icon {
    font-size: 30px;
    color:var(--color-theme-1);
    position: absolute;
    left: 16px;
    top: 50%;
    cursor: pointer;
    z-index: 2;
  }
  .recommendList .right-icon {
    font-size: 30px;
    color:var(--color-theme-1);
    position: absolute;
    right: 16px;
    top: 50%;
    cursor: pointer;
  }
  .recommendList .left-icon:hover,.recommendList .right-icon:hover{
    color:var(--color-theme-1-1);
  }
  .recommendList .product-card .listOrsource{
    border:1px solid #ff7700!important;
    color:#ff7700!important;
  }
  .recommendList .product-card .listOrsource:hover{
    border:1px solid #ff9900!important;
    color:#ff9900!important;
  }
  .recommendList .product-card .listOrsource{
    color:#fff!important;
    background:#ff7700!important;
  }
  .recommendList .product-card .listOrsource:hover{
    color:#fff!important;
    background:#ff9900!important;
  }
  .sourcing-result {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background: #ffffff;
    display: flex;

    .result-info {
      flex: 1;

      .head {
        font-size: 18px;
        font-weight: 500;
        color: var(--color-font-1);
        text-align: left;
      }
      .info-box {
        width: 100%;
        height: calc(100% - 50px);
        margin-top: 24px;
        padding-left: 40px;
        padding-right: 20px;
        display: flex;
        // align-items: center;
        border-right: 1px solid #ECECEC;

        .img-box {
          width: 80px;
          height: 80px;
          border-radius: 4px;
          margin-right: 20px;
          cursor: pointer;
          border: 1px solid #f4f4f4;

          img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
          }
        }

        .title {
          flex: 1;

          .title-desc {
            font-size: 14px;
            font-weight: 500;
            color: var(--color-font-1);
            display: -webkit-box;
            word-break: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            box-orient: vertical;
            -webkit-box-orient: vertical;
            cursor: pointer;

            &:hover {
              color: var(--color-theme-1);
            }
          }
        }
      }
    }
    .sourcing-review {
      flex: 1;
      padding: 20px 44px 0 20px;
      position: relative;

      .head {
        font-size: 14px;
        font-weight: 500;
        color: var(--color-theme-1);
        text-align: right;
        position: absolute;
        top: 0;
        right: 44px;
      }

      .main {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        // justify-content: center;
        flex-flow: column;
        // margin-top: 16px;
        padding-top: 15px;
      }
      .submit {
        width: 88px;
        height: 36px;
        border-radius: 4px;
        color: #ffffff;
        background: var(--color-theme-1);
        // float: right;
        position: absolute;
        // right: 44px;
        right: 0;
        bottom: 0;

        &:hover {
          color: #ffffff;
          background: var(--color-theme-1-1);
        }
      }
      .btn-not {
        opacity: 0.5;
        cursor: not-allowed;
      }
      .submit.btn-not:hover {
        opacity: 0.5;
        background: var(--color-theme-1);
        cursor: not-allowed;
      }
      .new-rate {
        width: 100%;
      }
      .desc {
        font-size: 14px;
        font-weight: normal;
        color: var(--color-font-2);
        margin-right: 10px;
      }
      .reason {
        margin-top: 20px;

        .select-reason {
          display: inline-block;
          width: 420px;
          height: 36px;
          line-height: 36px;
          background: #FFFFFF;
          border-radius: 4px;
          border: 1px solid #E4E4E4;
          font-size: 14px;
          font-weight: 400;
          color: var(--color-font-2);
          position: relative;
          // padding-left: 10px;
          // padding-right: 20px;
          cursor: pointer;

          .select-box {
            width: 420px;
            height: 36px;
            line-height: 36px;
            position: relative;
            padding-left: 10px;
            padding-right: 20px;

            .selected {
              font-size: 14px;
              font-weight: 400;
              color: var(--color-font-2);
              cursor: pointer;
            }

            .selectIcon {
              font-size: 14px;
              color: #666666;
              position: absolute;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          .option-box {
            width: 420px;
            height: auto;
            background: #FFFFFF;
            border-radius: 4px;
            border: 1px solid #E4E4E4;
            position: absolute;
            right: 0;
            bottom: 36px;
            z-index: 3;

            .option-item {
              width: 100%;
              height: 36px;
              line-height: 36px;
              color: var(--color-font-2);
              padding-left: 10px;

              &:hover {
                color: var(--color-theme-1);
                background: rgba(255,119,0,0.2);
              }
            }
          }
        }

        .textarea {
          margin: 20px 0 0 10px;

          .new-comment-edit-text-box {
            width: 493px;
            background: #FAFAFA;
            color: var(--color-font-1);
            display: inline-block;
            border-radius: 4px;
            margin-right: 8px;

            .new-comment-edit-text {
              display: inline-block;
              width: 100%;
              font-size: 12px;
              color: var(--color-font-1);
              padding: 10px;
              border: none;
              background: #FAFAFA;
              resize: none;
              outline: none;

              &::-webkit-scrollbar {
                width: 0;
                height: 0;
                opacity: 0;
              }

              &::-webkit-scrollbar-thumb {
                box-shadow: none;
                background: none;
                opacity: 0;
              }

              &::-webkit-scrollbar-track {
                box-shadow: none;
                background: none;
                opacity: 0;
              }
            }
            .text-num {
              float: right;
              font-size: 12px;
              color: var(--color-font-3);
              margin-right: 20px;
            }
            .notAllow {
              color: #F34541;
            }
          }

          
        }

        .content {
          font-size: 14px;
          color: var(--color-font-1);
          word-break: break-word;
        }
      }
      
    }
    .fail-reason {
      font-size: 14px;
      color: var(--color-font-3);
      display: flex;
      align-items: center;
      padding-top: 50px;
    }
    
  }
  .sourcing-result.isVip {
    .submit {
      background: var(--color-theme-1-vip) !important;

      &:hover {
        background: var(--color-theme-1-1-vip) !important;
      }
    }
    .submit.btn-not:hover {
      background: var(--color-theme-1-vip) !important;
      opacity: 0.5;
      cursor: not-allowed;
    }

    .option-item:hover {
      color: var(--color-theme-1-vip) !important;
      background: rgba(221,168,99,0.2) !important;
    }
  }
}

.vip .sourcing-detail{
    .recommendList .left-icon {
      color:var(--color-theme-1-vip);
    }
    .recommendList .right-icon {
      color:var(--color-theme-1-vip);
    }
    .recommendList .left-icon:hover,.recommendList .right-icon:hover{
      color:var(--color-theme-1-1-vip);
    }
}

.product-show-img{
  width:280px;
  height:280px;
  border-radius:10px;
  border:1px solid #f4f4f4;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  img{
    width:100%;
    height:100%;
  }

  .proName {
    position:absolute;
    left:0;
    bottom:0;
    height:0;
    width:100%;
    background:rgba(255,255,255,0.65);
    color:#666;
    transition: all .45s;
    
    ._text {
      padding:10px 16px;
      overflow: hidden;      
      text-overflow: ellipsis;      
      display: -webkit-box; /* 将对象作为弹性伸缩盒子模型显示 */      
      -webkit-line-clamp: 2; /* 控制最多显示几行 */      
      -webkit-box-orient: vertical; /* 设置或检索伸缩盒对象的子元素的排列方式 */    
    }
  }

  &:hover{
    .proName {
      height: 60px;
    }
  }

  .rateIcon {
    font-size: 28px !important;
  }
}

.vip .sku-tag {
  background: var(--color-theme-gradient-1-vip);
  &:hover {
    background: var(--color-theme-1-vip)
  }
}
.sku-tag-box {
  width: 83%;
}
.sku-tag {
  font-size: 12px;
  color: #fff;
  display: inline-block;
  height: 30px;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  background: #f70;
  margin: 5px;
  &:hover {
    background-color: #f90;
    color: #fff;
  }
}