.sourcing-add {
  background-color:#F2F2F2;
  
  .sourcing-loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:164px;
    width:100%;

    .loading-animation{
      width:35px;
      height:25px;
    }

    .loading-text{
      color:#999999;
      font-size:14px;
      width:180px;
      text-align: center;
      line-height: 20px;
      margin-top:10px;
    }
  }

  .sourcing-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:164px;
    width:100%;

    .sourcing-empty-img{
      width:100px;
      height:69px;
      background: url('./empty_sourcing.png') center no-repeat;
    }

    .sourcing-empty-text{
      color:#999999;
      font-size:14px;
      width:180px;
      line-height: 20px;
      margin-top:10px;
      text-align: center;
    }
  }

  i.add-img-icon {
    width: 37px;
    height: 32px;
    background: url("./add-img.svg") no-repeat center;
    margin: 0;
    border-radius: initial;
    margin-top: 7px;
    display: inline-block;
  }

  .addpro-detail{
    background-color:#fff;
    min-height:100%;
  }


  span.k-tit{
    text-align: right!important;
    margin-right:15px;
  }

  .addpro-detail > ul > li .second-element{
    color:#333;
  }
  .addpro-detail > ul > li:first-of-type .demo-label{
    color:#333;
  }

  .no-store-msg {
    font-size: 14px;
    color: red;
    margin-top: 5px;
    margin-left: 170px;

    a {
      cursor: pointer;
      color: #639df3;
    }
    a:hover {
      color: #277bfa;
    }
  }

  .addpro-detail > ul > li.tips {
    font-size: 14px;
    color: red;
    margin-bottom: 11px;
    margin-top: -16px;
    margin-left: 14px;
  }

  .wangEditor-container{
    width:993px;
    flex:none;
    margin-left:4px;
  }

  .addproducts-con{
    margin-bottom:0;
  }

  .cj-sync-store .btn-theme {
    height:40px!important;
    font-size:14px!important;
  }

  .search-icon {
    width: 24px;
    height: 21px;
    display: inline-block;
    background: url(./search.svg) no-repeat center;
  }

  .res-upload-div .up-bg-div {
    display: inline-block;
    width: 104px;
    height: 104px;
    text-align: center;
    background: rgba(0, 0, 0, 0.02);
    border:1px dashed rgba(0,0,0,0.15);
    margin-left:5px;
  }

  .up-bg-div {
    padding: 15px 0;
    text-align: center;

    img {
      width: 26px;
      height: 26px;
    }

    p {
      font-size: 14px;
      margin-top: 0;
    }
  }

  .from-tip {
    margin: 0 0 10px 0;
    font-size: 14px;
    padding: 6px 16px;
    background: #E6E6E6;
  }

  /*
  =====================
  ====  带搜图的卡片 ====
  =====================
  */
  .search-img-container {
    padding-top: 20px;
    margin-left:170px;
    // max-width: 1560px;
  }

  .search-img-container .product-box {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 20px 0;
    width: 269px;
    border: 1px solid #ececec;
    padding-bottom: 10px;
    box-sizing: unset;
    transition: all .45s;
  }

  .search-img-container .product-box-check {
    border: 1px solid #f99429;
  }

  // .search-img-container .product-box:nth-child(3n) {
  //   margin-right: 0;
  // }

  .search-img-container .product-box>.product-img {
    width: 267px;
    height: 267px;
    text-align: center;
  }

  .search-img-container .product-box>.product-img img {
    width: auto;
    height: 100%;
    max-width: 100%;
  }

  .search-img-container .product-box .product-title {
    color: #333333;
    p{
      padding:0 5px;
      margin-top:10px;
    }
  }

  .search-img-container .product-box .product-price {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
    padding:0 5px;
  }

  .search-img-container .like-title {
    margin: 20px 0 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
  }

  .search-img-container .likes-container {
    display: flex;
    justify-content: space-between;
    padding:0 5px;
  }

  .search-img-container .likes-container span {
    line-height: 75px;
    cursor: pointer;
    width: auto;
    font-size:11px;

    &:nth-of-type(1){
      padding-right:3px;
    }
    &:nth-of-type(2){
      padding-left:3px;
    }
  }

  .search-img-container .likes-container .likes-window {
    width: 230px;
    overflow: hidden;
  }

  .search-img-container .like-box .like-products {
    width: 9999px;
    transition: all 1s;
  }

  .search-img-container .like-box .like-products>li {
    width: 100px;
    height: 100px;
    margin: 0 5px 0 0;
  }

  .search-img-container .like-products .like-href {
    display: inline-block;
    width: 75px;
    margin-right: 3px;
  }

  .search-img-container .like-href .detail-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    transition: all .5s;
    overflow: hidden;
  }

  .search-img-container .detail-box div {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    width: 75px;
    height: 75px;
  }

  .search-img-container .detail-box p {
    position: absolute;
  }

  .search-img-container .detail-box p:nth-child(1) {
    top: 0;
    height: 42px;
    // width: 84px;
    padding: 8px;
    box-sizing: content-box;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;

    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    line-height: 17px;
  }

  .search-img-container .detail-box p:nth-child(2) {
    bottom: 0;
    padding: 0 0 0 8px;
    text-align: left;
    width: 100%;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 20px;
  }

  .search-img-container .like-href li:hover .detail-box {
    height: 100%;
  }

  .search-img-container .like-href li:hover .detail-box p:nth-child(2) {
    font-size: 16px;
  }

  .like-href li {
    position: relative;
  }

  .search-img-container .read-more {
    cursor: pointer;
    margin: 10px auto;
    margin-bottom:0;
    width: 140px;
    height: 24px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
    display: block!important;
  }

  .text-clip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.sourcing-add.isVip {
  .hnj-back-to {
    .goBack:hover {
      color: var(--color-theme-1-1-vip);
    }
    .see-more {
      background-color: var(--color-theme-1-vip);
  
      &:hover {
        background-color: var(--color-theme-1-1-vip);
      }
    }
    .third-party li:hover {
      background-color: rgba(221, 168, 99, 0.2);
      color: var(--color-theme-1-vip);
      cursor: pointer;
    }
  }
  .cj-sync-store .btn-theme {
    background: var(--color-theme-1-vip);
    &:hover {
      background: var(--color-theme-1-1-vip);
    }
  }
}
.sourcing-add:not(.isVip) {
  .hnj-back-to {
    .goBack:hover {
      color: var(--color-theme-1-1);
    }
    .see-more {
      background-color: var(--color-theme-1);
  
      &:hover {
        background-color: var(--color-theme-1-1);
      }
    }
    .third-party li:hover {
      background-color: rgba(255, 119, 0, 0.2);
      color: var(--color-theme-1);
      cursor: pointer;
    }
  }
  .cj-sync-store .btn-theme {
    background: var(--color-theme-1);
    &:hover {
      background: var(--color-theme-1-1);
    }
  }
}