body{
    margin:0;
}
.top-icon {
    padding: 28px;
}
.box{
    width:80%;
    margin:0 auto;
}
.sbox{
    padding:.5rem 10%;
    position: relative;
    z-index: 2;
}
.sbox h3{
    font-size:4rem;
    font-family:STSongti-SC-Regular,STSongti-SC;
    font-weight:400;
    color:rgba(72,87,182,1);
    line-height:5.2rem;
}
.sbox p{
    font-size:1.2rem;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:2rem;
}
.sbox p a,.box h4 a{
    color:rgba(72,87,182,1);
}
.sbox h4 a{
    font-family:STSongti-SC-Regular,STSongti-SC;
}
.box h4{
    font-size:2rem;
    font-family:STSongti-SC-Regular,STSongti-SC;
    font-weight:400;
    color:rgba(72,87,182,1);
    line-height:2rem;
    position: relative;
}
.pa{
    padding-left: 5rem;
}
.be:before{
    content:'';
    width:5rem;
    height:5px;
    background: #4857B6;
    position: absolute;
    top:-1.5rem
}
.img1{
    position: absolute;
    width:42%;
    bottom:-3rem;
    right:2rem;
}
.img2{
    position: absolute;
    top:9rem;
    right:7rem;
}
.img4,.img12{
    width:46%;
}
.sbox1{
    padding-bottom:9rem;
    background: #F2F5FA;
}
.center{
    margin:4rem auto;
    text-align: center;
}
.img3,.img7,.img11{
    width:8%;
}
.img5,.img13{
    width:42%;
    position: absolute;
    right:0;
    bottom:0;
}
.img6,.img14{
    width:40%;
    position: absolute;
    right:24rem;
    bottom:21rem;
}
.img14{
    right:30rem;
    bottom:17rem;
}
.img10{
    width:60%;
    position: absolute;
    right:12rem;
    bottom:24rem;
}
.img8{
    width:42%;
    position: absolute;
    right:0;
    top:4rem;
}
.img9{
    width:42%;
    position: absolute;
    left:0;
    bottom:0;
}
.p1,.p2,.p3,.p4{
    width:40%;
    position: absolute;
    right:0;
    top:18%;
}
.p2{
    left:8%;
    top:80%;
}
.p3{
    left:0;
    top:18%;
}
.p4{
    right:8%;
    top:80%;
}
.sbox p.p5{
    font-size: 2.5rem;
    color:#666;
    line-height: 3.5rem;
}
.sbox2{
    height:60rem;
    padding-top: 10rem;
}
.sbox3,.sbox4{
    height:60rem;
    padding-top: 10rem;
}
.sbox2:after,.sbox4:after{
    content: "";
    width:85%;
    height:100%;
    background: #FAEEF9;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
.sbox4:after{
    background: #FFF5ED;

}
.sbox3:after{
    content: "";
    width:85%;
    height:100%;
    background: #F2FAFB;
    position: absolute;
    top:0;
    right:-5rem;
    z-index: -1;
}
.flag{
    width:3rem;
    margin-left: 3rem;
}
.link-content{
    width:80%;
    margin:3rem auto;
    background: #F2F5FA;
    box-sizing:border-box;
    padding:3rem;
    overflow: hidden;
}
.link-content h3{
    width:22%;
    float: left;
    font-size: 1.5rem;
    font-weight:400;
}
ul{
    float: left;
    padding-left:2rem;
}
ul li{
    list-style: none;
    line-height: 3rem;
    font-size: 1rem;
}
li span{
    margin-right:5px;
}
li a{
    color:#666;
    text-decoration: none;
}
.foot{
    line-height:60px;
    text-align: center;
    background: #40424C;
    color:#fff;
}
.long{
    width:10000px;
}
@media screen and (min-width:300px) and (max-width:500px) {
    body{
        margin:0;
        width:100%;
    }
    .box{
        width:100%;
    }
    .top-icon,.img2{
        display: none
    }
    .sbox h3,.box h4{
        font-size:1.2rem;
        line-height:2;
    }
    .sbox p{
        font-size:.9rem;
        line-height:2;
    }
    .be:before{
        content:'';
        width:3rem;
        height:2px;
        background: #4857B6;
        position: absolute;
        top:-.7rem
    }
    .img1{
        width:60%;
        right:0;
        bottom: -1.5rem;
        z-index: -1;
    }
    .sbox1{
        padding-bottom:0;
        background: #F2F5FA;
        padding-bottom:1rem;
    }
    .center{
        margin:3rem auto;
        text-align: center;
    }
    .pa {
        padding-left:1rem;
    }
    .sbox2{
        height: 33rem;
        padding-top: 1rem;
    }
    .img4, .img12 {
        width: 54%;
        position: relative;
        left:-1rem;
        top:2rem
    }
    .p1{
        width: 47%;
        position: absolute;
        padding-right:1rem;
        right: 0;
        top: -2%;
    }
    .img6, .img14 {
        width: 40%;
        position: absolute;
        right: 8rem;
        bottom: 12rem;
    }
     .p2{
        width: 50%;
        position: absolute;
        right: 0;
        top: 56%;
    }
    .sbox3, .sbox4 {
        height: 24rem;
        padding-top: 1rem;
        overflow: hidden;
    }
    .img8 {
        top: 1rem;
    }
    .p3 {
        left: 1rem;
        top: 7%;
        width:49%;
    }
    .p4 {
        right: 8%;
        top: 57%;
    }
    .img10 {
        right: 4rem;
        bottom: 9rem;
    }
    .sbox4 {
        height: 32rem;
        padding-top: 1rem;
    }
    .sbox p.p5 {
        font-size: 1rem;
        color: #666;
        line-height: 1.5rem;
        top: 71%;
    }
    .link-content {
        margin: 1rem auto;
        background: #F2F5FA;
        box-sizing:content-box;
        padding: 1rem;
        overflow: hidden;
    }
    .long{
        width:100%;
    }
    .link-content h3 {
        width: 100%;
        float: left;
        font-size: 1rem;
        font-weight: 400;
    }
    ul {
        float: none;
        padding-left: 0;
        margin:0;
    }
    ul li {
        list-style: none;
        line-height: 1.5rem;
        font-size: 1rem;
    }
    li a{
        font-size: .5rem;
    }
    .foot{
        display: none
    }
}