
<div class="confirm-box" ng-show="promptFlag">
    <div class="confirm-main" style="width: 483px;">
      <i class="iconfont confirm-close" ng-click="promptFlag=false"></i>
      <div class="confirm-title">Disable MFA Verification</div>
      <div class="confirm-content">
        <p class="delete-tip" style="text-align: left;">
          MFA verification will not be avaliable for you. Are you sure to disable? Please re-link when you need it.
        </p>
        
      </div>
      <div class="confirm-btn-box">
        <span ng-click="promptFlag=false" class="no-btn">Cancel</span>
        <span ng-click="deletInvoiceFun()" class="yes-btn btn-theme">Confirm</span>
      </div>
    </div>
  </div>