.my-inventory{
  .button-wrap{
    display: flex;
    justify-content: flex-end;
  }
  .transBtn{
    margin-left: 15px;
  }
}
.mycj-home-box .page-box {
  width: 220px;
  margin: 20px auto;
}

.asj-my-inventory .asj-top-head {
  height: 48px;
  line-height: 48px;
  background: #262626;
}

.li-inve-top {
  margin-top: 4px;
}

.li-inve-bottom {
  padding: 0 2%;
}

.li-inve-bottom span {
  line-height: 20px;
  float: left;
  width: 16%;
}

.asj-my-inventory .asj-top-head {
  & {
    .li-inve-record {
      line-height: 20px;
      width: 16%;
    }

    .li-inve {
      line-height: 20px;
    }
  }

}

.asj-my-inventory li {
  float: left;
  width: 25%;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.vip .asj-my-inventory li {
  color: #F3DBA5;
}

.asj-my-inventory .li-inve {
  width: 23%;
}

.asj-my-inventory .li-checkall {
  width: 5%;
  line-height: 55px;
  position: relative;
}

.asj-my-inventory .li-checkall input,
.asj-inve-body .li-checkone input {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.asj-my-inventory .li-checkall input+label,
.asj-inve-body .li-checkone input+label {
  display: inline-block;
  padding-left: 20px;
  height: 16px;
  background: url(/static/image/login/multiple1.png) left center no-repeat;
  background-size: 17px 16px;
  font-size: 12px;
  color: #333;
  cursor: pointer;
}

.asj-my-inventory .li-checkall input:checked+label,
.asj-inve-body .li-checkone input:checked+label {
  background-image: url(/static/image/login/multiple2.png);
  background-size: 17px 16px;
  cursor: pointer;
}

.asj-my-inventory .li-img {
  width: 13%;
}

.asj-my-inventory .li-merch {
  width: 21%;
  word-break: break-all;
}

.asj-my-inventory .li-merch-record {
  width: 17%;
  word-break: break-all;
}

.asj-my-inventory .li-Source {
  width: 10%;
}

.asj-my-inventory .li-sku {
  width: 15%;
}

.asj-inve-con {
  width: 100%;
}

.asj-inve-con thead {
  background: #fff;
}

.show-variant-btn img {
  width: 24px;
}

.asj-inve-con .asj-inve-tr {
  border: 1px solid #f3f3f3;
  .view-details {
    height: 30px;
    line-height: 28px;
    color: #5e5e5e;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    width: 91px;
    background: #fff;
  }
  .li-record {
    .glyphicon-question-sign {
      &::after {
        content: '\e671';
      }
    }
  }

  .li-operate {
    .btn-transfer {
      border-radius: 4px;
      border: 1px solid rgba(193, 193, 193, 1);
      color: rgba(102, 102, 102, 1);
      background: #fff;
    }

    .btn-transfer-disabled {
      color: rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      border: 1px solid rgba(217, 217, 217, 1);
    }
  }
}

.asj-inve-con .asj-inve-tr {
  .li-record {
    width: 6%;

    .li-record-sub {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .btn-transfer {
        border-radius:4px;
        border:1px solid var(--color-line-1);
        color: var(--color-font-1);
        &:hover {
          border:1px solid var(--color-theme-1);
          color: var(--color-theme-1);
        }
      }
    }
  }

  .li-record-s {
    width: 13%;

    .li-record-sub {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .btn-transfer {
        border-radius:4px;
        border:1px solid var(--color-line-1);
        color: var(--color-font-1);
        &:hover {
          border:1px solid var(--color-theme-1);
          color: var(--color-theme-1);
        }
      }
    }
  }

  .li-operate {
    .btn-transfer {
      border-radius:4px;
      border:1px solid var(--color-line-1);
      color: var(--color-font-1);
      &:hover {
        border:1px solid var(--color-theme-1);
        color: var(--color-theme-1);
      }
    }

    .btn-transfer-disabled {
      color:rgba(0,0,0,0.25);
      border:1px solid var(--color-line-8);
      color: var(--color-font-2);
    }
  }
}

.asj-inve-con td {
  white-space: normal;
  font-size: 14px;
  padding: 5px 0;
  text-align: center;
  // width: 10%;
}

.asj-inve-con td.li-inve-record {
  width: 23%;
  // padding: 0 10px;
}

.asj-inve-con td.li-inve {
  // width: 25%;
  // padding: 0 10px;
  padding: 0 5px;
}

.asj-inve-con td.li-inve span {
  float: left;
  width: 16%;
}

.asj-inve-con td.li-inve-record span {
  float: left;
  width: 20%;
}

.asj-inve-con .li-checkone {
  width: 5%;
}

.asj-inve-con .li-merch {
  text-align: left;
}

.asj-inve-con .li-merch .merch-size {
  color: #7b7b7b;
}

.asj-inve-con .li-merch {
  width: 21%;
  padding: 10px 10px 10px 0;
}

.asj-inve-con .li-merch-record {
  width: 17%;
  padding: 10px 10px 10px 0;
  text-align: left;
}

.asj-inve-con .li-record a {
  color: #333;
}

.asj-inve-con .li-record a:hover {
  color: var(--color-theme-1);
}

.asj-inve-record {
  width: 784px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.asj-inve-record th {
  width: 25%;
  border: 0;
}

.asj-inve-record tr {
  border-left: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

.asj-inve-record td {
  height: 54px;
  border-right: 1px solid #f3f3f3;
  text-align: center;
}

.asj-inve-record .top-tr {
  border-left: 0;
}

.asj-inve-record .top-td {
  height: 5px;
  border-right: 0;
}
.search-header{
  width: 100%;
  line-height: 30px;
  display: grid;
  grid-template-columns: 470px auto 276px;
}

.search-bar .search-inp {
  font-size: 12px;
}
.search-header .is-hide-icon {
  color: #333333;
  cursor: pointer;
}
.search-header .is-hide-icon:hover {
  color: #FF7700;
}
.search-header .exportBtn{
  width: 100px;
  line-height: 33px;
  background-color: white;
  font-size: 14px;
  color: #FF7700;
  border-radius: 4px;
  border: 1px solid #FF7700; //#DDA863
  box-sizing: border-box;
  padding: 0px 10px;
  height: 33px;
}
.btn-position-text{
  position: relative;
  top: -2px;
}
.search-header .transBtn{
  margin-left: 14px;
  background-color:white;
  white-space: nowrap;
  padding: 0 10px;
  line-height: 30px;
  font-size: 14px;
  color: #FF7700;
  border-radius: 4px;
  border: 1px solid #FF7700;
  height: 33px;
}
.search-header .transBtn:hover{
  background-color:#FF9900;
  color: white;
  border-color: #FF9900;
}
.search-header .exportBtn:hover{
  background-color:#FF9900;
  color: white;
  border: 0;
}
.vip .search-header .is-hide-icon {
  cursor: pointer;
}

.vip {
  .asj-inve-con .li-record a:hover {
    color: var(--color-theme-1-vip);
  }
  .asj-inve-con .asj-inve-tr {
    .li-record {
      .li-record-sub {
        .btn-transfer {
          &:hover {
            border:1px solid var(--color-theme-1-vip);
            color: var(--color-theme-1-vip);
          }
        }
      }
    }
    .li-record-s {
      .li-record-sub {
        .btn-transfer {
          &:hover {
            border:1px solid var(--color-theme-1-vip);
            color: var(--color-theme-1);
          }
        }
      }
    } 
    .li-operate {
      .btn-transfer {
        &:hover {
          border:1px solid var(--color-theme-1-vip);
          color: var(--color-theme-1-vip);
        }
      }
    }
  }
}
.vip .search-header .is-hide-icon:hover{
  color: #DDA863;
}
.vip .search-header .exportBtn{
  color: #DDA863;
  border: 1px solid #DDA863;
}
.vip .search-header .transBtn{
  color: #DDA863;
  border: 1px solid #DDA863;
}
.vip .search-header .exportBtn:hover{
  background:#DDA863;
  color: white;
  border: 0;
}
.vip .search-header .transBtn:hover{
  background:#DDA863;
  color: white;
  border-color: #DDA863;
}
.search-header select{
  border: 1px solid #e9e9e9;
  width: 172px;
  height: 30px;
  margin-left: 20px;
  font-size: 12px;
  color: #2a2a2a;
  text-indent: 20px;
}
.hide-zero-tips{
  color: #87899C;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  text-align: center;
}




.li-record .view-details {
  height: 30px;
  line-height: 28px;
  color: #5e5e5e !important;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  font-size: 12px;
  display: inline-block;
  width: 91px;
  background: #fff;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10002;
}

.mask .content {
  width: 540px;
  height: 300px;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 20% auto;
}

.mask .content h3 {
  border-bottom: 1px solid #F0F0F0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: relative;
}

.mask .content h3 .close {
  line-height: 1;
  font-size: initial;
  position: absolute;
  right: 15px;
  top: 15px;
  color: #5A6872;
}

.mask .content .filter {
  margin-top: 17px;
  margin-bottom: 19px;
  line-height: 32px;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.mask .content .filter select {
  /*width:158px;*/
  height: 32px;
  border-radius: 4px;
  border: 1px solid rgba(217, 217, 217, 1)
}

.mask .content table {
  width: 100%;
}

.mask .content table thead {
  background: rgba(244, 248, 253, 1);
  border: 1px solid rgba(244, 248, 253, 1);
}

.mask .content table thead th {
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  height: 30px;
  border: none;
}

.mask .content table tbody {
  border: 1px solid #F3F3F3;
}

.mask .content table tbody tr {
  height: 40px;
  border-bottom: 1px solid #F3F3F3;
}

.mask .content table tbody tr td {
  border: none;
  text-align: center;
}

.mask .box {
  width: 360px;
  height: 150px;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 20% auto;
  padding: 45px 0 20px;
}

.mask .box-2 {
  width: 408px;
  height: 263px;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 20% auto;
  padding: 45px 10px 20px;
}

.mask .box-2 .closel {
  position: absolute;
  top: 21px;
  right: 23px;
  font-size: 12px;
  cursor: pointer;
}

.mask .box-2 p {
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-bottom: 35px;
}

.mask .box .closel {
  position: absolute;
  top: 21px;
  right: 23px;
  font-size: 12px;
  cursor: pointer;
}

.mask .box p {
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-bottom: 35px;
}

.mask .btns {
  text-align: center;
  width: 100%;
  font-size: 0;
}

.mask .btns button {
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  width: 80px;
  height: 30px;
  color: #666;
  font-size: 14px;
}

.mask .btns button:hover {
  border: 1px solid #c1c1c1;

}

.mask .btns button.con {
  border: none;
  margin-left: 15px;
  background-color: #FF7700;
  color: #fff;
}

.mask .btns button.con:hover {
  background-color: #FF9900;
}

.vip .mask .btns button.con {
  background: linear-gradient(135deg, rgba(242, 215, 161, 1) 0%, rgba(223, 173, 101, 1) 100%);
}

.vip .mask .btns button.con:hover {
  background: #A17C4E;
}

.vipbg {
  background-color: #F0EDE7;
}
.vipText{
  color: #DDA863;
}
.search-header .total-value{
    display: inline-block;
    margin-left: 30px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
}
.search-header .no-inventory-product-wrap {
  display: inline-block;
  margin-left: 30px;
  .product-checked {
    margin-top: -4px;
    cursor: pointer;
  }
}
.search-header .no-inventory-product-wrap .no-inventory-text {
  margin-left: 10px;
  display: inline;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;
}

.msg-box::after {
  position: absolute;
  top: 97%;
  border-bottom: 9px solid transparent;
  content: " ";
  width: 0px;
  height: 0px;
  border-right: 9px solid transparent;
  border-top: 9px solid rgb(64 64 64);
  border-left: 9px solid transparent;
}

.resell-hover:hover {
  border-color: var(--color-theme-1) !important;
  color: var(--color-theme-1) !important;
}

.vip .resell-hover:hover {
  border-color: var(--color-theme-1-vip) !important;
  color: var(--color-theme-1-vip) !important;
}

.span-box {
  position: relative; 
  display: inline-block;
}

.span-box .msg-box {
  position: absolute;
  display: inline-block;
  left: -20px; 
  bottom: 95%;
  min-width: 292px !important ; 
  padding: 17px 20px; 
  z-index: 1000; 
  font-size: 12px;
  text-align: left;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.749);
}

.span-box .msg-box p {
  float: none;
  font-size: 12px;
  color: #FFFFFF;
}

.msg-box::after{
  position: absolute;
  top: 97%;
  border-bottom: 9px solid transparent;
  content: " ";
  width: 0px;
  height: 0px;
  border-right: 9px solid transparent;
  border-top: 9px solid rgb(64 64 64);
  border-left: 9px solid transparent;
}
.top-back-box{
  width: 100%;
  padding: 16px 0;
  color: #333;
  font-size: 16px;
  line-height: 22px;
  &-content {
    cursor: pointer;
    &:hover {
      color: #FF7700;
    }
  }
}
.vip .top-back-box-content:hover{
  color: #dda863;
}

.mycj-btn-default {
  background-color: var(--color-theme-1);
}
.mycj-btn-default:hover {
  background-color: var(--color-theme-1-1);
}
.vip .mycj-btn-default {
  color: #333;
  background-color: var(--color-theme-2-vip);
}
.vip .mycj-btn-default:hover {
  background-color: var(--color-theme-2-1-vip);
}