<div class="reply-swiper-box" ng-click="$event.stopPropagation();">
  <div class="swiper-container reply-swiper-container">
    <div class="swiper-wrapper reply-swiper-wrapper">
        <div class="swiper-slide reply-swiper-slide" ng-repeat="item in swiperImageList">
          <img ng-src="{{item.img ? item.img : defaultImg}}" alt="" class="reply-swiper-img" ng-style="{{item.style}}" err-src="static/image/public-img/default.jpg">
        </div>
    </div>
    <div class="swiper-button-prev reply-swiper-button-prev"></div>
    <div class="swiper-button-next reply-swiper-button-next"></div>
  </div>
  <div class="swiper-pagination reply-swiper-pagination"></div>
</div>

