.seachPage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  :global {
    .header {
      width: 100%;
      height: auto;
    }

    .header-search {
      width: 100%;
      height: auto;
    }

    .filter-content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: auto;
      margin-top: 8px;

      .filter-inner {
        width: 1200px;
        height: auto;
        min-height: 200px;
        background: #fff;
      }
    }

    .search-result {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;

      .search-result-inner {
        width: 1200px;
        height: 40px;
        line-height: 40px;
        padding: 0 17px;
        color: #999;
        font-size: 14px;
      }
    }

    .goods-content {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;

      .goods-content-inner {
        width: 1200px;
        height: auto;
        background: #fff;
        padding: 5px 16px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        .goods-content-inner-item {
          width: 189px;
          height: auto;
          margin-top: 25px;
          margin-right: 6px;
        }

        .goods-content-inner-item:nth-of-type(6n) {
          margin-right: 0;
        }
      }
    }
    .keyWords {
      width: 1200px;
      height: 37px;
      margin: auto;
      padding-left: 35px;
      line-height: 37px;
      font-size: 14px;
      color: #999999;
    }
  }
}
