.system-message-all {
  max-width: 1200px;
  margin: 23px auto;

  .cj-am-cen {
    background-color: #fff;
    padding-top: 10px;
  }

  .pages-fun {
    text-align: center;
  }

  .cj-am-title {
    height: 40px;
    line-height: 40px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
  }

  .cj-am-titleFont {
    display: block;
    width: 184px;
    float: left;
    margin-right: 6px;
    background: #545662;
    color: #fff;
    border-radius: 4px 4px 0px 0px;
    font-size: 16px;
  }

  .cj-am-titleFontVip {
    color: #F3DBA5;
    background: linear-gradient(90deg, rgba(76, 75, 75, 1) 0%, rgba(49, 48, 46, 1) 100%);
    font-weight: 500;
  }

  .active {
    color: #545662;
    background: #fff;
  }

  .activeVip {
    color: #DDA863;
    background: #fff;
  }

  .cj-am-main {
    padding: 0;
    min-height: 766px;
    position: relative;
  }

  .not-found-data {
    text-align: center;
    background: none;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 100px);
  }

  .not-found-data img {
    width: 240px;
    display: block;
    margin: 0 auto 15px;
  }

  .NodataList {
    color: #999;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    line-height: 20px;
  }

  .cj-main-top {
    border-bottom: none;
  }

  .cj-main-list .cj-list-ul .cj-list-li {
    border-bottom: none;
    padding: 0;
  }

  .cj-list-liBorder {
    border-bottom: 1px solid #ececec;
    margin: 0 50px 0;
    padding-left: 18px;
    box-sizing: border-box;
    overflow: hidden;
  }

  

  .cj-ul-p2 a {
    color: #333333;
  }

  .cj-main-list .cj-list-ul .cj-list-li .cj-ul-p1 .cj-mes-date {
    float: right;
  }

  .cj-main-list .cj-list-ul .cj-list-li .cj-del-img {
    right: 50px;
    top: 54px;
  }

  .cj-del-img {
    color: #F88F29;
  }

  .cj-main-list .cj-list-ul .cj-list-li:hover {
    background: #ECECEC;
  }

  .cj-main-list .cj-list-ul .cj-list-li .cj-ul-p1 .cj-mes-reason b {
    height: 8px;
    width: 8px;
  }

  .list-avactar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    position: relative;
  }

  .list-avactar img {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .list-content {
    float: left;
    font-size: 12px;
    height: 48px;
  }

  .list-time {
    float: right;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999;
    line-height: 20px;
    font-size: 12px;
  }

  .mesElit-left-detail {
    margin-bottom: 10px;
  }

  .mes-detail-titp span {
    font-size: 12px;
  }

  .Elites-noRead {
    background: #ff7700;
    height: 8px;
    border-radius: 50%;
    width: 8px;
    display: block;
    position: absolute;
    top: -1px;
    left: 36px;
  }

  .mark-all {
    float: right;
    font-size: 12px;
    font-weight: 500;
    color: #ff7700;
    &:hover {
      color: #E56A00;
    }
    /* line-height:17px; */
  }

  .mark-allVip {
    color: #DDA863 !important;
    &:hover {
      color: #C69658 !important;
    }
  }

  .mark-allVip-bg {
    background: #DDA863 !important;
  }

  .mark-list-cicrl {
    background: #999 !important;
    height: 8px !important;
    width: 8px !important;
  }

  .markAllStatus {
    color: #999;
  }

  #ld-pages {
    display: inline-block;
    margin: 28px auto 130px;
    vertical-align: middle;
  }

  #ld-pages a {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    color: #ababab;
    background-color: #e2e2e2;
    margin: 0 5px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    display: inline-block;
  }

  #ld-pages .active {
    color: #fff;
    background-color: #ffb554;
  }

  .cj-main-list .cj-list-ul .cj-list-li {
    position: relative;
    cursor: pointer;
  }

  .cj-main-list .cj-list-ul .cj-list-li .cj-ul-p1 {
    font-size: 0;
    padding: 12px 0;
  }

  .cj-main-list .cj-list-ul .cj-list-li .cj-ul-p1 .cj-mes-reason {
    font-size: 14px;
    color: #999;
    position: relative;
  }

  .cj-main-list .cj-list-ul .cj-list-li .cj-ul-p1 .cj-mes-reason {
    color: #999;
  }

  .cj-main-list .cj-list-ul .cj-list-li .cj-ul-p1 .cj-mes-reason b {
    position: absolute;
    left: -18px;
    top: 5px;
    width: 10px;
    height: 10px;
    background: #f87f09;
    border-radius: 5px;
  }

  .cj-main-list .cj-list-ul .cj-list-li .cj-ul-p1 .cj-mes-date {
    margin-left: 32px;
    font-size: 12px;
    color: #a3a3a3;
  }

  .cj-main-list .cj-list-ul .cj-list-li .cj-ul-p2 {
    padding-bottom: 12px;
    display: inline-block;
    max-width: 900px;
    height: 17px;
    font-size: 12px;
    color: #676767;
    overflow: hidden;
    margin-bottom: 11px;
    cursor: pointer;
  }

  .cj-main-list .cj-list-ul .cj-list-li .cj-del-img {
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
  }

  .cj-main-list .cj-list-ul .cj-list-li:hover {
    background: #f6f6f6;
  }

  .cj-main-list .cj-list-ul .cj-list-li:hover .cj-del-img {
    display: block;
  }

  .pageActiveVip {
    color: #fff !important;
    background-color: #DDA863 !important;
  }


}