.mycj-connection {
  .checked-box i {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 18px;
  }
  .pro-connected .pro-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 12px
  }

  .pro-connected .pro-title h3 {
    float: left;
    font-size: 16px;
    color: #3c3c3c;
    text-align: center;
  }

  .pro-connected .pro-title .left-h3 {
    width: 32%;
  }

  .pro-connected .pro-title .right-h3 {
    width: 68%;
  }

  .table-connected .media-img {
    width: 8%;
  }

  .table-connected .media-store {
    width: 8%;
  }

  .table-connected .media-info {
    text-align: left;
    width: 12%;
  }

  .table-connected .pro-price {
    width: 6%;
  }

  .table-connected .center-btn {
    width: 7%;
  }

  .table-connected .pro-weight {
    width: 7%;
  }

  .table-connected .pro-ship-method {
    width: 7%;
  }

  .table-connected .pro-ship-cost {
    width: 6%;
  }
  .table-connected .pro-amount {
    width: 6%;
  }
  .table-connected .pro-operating {
    width: 130px;
  }

  .table-connected .operating {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .table-connected .operating button {
    border-radius: 4px;
    border: 1px solid rgba(193, 193, 193, 1);
    font-size: 12px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    padding: 5px 5px;
    margin: 4px 0;
  }

  .pro-connected .media {
    overflow: visible;
  }

  .pro-connected .media .media-img {
    display: table-cell;
    vertical-align: middle;
    height: 76px;
    position: relative;
    cursor: pointer;
  }

  .pro-connected .media .media-img:hover .big-img {
    display: block;
  }

  .big-img {
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    width: 300px;
    height: auto;
    left: 100%;
    bottom: 0;
    display: none;
    z-index: 99;
  }

  .pro-connected .media .media-store {
    padding: 0 5px;
    display: table-cell;
    vertical-align: middle;
    // height: 76px;
  }

  .pro-connected .media .media-store p {
    font-size: 12px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    text-align: center;
  }

  .pro-connected .media .media-img .small-img {
    width: 76px;
    height: 76px;
    background: #fff;
    object-fit: contain;
    // border: 1px solid #eee;
    margin: 0 auto;
  }

  .pro-connected .media .media-info {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
    // margin-right: 50px;
    // max-width: 99px;
    /* 19-10-23 */
  }

  .pro-connected .media .media-info h4 {
    color: #454545;
    font-size: 12px;
    line-height: 24px;
    /*height: 48px;*/
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .pro-connected .media .media-info .media-attr {
    color: #757575;
    font-size: 12px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  /*-------------*/
  .pro-connected .media .media-info .sold-out-txt {
    display: none;
  }

  .pro-connected .media .media-info .sold-out-txt.active {
    display: block;
    font-size: 12px;
    color: #fa6470;
  }

  /*-------------*/

  .pro-connected .media .pro-price {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    // height: 76px;
    line-height: 18px;
    // margin-right: 70px;
    color: #2f2f2f;
    word-break: break-word;
  }

  .pro-connected .media .center-btn {
    // display: table-cell;
    // text-align: center;
    // vertical-align: top;
    // margin-right: 90px;
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pro-connected .media .center-btn .top-img {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px
  }

  .pro-connected .media .center-btn .disconnect-btn {
    width: 86px;
    height: 26px;
    line-height: 24px;
    padding: 0;
    border-color: var(--color-line-1);
    color: var(--color-font-1);
    font-size: 12px;
    &:hover {
      border-color: var(--color-theme-1);
      color: var(--color-theme-1);
    }
  }

  .pro-connected .media .pro-weight {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .pro-connected .media .pro-ship-method {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .pro-connected .media .pro-ship-cost {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .pro-connected .media .pro-ship-cost .check-cost-btn {
    margin: 5px;
    display: inline-block;
  }

  .pro-connected .media .pro-amount {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .tabIcon {
    font-size: 16px;
    color: var(--color-font-3);
    cursor: pointer;
    &:hover {
      color: var(--color-theme-1);
    }
  }

  .pro-connected .media .operation-dropdown {
    position: relative;
    .operation-dropdown-btn{
      width:115px;
      line-height: 30px;
      text-align: center;
      color: #f70;
      border:1px solid #f70;
      border-radius:4px;
      cursor: pointer;
    }

    .operation-dropdown-menu{
      position: absolute;
      width: 144px;
      line-height: 30px;
      text-align: center;
      box-shadow:2px 2px 16px 0px rgba(216, 213, 213, 0.5) ;
      background-color: #fff;
      color: #999;
      z-index: 1;
      left: -13px;
      li:hover{
        cursor: pointer;
        background-color: rgba(255,119,0, 0.21);
        color: #f70;
        a{
          color: #f70;
        }
      }
    }
  }

  .pro-connected .media .pro-price-right {
    margin-right: 0;
  }

  .asj-pro-box {
    width: 100%;
    min-height: 78px;
    // padding: 6px 10px;
    font-size: 12px;
    // display: table;
    display: flex;
    align-items: center;
  }
  .asj-pro-box>div {
    // float: left;
  }

  .asj-varient-box {
    width: 100%;
    border-bottom: 1px solid #ececec;
    min-height: 90px;
    padding: 6px 0;
    font-size: 12px;
    margin-bottom: 10px;
    // display: table;
    background: #f8f8f8;
    display: flex;
    align-items: center;
  }

  .pro-connected .asj-varient-box .center-btn .top-img {
    margin-top: 5px;
  }

  .asj-drop-btn {
    // position: absolute;
    // left: 50%;
    // bottom: 4px;
    // margin-left: -10px;
    width: 25px;
    border-radius: 10px;
    text-align: center;
    line-height: 16px;
    color: #000;
    margin-top: 5px;
  }

  .asj-drop-btn img {
    width: 25px;
    height: auto;
  }

  .single-role-drop {
    text-align: center;
  }

  .table-connected-top {
    background: #262626;
    line-height: 20px;
    color: #fff;
    font-weight: normal;
    padding: 5px 10px;
    // display: table;
    width: 100%;
    border: 1px solid #fff;
    // display: flex;
  }
  .table-connected-top-inner {
    display: flex;
    align-items: center;
  }

  .table-connected-top>div {
    text-align: center;
    font-size: 12px;
    // display: table-cell;
    // float: left;
    white-space: nowrap;
  }

  .select-store {
    width: 172px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    padding-left: 20px;
    border: 1px solid #e9e9e9;
    border-radius: 0;
    margin-top: 12px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .select-store:focus {
    box-shadow: none
  }

  .pro-connected .media {
    border: 1px solid #ececec;
    position: relative;
    overflow: visible;
    padding: 6px 10px;
  }

  .pro-connected .media .media-img {
    display: table-cell;
    vertical-align: middle;
    height: 76px;
    position: relative;
    cursor: pointer;
  }

  .pro-connected .media .media-img:hover .big-img {
    display: block;
  }

  .big-img {
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    width: 300px;
    height: auto;
    left: 100%;
    bottom: 0;
    display: none;
    z-index: 99;
  }

  .pro-connected .media .media-img .small-img {
    width: 76px;
    height: 76px;
    background: #fff;
    object-fit: contain;
    // border: 1px solid #eee;
    margin: 0 auto;
  }

  .pro-connected .media .media-info {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
    // margin-right: 50px;
    // max-width: 99px;
    /* 19-10-23 */
  }

  .pro-connected .media .media-info h4 {
    color: #454545;
    font-size: 12px;
    line-height: 24px;
    /*height: 48px;*/
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  /*-------------*/
  .pro-connected .media .media-info .sold-out-txt {
    display: none;
  }

  .pro-connected .media .media-info .sold-out-txt.active {
    display: block;
    font-size: 12px;
    color: #fa6470;
  }

  /*-------------*/

  .search-box-wrap{
    justify-content: space-between;
  }
}

.vip {
  .pro-connected .media .operation-dropdown {
    position: relative;
    .operation-dropdown-btn{
      width:115px;
      line-height: 30px;
      text-align: center;
      color: #D8A863;
      border:1px solid #D8A863;
      border-radius:4px;
      cursor: pointer;
    }

    .operation-dropdown-menu{
      position: absolute;
      width: 144px;
      line-height: 30px;
      text-align: center;
      box-shadow:2px 2px 16px 0px rgba(216, 213, 213, 0.5) ;
      background-color: #fff;
      color: #999;
      z-index: 1;
      li:hover{
        cursor: pointer;
        background-color: rgba(216, 168, 99, 0.2);
        color: #D8A863;
        a{
          color: #D8A863;
        }
      }
    }
  }
  .pro-connected .media .center-btn .disconnect-btn {
    &:hover {
      border-color: var(--color-theme-1-vip);
      color: var(--color-theme-1-vip);
    }
  }
  .tabIcon {
    &:hover {
      color: var(--color-theme-1-vip);
    }
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 32px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  top:3px
}

.select2-container .select2-selection--single{
  height: 36px !important;
}

.select2-results__option[aria-selected]{
  font-size: 12px;
}

.select2-search--dropdown {
  padding: 11px !important;
}

.connected-disconnect-popup .confirm-content {
  width: 360px;
}

.vip .mycj-connection .table-connected-top{
  color:#F3DBA5;
  .checked-box i {
    color:#F3DBA5;
  }
}
.vip .mycj-connection .checked-box i {
  color:#DDA863; 
}
.logistic-setting-popup {
  .confirm-main {
    text-align: center;
    width: 600px;
    height: 250px;
    .confirm-title {
      background: #fff;
    }
    .logistic-setting-item {
      margin-bottom: 20px;
      font-weight: 400;   
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-content: center;
      .item-title {
        margin-right: 20px;
        text-align: right;
        width: 120px;
        line-height: 40px;
      }
      select {
        width: 227px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 4px;
        padding-left: 15px;
        border: 1px solid #D9D9D9;
      }
    }
  }
}

.mycj-connection .tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .varient-box {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--color-font-2);
    font-size: 12px;
  }

  .tooltiptext {
    visibility: hidden;
    min-width: 140px;
    background-color: rgba(0,0,0,.75);
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    padding: 6px 8px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    word-break: break-all;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

&:hover{
  .tooltiptext {
    visibility: visible;
  }
}
}