.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 32px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  top:3px
}

.select2-container .select2-selection--single{
  height: 36px !important;
}

.select2-results__option[aria-selected]{
  font-size: 12px;
}

.select2-search--dropdown {
  padding: 11px !important;
}

.relevant-packaging {
  .search-bar {
    .search-inp{
      height: 38px;
      line-height: 38px;
    }
    .search-btn{
      background: var(--color-theme-1);
      color: var(--color-font-4);
      height: 38px;

      &:hover {
        background: var(--color-theme-1-1);
        color: var(--color-font-4);
      }
    }
  }
}
.selected-sku{
  position: relative;
  &.isproduct{
    border-color: #42A014;
    background: #F6FFED;
    color: #42A014;
  }
}
.selected-sku:hover .skutooltip{
  display: block;
}
.skutooltip{
  word-break: keep-all;
  white-space: nowrap;
  border-radius: 4px;
  position: absolute;
  text-align: left;
  background: #404040;
  color: #fff;
  font-size: 12px;
  padding: 5px 8px;
  line-height: 22px;
  bottom: 36px;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
  &:before{
    content: '';
    width: 0;
    height: 0;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #404040 transparent transparent;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -2.5px;
  }
}