.toTop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 160px;
  right: 24px;
  z-index: 1000;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.4s;

  :global {
    .toTopIcon {
      font-size: 20px;
      color: #ff7700;
      font-weight: 900;
    }
  }
}

.toTopShow {
  width: 44px;
  height: 44px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transition: all 0.4s;
}
