.import-process-required {
    .glyphicon-question-sign{
        &::after{
            content: '\e671';
        }
    }

    .top-update {
        width: 70px;
        height: 30px;
        display: inline-block;
        text-align: center;
        line-height: 30px;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        margin-top: 0.5rem;
        font-size: 14px;
        margin-left: 10px;
        &:hover .btn-detail-list{
          display: block;
        }
    }

    .cjdfd-wrap .fresh-Wrap .text-center{
      text-align: center;
    }
    .cjdfd-wrap .fresh-Wrap .fontsize-18px{
      font-size: 18px;
    }
    .cjdfd-wrap .fresh-Wrap .addfun-box{
      margin-bottom: 22px;
    }
    .cjdfd-wrap .fresh-Wrap .w223-inp{
      border:1px solid rgba(0,0,0,0.15);
      padding: 0 10px;
      height: 30px;
      width: 223px;
    }
    .cjdfd-wrap .fresh-Wrap .fresh-head{
      background: #F2F3F5;
    }
    .cjdfd-wrap .fresh-Wrap .fresh-th{
      color: #333333;
      font-size: 14px;
    }
    .cjdfd-wrap .fresh-Wrap .fleximg-box{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .cjdfd-wrap .fresh-Wrap .fleximg-box img{
      margin: 10px 10px 10px 20px;
    }
    .cjdfd-wrap .fresh-Wrap .fleximg-box .process-flex-block{
      width: 236px;

    }    
    .cjdfd-wrap .fresh-Wrap  .nameInfo {
      word-break: break-all;
    }
    .cjdfd-wrap .fresh-Wrap .fresh-td{
      font-size: 12px;
      color: #666666;
    }
    .cjdfd-wrap .fresh-Wrap .freshWuliu select{
      border: 1px solid #e9e9e9;
      width: 120px;
      height: 30px;
      font-size: 12px;
      color: #2a2a2a;
      text-indent: 10px;
    }
    .cjdfd-wrap .fresh-Wrap .return-history{
      font-size: 14px;
      color: #666666;
      float: left;
      cursor: pointer;
    }
    .cjdfd-wrap .fresh-Wrap .fleximg-box p{
      font-size: 12px;
      text-align: left;
      color: #666666;
    }
    .cjdfd-wrap .fresh-Wrap .fleximg-box p.nameInfo{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp:2;
      -webkit-box-orient:vertical;
    }
    .cjdfd-wrap .fleximg-box .curser-pointer{
      cursor: pointer;
    }
    .cjdfd-wrap .fresh-Wrap .cjdfd-btn{
      font-size: 14px;
      width: 80px;
      height: 30px;
      border-radius: 2px;
      margin-left: 15px;
    }
    .cjdfd-wrap .fresh-Wrap .gray-btn{
      border: 1px solid #E4E4E4;
      background:rgba(249,249,249,1);
      color:#666666;
      width: 96px;
    }
    .cjdfd-wrap .fresh-Wrap .cjdfd-footer{
      text-align: right;
      border-top:1px solid #eee;
    }
    .cjdfd-wrap .cjdfd-footer span{
      font-size: 14px;
      color: #666666;
    }
    .cjdfd-wrap .cjdfd-footer .margin-left15px{
      margin-left: 15px;
    }
    .cjdfd-wrap .cjdfd-footer .margin-right20px{
      margin-right: 20px;
    }
    .cjdfd-wrap .cjdfd-footer .fontsize-18px{
      font-size: 18px;
      color: #333333;
    }
    .cjdfd-wrap .fresh-Wrap .fontsize-orange18px{
      font-size: 18px;
      color: #FA6400;
    }
    .cjdfd-wrap .fresh-Wrap .fontsize-orange14px{
      font-size: 14px;
      color: #FA6400;
    }
    .cjdfd-wrap .fresh-Wrap .fontsize-14px{
      font-size: 14px;
      color: #666666;
    }
    .cjdfd-wrap .ord-totel-box{
      margin-top: 58px;
    }
    .cjdfd-wrap .fresh-Wrap .flex-vertical{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .cjdfd-wrap .fresh-Wrap .flex-vertical input{
      top: 0;
    }
    .cjdfd-wrap .fresh-Wrap .flex-vertical label{
      top: 0;
    }
    .cjdfd-wrap .ord-totel-box span{
      font-size: 14px;
    }
    .cjdfd-wrap .fresh-Wrap .pronum-inp{
      width: 40px;
      height: 32px;
      border-top: 1px solid rgba(0,0,0,0.15);
      border-bottom: 1px solid rgba(0,0,0,0.15);
      text-align: center;
      border-radius: 0;
      font-size: 12px;
    }
    .cjdfd-wrap .fresh-Wrap .fresh-img{
      height: auto;
      border: 0;
    }
    .cjdfd-wrap .fresh-Wrap .fresh-td{
      border: 0;
    }
    .cjdfd-wrap .fresh-Wrap .pronum-td span{
      border: 1px solid rgba(0,0,0,0.15);
      display: inline-block;
      height: 32px;
      width: 32px;
      line-height: 30px;
      vertical-align: top;
      cursor: pointer;
    }
    .cjdfd-wrap .fresh-Wrap .reduce{
      border-radius: 4px 0 0 4px;
    }
    .cjdfd-wrap .fresh-Wrap .plus{
      border-radius: 0 4px 4px 0;
    }

    .cjdfd-wrap .fresh-Wrap .width50per{
      width: 48%;
      display: inline-block;
      vertical-align: top;
    }
    .cjdfd-wrap .fresh-Wrap .fontsize-16px{
      font-size: 16px;
    }
    .cjdfd-wrap .fresh-Wrap .inp-group{
      margin-top: 10px;
    }
    .cjdfd-wrap .fresh-Wrap .inp-group span{
      width: 160px;
      display: inline-block;
      font-size: 14px;
      color: #666666;
      text-align: right;
      margin-right: 50px;
    }
    .cjdfd-wrap .fresh-Wrap .inp-group input,.cjdfd-wrap .fresh-Wrap .inp-group select{
      width: 246px;
      height: 34px;
      padding: 0 10px;
      border:1px solid rgba(0,0,0,0.15);
    }
    .cjdfd-wrap .fresh-Wrap .inp-group input.redB,.cjdfd-wrap .fresh-Wrap .inp-group select.redB{
      border:1px solid red
    }
    .cjdfd-wrap .fresh-Wrap .inp-group select.nodata{
      cursor: not-allowed;
    }
    .cjdfd-wrap .fresh-Wrap .counttext-group{
      margin-bottom: 10px;
      font-size: 14px;
      color:#666;
    }
    .cjdfd-wrap .fresh-Wrap .counttext-group div{
      display: inline-block;
      text-align: right;
    }
    .cjdfd-wrap .fresh-Wrap .counttext-group .w180px{
      width: 180px;
    }
    .cjdfd-wrap .fresh-Wrap .counttext-group .w100px{
      width: 100px;
    }
    .cjdfd-wrap .fresh-Wrap .counttext-group .w80px{
      width: 80px;
    }
    .cjdfd-wrap .fresh-Wrap .counttext-group .w60px{
      width: 60px;
    }
    .draft-wrap .draft-box .draft-tankuang .draft-btns{
      margin: 40px auto 0px;
    }

  	.product-package{
	  border: 1px solid #F3F3F3;
	  border-radius: 4px;
	  background-color: #FBFBFB;
	  .fresh-tr:first-child{
		border-top: initial;
	  }
	  .fresh-tr:last-child{
		border-bottom: initial;
		margin-bottom: initial;
	  }
	  .fresh-img img{
		margin: 0 !important;
	  }
	  .fresh-tr{
		margin-bottom: 10px;
		border-left: initial;
		border-top: 1px solid #F3F3F3;
		border-bottom: 1px solid #F3F3F3;
		position: relative;
		background-color: #fff;
		display: block;
		i {
		  position: absolute;
		  left: 50%;
		  transform: translate(-50%);
		  bottom: 5px;
		  cursor: pointer;
		  font-size: 12px;
		  color: rgba(153, 153, 153, 0.5);
		}
	  }
	  .fresh-td{
		padding: 10px;
		display: initial;
	  }
	  .product-box, .package-box{
		display: flex;
		align-items: center;
	  }
	  .package-box:nth-child(2){
		border-top: 1px dashed #F3F3F3;
	  }
	  .nameInfo{
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp:2;
		-webkit-box-orient:vertical;
		font-size: 12px;
		color: #333;
	  }
	  .sku{
		font-size:12px;
		color: #666;
	  }
	}

  
}

// 物流原因-Check按钮弹窗 ----s----
.carZZC2 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999999;
}
.logistics-suspend {
  width: 100%;
  height: 100%;
}
.logistics-suspend {
  max-height: 90vh;
  max-width: 800px;
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  .log-cancel {
    border: 1px solid #E4E4E4;
    cursor: pointer;
  }
}
.logistics-suspend .log-box {
  height: 100%;
  margin-bottom: 0;
}
.logistics-suspend .log-body {
  height: calc(100% - 130px);
  overflow: auto;
  border-top: 1px solid rgba(88, 88, 88, .09);
}
.logistics-suspend .tips-body{
  max-height: calc(100% - 130px);
  min-height: 100px;
  overflow: auto;
  border-top: 1px solid rgba(88, 88, 88, .09);
  border-bottom: 1px solid #F3F3F3;
}
.logistics-suspend table {
  width: 100%;
  border: 1px solid #F3F3F3;
  border-top: none;
  margin-bottom: 0;
}
.logistics-suspend table tr {
  border-color: #F3F3F3;
}
.logistics-suspend .log-subtitle {
  color: #666;
  font-size: 14px;
  margin: 15px 0 5px;
}
.logistics-suspend thead {
  background-color: #F0EDE7 !important;
}
.logistics-suspend thead th {
  color: #333;
  height: 40px;
  border: none !important;
  white-space: nowrap;
}
.logistics-suspend tbody tr:first-child td {
  border: none;
}
.logistics-suspend tr td {
  border-right: none;
  font-size: 12px;
  padding: 15px 5px !important;
  border-color: #F3F3F3 !important;
  word-break: break-all;
  vertical-align: middle !important;
}
.logistics-suspend .log-close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.option-btnbox{
  display: inline-block;
}
.cjdfd-wrap{
  .log-title{
    font-size: 16px;
    color: #F79E29;
  }
  .close-img{
    float: right;
    cursor: pointer;
  }
  .asj-wuliu-tip-icon{
    color: #F79E29;
  }
}
.wlname-tips-wrap{
  position: relative;
  display: inline-block;
  .logistics-name{
    border: 1px solid #d9d9d9;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 2px;
    display: inline-block;
    color: #666;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #fff;
  }
  .logistics-name:hover{
    color: #F79E29;
    border: 1px solid #F79E29;
  }
  .wlname-tips-con{
    position: absolute;
    background-color: #262626;
    color: #fff;
    border: none;
    top: 100%;
    right: 0;
    width: 150px;
    z-index: 1;
  }
  .wlsanjiao-logo{
    position: absolute;
    top: -13px;
    right: 20px;
    content: '';
    border-color: transparent transparent #333333 transparent;
    border-style: solid;
    border-width: 8px;
    height: 0;
    width: 0;
  }
  .wlname-tips-text{
    padding: 5px;
  }
}
.logistics-check {
  display: inline-block;
  border: 1px solid #f99429;
  padding: 5px 6px;
  border-radius: 4px;
  margin: 2px;
  color: #f99429;
}
.logistics-check:hover{
  border: 1px solid #f99429;
  color: #fff;
  background-color: #f99429;
}
.vip {
  .logistics-check{
    border: 1px solid #DDA863;
    color: #DDA863;
  }
  .logistics-check:hover{
    border: 1px solid #DDA863;
    color: #fff;
    background-color: #DDA863;
  }
  .wlname-tips-wrap{
    .logistics-name:hover{
      color: #DDA863;
      border: 1px solid #DDA863;
    }
  }
  .cjdfd-wrap{
    .log-title{
      color: #DDA863;
    }
    .asj-wuliu-tip-icon{
      color: #DDA863;
    }
  }
}
// 物流原因-Check按钮弹窗 ----e----
.layui-layer-content{
  .excelalert-wrap{
    width: 554px;
  }
  .excel-mtop{
    padding-bottom: 10px;
    div{
      display: inline-block;
      vertical-align: top;
      p{
        font-size: 12px;
      }
    }
    .excel-mtl{
      width: 177px;
      p{
        text-align: right;
      }
      .excel-mtp1{
        margin-top: 6px;
      }
      .excel-mtp2{
        margin-top: 28px;
      }
    }
    .excel-mtr{
      margin-left: 5px;
      margin-top: 28px;
      // .border;
      .excel-mts{
        font-size: 12px;
        width: 247px;
        height: 28px;
        color: #333;
        border: 1px solid #e9e9e9;
        text-indent: 12px;
        margin-bottom: 9px;
        option{
          color: #333;
        }
      }
      .excel-mblp{
        margin-bottom: 20px;
        a{
          color: #f99429;
        }
        :hover{
          color: rgb(249, 170, 87);
        }
      }
      .e-upl-p{
        position: relative;
        .upload-btn{
            width: 78px;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color: #0b4e67;
            border-radius: 4px;
            color: #fff;
        }
        //input 选择文件
        .ex-upload-inp{
          width: 78px;
          height: 30px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          font-size: 0px;
          cursor: pointer;
          // .border;
        }
      }

    }
  }
  .excel-mbottom{
    div{
      display: inline-block;
      p{
        color: #000;
        font-size: 12px;
        margin-top: 10px;
      }
    }
    .excel-mbl{
      width: 190px;
      // .border;
      p{
        text-align: right;
      }
    }
    .excel-mbr{
      margin-left: 5px;
      vertical-align: top;
      // .border;
    }

  }
}

.blukChangeWare,.notification{
  overflow: hidden;
}
.fresh-Wrap.blukChangeWare .fresh-con-top,.fresh-Wrap.notification .fresh-con-top,.fresh-Wrap.notice .fresh-con-top{
  padding: 0 25px;
}
.blukChangeWare .con{
  padding:20px 25px 0;
  font-size: 14px;
}
.blukChangeWare .con p{
  line-height:40px;
  background:rgba(230,247,255,1);
  border-radius:4px;
  border:1px solid rgba(145,213,255,1);
  padding-left: 10px;
  font-size: 14px;
  color:#000;
  margin-bottom: 10px;
}
.blukChangeWare .con select{
  width:300px;
  height:40px;
  border:1px solid #D9D9D9;
  border-radius: 4px;
  padding-left: 25px;

}
.blukChangeWare .con .fresh-tbody select{
  width:194px;
  margin:16px 10px;
}
.blukChangeWare .con span{
  color:#333;
}
.blukChangeWare .con button,.blukChangeWare .model-footer button,.notice .model-footer button{
  width:80px;
  height:30px;
  font-size: 14px;
}
.notification .model-footer button{
  height:30px;
  font-size: 14px;
  padding: 0 12px;
}
.blukChangeWare .con button{
  margin-left: 30px;
}
.blukChangeWare .con .fresh-head{
  margin-top: 10px;
}
.blukChangeWare .model-footer,.notification .model-footer,.notice .model-footer{
  padding:20px;
  text-align: center;
  font-size: 0;
}
.model-footer .can{
  background:rgba(249,249,249,1);
  color:#666;
  border:1px solid #E4E4E4;
  margin-right: 15px;
}
.add-modefy-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  text-align: center;
}
.blukChangeWare input,.blukChangeWare input+label{
  position: absolute;
  left: 16px;
  opacity: 0;
  cursor: pointer;
  width:17px;
  height: 16px;
  z-index: 11;
  margin:0;
}
.blukChangeWare input+label {
  background: url(/static/image/direct-orders/multiple1.png);
  background-size: 17px 16px;
  font-size: 12px;
  z-index: 10;
  opacity: unset;
}
.blukChangeWare input:checked+label {
  background-image: url(/static/image/direct-orders/multiple2.png);
}
.notification .con,.notice .con{
  padding:20px 25px 0;
  font-size: 14px;
  min-height:160px;
}
.notice .resmescon{
  padding-bottom:20px;
  max-height: 460px;
  overflow: auto;
}
.notification .con p,.notice .con p{
  color:#666;
}
.text-theme{
  color: #f90;
}

.vip {
  .fresh-head{
	background-color: #F0EDE7 !important;
  }
}

.order-discount{
  display: inline-block;
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1;
  vertical-align:middle;
}
.usinventory-tips{
  text-align: left;
}
.err-list{
  height: auto;
  width: 600px;
  min-width: 450px;
  max-width: 1000px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  .err-head{
    margin: 10px 0;
    font-size: 16px;
  }
  .err-table{
    width: 100%;
    thead{
      tr{
        th{
          background: #fff;
          color: #333;
          border: 1px solid #ccc;
        }
      }
    }
    tbody{
      tr{
        height: 35px;
        td{
          height: 35px;
          border: 1px solid #ccc;
        }
      }
    }
  }
  .footer-button{
    button{
      margin-top: 15px;
      padding: 8px 20px;
      background: #409fff;
      border-radius: 4px;
      color: #fff;
    }
  }
}
.usinventory{
  &-list-box{
    padding: 10px 0;
    max-height: 500px;
  }
  &-list-title{
    line-height: 40px;
    text-align: center;
    background: #F0EDE7;
  }
  &-list{
    border: 1px solid #F3F3F3;
    border-top: 0 none;
    display: flex;
    min-height: 50px;
    max-height: 300px;
    flex-wrap: wrap;
    overflow-y: auto;
  }
  &-item{
    padding: 10px 5px;
  }
}
.yzy-merge-wrap{
  .merge-top{
    padding: 0 20px ;
    padding-top: 10px;
    border-bottom: 1px solid rgba(88, 88, 99 , 0.09);
    display: flex;
    // align-items: center;
    .merge-top-icon{
      flex: none;
      color: #ff7700;
      cursor: pointer;
      position: relative;
      top: 8px;
      z-index:9;
      .merge-top-text{
        display: inline-block;
        color: #fff;
        background: rgba(0, 0, 0, 0.75);
        font-size: 12px;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
        width: 580px;
        padding: 10px;
        border-radius: 6px;
        position: absolute;
        top: 30px;
        left: -10px;
        display: none;
        &::before{
          content: '';
          display: inline-block;
          border: 6px solid transparent;
          border-bottom-color: rgba(0, 0, 0, 0.75);
          position: absolute;
          top: -12px;
          left: 11px;
        }
      }
      &:hover{
        .merge-top-text{
          display: inline-block;
        }
      }
      &::after{
        content: '\e6ac'
      }
    }
    .merge-select-box{
      font-size: 14px;
      padding-left: 10px;
      flex: 1;
      .h-30{
        height: 30px;
      }
      .opacity-0{
        opacity: 0;
      }
      .merge-select-box-item{
        display: flex;
        align-items: center;
        &.error{
          .select2-selection{
            border-color: #FF4949 !important;
          }
        }
      }
      .error-text{
        color: #FF4949;
        font-size: 12px;
      }
      label{
        margin-right: 10px;
      }
      .merge-select{
        flex: 1;
      }
      .select2-container{
        width: unset !important;
        flex: 1;
        .select2-selection--single{
          height: 38px;
        }
      }
      .select2-selection{
        width: 100% !important;
      }
      .select2-container--default .select2-selection--single .select2-selection__rendered{
        line-height: 38px;
      }
      .select2-container--default .select2-selection--single .select2-selection__arrow{
        height: 36px;
      }
    }
  }
  .merge-box{
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 0;
  }
  .merge-item{
    display: flex;
    padding: 14px 12px;
    box-shadow: 0px -1px 0px 0px #F3F3F3, 1px 0px 0px 0px #F3F3F3, -1px 0px 0px 0px #F3F3F3, 0px 1px 0px 0px #F3F3F3;
    font-size: 14px;
    color: #333;
    align-items: center;
    margin-bottom: 14px;
    .merge-item-icon{
      width: 16px;
      height: 16px;
      border: 1px solid #d9d9d9;
      border-radius: 50px;
      margin-right: 16px;
      cursor: pointer;
      background-clip: content-box;
      padding: 3px;
      flex: none;
      &.checked{
        border-color: #ff7700;
        background-color: #ff7700;
      }
    }
  }
  .merge-bottom{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.05);
    button{
      height: 30px;
    }
  }
}
.vip{
  .yzy-merge-wrap{
    .merge-top{
      .merge-top-icon{
        color: #dda863;
      }
    }
    .merge-item-icon{
      &.checked{
        border-color: #dda863;
        background-color: #dda863;
      }
    }
    .merge-bottom{
      button{
        background: #dda863;
      }
    }
  }
}
.addcardLoad{
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  display: none;
  justify-content: center;
  &-lottie{
    width: 100px;
    height: 100px;
  }
}