.import-cart {
  #new-bottom-function-bar {
    width: 100%;
    position: relative;
    right: 0;
    bottom: 0;
    // padding-left: 220px;
    // padding-right: 20px;
    z-index: 1;
  }
}

.pro-isdel-con {
    position: absolute;
    width: 460px;
    height: 140px;
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 30px 30px 0 30px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  }
  .pro-isdel-con .hasdel-top {
    text-align: center;
  }
  .pro-isdel-con .hasdel-top .hasdel-iconques {
    width: 22px;
    height: 22px;
  }
  .pro-isdel-con .hasdel-top .hasdel-quetext {
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
  }
  .pro-isdel-con .editmess-btns {
    text-align: right;
    margin-top: 22px;
  }
  .pro-isdel-con .editmess-btns .has-cancel-btn {
    width: 65px;
    height: 32px;
    background: #fff;
    border: 1px solid #D9D9D9;
    color: #000;
    border-radius: 4px;
    font-size: 14px;
  }
  .pro-isdel-con .editmess-btns .has-cancel-btn:hover {
    background: #D9D9D9;
  }
  .pro-isdel-con .editmess-btns .has-confirm-btn {
    width: 65px;
    height: 32px;
    background-color: #1890FF;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
  }
  .pro-isdel-con .editmess-btns .has-confirm-btn:hover {
    background-color: #87CEFA;
  }

.import-cart-modal{
  color: #666;
  font-size: 14px;
  .confirm-main{
  width: 500px;
  .resmescon{
    max-height: 460px;
    padding-bottom: 20px;
    text-align: left;
  }
	.confirm-title{
	  padding-left: 20px;
	  background-color: #fff;
	  text-align: left;
	  display: flex;
	  align-items: center;
	  color: #333;
	  .icon{
		width: 16px;
		height: 14px;
		margin-right: 6px;
		background: url("tips.svg") no-repeat center;
	  }
	}
  }
}
.err-list{
  height: auto;
  width: 600px;
  min-width: 450px;
  max-width: 1000px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  .err-head{
    margin: 10px 0;
    font-size: 16px;
  }
  .err-table{
    width: 100%;
    thead{
      tr{
        th{
          background: #fff;
          color: #333;
          border: 1px solid #ccc;
        }
      }
    }
    tbody{
      tr{
        height: 35px;
        td{
          height: 35px;
          border: 1px solid #ccc;
        }
      }
    }
  }
  .footer-button{
    button{
      margin-top: 15px;
      padding: 8px 20px;
      background: #409fff;
      border-radius: 4px;
      color: #fff;
    }
  }
}
.addcardLoad{
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  display: none;
  justify-content: center;
  &-lottie{
    width: 100px;
    height: 100px;
  }
}