.import-store {
    .searchWrap {
        background: #fff;
        padding: 15px 20px;
        display: flex;
        align-items: center;
    }
    .line{
        margin: 0 5px;
    }
    .Wdate {
        width: 100px;
        height: 30px;
        border: 1px solid #e1e1e1;
        font-size: 12px;
        text-indent: 12px;
        color: #2b2b2b;
    }
    .check-box{
        display: inline-block;
    }
    .store-noord-tip{
        font-size: 12px;
        color: red;
        cursor: pointer;
    }
    #reson-btn{
        cursor: pointer;
        color: #f99429;
    }
    .glyphicon-question-sign::after {
        content: '\e671';
    }
    .authoriza-laqubox{
        position: relative;
    }
    .import-store .reordstu-dlist{
        top: 40px;
    }
    .searchGroup{
       width: 100%; 
    }
    .sync-wrap{
        float: right;
    }
    .tbnew-div{
        cursor: pointer;
        margin-right: 0;
    }
}