.new_old_version {
  
  :global {
    .new_old_switch{
      position: fixed;
      bottom: 215px;
      right: 0;
      z-index: 9;
    }
    .new-old-switch-box {
      width: 50px;
      transition: width linear 0.5s;
      padding: 10px;
      height: 50px;
      background: #ff7700;
      box-shadow: -1px 5px 9px 0px rgba(0, 0, 0, 0.06);
      border-radius: 6px 0 0 6px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        transition: width linear 0.5s;
        // min-width: 180px;
        // max-width: 2x50px;
        width: 180px;
        .no-wrap {
          transition: opacity 0.5s;
          opacity: 1;
        }
      }
      // &.act{
      //   transition: max-width linear 2s;
      //   max-width: 1000px
      // }
    }
    .iconqiehuan {
      font-size: 30px;
      // margin: 10px;
    }
    .iconleft2 {
      font-size: 16px;
      display: inline-block;
      margin-right: 10px;
      // margin: 10px;
    }
    .no-wrap {
      // padding-right: 10px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      opacity: 0;
      transition: opacity 0.5s;
    }
    .vipflag {
      .new-old-switch-box {
        background: #dda863;
      }
    }
  }
}
