.wrap {
  padding: 16px;
  background-color: #f5f5f5;

  .title {
	display: block;
	font-size: 16px;
	margin: 10px 0;
	border-bottom: 1px solid #eee;
  }

  .image {
	max-width: 100%;
  }

  .image_background {
	width: 100%;
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
  }

  .image_background_content {
	background-size: cover;
	background-repeat: no-repeat;
  }

  .linear_gradient {
	width: 100%;
	height: 50px;
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  }
}




