@import '../../colors.less';

.minute-mark-manage {
  .expanded-item {
    margin-left: 50px;
    padding: 10px 0;
    text-align: left;
    border-bottom: 1px solid @borderColor;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    > span {
      align-items: center;
      padding-right: 20px;
      flex: none;
      width: 200px;
      position: relative;
      line-height: 40px;
      > div {
        position: absolute;
        left: -45px;
      }
      > p {
        margin-bottom: 0;
      }
    }
  }
}

.search-form {
  .other {
    max-width: 950px;
  }

  .search-btns {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}

.supplementPlay {
  display: block;
  width: 100%;
  height: 50px;
  padding-right: 108px;
  margin-top: 20px;
  > button {
    float: right;
    // height: 100%;
  }
}
