.vip {
  .associated-store {
    .mycj-dashboard {
      background-color: #F0EDE7;
    }

    .mycj-right-bar .authorize-store .block-content {
      padding-left: 10px;
    }

    .mycj-right-bar .authorize-store .block-content ul {
      // border: 1px solid #F2F3F5;
      // border-radius: 4px;
    }

    .mycj-right-bar .block-mycj .block-title,
    .mycj-right-bar .block-mycj .block-content,
    .mycj-right-bar .block-mycj .pd-history-show {
      background: #fff;
      border: none;
    }

    .mycj-right-bar .block-mycj .block-title {
      border-radius: 4px 4px 0 0;
    }

    .mycj-right-bar .block-mycj .block-content,
    .mycj-right-bar .block-mycj .pd-history-show {
      border-radius: 0 0 4px 4px;
    }

    .userInfo {
      background: rgba(43, 43, 43, 1) linear-gradient(270deg, rgba(56, 54, 51, 1) 0%, rgba(44, 44, 44, 0.77) 47%, rgba(42, 42, 42, 1) 100%);
      height: 260px;
      display: flex;
      padding: 32px 50px;
      border-radius: 4px;
      position: relative;
      justify-content: center;
      border-radius: 4px 4px 0 0;
    }
    .analysis-user-area{
      border-radius: 0 0 4px 4px;
      background: rgba(43, 43, 43, 1) linear-gradient(270deg, rgba(56, 54, 51, 1) 0%, rgba(44, 44, 44, 0.77) 47%, rgba(42, 42, 42, 1) 100%);
    }
    .analysis-user-wrap{
      background: transparent;
      width: 850px;
      margin: 0 auto;
      padding: 5px 0 30px 0;
    }
    .box-wrap{
      background: rgba(43, 43, 43, 1) linear-gradient(270deg, rgba(56, 54, 51, 1) 0%, rgba(44, 44, 44, 0.77) 47%, rgba(42, 42, 42, 1) 100%);
      margin-bottom: 56px;
      margin-top: 0;
    }
    .level-area{
      margin-bottom: 50px;
    }
    .level-area>h3{
      color: #fff;
    }
    .level-number{
      color: #fff;
    }
    .box{
      width: 850px !important;
    }
    .shrink-btn{
      color: var(--color-theme-2-vip);

      &:hover {
        color: var(--color-theme-2-1-vip);
      }
    }

    .userImg {
      width: 328px;
      height: 150px;
      background: url("/static/image/vip/cuteVIP.png") no-repeat;
      margin-top: 14px;
	  padding: 33px 24px;
      position: relative;
      display: flex;
      align-content: center;
      margin-right: 60px;
      /*position: relative;*/
      z-index: 4;
	  .bot-box{
		width: calc(100% - 48px);
		position: absolute;
		bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.prompt{
		  color: #A17C4E;
		  font-size: 12px;
		  display: flex;
		  align-items: center;
      &:hover {
        color: #926F43;
      }
		  .iconfont{
			margin-right: 5px;
		  }
		}
		.icon-vip{
		  width: 24px;
		  height: 22px;
		  background: url("/static/image/vip/icon_vip.png") no-repeat;

      
		  &:hover {
        width: 24px;
		    height: 22px;
        background: url("/static/image/vip/VIP@2x.png") no-repeat;
        background-size: contain;

        .vip-info-popup{
          display: block;
        }
      } 
		}
	  }
	  .vip-info-popup{
		position: absolute;
		left: -20px;
		top: 50px;
		display: none;
		.h-box{
		  width: 100%;
		  height: 30px;
		  position: absolute;
		  top: -28px;
		}
	  }
	}

    .userImg .imgCon {
      margin-right: 18px;
      padding-top: 5px;
    }

    .userImg .imgCon img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid #FCF4D9;
      background: #FCF4D9;
      overflow: hidden;
    }

    .userImg .imgCon p {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid #FCF4D9;
      background: #FCF4D9;
      line-height: 55px;
      font-size: 50px;
      text-align: center;
    }

    .userImg .imgCon b {
      position: absolute;
      width: 21px;
      height: 21px;
      background: url("/static/image/vip/imperial_crown.png") no-repeat;
      top: 30px;
      left: 65px;
    }
    .userNameInfo {
      max-width: 203px;
    }

    .userNameInfo p:first-child {
      color: #3A2A15;
      font-size: 16px;
      font-weight: 600;
      padding-left: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .userNameInfo p:last-child {
      margin-top: 12px;
      border-radius: 50px;
      padding: 5px 20px 5px 10px;
      background: #EFD29A;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .userNameInfo p:last-child b {
      display: inline-block;
      width: 15px;
      height: 15px;
      background: url("/static/image/vip/Point.png") no-repeat;
      position: relative;
      top: 3px;
      font-weight: 600;
      margin-right: 5px;
    }

    .userInfoRight {
      position: relative;
      z-index: 1;
    }

    .userInfoR-T {
      display: flex;
      color: #F0D59E;
    }

    .userInfoRT-l {
      margin-right: 55px;
    }

    .userInfoRT-l p:first-child {
      font-size: 24px;
      font-weight: 700;
    }

    .userInfoRT-l p:last-child {
      font-size: 12px;
      margin-top: 6px;
    }

    .userInfoR-B {
      display: flex;
      margin-top: 28px;
    }

    .ccImg {
      text-align: center;
      margin-bottom: 10px;
      line-height: 1;

      .ccIcon {
        font-size: 48px;
        color: var(--color-theme-2-vip);
        cursor: pointer;
      }
    }


    .userInfoRB-C:not(:last-child) {
      margin-right: 50px;
    }

    .userInfoRB-C p {
      color: var(--color-theme-2-vip);
      font-size: 12px;
    }

    .userInfoRB-C {
      cursor: pointer;
      &:hover {
        .ccIcon {
          color: var(--color-theme-2-1-vip);
        }
        p {
          color: var(--color-theme-2-1-vip);
        }
      }
    }

    .userInfo>img {
      position: absolute;
    }

    #img1 {
      right: 50px;
      top: 61px;
      /*z-index: -1;*/
    }

    #img2 {
      top: 130px;
      left: 77px;
    }

    #img3 {
      top: 50px;
      left: 58px;
    }

    #img4 {
      top: 168px;
      left: 470px;
    }

    #img5 {
      top: 166px;
      left: 141px;
    }

    #img6 {
      top: 0px;
      left: 385px;
    }

    #img7 {
      top: 0px;
      left: 685px;
    }

    .kanbanLink {
      color: var(--color-theme-2-vip) !important;
  
      &:hover {
        color: var(--color-theme-2-1-vip) !important;
        text-decoration: underline !important;
      }
    }

  }

  
}
