.order-pay {
  .table-connected {
    background: #fff;
  }

  .table-connected table {
    width: 100%;
    border-left: 1px solid #ececec;
  }

  .table-connected table td {
    padding: 10px;
    font-size: 14px;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    text-align: center;
  }

  .table-connected table thead td {
    color: #fff;
  }

  .total-item {
    text-align: right;
    line-height: 25px;
    padding: 5px 0;

  }

  .order-pay-right .table-box {
    max-height: 52vh;
    padding-bottom: 10px;
    overflow-y: auto;
  }

  .f-gray {
    color: #ccc;
  }

  .f-org {
    color: #F78E29;
  }

  .top-info .ui-btn {
    color: #DDA863;
    border: 1px solid rgba(221, 168, 99, 1);
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 15px;
    cursor: pointer;
  }

  .order-pay-right .btn-group {
    margin-top: 30px;
    text-align: right;
    font-size: 14px;
    width: 100%;
  }

  .order-pay-right .btn-group .ui-btn {
    display: inline-block;
    min-width: 100px;
    padding: 0 20px;
    text-align: center;
    background: rgba(245, 245, 245, 1);
    border-radius: 4px;
    border: 1px solid rgba(193, 193, 193, 1);
    margin-right: 10px;
  }

  .order-pay-right .btn-group .ui-btn.sure {
    background: linear-gradient(135deg, rgba(242, 215, 161, 1) 0%, rgba(223, 173, 101, 1) 100%);
    border-radius: 4px;
    color: #fff;
    border: 0 none;
    padding: 0 20px;
    margin-right: 0;
    cursor: pointer;
  }

  .total-box {
    font-size: 12px;
    padding: 10px 30px 10px 0;
  }

  .order-pay-right .top-info {
    padding: 20px 0;

    .top-info .ui-btn {
      padding: 3px 10px;
      color: #DDA863;
      border: 1px solid rgba(221, 168, 99, 1);
      border-radius: 4px;
      vertical-align: middle;
      margin-right: 15px;
    }

    .top-info .ui-btn:hover {
      cursor: pointer;
    }
  }

  .table-connected .small-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  .media-img:hover .big-img {
    display: block;
  }

  .big-img {
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    width: 300px;
    height: auto;
    left: 100%;
    bottom: 0;
    display: none;
    z-index: 99;
  }
  .delete-top-info{
    background-color: #FFF3D2;
    color: #FA6400;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 7px;
  }
  .delete-top-info .text{
    display: inline-block;
    width: 520px;
  }
  .delete-top-info .canle-btn,
  .delete-top-info .del-btn
  {
    padding: 6px 30px;
    line-height: 20px;
    border-radius:4px;
    position: relative;
    top: 5px;
    float: right;
  }
  .delete-top-info .canle-btn:hover,
  .delete-top-info .del-btn:hover{
    cursor: pointer;
  }
  .delete-top-info .canle-btn{
    border:1px solid #666;
    margin-right: 10px;
  }
  .delete-top-info .del-btn{
    background: #FA6400;
    color: #fff;
    border:1px solid #FA6400;
    margin-right: 14px;
  }
  .order-pay-type1{
    position: relative;
    /* max-height: 78vh;
    min-height:48vh; */
    padding-bottom: 221px;
    .total-box{
      position: absolute;
      width:100%;
      left: 0;
      bottom: 0;
      background: #fff;
    }
  }
  .line-through{
    text-decoration: line-through;
  }
}
.err-list{
  height: auto;
  width: 600px;
  min-width: 450px;
  max-width: 1000px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  .err-head{
    margin: 10px 0;
    font-size: 16px;
  }
  .err-table{
    width: 100%;
    thead{
      tr{
        th{
          background: #fff;
          color: #333;
          border: 1px solid #ccc;
        }
      }
    }
    tbody{
      tr{
        height: 35px;
        td{
          height: 35px;
          border: 1px solid #ccc;
        }
      }
    }
  }
  .footer-button{
    button{
      margin-top: 15px;
      padding: 8px 20px;
      background: #409fff;
      border-radius: 4px;
      color: #fff;
    }
  }
}