{% block title %}
<title>About Us - CJdropshipping</title>
<meta name="description" content="dropshipping sourcing agent, sourcing agent dropshipping, cjdropshipping, cj dropshipping, chinese dropshipping suppliers, aliexpress dropshipping center, aliexpress dropship center, dropshipping center aliexpress">
<meta name="keywords" content="CJdropshipping is the best integrated dropshipping platform that offers dropshipping services like auto order fulfillment, product sourcing, warehousing, parcel shipping, and the like." />
{% endblock %}

{% extends "../layout/base.njk" %}

{% block head %}
<link rel="stylesheet" href="{{ PUBLIC_STYLE + '/footerPages.css' | VERSION }}">
<script src="{{ PUBLIC_LIBS }}/scrollReveal/scrollReveal.js"></script>
{% endblock %}

{% block body %}
<!-- 语言选择、快速导航入口、个人中心入口、登陆、注册 -->
<!-- LOGO、SEARCH -->
{% include "../snippet/common-top.njk" %}
<div class="footer-page-warp">
  <div id='vue-addChatOrGuidJs'></div>
  <div class="about-warp">

    <div class="banner">
      <video loop autoplay muted="true" class="indexV">
        <source type="video/mp4" src="https://video.cjdropshipping.cn/157215fc2c214a1ebca6373886339b5b/c1da8269e28e4ec4a24ce39fbcde7bcc-2e02b9c5c10d6dbb9cdf0b5dc63891b3-ld.mp4">
        Your browser does not support the video playback.
      </video>
      <div class="box">
        <div class="warp-flex">
          <div class="warp-title cla-animated">
            <em>ABOUT US</em>
            <h2>CJ fulfills orders for over {{countTotal}} sellers worldwide</h2>
            <p>
              Dropshipping from worldwide to worldwide. We source and dropship for sellers on Shopify, WED2C, WooCommerce, eBay
              with quality products.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="layout-box">

      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/layout-img7.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <em>CJ STORY</em>
            <h2>The Very Beginning of CJ Dropshipping</h2>
            <p>
              Established by Andy Chou (CEO) and his team, CJ was built in 2014. We entered the Dropshipping industry in 2014 and launched the 
              <a href="https://cjdropshipping.com" target="_blank" class="theme-color">CJ platform</a>
              in 2018. Till this day, we are the most professional dropshipping supply chain company in China.
            </p>
          </div>
        </div>
      </div>
  
      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/layout-img11.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <em>OUR NAME</em>
            <h2>The Story Behind Our Name</h2>
            <p>
              CJ is short for CJ Dropshipping GmbH. We were selling jewelry at beginning, only Conor Cross Necklace became hot-selling product and brought us the first profit. Thanks to the miraculous jewelry, there is CJ Dropshipping.
            </p>
          </div>
        </div>
      </div>
  
      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/layout-img6.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <em>OUR WAREHOUSES</em>
            <h2>Building Global Warehouses</h2>
            <p>
              We now have warehouses in China, USA, Germany, Thailand and Indonesia. We cooperated with local warehouses in Britain, Australia, France... 
              <br/>
              You can source any products you want and stock in our warehouses.
            </p>
          </div>
        </div>
      </div>
  
      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/layout-img8.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <em>OUR MISSION</em>
            <h2>Making Dropshipping Easy</h2>
            <p>
              You focus on marketing. We focus on dropshipping, e.g., product sourcing, order processing and shipping. We want to help every dropshippers from start to success. For the goal, we keep offering a high level of service to meet the dropshippers' demands. 
            </p>
          </div>
        </div>
      </div>
  
      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/layout-img9.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <em>OUR PEOPLE</em>
            <h2>Offering Professional and Excellent Services</h2>
            <p>
              We are a professional team having {{cjStaffTotal}} people for dropshipping. We help dropshippers in each and every possible way and deeply care for them. We are always available. We are your partner in business!
            </p>
          </div>
        </div>
      </div>

    </div>
  
    <div class="links">
      <div class="warp-title">
        <h2>Learn More About CJ Dropshipping</h2>
      </div>
      <div class="warp-flex">
        <div class="item">
          <div>
            <h4>Online Support</h4>
            <p>
              Get the quick help you want with 24/7 support. Find a solution for your uncertainty.
            </p>
            <a href="/contactus" target="_blank" class="footer-page-btn">
              Contact Support Now
              <i class="iconfont icontuoyuanxing"></i>
            </a>
          </div>
        </div>
        <div class="item">
          <div>
            <h4>Work with CJ Dropshipping</h4>
            <p>
              Learn how CJ works for you by going through the overview about CJ.
            </p>
            <a href="/overview" target="_blank" class="footer-page-btn">
              Explore CJ
              <i class="iconfont icontuoyuanxing"></i>
            </a>
          </div>
        </div>

        <div class="item">
          <div>
            <h4>Product Reports</h4>
            <p>
              Check product reports and explore huge potential trending products to get sales!
            </p>
            <a href="https://cjdropshipping.com/productReport/list" target="_blank" class="footer-page-btn">
              Find Winning Products
              <i class="iconfont icontuoyuanxing"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="{{ PUBLIC_SCRIPT + '/footerPages.js' | VERSION }}"></script>
{% endblock %}