{% block title %}
<title>Contact Us - CJdropshipping</title>
<meta name="description" content="dropshipping sourcing agent, sourcing agent dropshipping, cjdropshipping, cj dropshipping, chinese dropshipping suppliers, aliexpress dropshipping center, aliexpress dropship center, dropshipping center aliexpress">
<meta name="keywords" content="7*24 Online Service, Email:support@cjdropshipping.com, Addresses: Yiwu Office:  Room 1809-1815, Global Building, 168 Jinrong Rd, Yiwu, Zhejiang, China
Hangzhou Office: Xixi and Tian Mu Shan Road, West Lake District, Hangzhou, Zhejiang, China
Shenzhen Office: Fengzhimei Industrial Zone, Jinfenghuang Avenue, Fenggang Town, Dongguan City, Guangdong Province, 523689, China" />
{% endblock %}

{% extends "../layout/base.njk" %}

{% block head %}
<link rel="stylesheet" href="{{ PUBLIC_STYLE + '/footerPages.css' | VERSION }}">
<script src="{{ PUBLIC_LIBS }}/scrollReveal/scrollReveal.js"></script>
{% endblock %}

{% block body %}
<!-- 语言选择、快速导航入口、个人中心入口、登陆、注册 -->
<!-- LOGO、SEARCH -->
{% include "../snippet/common-top.njk" %}
<div class="footer-page-warp">
  <div id='vue-addChatOrGuidJs'></div>
  <div class="contact-warp">
    <div class="banner">
      <div class="warp">
        <h3 class="cla-animated">CONTACT US</h3>
        <em class="cla-animated">
          You can talk to us online or visit our websites for support.
        </em>
      </div>
    </div>

    <nav>
      <div class="warp-flex">
        <a href="/contactus#online">Contact Us Online</a>
        <a href="/contactus#websites">View Our Websites</a>
        <a href="/contactus#visitUs">Visit Us</a>
      </div>
    </nav>

    <div class="online" id="online">
      <div class="warp-title">
        <h2>Contact Us Online</h2>
        <p>You can get our support in the chatroom on the computer or your mobile devices.</p>
      </div>
      <div class="main">
        <div class="warp-flex cla-animated">
          <div class="item-card">
            <div>
              <h3>Online Support</h3>
              <p>
                Get help from our online chatroom. We provide 24/7 support to solve your problems.
              </p>
              <a href="https://chat.cjdropshipping.com" target="_blank">
                <span>
                  <i class="iconfont iconkefu"></i>
                  <em>Chatroom</em>
                </span>
              </a>
              <a href="https://wa.me/8618067627100" target="_blank">
                <span>
                  <i class="iconfont iconwhatsapp1"></i>
                  <em>WhatsApp</em>
                </span>
              </a>
            </div>
          </div>
          <div class="item-card">
            <div>
              <h3>Social Media</h3>
              <p>
                Contact us on Facebook page or group, and we will try to answer you from 9:00 AM - 6:00 PM (GMT+8).
              </p>
              <a href="https://m.me/CjDropshipping" target="_blank">
                <span>
                  <i class="iconfont iconfacebook"></i>
                  <em>Facebook Page</em>
                </span>
              </a>
              <a href="https://www.facebook.com/groups/cjdropshipping" target="_blank">
                <span>
                  <i class="iconfont iconfacebook"></i>
                  <em>Facebook Group</em>
                </span>
              </a>
            </div>
          </div>
          <div class="item-card">
            <div>
              <h3>Email</h3>
              <p>
                Should you have any other urgency, you can send an email to us.
              </p>
              <a href="mailto:support@cjdropshipping.com" target="_blank">
                <span>
                  <i class="iconfont iconyouxiang1"></i>
                  <em>support@cjdropshipping.com</em>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="websites" id="websites">
      <div class="warp-title">
        <h2>View Our Websites</h2>
        <p>You can learn information about dropshipping on our websites and how to work with CJ.</p>
      </div>
      <div class="warp-flex cla-animated">
        <a class="item-card" href="https://cjdropship.com" target="_blank">
          <div class="main">
            <h4>CJ School</h4>
            <p>
              Learn courses about how to start and grow dropshipping business in different languages.
            </p>
          </div>
        </a>
        <a class="item-card" href="https://cjdropshipping.com/help-center" target="_blank">
          <div class="main">
            <h4>Help Center</h4>
            <p>
              Get to know how CJ works and what you can get from CJ.
            </p>
          </div>
        </a>
        <a class="item-card" href="https://elites.cjdropshipping.com" target="_blank">
          <div class="main">
            <h4>Elites</h4>
            <p>
              Find answers, ask questions and get solutions to become elites.
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="visitUs" id="visitUs">
      <div class="warp">
        <div class="warp-title">
          <h2>Visit Us</h2>
          <p>Our offices are located in Hangzhou and we also have offices and warehouses in Yiwu, Jinhua and Dongguan, China and Frankfurt am Main, Germany. You can choose our office or warehouse to visit.</p>
        </div>
        <div class="warp-flex">
          <a class="item-card" href="https://youtu.be/s97tr4lwlU8" target="_blank">
            <div>
              <h4>
                Hangzhou Office
              </h4>
              <span>
                <i class="iconfont icondingwei"></i>
                [ Address ]
              </span>
              <p>
                Xixi and Tian Mu Shan Road, West Lake District, Hangzhou, Zhejiang, China
              </p>
            </div>
          </a>
          <a class="item-card" href="https://youtu.be/wgXA2UaRNjo" target="_blank">
            <div>
              <h4>
                Yiwu Office
              </h4>
              <span>
                <i class="iconfont icondingwei"></i>
                [ Address ]
              </span>
              <p>
                Room 1809  Global Building  Yiwu  China    Email: 2126569447@qq.com
              </p>
            </div>
          </a>
          <div class="item-card">
            <div>
              <h4>
                Dongguan Office
              </h4>
              <span>
                <i class="iconfont icondingwei"></i>
                [ Address ]
              </span>
              <p>
                Elevator No.3, F4, Building F, Fengzhimei Industrial Zone, Jinfenghuang Avenue, Fenggang Town, Dongguan City,
                Guangdong
                Province, 523689, China
              </p>
            </div>
          </div>
          <div class="item-card">
            <div>
              <h4>
                Germany Office
              </h4>
              <span>
                <i class="iconfont icondingwei"></i>
                [ Address ]
              </span>
              <p>
                Zum Linnergraben 20, 65933 
                Frankfurt am Main, Hessen, 
                Deutschland
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="{{ PUBLIC_SCRIPT + '/footerPages.js' | VERSION }}"></script>
{% endblock %}