{% block title %}
<title>Our Services - CJdropshipping</title>
<meta name="description" content="dropshipping sourcing agent, sourcing agent dropshipping, cjdropshipping, cj dropshipping, chinese dropshipping suppliers, aliexpress dropshipping center, aliexpress dropship center, dropshipping center aliexpress">
<meta name="keywords" content="We Offer: 7/24 Online Support, Product Sourcing, Warehousing, Order Fulfillment, Quality Checking, Parcel Shipping, Custom Packaging, POD, Photo & Video Shooting, Dropshipping Mentoring, Winning Products Recommendation, and More!" />
{% endblock %}

{% extends "../layout/base.njk" %}

{% block head %}
<link rel="stylesheet" href="{{ PUBLIC_STYLE + '/footerPages.css' | VERSION }}">
<script src="{{ PUBLIC_LIBS }}/scrollReveal/scrollReveal.js"></script>
{% endblock %}

{% block body %}
<!-- 语言选择、快速导航入口、个人中心入口、登陆、注册 -->
<!-- LOGO、SEARCH -->
{% include "../snippet/common-top.njk" %}
<div class="footer-page-warp">
  <div id='vue-addChatOrGuidJs'></div>
  <div class="ourOffers-warp">
    <div class="banner">
      <div class="warp-flex">
        <div class="warp-title cla-animated">
          <h2>We are an all-in-one dropshipping solution provider.</h2>
          <p>
            We offer products at a lower price, product sourcing, global warehouses, quality inspection, efficient delivery......<br />
            No Setup Fee. No Monthly Fee. No Storage Fee. No Minimum Order.
          </p>
        </div>
      </div>
    </div>

    <div class="layout-box">

      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/layout-img1.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>We Dropship Millions of Products</h2>
            <p>
              We have 100k+ cooperated factories located in
              <a href="https://en.wikipedia.org/wiki/Yiwu_market" target="_blank" class="theme-color">Yiwu Market</a>.
              We can source and provide over 80% products with factory dropshipping prices. Our professional customer-oriented team aims to comfort customers with the latest product trends.
            </p>
          </div>
        </div>
      </div>

      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/layout-img2.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>We Source for You</h2>
            <p>
              Sourcing offers a solution when you didn't find the product you want to sell. You can
              <a href="/sourcing" target="_blank" class="theme-color">post product sourcing requests</a>
              with us. After it, our team will carefully review your request and find the product for you in 48 hours.
            </p>
          </div>
        </div>
      </div>
  
      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/layout-img3.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>We Stock for You</h2>
            <p>
              We have 100k+ cooperated factories and global warehouses. Factories direct supply goods, offering a large variety of products at a low price without the warehousing cost. You can find them in different warehouses.
            </p>
          </div>
        </div>
      </div>
  
      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/layout-img4.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>We Fulfill for You</h2>
            <p>
              You can order only 1 item. The fastest processing and shipping time is 24 hours after the payment received. Additionally, we offer
              <a href="https://cjdropshipping.com/article-details/19" target="_blank" class="theme-color">wholesale fulfillment</a>
              for you. You can have a bulk purchase from China, the US, and other warehouses. We can ship products to you. 
            </p>
          </div>
        </div>
      </div>
  
      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/layout-img5.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>We Quality Check for You</h2>
            <p>
              Customer satisfaction is our top priority. We inspect every product before packaging them to make sure products reach their destination safely. 99.9% of final customers like their purchasing experience.
            </p>
          </div>
        </div>
      </div>
  
      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/layout-img6-1.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>We Ship for You</h2>
            <p>
              CJPacket is a shipping method that works as an alternative to ePacket shipping or special line alternatives. The average delivery time to the USA is less than 8 days. Besides, oversea warehouses are available with domestic shipping which takes around 2-4 days' arrival.
            </p>
          </div>
        </div>
      </div>
  
      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/layout-img10.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>We Mentor You</h2>
            <p>
              Global mentors are ready for you to instruct your dropshipping business. They teach you step by step and guide you from a newbie to a successful dropshipper. Start your business on the shoulders of giants!
            </p>
            <a href="https://cjdropship.com" target="_blank" class="footer-page-btn">
              Select a Tutor
              <i class="iconfont icontuoyuanxing"></i>
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="links">
      <div class="warp-title">
        <h2>We Offer More Than Your Expectation</h2>
      </div>
      <div class="warp">
        <div class="link-box">
          <a href="https://chat.cjdropshipping.com" target="_blank">
            <i class="iconfont iconkefu"></i>
            Online agent gives you 7/24 support.
          </a>
        </div>

        <div class="link-box">
          <a href="https://cjdropshipping.com/productReport/list" target="_blank">
            <i class="iconfont iconshangpin"></i>
            Find the next winning products on winning products recommendation.
          </a>
        </div>

        <div class="link-box">
          <a href="https://cjdropship.com/video-for-winning-products" target="_blank">
            <i class="iconfont iconpaishe"></i>
            Special video&photo shooting service.
          </a>
        </div>

        <div class="link-box">
          <a href="https://cjdropshipping.com/article-details/1349967944867778560" target="_blank">
            <i class="iconfont iconbaozhuang"></i>
            Customized packaging to build your brand.
          </a>
        </div>

        <div class="link-box">
          <a href="https://cjdropshipping.com/printonDemand/home" target="_blank">
            <i class="iconfont iconpod"></i>
            Print on Demand grows a high profit and long-term business.
          </a>
        </div>

      </div>
    </div>

  </div>
</div>

<script src="{{ PUBLIC_SCRIPT + '/footerPages.js' | VERSION }}"></script>
{% endblock %}