{% block title %}
<title>The Best Global Dropshipping Supplier - CJdropshipping</title>
<meta name="description" content="cjdropshipping, cj dropshipping, dropshipping, drop shipping, best dropshipping products, dropshipping products, aliexpress alternative, dropshipping suppliers, best dropshipping products, shopify dropshipping suppliers">
<meta name="keywords" content="Start & scale your dropshipping business with CJdropshipping - The best dropshipping supplier provides Product Sourcing, Order Fulfillment, Global Warehousing, Custom Packaging, POD, COD, Quality Checking, Beginner Tutorial, 7/24 Online Support, and more!" />
{% endblock %}

{% extends "../layout/base.njk" %}

{% block head %}
<link rel="stylesheet" href="{{ PUBLIC_STYLE + '/footerPages.css' | VERSION }}">
<script src="{{ PUBLIC_LIBS }}/scrollReveal/scrollReveal.js"></script>
{% endblock %}

{% block body %}
<!-- 语言选择、快速导航入口、个人中心入口、登陆、注册 -->
<!-- LOGO、SEARCH -->
{% include "../snippet/common-top.njk" %}
<div class="footer-page-warp">
  <div id='vue-addChatOrGuidJs'></div>
  <div class="overview-warp">

    <div class="banner">
      <div class="warp-flex cla-animated">
        <div class="banner-card">
          <a href="/overview#vue-link">
            <img src="/egg/image/footerPages/overview-card-1.png" alt="">
            <span>
              Product<br/>
              Sourcing
            </span>
          </a>
        </div>
        <div class="banner-card">
          <a href="/overview#AddStores">
            <img src="/egg/image/footerPages/overview-card-2.png" alt="">
            <span>
              Store<br/>
              Authorization
            </span>
          </a>
        </div>
        <div class="banner-card">
          <a href="/overview#ConnectProducts">
            <img src="/egg/image/footerPages/overview-card-3.png" alt="">
            <span>
              Products<br />
              Listing/<br />
              Connection
            </span>
          </a>
        </div>
        <div class="banner-card">
          <a href="/overview#FindOrders">
            <img src="/egg/image/footerPages/overview-card-4.png" alt="">
            <span>
              Order<br />
              Management
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="layout-box">

      <div class="layout-row" id='vue-link'>
        <div class="img-box">
          <img src="/egg/image/footerPages/overview-img-1.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title" v-cloak>
            <h2>Sourcing Products</h2>
            <p>
              You can search it simply by the product name to see if your product exists at CJ. If not, please just post a sourcing request to us. We will find the product for you in 48 hours.
            </p>
            <a v-if="logined" href="https://cjdropshipping.com/cus-sourcing.html" target="_blank" class="footer-page-btn">
              Post Sourcing Requests
              <i class="iconfont icontuoyuanxing"></i>
            </a>
            <a v-if="!logined" href="https://cjdropshipping.com/login.html?target=aHR0cHM6Ly9jamRyb3BzaGlwcGluZy5jb20vbXlDSi5odG1sIy9zb3VyY2luZw==" target="_blank" class="footer-page-btn">
              Post Sourcing Requests
              <i class="iconfont icontuoyuanxing"></i>
            </a>
          </div>
        </div>
      </div>
  
      <div class="layout-row" id="AddStores">
        <div class="img-box">
          <img src="/egg/image/footerPages/overview-img-2.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>Integration with CJ</h2>
            <p>
              Stores on
              <a href="https://cjdropshipping.com/article-details/9" target="_blank" class="theme-color">Shopify</a>,
              <a href="https://cjdropshipping.com/article-details/15" target="_blank" class="theme-color">WooCommerce</a>,
              <a href="https://cjdropshipping.com/article-details/44" target="_blank" class="theme-color">eBay</a>,
              <a href="https://cjdropshipping.com/article-details/67" target="_blank" class="theme-color">Shopee</a>
              and
              <a href="https://cjdropshipping.com/article-details/64" target="_blank" class="theme-color">Lazada</a>
              can be integrated with CJ easily. After the authorization, your products can connect with CJ's. CJ fulfills orders that
              products have been connected with CJ's.
            </p>
            <a href="https://cjdropshipping.com/myCJ.html#/authorize" target="_blank" class="footer-page-btn">
              Add Stores
              <i class="iconfont icontuoyuanxing"></i>
            </a>
          </div>
        </div>
      </div>
  
      <div class="layout-row" id="ConnectProducts">
        <div class="img-box">
          <img src="/egg/image/footerPages/overview-img-3.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>Automatic Connection Feature</h2>
            <p>
              Product connection allows data to flow from CJ to your store so that your products are published with the description and other essential information. Most importantly, you can skip revising product listing in your store. 
            </p>
            <a href="https://cjdropshipping.com/article-details/75" target="_blank" class="footer-page-btn">
              Connect Products
              <i class="iconfont icontuoyuanxing"></i>
            </a>
          </div>
        </div>
      </div>
  
      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/overview-img-4.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>Products Listing</h2>
            <p>
              Information of more than {{ productTotal }} products for you. The listing feature automatically copies the product details, including description (specification, weight, inventory) and photos to your store. The List button situated below product details on every product page.
            </p>
            <a href="https://cjdropshipping.com/article-details/25" target="_blank" class="footer-page-btn">
              List Products
              <i class="iconfont icontuoyuanxing"></i>
            </a>
          </div>
        </div>
      </div>
  
      <div class="layout-row" id="FindOrders">
        <div class="img-box">
          <img src="/egg/image/footerPages/overview-img-5.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>Fulfill Orders Automatically</h2>
            <p>
              Orders from your store will be pulled into your CJ account automatically after store authorization and product connection. Find them in Imported Orders > Orders. 
            </p>
            <a href="https://cjdropshipping.com/newmycj/dropshipping/untreatedOrder" target="_blank" class="footer-page-btn">
              Find Orders
              <i class="iconfont icontuoyuanxing"></i>
            </a>
          </div>
        </div>
      </div>
  
      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/overview-img-6.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>Bulk Dropshipping Orders by EXCEL/CSV</h2>
            <p>
              For users without any authorized stores, you can use the Import Excel Orders button. The system will calculate the amount itself. You are able to download tracking numbers anytime you like.
            </p>
            <a href="https://cjdropshipping.com/newmycj/dropshipping/untreatedOrder" target="_blank" class="footer-page-btn">
              Upload via Excel/CSV
              <i class="iconfont icontuoyuanxing"></i>
            </a>
          </div>
        </div>
      </div>
  
      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/overview-img-7.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>Bulk Purchase</h2>
            <p>
              We offer wholesale fulfillment, AKA, Bulk Purchase. You can order a bulk of items on CJ Dropshipping, and we will ship them to your company or warehouse. Or you can store in our warehouses.
            </p>
            <a href="https://cjdropshipping.com/article-details/19" target="_blank" class="footer-page-btn">
              Preorder Inventory/Bulk Purchase
              <i class="iconfont icontuoyuanxing"></i>
            </a>
          </div>
        </div>
      </div>
  
      <div class="layout-row">
        <div class="img-box">
          <img src="/egg/image/footerPages/overview-img-8.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>Shipping Cost Calculation and Shipment Tracking</h2>
            <p>
              A free tool to calculate the shipping price for any available shipping methods. Meanwhile, many famous world postal services (USPS, DHL, PostNL, ePacket, etc.) and special delivery service – CJPacket are available on CJ.
            </p>
            <a href="https://cjdropshipping.com/calculation.html" target="_blank" class="footer-page-btn">
              Check the Delivery Time
              <i class="iconfont icontuoyuanxing"></i>
            </a>
            <br/>
            <a href="https://cjpacket.com" target="_blank" class="footer-page-btn">
              Shipment Tracking
              <i class="iconfont icontuoyuanxing"></i>
            </a>
          </div>
        </div>
      </div>
      
    </div>

  </div>
</div>

<script src="{{ PUBLIC_SCRIPT + '/footerPages.js' | VERSION }}"></script>
{% endblock %}