{% block title %}
<title>Free Sourcing Service - Find Products for Global Dropshippers</title>
<meta name="description" content="sourcing products, sourcing agent, dropshipping sourcing agent, sourcing dropshipping products, dropshipping sourcing, best dropshipping sources, where to source products for dropshipping, looking for products to sell online">
<meta name="keywords" content="Free product sourcing sevice provided by CJdropshipping, find product for you in 24 hours, 5 FREE sourcing per day." />
{% endblock %}

{% extends "../layout/base.njk" %}

{% block head %}
<link rel="stylesheet" href="{{ PUBLIC_STYLE + '/footerPages.css' | VERSION }}">
<script src="{{ PUBLIC_LIBS }}/scrollReveal/scrollReveal.js"></script>
{% endblock %}

{% block body %}
<!-- 语言选择、快速导航入口、个人中心入口、登陆、注册 -->
<!-- LOGO、SEARCH -->
{% include "../snippet/common-top.njk" %}
<div class="footer-page-warp">
  <div id='vue-addChatOrGuidJs'></div>
  <div class="sourcing-warp">

    <div class="banner">
      <div class="layout-row cla-animated">
        <div class="img-box">
          <img src="/egg/image/footerPages/sourcing-map.png" alt="" />
          <div class="showcase">
            <div class="showcase-card">
              <img src="/egg/image/footerPages/sourcing-banner-1.png" alt="">
            </div>
            <div class="showcase-card">
              <img src="/egg/image/footerPages/sourcing-banner-2.png" alt="">
            </div>
            <div class="showcase-card">
              <img src="/egg/image/footerPages/sourcing-banner-3.png" alt="">
            </div>
            <div class="showcase-card">
              <img src="/egg/image/footerPages/sourcing-banner-4.png" alt="">
            </div>
            <div class="showcase-card">
              <img src="/egg/image/footerPages/sourcing-banner-5.png" alt="">
            </div>
            <div class="showcase-card">
              <img src="/egg/image/footerPages/sourcing-banner-6.png" alt="">
            </div>
            <div class="showcase-card">
              <img src="/egg/image/footerPages/sourcing-banner-7.png" alt="">
            </div>
          </div>
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <em>Sourcing Services</em>
            <h2>Find products for global dropshippers.</h2>
          </div>
        </div>
      </div>
    </div>
    
    <div class="layout-box">

      <div class="layout-row imgRight bg-1">
        <div class="img-box">
          <img src="/egg/image/footerPages/sourcing-img-1.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>What is sourcing?</h2>
            <p>
              Sourcing offers a solution when you don’t find the existing product on CJ. We can help source from cooperated factories in China and publish for you to sell.
            </p>
          </div>
        </div>
      </div>

      <div class="layout-row imgRight bg-2">
        <div class="img-box">
          <div class="showcase cla-animated">
            <div class="showcase-card depth-level-1">
              <span>Trending Products Consultation</span>
            </div>
            <div class="showcase-card depth-level-2">
              <span>Sourcing from 1688/Taobao/AliExpress</span>
            </div>
            <div class="showcase-card depth-level-2">
              <span>Free</span>
            </div>
            <div class="showcase-card depth-level-1">
              <span>Similar Products Recommendation</span>
            </div>
            <div class="showcase-card depth-level-2">
              <span>24h</span>
            </div>
            <div class="showcase-card depth-level-1">
              <span>Listable Link</span>
            </div>
            <div class="showcase-card depth-level-2">
              <span>Dedicated Agent</span>
            </div>
          </div>
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>Is it free to source?</h2>
            <p>
              Basically, it’s free to source. There are different sourcing limits for different customer level.
            </p>
          </div>
        </div>
      </div>

      <div class="layout-row imgRight bg-3">
        <div class="img-box">
          <img src="/egg/image/footerPages/sourcing-img-2.png" alt="" />
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>How can I post a sourcing request?</h2>
            <p>
              Attach the product link, image, and your description in the sourcing form in
              <a href="/myCJ.html#/sourcing" target="_blank" class="theme-color">My CJ > Sourcing</a>. You can ask us to source for:
              <br />
              <br />
              a. Existing product in your store;<br />
              b. Individual product.
            </p>
            <a href="https://cjdropshipping.com/article-details/8" target="_blank" class="footer-page-btn">
              Post Sourcing Requests
              <i class="iconfont icontuoyuanxing"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="layout-row imgRight">
        <div class="img-box">
          <a href="https://cjdropshipping.com/article-details/37" target="_blank">
            <img src="/egg/image/footerPages/sourcing-img-3.png" alt="" />
          </a>
        </div>
        <div class="warp-flex">
          <div class="warp-title">
            <h2>Chrome Extension</h2>
            <p>
              With our extension, it’s much easier to post a sourcing request from 1688, Taobao, or AliExpress.
            </p>
            <a href="https://chrome.google.com/webstore/detail/cjdropshipping/mbndljkgaoailfnpeodnlejigmkdpokb" target="_blank" class="footer-page-btn">
              Use Google Chrome Extension
              <i class="iconfont icontuoyuanxing"></i>
            </a>
          </div>
        </div>
      </div>

  </div>
</div>
<script src="{{ PUBLIC_SCRIPT + '/footerPages.js' | VERSION }}"></script>
{% endblock %}