.hotCategoriesMobile {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  :global {
    .product-list {
      width: 100%;
      height: auto;
      padding: 0 12px;

      .product-list-content {
        width: 100%;
        height: auto;
        column-count: 2;
        column-gap: 6px;

        .product-list-item {
          height: auto;
          min-height: 236px;
          border-radius: 6px;
          padding-top: 12px;
          break-inside: avoid;
          background: transparent;
          overflow: hidden;
        }
      }
    }
  }
}
