.hotCategories {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  :global {
    header {
      width: 100%;
      height: auto;
    }

    .header-search {
      width: 100%;
      height: auto;
    }

    .categories-title {
      width: 100%;
      height: 65px;
      display: flex;
      justify-content: center;

      .categories-title-inner {
        width: 1200px;
        height: 65px;
        text-align: center;
        line-height: 65px;
        color: #333;
        font-size: 24px;
        font-weight: 550;
      }
    }

    .categories-content {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;

      .categories-content-inner {
        width: 1200px;
        height: auto;
        background: #fff;
        padding: 5px 16px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        .categories-content-inner-item {
          width: 180px;
          height: auto;
          margin-top: 25px;
          margin-right: 17px;
        }
        .categories-content-inner-item:nth-of-type(6n) {
          margin-right: 0;
        }
      }
    }
  }
}
