@import '../../colors.less';
.search-form {
  .other {
    max-width: 950px;
  }

  .search-btns {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}

.overWeight {
  width: 100%;
  border: 1px solid red;
  color: red;
}

.superLight {
  width: 100%;
  border: 1px solid @green;
  color: @green;
}
span.overWeight,
span.superLight {
  border: none !important;
}
