@import "./loaders.css";
.loading-view {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -60px;
  height: 120px;
  color: black;
  img {
    width: 80px;
  }
  .loading-animate {
    width: 120px;
    height: 80px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    .loader-inner > div {
      background: linear-gradient(45deg, white, blue);
      &:before {
        background: linear-gradient(45deg, white, blue);
      }
      &:after {
        background: linear-gradient(45deg, white, blue);
      }
    }
  }
  .title {
    margin-top: 10px;
    > span {
      font-size: 18px;
      padding-right: 5px;
      display: inline-block;
      font-family: 幼圆;
      animation: ball-pulse-sync 1s 0s infinite ease-in-out;
      animation-fill-mode: both;
    }
  }
}
