@import '../../../colors.less';

.title {
  font-size: 18px;
  margin-bottom: 10px;
}

.btns {
  margin-bottom: 10px;
  overflow: hidden;

  > * {
    float: right;
    margin-left: 10px !important;

    &:first-child {
      float: left;
      margin-left: 0;
    }
  }
}

.space {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.operates {
  a {
    padding: 0 5px;
  }
}

.tip {
  color: @grey;
}

.form {
  :global {
    .ant-form-item {
      margin-bottom: 10px;
    }
  }
}
