.video-demand-detail {
  background-color: #F0EDE7;
  .seachdetail-header {
	background-color: #3a3b42;
  }
  .manager-box {
	margin-top: 0;
	margin-bottom: 24px;
	background-color: #fff;
  }
  .user-name, .manager-name {
	background-color: #fff;
	border-bottom: 1px solid #ECECEC;
	font-size: 14px;
  }
  .user {
	display: inline-block;
	margin-left: 23px;
	line-height: 65px;
	background-color: #fff;
	font-weight: 600;
	font-size: 25px;
	position: relative;
	text-align: center;
	height: 100%;
	.user-img {
		width: 46px;
		height: 46px;
		border: 1px solid rgba(224, 224, 224, 1);
		border-radius: 50%;
		line-height: 46px;
	}
  }
  .light-span {
	color: #333 !important;
	font-size: 14px;
  }
  .first-img {
	width: 104px !important;
	height: 104px !important;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: 8px;
  }
  .li-1 {
	margin: 15px 0;
  }
  .product-detail li {
	display: flex;
	.gray-span {
	  width: 100px;
	  text-align: right;
	  margin-right: 60px;
	}
  }

  .status-box, .specification {
	display: flex;
	color: #333;
	font-size: 14px;
	margin: 15px 0;
	span {
	  color: #7c7c7c;
	  width: 100px;
	  margin-right: 60px;
	  text-align: right;
	}
  }

  #selectPrice {
	margin-top: 60px;
  }

  .package-1, .package-2 {
	width: 240px;
	height: 117px;
	border-radius: 10px;
	border: 2px solid rgba(217, 217, 217, 1);
	margin: 0 35px;
	display: inline-table;
	position: relative;
	cursor: pointer;
	.amount {
	  font-size: 26px;
	  color: #FF7700;
	  margin-top: 40px;
	  display: block;
	}
	.tag {
	  width: 160px;
	  height: 25px;
	  line-height: 25px;
	  background: rgba(255, 119, 0, .2);
	  border-radius: 4px;
	  color: #FF7700;
	  display: block;
	  margin: 0 auto;
	  font-size: 14px;
	}
  }
  .package-1:before {
	content: 'With Copyright';
	width: 151px;
	height: 30px;
	line-height: 30px;
	background-color: #31302E;
	border-radius: 24px 0 24px 0;
	position: absolute;
	left: -2px;
	top: -15px;
	color: #fff;
  }
  .package-2:before {
	content: 'Without Copyright';
	width: 151px;
	height: 30px;
	line-height: 30px;
	background-color: #31302E;
	border-radius: 24px 0 24px 0;
	position: absolute;
	left: -2px;
	top: -15px;
	color: #fff;
  }
  .active {
	background: rgba(255, 119, 0, 0.1);
	border: 2px solid rgba(255, 119, 0, 1);
  }
  #selectPrice button {
	width: 140px;
	font-size: 14px;
  }
  .download-btn {
	width: 140px !important;
	height: 40px;
	font-size: 14px;
	border-radius: 4px !important;
	line-height: 40px;
	margin: 30px auto!important;
	display: block;
	padding: 0!important;
  }
}

.vip {
  .seachdetail-header {
	background-color: #2B2B2B;
	p {
	  color: #DDA863;
	}
  }
  .package-1, .package-2 {
	.amount, .tag, &::before {
	  color: #DDA863;
	}
  }
  .active {
	border-color: #DDA863;

  }
  .video-demand-detail .active {
	background: rgba(221, 168, 99, 0.1);
	border-color: #DDA863;
  }
  .video-demand-detail .package-1 .tag {
	background: #F3DBA5;
	color: #DDA863;
  }
}
