@import '../../colors.less';

.listContainer {
  position: relative;
  width: 100%;
  margin: 10px 0;
  background-color: @backColor; /*跟item移动时候的背景颜色一样，就可以产生一种移开后还留有阴影的错觉*/
}

.listContainer li {
  list-style: none;
  border-bottom: 1px solid @borderColor;
  padding: 10px;
  background-color: #fff;
}

.listContainer li span {
  font-size: 10px;
}

.listContainer .coverMask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}
