.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
  color: #ffffff;
  background: #40424c;
  .leftText {
    span {
      display: inline-block;
      margin-right: 50px;
    }
  }
  .text {
    padding: 20px 0;
  }
}
