@import '../../../colors.less';
.number {
  margin-bottom: 5px;
  .value {
    color: @grey;
    font-size: 12px;
  }
}
.detailContent {
  display: flex;
}
.detail {
  display: inline-block;
  width: 350px;
  margin: 10px 10px 0 0;
  box-shadow: 1px 1px 3px @borderColor;
  flex: none;
  .header {
    padding: 10px;
    border-bottom: 1px solid @borderColor;
    background: @backColor;
    .value {
      color: @grey;
    }
  }
  .container {
    padding: 5px;
  }
}
.marginLeft {
  margin-left: 15px;
}

.expanded-item {
  margin-left: 30px;
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid @borderColor;
  position: relative;
  > div {
    width: 100%;
    display: flex;
    padding: 2px 0;
    span {
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.interceptSpan {
  padding: 2px 4px;
  color: white;
  background-color: red;
  margin-left: 10px;
  font-size: 10px;
}
