@import '../../colors.less';
.putaway-detail {
  padding: 15px 20px;
  .expanded-item {
    margin-left: 50px;
    padding: 10px 0;
    text-align: left;
    border-bottom: 1px solid @borderColor;
    span {
      display: inline-block;
      width: 150px;
    }
  }
  .sku-render {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.backBtn {
  padding: 20px;
  display: flex;
  justify-content: center;
}
