@import '../../colors.less';
.search-form {
  .other {
    max-width: 950px;
  }

  .search-btns {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}

.inputWeight {
  width: 100%;
}
.inputRedWeight {
  width: 100%;
  border: 1px solid red;
  color: red;
}
.remark {
  padding-top: 10px;
  color: red;
}
