@import '../../colors.less';
.operate-layou .header h2 {
  padding-top: 24px;
}
.detailContent {
  margin-top: 80px;
  .btnLayout {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
.back {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
