.account-manage-wrap{
	// font-family: PingFangSC-Medium,PingFang SC;
  .account-manage-box{
		width: 1136px;
		min-height: 736px;
		margin: 0 auto;
	}
	.account-manage-hearder{
		background: var(--color-bg-4);
		padding: 20px 32px;
		font-size: 20px;
		font-weight: 500;
		color: #f0d8a3;
		margin: 20px 0;
	}
	.account-manage-content{
		background: #fff;
		border-radius: 2px;
		min-height: 650px;
		padding: 24px 32px;
		
	}
	.account-manage-search{
		margin-bottom: 24px;
	}
	.account-manage-searchItem{
		input, select{
			width: 140px;
			height: 38px;
			border-radius: 4px;
			border: 1px solid rgba(0,0,0,0.15);
			padding: 5px 12px;
			margin-left: 16px;
			font-size: 14px !important;
		}
		input:focus{
			border-color: #F78E29;
		}
	}
	.account-manage-btn{
		font-size: 14px;
		height: 32px;
		box-sizing: border-box;
		color: #666;
		background: #F9F9F9;
		box-shadow: 0 0 0 1px #E4E4E4;
		line-height: 32px;
		margin: 0 8px;
		&:focus, &:hover{
			background: #F5F5F5;
			box-shadow: 0 0 0 1px #CACACA;
		}
	}
	.account-btn-active{
		background: var(--color-theme-gradient-1);
		color: var(--color-font-4);
		box-shadow: none;
		&:focus, &:hover{
			background: var(--color-theme-1);
			box-shadow: none;
		}
	}
	.account-btn-disable{
		background: #CACACA !important;
		color: #fff !important;
		&:focus, &:hover{
			background: #CACACA !important;
		}
	}
	.account-manage-list{
		table thead tr th {
			border-right: none;
			background: #FAFAFA;
			color: #000;
			height: 54px;
			font-size: 14px;
			border-bottom: 1px solid #E8E8E8;
		}
		table tbody tr td{
			padding: 16px 8px;
			border-bottom: 1px solid #E8E8E8;
			font-size: 14px;
			color: rgba(0,0,0,0.65);
		}
	}
	.table-btn{
		color: #ffab49;
		padding: 0 12px;
		&:hover{
			color: var(--color-theme-1-1);
		}
		&:not(:last-child) {
			border-right: 1px solid #e8e8e8;
		}
	}
	.status-tag{
		display: inline-block;
		width: 8px;
		height: 8px;
		border-radius: 50px;
		background: rgba(0,0,0,0.25);
		&.active{
			background: #ffab49;
		}
	}
	.edit-bread{
		color: rgba(0,0,0,0.45);
		span {
			color: #333;
		}
	}
	.user-info-item{
		font-size: 14px;
		font-weight: 500;
		padding: 10px 0;
		label{
			width: 148px;
			font-weight: 500;
			text-align: right;
		}
	}
	.user-permission{
		padding: 0 40px;
	}
	.account-manage-confirm-title{
		font-weight: 500;
		color: #333;
		padding: 10px 24px;
		b {
			width: 22px;
			height: 22px;
			color: #fff;
			border-radius: 50px;
			background: #ffab49;
			font-weight: 400;
			top: 3px;
		}
		span{
			flex: 1;
			text-align: left;
		}
	}
	.account-manage-confirm-content{
		color: #F25245;
		padding: 10px 18px;
	}
	.add-item{
		font-size: 14px;
		margin-bottom: 20px;
		&.admin-text{
			text-align: left;
			padding: 0 45px;
		}
		label{
			width: 130px;
			text-align: right;
		}
		input {
			width: 300px;
			height: 38px;
			padding: 8px 16px;
			color: #333;
			border-radius: 4px;
			border: 1px solid #e4e4e4;
			&.disabled {
				border: none;
				background: #fff;
			}
		}
		.hidden-text{
			display: inline-block;
			width: 300px;
		}
	}
	.admin-text{
		color: #F13F14;
		b{
			display: inline-block;
			font-size: 14px;
			width: 14px;
			height: 14px;
			background: #F13F14;
			color: #fff;
			border-radius: 50px;
			text-align: center;
			line-height: 14px;
			position: relative;
			top: 3px;
		}
	}
	.radio-item{
		b {
			display: inline-block;
			width: 16px;
			height: 16px;
			border: 1px solid #d9d9d9;
			border-radius: 50px;
			padding: 3px;
			&:hover{
				border-color: #ffab49;
			}
			&.active{
				background-color: #ffab49;
				background-clip: content-box;
				border-color: #ffab49;
			}
		}
	}
	.permission-item {
		padding: 0 49px 0 30px;
		.check-box {
			display: inline-block;
			width: 17px;
			height: 16px;
			font-weight: 400;
			color: rgba(0,0,0,0.25);
			&.iconicon{
				// color: #FF9100;
				background: linear-gradient(90deg,rgba(254,169,67,1) 0%,rgba(246,137,40,1) 100%);
				-webkit-background-clip: text;
				-moz-background-clip: text;
        color: transparent
			}
		}
	}
	.confirm-main{
		max-height: none;
		.add-content{
			max-height: 600px;
		}
	}
	.addErrorMsg{
		padding: 0 70px 0 220px;
	}
	.uptErrorMsg{
		padding: 0 5px 0 160px;
	}
	.account-select{
		margin-left: 16px;
		.yzy-select{
			height: 38px;
			.gray{
				color: rgba(0,0,0,0.25);
			}
			.yzy-select-drop{
				top: 50px;
			}
		}
	}
	input::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(0,0,0,0.25);
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(0,0,0,0.25);
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(0,0,0,0.25);
  }
  input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(0,0,0,0.25);
  }

	&.vip{
		.account-btn-active{
			background: var(--color-theme-gradient-1-vip);
			&:focus, &:hover{
				background: var(--color-theme-1-vip);
			}
		}
		.iconicon{
			// color: #DDA863 !important;
			background: linear-gradient(135deg,rgba(242,215,161,1) 0%,rgba(223,173,101,1) 100%) !important;
			-webkit-background-clip: text !important;
			-moz-background-clip: text !important;
      color: transparent !important;
		}
		input:focus{
			border-color: #DDA863;
		}
		.radio-item b:hover{
			border-color: #DDA863;
		}
		.radio-item b.active{
			background-color: #DDA863;
			border-color: #DDA863;
		}
		.table-btn{
			color: #D08C32;
			&:hover{
				color: var(--color-theme-1-1-vip);
			}
		}
		.status-tag.active{
			background: #D08C32;
		}
		.account-manage-confirm-title b{
			background: #DDA863
		}
	}
}