.mycj-sku-list {
  .table-connected table {
    border-left: 1px solid #ececec;
  }

  .table-connected table td {
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    text-align: center;
  }

  .table-connected table thead td {
    color: #fff;
  }

  .pro-skulist .SKUtable td {
    white-space: normal;
    height: 100px;
    font-size: 12px;
    color: #333333;
    position: relative;
    max-width: 190px;
  }

  .pro-skulist .SKUtable p {
    white-space: normal;
    font-size: 12px;
    color: #333333;
    position: relative;
  }

  .pro-skulist .SKUtable .td-price .line-through {
    text-decoration: line-through;
  }

  .pro-skulist .SKUtable .td-btn-list .td-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .pro-skulist .SKUtable .td-sku .show-vlist img {
    width: 20px;
  }

  // .td-btn a:hover {
  //   box-shadow: 0 0 0 1px #f99429;
  // }

  // .vip .td-btn a:hover {
  //   background: linear-gradient(90deg, rgba(242, 215, 161, 1) 0%, rgba(223, 173, 101, 1) 100%);
  //   border-radius: 4px;
  //   color: #fff;
  //   border-color: #fff;
  //   box-shadow: 0px 1px 3px 0px rgba(166, 166, 166, 0.5);
  // }

  .pro-skulist .SKUtable .td-img .small-img {
    max-width: 75px;
    max-height: 75px;
  }

  .pro-skulist .SKUtable .td-img-box:hover .big-img {
    display: block;
  }

  .pro-skulist .SKUtable thead {
    height: 48px;
  }

  .pro-skulist .SKUtable thead td {
    height: 24px;
    font-size: 14px;
    color: #fff;
  }

  .pro-skulist .SKUtable .td-name a,
  .pro-skulist .SKUtable .td-sku a {
    display: block;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    margin: 0 5px;
  }

  .pro-skulist .SKUtable .inventory {
    position: relative;
  }

.info {
    position: absolute;
    width: 325px;
    padding: 16px 20px 20px 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    top: -153px;
    left: -16px;
    color: #333;
    font-size: 12px;
    text-align: left;
    border-radius: 4px;
  }

.info::after {
    position: absolute;
    top: 153px;
    right: 291px;
    border-bottom: 8px solid transparent;
    content: " ";
    width: 0px;
    height: 0px;
    left: 15px;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    border-left: 8px solid transparent;
  }
  

.info .info-text {
    position: relative;
    display: flex;
    height: 40px;
    line-height: 20px;
  }

.info .info-text .text-attention span{
    color: red;
  }
 
 .info .info-text .text-close {
    position: relative;
    top: -8px;
    right: 0;
    margin-left: 2px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(102, 102, 102);
    cursor: pointer;
  }
 .info .info-link {
      margin-top: 20px;
      text-align: right;
  }

 .info .info-link a {
    padding: 7px 10px;
    font-size: 12px;
    border-radius: 4px;
  }

 .info .info-link .no-info {
    margin-right: 10px; 
    color: #333333;
    border-radius: 4px;
    background: #F9F9F9;
    border: 1px solid #D9D9D9;
  }
 .info .info-link .no-info:hover {
    background: var(--color-font-6);
  }

.info .info-link .purchase{
    background: var(--color-theme-1);
    color: var(--color-font-4);
  }
 .info .info-link .purchase:hover {
  background: var(--color-theme-1-1);
    color: var(--color-font-4);
  }

  .td-sku {
    .tooltip {
      position: relative;
      display: inline-block;
      cursor: pointer;
    
      .varient-box {
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: var(--color-font-2);
        font-size: 12px;
      }
    
      .tooltiptext {
        visibility: hidden;
        min-width: 140px;
        background-color: rgba(0,0,0,.75);
        color: #fff;
        font-size: 12px;
        text-align: center;
        border-radius: 6px;
        padding: 6px 8px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        word-break: break-all;
    }
    
    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
    
    &:hover{
      .tooltiptext {
        visibility: visible;
      }
    }
    }
  }

  .SKUtable .load-status {
    color: #1890FF;
  }

  .SKUtable .load-status i {
    display: inline-block;
    -webkit-animation: rotate 1.2s infinite ease-in-out;
    animation: rotate 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

  }

  .table-connected .operating {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .table-connected .operating button {
    border-radius: 4px;
    border: 1px solid rgba(193, 193, 193, 1);
    font-size: 12px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    padding: 5px 5px;
    margin: 4px 0;
  }

  .table-connected .operating .operation-dropdown {
    position: relative;
    .operation-dropdown-btn{
      width:144px;
      line-height: 30px;
      text-align: center;
      color: #f70;
      border:1px solid #f70;
      border-radius:4px;
      cursor: pointer;
    }

    .operation-dropdown-menu{
      position: absolute;
      width: 144px;
      line-height: 30px;
      text-align: center;
      box-shadow:2px 2px 16px 0px rgba(216, 213, 213, 0.5) ;
      background-color: #fff;
      color: #999;
      z-index: 1;
      li:hover{
        cursor: pointer;
        background-color: rgba(255,119,0, 0.21);
        color: #f70;
        a{
          color: #f70;
        }
      }
      li:last-child{
        &:hover{
          background-color: rgba(255, 73, 73, 0.2);
          a{
            color: #FF4949;
          }
        }
      }
    }
  }
  .checked-box i {
    display: inline-block;
    vertical-align: middle;
    color: #FDA22C;
    // font-size: 18px;
  }

  .opt-box {
    display: flex;
    margin-left: auto;
  }

  .opt-box button{
    height:27px;
    background:var(--color-bg-14);
    border-radius:2px;
    border:1px solid var(--color-line-1);
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:var(--color-font-1);
    margin: 0 0 0 10px;
    padding: 0 8px;
  }
  .opt-box button[disabled] {
    border-color: var(--color-line-8) !important;
    color: var(--color-font-2) !important;
  }

}

.inventory-tips{
  width: 854px;
  max-width: initial;
  .confirm-content{
	text-align: left;
	.tips {
	  color: #FF4949;
	}
	.tabs {
	  margin: 20px 0;
	  .active {
		color: #f70;
		border-bottom: 2px solid #f70;
	  }
	}
	.table {
	  width: 100%;
	  margin-top: 10px;
	  overflow: hidden;
	  border-radius: 4px 4px 0 0;
	  thead {
		background: initial;
		th {
		  color: #333;
		  background-color: #F2F3F5;
		  border-right: 1px solid #F0EDE7;
		  font-weight: normal;
		  width: 200px;
		}
	  }
	  td {
		padding: 5px 0;
		font-size: 12px;
		text-align: center;
		border-left: 1px solid #F3F3F3;
		border-right: 1px solid #F3F3F3;
		border-bottom: 1px solid #F3F3F3;
		img {
		  width: 50px;
		  height: 50px;
		}
	  }
	}
  }
  .confirm-btn-box {
	box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.05);
	z-index: 9999;
	.opt{
	  text-decoration: underline;
	  font-size: 14px;
	}
  }
}

.vip {
  .tabs .active {
	color: #DDA863!important;
	border-bottom: 2px solid #DDA863!important;
  }
  .table th{
	background-color: #F0EDE7 !important;
  }
}


.vip {

  .mycj-sku-list .table-connected .operating .operation-dropdown {
    position: relative;
    .operation-dropdown-btn{
      width:144px;
      line-height: 30px;
      text-align: center;
      color: #D8A863;
      border:1px solid #D8A863;
      border-radius:4px;
      cursor: pointer;
    }

    .operation-dropdown-menu{
      position: absolute;
      width: 144px;
      line-height: 30px;
      text-align: center;
      box-shadow:2px 2px 16px 0px rgba(216, 213, 213, 0.5) ;
      background-color: #fff;
      color: #999;
      z-index: 1;
      li:hover{
        cursor: pointer;
        background-color: rgba(216, 168, 99, 0.2);
        color: #D8A863;
        a{
          color: #D8A863;
        }
      }
      li:last-child{
        &:hover{
          background-color: rgba(255, 73, 73, 0.2);
          a{
            color: #FF4949;
          }
        }
      }
    }
  }
  .mycj-sku-list .SKUtable .inventory .info .info-link .purchase{
    background: linear-gradient(135deg, #F2D7A1, #DFAD65) ;
    color: #fff;
  }
  .mycj-sku-list .SKUtable .inventory .info .info-link .purchase:hover {
    background: #DDA863;
    color: #fff;
  }
}


@keyframes rotate {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 32px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  top:3px
}

.select2-container .select2-selection--single{
  height: 36px !important;
}

.select2-results__option[aria-selected]{
  font-size: 12px;
}

.select2-search--dropdown {
  padding: 11px !important;
}

.vip .mycj-sku-list .table-connected-top{
  color:#F3DBA5;
  .checked-box i {
    color:#F3DBA5;
  }
}

.vip .mycj-sku-list .checked-box i {
  color: #262626 !important; 
  font-size: 18px !important;
}
.mycj-sku-list .checked-box i {
  color: #262626 !important; 
  font-size: 18px !important;
}
thead .iconfont::before {
  color: #fff !important;
}
thead .iconweigouxuan:before {
  color: #d9d9d9 !important;
}
tbody .iconweigouxuan:before {
  color: #d9d9d9 !important;
}
.mycj-sku-list .SKUtable .table-connected-top td {
  border-right: 1px solid rgba(52, 52, 52, 1);
  border-bottom: 1px solid rgba(52, 52, 52, 1);
}

.vip .info .info-link .purchase{
  background: var(--color-theme-2-vip);
  color: var(--color-font-1);
}
.vip .info .info-link .purchase:hover {
  background: var(--color-theme-2-1-vip);
  color: var(--color-font-1);
}