.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.picker_warp {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  padding: 16px;
  width: 100%;
  height: 385px;
  z-index: 1000;
}

.title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  .cancel_text {
    color: #909399;
    font-weight: 500;
  }
  .confirm_text {
    color: #4400fa;
    font-weight: 500;
  }
}

.search_box {
  margin-top: 16px;
  margin-bottom: 10px;
  height: 32px;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #f5f7fa;
  border-radius: 4px;
  display: flex;
  align-items: center;

  .input {
    flex: 1;
    margin-left: 10px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    border: none;
    background-color: transparent;

    &::placeholder {
      color: #c0c4cc;
    }
    &:focus {
      border: none !important;
      box-shadow: none;
    }
  }
}

// 分割线
.divider {
  height: 1px;
  background-color: #dcdfe6;
}

.item_wrap {
  flex: 1;
  //border-top: 1px solid #dcdfe6;
  padding-top: 5px;

  .item {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #606266;
    padding: 5px 0;
    display: block;
  }
  .active {
    border-radius: 4px;
    overflow: hidden;

    font-weight: 500;
    color: #333333;
    //background: #f5f7fa;
  }
}
