.VoCategory {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  // box-shadow: 2px 2px 14px 2px rgba(232, 244, 251, 1);
  // border-radius: 2px;
  padding-bottom: 65px;
  :global {
    ul {
      list-style: none;
      padding-left: 10px;
    }
  }
}

.VoCategory_back {
  height: 56px;
  position: fixed;
  bottom: 0;
  left: 218px;
  right: 35px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 2px 2px 14px 2px rgba(232, 244, 251, 1);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  .ant_btn {
    width: 75px;
    height: 32px;
    border-radius: 4px;
    color: #fff;
    background: rgba(249, 174, 8, 1);
  }
}

.VoCategorySpecification {
  width: 1979px;
  height: 337px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(228, 228, 228, 1);
  margin-left: 136px;
  margin-top: 24px;
}

.spectification_pro {
  // width:871px;
  height: 118px;
  border-radius: 4px;
  border: 1px solid rgba(228, 228, 228, 1);
  padding: 16px 10px;

  p {
    height: 40px;
    background: rgba(248, 248, 248, 1);
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
  }

  span {
    width: 67px;
    height: 22px;
    background: rgba(245, 245, 245, 1);
    border-radius: 4px;
    border: 1px solid rgba(217, 217, 217, 1);
    margin-left: 16px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
  }
}

.VoCategory_botton {
  width: 80px;
  height: 32px;
  background: rgba(249, 174, 8, 1);
  border-radius: 4px;
  color: #fff;
}

:global {
  .ant-table-cell {
    text-align: left;
  }

  .ant-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.edits {
  img {
    display: block;
  }
}
